.type-520 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-520 .row {
  margin-bottom: 35px;
}
.type-520 h4 {
  margin: 10px 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
.type-520 .col-md-3 {
  float: right;
}
.type-520 .moduletable {
  margin-bottom: 30px;
}
.type-520 .moduletitle {
  color: #050505;
  line-height: 1.4;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  font-size: 18px;
}
.type-520 input {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  vertical-align: middle;
  font-style: inherit;
}
