.type-517{
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .product-gallery {
        border: 1px solid #EAEAEA;
        background: #fff;
        width: 100%;
        min-height: 300px;
        padding-bottom: 10px;
    }
    div{
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    .spin{
        width: 115px;
        margin-top: auto;
        float: left;
    }
    a {
        color: #000;
        text-decoration: none;
        outline: none;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
    }
    .row-fluid .col-lg-7 {
        padding-left: 20px;
        padding-right: 20px;
    }
    #mainbody .product-page .main-data .actions {
        margin-top: 10px;
    }
    #mainbody ul.actions {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul{
        border: 0;
        font-size: 100%;
    }
    #mainbody ul.actions  li {
        float: left;
        margin-left: 10px;
    }
    li {
        line-height: 20px;
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    #mainbody ul.actions > li a {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: rgba(0,0,0,0.4);
        text-align: center;
        line-height: 22px;
        vertical-align: middle;
        border-radius: 2px;
        transition: all 0.2s ease-out;
    }
    #mainbody ul .actions > li a > span {
        margin: 2px 0 0 0;
    }
    .icon-file {
        background-position: -24px -24px;
    }
    .icon-white{
        background-image: url(../images/glyphicons-halflings-white.png);
    }
    [class^="icon-"], [class*=" icon-"] {
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        vertical-align: text-top;
        background-repeat: no-repeat;
    }
    #mainbody ul.actions > li a {
        text-align: center;
    }
    .icon-print {
        background-position: -96px -48px;
    }
    .icon-envelope {
        background-position: -72px 0;
    }
    .product-page .main-data .name {
        font-size: 32px;
        line-height: 1.4;
        font-weight: normal;
        margin-right: 80px;
        margin-top: 0;
    }
    h1, p {
        margin: 10px 0;
        color: inherit;
        text-rendering: optimizelegibility;
        border: 0;
        padding: 0;
    }
    .product-page .main-data .first-details {
        font-size: 11px;
        margin-bottom: 20px;
    }
    p {
        margin: 0 0 10px;
    }
    .product-page .rating_block {
        float: right;
        padding: 10px;
        background: #EEE;
        border-bottom: 1px solid #999;
        border-radius: 3px;
        margin-left: 25px;
        margin-bottom: 15px;
    }
    .product-page .main-data .small_desc {
        margin-bottom: 20px;
    }
    .product-price {
        margin: 0 0 15px;
    }
    .price-crossed div .PricebasePriceWithTax .PricebasePriceWithTax {
        text-decoration: line-through;
    }
    .product-page .mainprice .PricesalesPrice > span {
        color: #CD2122;
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
        display: block;
        margin: 0 0 10px;
    }
    form {
        margin: 0 0 20px;
        border: 0;
        font-size: 100%;
        padding: 0;
    }
    .clearfix {
    }

    .addtocart-bar {
        margin: 0;
        padding: 0;
    }
    .input-append, .input-prepend {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
    }
    .input-prepend .input-append {
        margin-right: -1px;
        border-radius: 4px 0 0 4px;
    }
    .add-on {
        border-radius: 4px 0 0 4px;
        margin-right: -1px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #DA4F49;
        background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
        background-repeat: repeat-x;

    }
    .input-append .add-on{
        margin-left: -1px;
    }
    .input-append .add-on, .input-prepend .add-on{
        vertical-align: top;
        display: inline-block;
        width: auto;
        height: 20px;
        min-width: 16px;
        padding: 4px 5px;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .input-append, .input-prepend {
        white-space: nowrap;
    }
    .product-page .addtocart-bar span .add-on span {
        margin-top: 3px;
    }
    .icon-shopping-cart {
        background-position: -360px -120px;
    }
    input{
        position: relative;
        vertical-align: top;
        font-size: 14px;
        border-radius: 0;
        font-style: inherit;
        font-weight: normal;
        line-height: 20px;
        margin-left: 0;
        width: auto;
        margin: 0;
    }
    .input-tiny {
        width: 20px;
    }
    #mainbody .product-page .addtocart-bar .quantity-controls {
        border-radius: 0;
    }
    .input-prepend .input-append .btn:first-child {
        margin-right: -1px;
    }
    .input-append .btn{
        margin-left: -1px;
    }
    .input-append .btn, .input-prepend .btn{
        vertical-align: top;
    }
    article{
        display: block;
    }
    span{
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    input[type="text"] {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);      
        transition: border linear 0.2s, box-shadow linear 0.2s;
        display: inline-block;
        height: auto;
        padding: auto;
        line-height: 20px;
        color: #555555;
    }
    #mainbody .product-page .addtocart-bar .quantity-controls {
        border-radius: 0;
    }
    .input-prepend .input-append .btn:first-child {
        margin-right: -1px;
        border-radius: 4px 0 0 4px;
    }
    #mainbody .product-page .addtocart-bar .quantity-controls span {
        margin-top: 3px;
        opacity: .6;
    }
    .icon-plus {
        background-position: -408px -96px;
    }
    #mainbody .product-page .addtocart-bar .quantity-controls span {
        margin-top: 3px;
        opacity: .6;
    }
    .icon-minus {
        background-position: -433px -96px;
    }
    [class^="icon-"]{
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url(../images/glyphicons-halflings.png);
        background-repeat: no-repeat;
    }
    .input-prepend.input-append .btn:last-child {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

    .product-page .ask-a-question > span {
        margin-top: 3px;
    }
    .icon-question-sign {
        background-position: -96px -96px;
    }
    .icon-white{
        background-image: url(../images/glyphicons-halflings-white.png);
    }
    .product-page .tabbable {
        margin: 35px 0;
    }
    .tabs_style4 > ul.nav {
        margin-bottom: 0;
    }
    .nav {
        margin-bottom: 20px;
        margin-left: 0;
        list-style: none;
    }
    .tabs_style4 > ul.nav > li {
        float: left;
        margin-bottom: -1px;
    }
    li {
        line-height: 20px;
    }
    ul{
        padding: 0;
        margin: 0 0 10px 25px;
    }
    .tabs_style4 > ul.nav > li > a {
        padding: 8px 20px;
        line-height: 18px;
        color: #343434;
    }
    .nav > li > a {
        display: block;
    }
    .tabs_style4 > ul.nav > li.active > a {
        background: #fff;
        border: 1px solid #ececec;
        border-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .product-page .tabbable .tab-content {
        padding: 0;
    }
    .tab-content {
        overflow: auto;
    }
    .product-page .tabbable .tab-content {
        padding: 0;
    }
    .tabs_style4 .tab-content {
        display: table;
        width: 100%;
        padding: 10px 15px 15px;
        border: 1px solid #ececec;
        background: #fff;
    }
    .product-page .tabbable .tab-content .tab-pane {
        display: block;
        height: 0;
        overflow: hidden;
        padding: 0 15px;
    }
    .product-page .tabbable .tab-content .tab-pane.active {
        display: block;
        height: auto;
        padding: 10px 15px 15px;
    }
    .customer-reviews {
        margin: 25px 0 0;
    }
    .customer-reviews, .ask-a-question-view .form-field {
        margin: 25px 0 0;
    }
    .product-neighbours {
        color: #777;
        margin: 0 0 15px;
    }
    .product-neighbours a.next-page {
        line-height: 20px;
        float: right;
    }
    .icon-chevron-right {
        background-position: -456px -72px;
    }
}


