.type-517{
    .product-gallery {
        border: 1px solid #EAEAEA;
        background: #fff;
        width: 100%;
        min-height: 300px;
        padding-bottom: 10px;
    }
    .spin{
        width: 115px;
        margin-top: auto;
        float: left;
    }
    a {
        color: #000;
        text-decoration: none;
        outline: none;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .row-fluid .col-lg-7 {
        padding-left: 20px;
        padding-right: 20px;
    }
    #mainbody .product-page .main-data .actions {
        margin-top: 10px;
    }
    #mainbody ul.actions {
        float: right;
        list-style: none;
    }
    ul{
        font-size: 100%;
        margin: 0 0 10px 25px;
    }
    #mainbody ul.actions  li {
        float: left;
        margin-left: 10px;
    }
    li {
        line-height: 20px;
        font-size: 100%;
    }
    #mainbody ul.actions > li a {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: rgba(0,0,0,0.4);
        text-align: center;
        line-height: 22px;
        vertical-align: middle;
        border-radius: 2px;
        transition: all 0.2s ease-out;
    }
    #mainbody ul .actions > li a > span {
        margin: 2px 0 0 0;
    }
    .icon-file {
        background-position: -24px -24px;
    }
    .icon-white{
        background-image: url(../images/glyphicons-halflings-white.png);
    }
    #mainbody ul.actions > li a {
        text-align: center;
    }
    .icon-print {
        background-position: -96px -48px;
    }
    .icon-envelope {
        background-position: -72px 0;
    }
    h1, p {
        margin: 10px 0;
        color: inherit;
    }
    .product-page .rating_block {
        float: right;
        padding: 10px;
        background: #EEE;
        border-bottom: 1px solid #999;
        border-radius: 3px;
        margin-left: 25px;
        margin-bottom: 15px;
    }
    .product-page .mainprice .PricesalesPrice > span {
        color: #CD2122;
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
        display: block;
        margin: 0 0 10px;
    }
    form {
        margin: 0 0 20px;
        font-size: 100%;
    }
    input{
        position: relative;
        vertical-align: top;
        font-size: 14px;
        font-style: inherit;
        font-weight: normal;
        line-height: 20px;  
        width: auto;
    }
    [class^="icon-"]{
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url(../images/glyphicons-halflings.png);
        background-repeat: no-repeat;
    }
    .icon-question-sign {
        background-position: -96px -96px;
    }
    .icon-white{
        background-image: url(../images/glyphicons-halflings-white.png);
    }
    .nav {
        margin-bottom: 20px;
        list-style: none;
    }
}