.type-a-16{
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    .clear{
        clear: both;
    }
    div, h3, h4, h5 {
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
    }
    .container:before, .container:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row {
        margin-bottom: 35px;
        margin-left: -30px;
    }
    .row:before, .row:after {
        display: table-row;
        line-height: 0;
        content: "";
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 20px;
    }




    .span3 {
        width: 270px;
    }
    .noGrayMargin .gray-area {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .gray-area {
        background: #ebebeb;
        padding: 30px 0 30px;
    }
    .modulecontent > .row, .modulecontent .custom > .row {
        margin-bottom: 0;
    }
    .shop-features .title {
        margin: 0;
        line-height: 1.3;
    }
    h3 {
        font-size: 24.5px;
    }
    h3, h4, h5 {
        margin: 10px 0;
        font-family: inherit;
        font-weight: bold;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
    }
    .shop-features .shop-feature:hover {
        background: red;
    }
    .shop-features .shop-feature {
        background: #969696;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
    }
    .shop-features .shop-feature a {
        text-decoration: none;
        color: #fff;
    }
    .shop-features .shop-feature > img, .shop-features .shop-feature a > img {
        float: left;
        margin: 0 20px 0 0;
    }
    .shop-features .shop-feature > h4, .shop-features .shop-feature a > h4 {
        line-height: 1;
        margin: 0 0 7px;
        font-size: 18px;
        font-weight: 900;
    }
    .shop-features .shop-feature > h5, .shop-features .shop-feature a > h5 {
        line-height: 1;
        margin: 0;
        font-weight: 700;
    }
    h5 {
        font-size: 14px;
    }
    .shop-features .shop-feature {
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
}

