.type-519{
    @color-font: #050505;
    
    h4 {
        margin: 10px 0;
        font-weight: bold;
    }
    .moduletable {
        margin-bottom: 30px;
    }
    .moduletitle {
        color: @color-font;
        line-height: 1.4;
        margin-bottom: 15px;
        padding-bottom: 20px;
        position: relative;
        font-size: 18px;
    }
}