.type-518 .container {
  margin-left: auto;
  margin-right: auto;
}
.type-518 .row-fluid:after {
  clear: both;
}
.type-518 .row-fluid:before,
.type-518 .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-518 .row-fluid :first-child {
  margin-left: 0;
}
.type-518 .row-fluid {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.type-518 div {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.type-518 article {
  display: block;
}
.type-518 p {
  margin: 10px 0;
  color: inherit;
  text-rendering: optimizelegibility;
  border: 0;
  padding: 0;
}
.type-518 .product-page .ask-a-question > span {
  margin-top: 3px;
}
.type-518 .product-page .tabbable {
  margin: 35px 0;
}
.type-518 .tabs_style4 > ul.nav {
  margin-bottom: 0;
}
.type-518 .nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}
.type-518 .tabs_style4 > ul.nav > li {
  float: left;
  margin-bottom: -1px;
}
.type-518 li {
  line-height: 20px;
}
.type-518 ul {
  padding: 0;
  margin: 0 0 10px 25px;
}
.type-518 .tabs_style4 > ul.nav > li > a {
  padding: 8px 20px;
  line-height: 18px;
  color: #343434;
}
.type-518 .nav > li > a {
  display: block;
}
.type-518 .tabs_style4 > ul.nav > li.active > a {
  background: #fff;
  border: 1px solid #ececec;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.type-518 .product-page .tabbable .tab-content {
  padding: 0;
}
.type-518 .tab-content {
  overflow: auto;
}
.type-518 .tabs_style4 .tab-content {
  display: table;
  width: 100%;
  padding: 10px 15px 15px;
  border: 1px solid #ececec;
  background: #fff;
}
.type-518 .product-page .tabbable .tab-content .tab-pane {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 15px;
}
.type-518 .product-page .tabbable .tab-content .tab-pane.active {
  display: block;
  height: auto;
  padding: 10px 15px 15px;
}
.type-518 .customer-reviews {
  margin: 25px 0 0;
}
.type-518 .customer-reviews,
.type-518 .ask-a-question-view .form-field {
  margin: 25px 0 0;
}
.type-518 .product-neighbours {
  color: #777;
  margin: 0 0 15px;
}
.type-518 .product-neighbours a.next-page {
  line-height: 20px;
  float: right;
}
.type-518 .icon-chevron-right {
  background-position: -456px -72px;
}
