.type-515 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-515 .clear {
  clear: both;
}
.type-515 .bghelper {
  display: block;
}
.type-515 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.type-515 .row:before,
.type-515 .row:after {
  display: table-row;
  line-height: 0;
  content: "";
}
.type-515 [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.type-515 h3 {
  font-size: 24.5px;
}
.type-515 .span3 {
  width: 270px;
}
.type-515 .gray-area {
  background: #ebebeb;
  padding: 30px 0 30px;
}
.type-515 h3,
.type-515 h4,
.type-515 h5 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.type-515 .shop-feature {
  background: #969696;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.type-515 .shop-feature :hover {
  background: red;
}
.type-515 .shop-feature a {
  text-decoration: none;
  color: #fff;
}
.type-515 .shop-feature > img,
.type-515 .shop-feature a > img {
  float: left;
  margin: 0 20px 0 0;
}
.type-515 .shop-feature > h4,
.type-515 .shop-feature a > h4 {
  line-height: 1;
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 900;
}
.type-515 .shop-feature > h5,
.type-515 .shop-feature a > h5 {
  line-height: 1;
  margin: 0;
  font-weight: 700;
}
.type-515 h5 {
  font-size: 14px;
}
