.mod_k .sectionTitle {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.mod_k .sectionTitle strong {
  font-size: 12px;
  color: #3B3B64;
}
.mod_k .rbLarge {
  font-size: 16px;
  line-height: 24px;
}
.mod_k .rbSmall {
  font-size: 10px;
}
.mod_k h3 {
  font-size: 22px;
  line-height: 25px;
}
.mod_k .content {
  font-size: 12px;
}
