.mod_content .item {
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
  margin-bottom: 25px;
}
.mod_content .item:hover {
  border-bottom: 1px solid #fd4326;
}
.mod_content .thumb p {
  bottom: 10px;
  font-size: 15px;
  color: #6B6B6B;
  border-radius: 100px;
  padding: 12px 0px;
  display: inline-block;
}
.mod_content .thumb p:hover {
  color: #fd4326;
}
.mod_content .item .price {
  font-size: 12px;
}
.mod_content .item a.btncart {
  background: #fff;
  color: #999;
  border-radius: 100px;
  display: inline-block;
  font-size: 13px;
}
.mod_content .icon-barr {
  display: inline-block;
  font: normal normal normal 14px;
  font-size: inherit;
  text-rendering: auto;
}
.mod_content .item .icon-barr {
  font-size: 70px;
  background: #eee;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
}
.mod_content .icon-barr:hover {
  background: red;
  color: #fff;
}
