body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

body {

    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}

.clear {
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}




.type-universe-p-36{
    .universe {
        height: 200px;
        margin-top: 60px;
        margin-bottom: 4px;
        background: url(../images/univers-bg.jpg) repeat-x center 0;
        background-size: cover;
        -webkit-box-shadow: 0 0 0 5px rgba(232, 232, 221, 0.5);
        -moz-box-shadow: 0 0 0 5px rgba(232, 232, 221, 0.5);
        box-shadow: 0 0 0 5px rgba(232, 232, 221, 0.5);
    }
    .pattern-light-wrapper {
        display: block;
        width: inherit;
        height: inherit;
        background-image: url(../images/pattern-grid-light.png);
        background-repeat: repeat;
    }
    .section-title.section-title--light {
        font-size: 20px;
        line-height: 36px;
        color: #fff;
    }
    .universe .section-title {
        position: relative;
        z-index: 100;
        margin-top: 60px;
    }
    .section-title {
        margin-top: 54px;
        margin-bottom: 41px;
        font-size: 30px;
        line-height: 34px;
    }
    .section-title.section-title--light .text-highlight {
        font-size: 43px;
        color: #fff;
    }
    .section-title .text-highlight {
        display: block;
        font-size: 50px;
        text-transform: uppercase;
    }
    /*---------------circle-buttons-holder-------------*/

    .circle-buttons-holder {
        margin-top: 35px;
        font-size: 0;
    }
    .circle-button-wrapper.circle-button--smaller-wraper:first-child {
        margin-left: 10px;
    }
    .circle-button-wrapper.circle-button--smaller-wraper {
        position: relative;
        z-index: 100;
        float: none;
        width: 130px;
        height: 130px;
        margin-top: 0;
        margin-left: 32px;
    }
    .circle-button-wrapper {
        display: inline-block;
        width: 156px;
        height: 156px;
        margin-top: 28px;
    }
    .circle-button-wrapper.circle-button--smaller-wraper .circle-button--smaller {
        background: rgba(229, 229, 218, 0.55);
    }
    .circle-button {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        border: 3px solid #e8e8dd;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(232, 232, 221, 0.2);
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        overflow: hidden;
    }
    .circle-button-wrapper.circle-button--smaller-wraper .circle-button__title {
        margin-top: 45px;
        font-size: 22px;
    }
    .circle-button__title {
        position: absolute;
        right: 0%;
        left: 0%;
        margin-top: 45px;
        font-size: 20px;
        line-height: 30px;
        color: #162a43;
        text-shadow: 0 1px 0 #fff;
        text-transform: uppercase;
        font-weight: 600;
    }
    .circle-button-second {
        display: block;
        width: inherit;
        height: inherit;
        background: #212c43;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .circle-button-second .circle-button__title {
        color: #e8e8dd;
        text-shadow: 0 1px 0 #000;
    }
    .circle-button:hover {
        box-shadow: 0 0 0 0px rgba(232, 232, 221, 0.2);
    }
    .circle-button:hover > .circle-button__title {
        display: none;
    }
    .circle-button:hover .circle-button-second {
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .universe .decorative-lines {
        top: -92px;
        z-index: 1;
    }
    .decorative-lines {
        position: relative;
    }
    .universe .decorative-lines:before, .universe .decorative-lines:after {
        border-color: rgba(232, 232, 221, 0.2);
    }
    .decorative-lines:before {
        top: 3px;
    }
    .decorative-lines:after {
        top: 12px;
    }
    .decorative-lines:before, .decorative-lines:after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        height: 12px;
        width: 100%;
        border-top: 2px solid rgba(124, 203, 252, 0.2);
        border-bottom: 2px solid rgba(124, 203, 252, 0.2);
    }

    /*di dong*/
    @media (min-width: 1200px){
        .universe {
            background: url(../images/univers-circles.png), url(../images/univers-bg.jpg);
            background-repeat: repeat-x;
            background-position: center 0;
            background-size: cover;
        }
        .circle-button-wrapper.circle-button--smaller-wraper {
            margin-left: 125px;
        }
    }
    @media (min-width: 992px){
        .universe .section-title {
            margin-top: 46px;
        }
        .section-title.section-title--light {
            font-size: 30px;
            line-height: 45px;
        }
        .section-title.section-title--light .text-highlight {
            font-size: 70px;
        }
        /*.circle-button-wrapper.circle-button--smaller-wraper {
            margin-left: 65px;
        }*/


    }
    @media (min-width: 768px){
        .section-title {
            margin-top: 49px;
            margin-bottom: 47px;
            font-size: 30px;
            line-height: 43px;
        }
        .section-title .text-highlight {
            font-size: 80px;
        }
        .circle-button-wrapper {
            float: right;
            width: 180px;
            height: 180px;
            margin-top: 81px;
        }
        .circle-button__title {
            margin-top: 52px;
            font-size: 30px;
            line-height: 40px;
        }

    }



}