


.type_a_silde{
    margin: 0px 55px;
    .container {
     
        width: 100%;
    }
    .r-part-car {
        padding: 10px;
    }
    .image-slider {
       border: 1px solid #DDD;
    }
    .glyphicon-chevron-left {
     margin-left: -55%;
      color: #000;
    }
    .glyphicon-chevron-right {
         margin-right:  -70%;   
         color: #000;
    }
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev        { left: -33%; }
    .carousel-control.left,.carousel-control.right {background-image:none;}
    .item:not(.prev) {visibility: visible;}
    .item.right:not(.prev) {visibility: hidden;}
    .rightest{ visibility: visible;}


    .caption-slider i, #temperatur132{
        color: red;
        font-size: 18px;


    }
    .caption-slider a:hover{
        text-decoration: none;
    }
 
    .caption-slider h2{
        color: black;
        font-size: 16px;
        padding: 0;
        margin: 0;

    }
    .cat_link_meta a{
        color:  black;
        font-size: 10px;
        font-style: italic;
    }
    .caption-slider h2 a{
        color: black;
    }
    .simple_price_count{
        font-size: 12px;
        color: green;
    }
    .simple_price_count del{
        font-size: 12px;
        color: #DDD;
    } 
}


