.type-522{
    @color-gray: #cccccc;
    .moduletitle {
        position: relative;
        font-size: 18px;
        color: #050505;
        font-weight: bold;
    }
    .modulecontent {
        .vmcurrency {
            select {
                font-size: 18px;
                border: 1px solid @color-gray;
                height: 30px;
            }
            .input-medium {
                
            }
            .input-append, .input-prepend {
                display: inline-block;
                margin-bottom: 10px;
                font-size: 0;
                vertical-align: middle;
            }
            .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn {
                vertical-align: top;
                font-size: 12px;
            }
            .input-append .add-on, .input-prepend .add-on {
                display: inline-block;
                width: auto;
                min-width: 16px;
                padding: 4px 5px;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                border: 1px solid @color-gray;
            }
        }
    }
}