.type-576{ 
    .main-nav {
        height: 82px;
        background: #212c43;
        /*LOGO LEFT */
        .logo-text {
            font-size: 30px;
            color: #fff;
            text-transform: uppercase;
            a{
                text-decoration: none;
            }
        }
        /*NAVIGATION RIGHT */
        .pull-right{
            border-radius: none;
            li{
                position: relative;
                padding: 0;
                line-height: 20px;
                float: left;
                min-height: 36px;
                border: none;
                display: block;
                a {
                    color: #fff;
                    display: block;
                    padding: 7px 0 8px;
                    padding: 31px 16px 27px;
                    text-decoration: none;
                }
                a:hover{
                    color: #7ccbfc;
                    border-bottom: 2px solid #7ccbfc;
                    text-decoration: none;  
                }
                .dropdown-menu{
                    border-radius: none;
                    background-color: #3c4b6b;;
                    padding: 0px 10px 0px 10px;
                    li{
                        width: 100%;
                        padding: 7px 0 8px;
                        border-bottom: 1px solid #1b253b;
                        a{
                            border: none;
                            padding: 10px;
                            text-decoration: none;
                        }
                        a:hover{
                            color: #7ccbfc;
                            background-color: #3c4b6b;
                        }
                    }
                }
            }
            .active-item a {
                color: #7ccbfc;
            }
        }
    }

}