.type-576{ 
    .navbar-default {
        background-color: #212c43;
        border: none;
        border-radius: 0px;
        height: 80px;
        .navbar-header{
            .icon-bar{
                background-color: #fff;
            }
            .logo-text {
                font-size: 30px;
                color: #fff;
                text-transform: uppercase;
                margin-top: 25px;
                .text-highlight{
                    color: #7ccbfc;
                }
            }
        }
        .navbar-nav{
            li{
                text-align: center;
                a {
                    color: #fff;
                    display: block;
                    padding: 7px 0 8px;
                    padding: 31px 16px 27px;
                    text-decoration: none;
                }
                a:hover{
                    color: #7ccbfc;
                    border-bottom: 2px solid #7ccbfc;
                    text-decoration: none;
                }
                .dropdown-menu{
                    border-radius: none;
                    background-color: #3c4b6b;;
                    padding: 0px 10px 0px 10px;
                    margin-top: 0px;
                    li{
                        width: 100%;
                        padding: 7px 0 8px;
                        border-bottom: 1px solid #1b253b;
                        a{
                            border: none;
                            padding: 10px;
                            text-decoration: none;
                            color: #fff;
                        }
                        a:hover{
                            color: #7ccbfc;
                            background-color: #3c4b6b;
                        }
                    }
                }
            }
            .active-item a {
                color: #7ccbfc;
            }
        }
        .navbar-collapse{
            background-color: #212c43;
            border: none;
            .nav li{
                a:hover{
                    color: #7ccbfc;
                    background-color: #3c4b6b;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .logo-text{
            margin-left: 20px;
        }
        .navbar-toggle {
            margin-top: 15px;
        }
    }
}