.type-512{
    .summary{
        a{
            color: #e89222;
        }
        padding: 5px;
        p.price {
            font-size: 18px;
            color: #5c5c5b;
            font-style: normal;
            font-weight: 400;
            padding: 0 8px 0 51px;
            margin: 0;
            position: relative;
            background: #ede9e9;
            font-size: 18px;
            color: #5c5c5b;
            line-height: 38px;
            height: 38px;
            display: inline-block;        
        }
        p.price:before {
            position: absolute;
            left: 0;
            content: "";
            width: 38px;
            height: 100%;
            display: block;
            background: #e89222 url('../images/sprite.png') no-repeat 7px -760px;
            border-right: 5px solid #fff;
        }
        .product_meta{
            padding-top: 25px;
        }
    }
    .description {
        margin-top: 40px;
        margin-bottom: 20px;
        p {
            color: #5c5c5b;
        }
    } 
    .qty {
        width: 40px;
        height: 30px;
        text-align: center;
    }
    input.qtyplus { width:25px; height:30px;}
    input.qtyminus { width:25px; height:30px;}
    button.button {
        background-color: #e89222;
        background-image: none;   
        border-radius: 2px;
        border: 0;   
        color: #FFFFFF;
        box-shadow: 0 2px 0 #cd6b02;
        padding: 9px 6px;
        float: right !important;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        line-height: 18px;
        position: relative;
        box-shadow: 0 2px 0 #cd6b02;
        text-shadow: none;    
    }
    div.images {
        position: relative;
        #main_img{
            width: 100%; height: 100%; top: 0px; left: 0px; cursor: auto;
            img{
                display: block;
                width: 100%;
                height: auto;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
                transition: all ease-in-out .2s;
            }
        }
        .thumbnails{
            padding-top: 6px;
            margin: 0;
            width: auto;
            position: relative;
        }
    }
    .product-actions.buttons_2 .acaction {
        width: 50%;
        border: 1px solid #ded9d9;
    }
    .summary .product-actions{
        padding-top: 20px;
        .acaction {       
            text-align: center;
            border-width: 1px;
            border-color: #dad9d9;
            box-sizing: border-box;
            -moz-box-sizing: border-box;       
            float: left;
        }
        .acaction a {
            font-size: 13px;
            vertical-align: top;
            line-height: 28px;
            padding: 10px 12px 10px;
            font-size: 10px;
            color: #7a7979;
            display: block;
            padding: 10px 0;
            text-transform: uppercase;
        }
        .acaction i {
            display: inline-block;
            width: 18px;
            height: 16px;
            margin-bottom: -7px;
            margin-right: 6px;
            background: url('../images/sprite.png') no-repeat;
        }
        .acaction.compare i {
            width: 34px;
            height: 26px;
            background-position: -32px -847px;
        }    
        .acaction.wishlist i {
            width: 28px;
            height: 26px;
            background-position: 0 -847px;
        }    
    }
    /***********************SOCIALS************************************/
    .socials-box{
        border: 1px solid #dad9d9;
        clear: both;
        margin-bottom: 50px;
        margin-top:30px;
        border-bottom: 3px solid #f0f0f0;
        a.social {
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 26px 0 26px 79px;
            font-size: 13px;
            color: #5c5c5b;
            line-height: 1.41em;
            border-left: 1px solid #dad9d9;       
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            i {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 20px;
                width: 54px;
                height: 54px;
                background: url("../images/socials-fade.png") no-repeat;
            }
        } 
    }
    .socials-box a.social.first {
        border-left: 0;
    }  
    .socials-box a.social.facebook i {
        background-position: 0px top;
    }
    .socials-box a.social.facebook:hover i{
        background-position: 0 bottom ;
    }
    .socials-box a.social.pinterest i {
        background-position: -54px top;
    }
    .socials-box a.social.pinterest:hover i{
        background-position: -54px bottom;
    }
    .socials-box a.social.twitter i {
        background-position: -108px top;
    }
    .socials-box a.social.twitter:hover i {
        background-position: -108px bottom;
    }    
    .socials-box a.social.email i {
        background-position: -216px top;
    }
    .socials-box a.social.email:hover i{
        background-position: -216px bottom;
    }
    .socials-box a.social span {
        font-weight: bold;
        color: #5c5c5b;
    }
}