.type-512{
    /***********************SUMMARY************************************/
    .summary{
        .product-actions{
            padding-top: 20px;
            .acaction {       
                text-align: center;
                border-width: 1px;
                border-color: #dad9d9;
                box-sizing: border-box;     
                float: left;
                .compare i {
                    width: 34px;
                    height: 26px;
                    background-position: -32px -847px;
                } 
                .wishlist i {
                    width: 28px;
                    height: 26px;
                    background-position: 0 -847px;
                }
                a {
                    font-size: 13px;
                    vertical-align: top;
                    line-height: 28px;
                    padding: 10px 12px 10px;
                    font-size: 10px;
                    color: #7a7979;
                    display: block;
                    padding: 10px 0;
                    text-transform: uppercase;
                }
                i {
                    display: inline-block;
                    width: 18px;
                    height: 16px;
                    margin-bottom: -7px;
                    margin-right: 6px;
                    background: url('../images/sprite.png') no-repeat;
                }
            }
        }
        .product-actions.buttons_2 .acaction {
            width: 50%;
            border: 1px solid #ded9d9;
        }
        a{
            color: #fcb962;
        }
        a:hover{
            text-decoration: none;
            color: #e89222;
        }
        .acaction:hover{
            background-color: #fcb962;
        } 
        .price {
            font-size: 18px;
            color: #5c5c5b;
            font-style: normal;
            font-weight: 400;
            padding: 0 8px 0 51px;
            margin: 0;
            position: relative;
            background: #ede9e9;
            color: #5c5c5b;
            line-height: 38px;
            height: 38px;
            display: inline-block;        
        }
        .price:before {
            position: absolute;
            left: 0;
            content: "";
            width: 38px;
            height: 100%;
            display: block;
            background: #e89222 url('../images/sprite.png') no-repeat 7px -760px;
            border-right: 5px solid #fff;
        }
        .product_meta{
            padding-top: 25px;
        }
        .description {
            margin-top: 40px;
            margin-bottom: 20px;
            p {
                color: #5c5c5b;
            }
        } 
        .qty {
            width: 40px;
            height: 30px;
            text-align: center;
        }
        input.qtyplus { width:25px; height:30px;}
        input.qtyminus { width:25px; height:30px;}
        .button {
            background-color: #fcb962;
            border-radius: 2px;
            border: 0;   
            color: #FFFFFF;
            padding: 9px 6px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            line-height: 18px;
            position: relative;
            text-shadow: none;
            margin-top: 20px;    
        }
        .button:hover {
            background-color:#e89222;
            color:#f4f1ec;
        }
    }
    /***********************IMAGES************************************/
    .images {
        position: relative;
        #main_img{
            width: 100%;
            img{
                display: block;
                width: 100%;
                height: auto;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
                transition: all ease-in-out .2s;
            }
        }
        .thumbnails{
            padding-top: 6px;
            margin: 0;
            width: auto;
            position: relative;
        }
    }
    /***********************SOCIALS************************************/
    .socials-box{
        border: 1px solid #dad9d9;
        clear: both;
        margin-bottom: 50px;
        margin-top:30px;
        border-bottom: 3px solid #f0f0f0;
        a.social.pinterest i {
            background-position: -54px top;
        }
        a.social {
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 26px 0 26px 79px;
            font-size: 13px;
            color: #5c5c5b;
            line-height: 1.41em;
            box-sizing: border-box;
            i {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 20px;
                width: 54px;
                height: 54px;
                background: url("../images/socials-fade.png") no-repeat;
            }
        }
        a.social.facebook i {
            background-position: 0px top;
        }
        a.social.facebook:hover i{
            background-position: 0 bottom ;
        }
        a.social.pinterest:hover i{
            background-position: -54px bottom;
        }
        a.social.twitter i {
            background-position: -108px top;
        }
        a.social.twitter:hover i {
            background-position: -108px bottom;
        } 
        a.social.email i {
            background-position: -216px top;
        }
        a.social.email:hover i{
            background-position: -216px bottom;
        }
        a.social span {
            font-weight: bold;
            color: #5c5c5b;
        }
    }
}