.type-33 .tabs {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
  font-weight: 300;
}
.type-33 .tabs .title {
  text-align: center;
  color: #a7753a;
}
.type-33 .tabs strong {
  color: #a7753a;
}
.type-33 .tabs nav {
  text-align: center;
}
.type-33 .tabs nav ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.type-33 .tabs nav ul li {
  margin: 0 0.25em;
  display: block;
  float: left;
  position: relative;
}
.type-33 .tabs nav ul li a {
  color: #000000;
  display: block;
  font-size: 1.45em;
  line-height: 2.5;
  padding: 0 0.5em;
  white-space: nowrap;
  text-decoration: none;
}
.type-33 .tabs nav ul li a:hover {
  text-decoration: none;
}
.type-33 .tabs nav ul li.tab-current a {
  color: #a7753a;
}
.type-33 .tabs nav ul li.tab-current a:before {
  content: "\2212";
}
.type-33 .tabs .titlebig {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.type-33 .tabs .content section {
  font-size: 1.25em;
  padding: 3em 1em;
  display: none;
  margin: 0 auto;
}
.type-33 .tabs .content section.content-current {
  display: block;
}
.type-33 .tabs #catlist {
  margin: 10px auto;
}
.type-33 .tabs #catlist dl {
  overflow: hidden;
}
.type-33 .tabs #catlist dl dd {
  overflow: auto;
}
.type-33 .tabs #catlist dl dt img {
  float: left;
  margin: 0 10px 0 0;
}
.type-33 .tabs #catlist dl dt strong {
  float: right;
  padding: 0 0 0 20px;
}
.type-33 .tabs #catlist a {
  color: #000000;
  text-decoration: none;
}
.type-33 .tabs #catlist a:hover {
  color: #47a3da;
  text-decoration: none;
}
@media only screen and (max-width: 380px) {
  .type-33 .tabs .title {
    font-size: 12px;
  }
  .type-33 .tabs .titlebig {
    font-size: 21px;
  }
  .type-33 .tabs nav ul li {
    width: 100%;
  }
  .type-33 .tabs nav ul li a {
    font-size: 16px;
  }
  .type-33 #catlist dl dt img {
    width: 100%;
  }
}
