.type-582{
    h2 {
        font-size: 28px;
        line-height: 38px;
        font-weight: 900;
        letter-spacing: 1px;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
    }
    h1, h2, h3, h4, .text-logo #logo {
        font-family: "Lato", Arial, Tahoma, sans-serif;
    }
    p {
        margin: 0 0 15px;
    }
    .section {
        position: relative;
        .section-decoration {
            width: 100%;
            position: absolute;
            left: 0;
            background-repeat: repeat-x;
            z-index: 1;
            background-image: url(../images/home_surveyor_decoration2.png);
            height:5px

        }
        .section-decoration.top {
            top: 0;
            background-position: center top;
        }
    }
    #section1{
        padding-top:15px;
        padding-bottom:530px;
        background-color:#ff5a00;
    }
    .section_wrapper, .container {
        // max-width: 1220px;
        margin: 0 auto;
        position: relative;
    }
    .one-second.mcb-wrap {
        width: 50%;
    }
    .clearfix {
        zoom: 1;
    }
    .mcb-wrap {
        float: left;
        position: relative;
        z-index: 1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
        position: relative;
        float: left;
        width: 100%;
    }
    .column-margin-10px.column {
        margin-bottom: 10px !important;
    }
    .one.column {
        width: 98%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }
    .column-margin-20px.column {
        margin-bottom: 20px !important;
    }
    .column_button .button {
        margin: 0!important;
        vertical-align: middle;
    }
    .button-flat a.button:not(.action_button), .button-flat:not(.header-plain) a.button.action_button, .button-flat a.tp-button, .button-flat button, .button-flat input[type="submit"], .button-flat input[type="reset"], .button-flat input[type="button"] {
        background-image: none;
        border-width: 0;
        border-style: solid;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: inset 0 0 0 0;
        box-shadow: inset 0 0 0 0;
        -webkit-appearance: none;
    }
    a.button .button_label {
        display: block;
        float: left;
        position: relative;
        z-index: 2;
        border: 1px solid #fff;
        background: #fff;
        padding: 11px 20px;
    }
    .clearfix:after {
        clear: both;
    }
    .equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner {
        top: 100%;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    .column-margin-0px .column {
        margin-bottom: 0 !important;
    }
    .column_image {
        line-height: 0;
    }
    .image_frame.no_border {
        border-width: 0;
    }
    .image_frame {
        border-color: #f8f8f8;
    }
    .image_frame, .wp-caption, .google-map, .icon_box .icon_wrapper, .content_slider .caroufredsel_wrapper, .author-box .avatar-wrapper, #comments .commentlist > li .photo, .edd_download_image {
        border-color: #f8f8f8;
    }
    .aligncenter {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .image_frame, .wp-caption {
        display: block;
        margin: 0;
        border-width: 8px;
        border-style: solid;
        max-width: 100%;
        line-height: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
        border-color: #e2e2e2;
    }
    .image_frame .image_wrapper {
        position: relative;
        overflow: hidden;
    }
    .image_frame .image_wrapper, .wp-caption img {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    img.scale-with-grid, #Content img {
        max-width: 100%;
        height: auto;
    }
    .image_frame .image_wrapper img:not(.ls-l) {
        position: relative;
        top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    .aligncenter img {
        display: inline;
    }
    .column_attr{
        h2{
            color: #fff;
        }
        .p1{
            color: #fff;
        }
        .p2{
            color: #fff;
            width: 50%;
        }
    }
    #column2{
        padding:0 5% 0 0;
    }
    #button1{
        background-color:#ffffff !important;
        color:#2f4bc3;
    }
    #wrap1{
        padding: 60px 0px 20px 6%;
        height: 530px;
    }
    #wrap2{
        padding: 0px 7%; 
        height: 530px;
    }
    @media only screen and (min-width: 1240px){
        .section_wrapper, .container {
            max-width: 1220px;
        }
    }
    @media only screen and (min-width: 768px){
        a.button:after, a.tp-button:after, button:after, input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            z-index: 1;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            background: rgba(0,0,0,.05);
        }
        .button-flat a.button:after, .button-flat a.tp-button:after, .button-flat button:after, .button-flat input[type="submit"]:after, .button-flat input[type="reset"]:after, .button-flat input[type="button"]:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            background: rgba(0,0,0,.07);
            filter: alpha(opacity=0);
            opacity: 0;
        }
        .layout-boxed #Subheader .container, .layout-boxed:not(.with_aside) .section:not(.full-width), .layout-boxed.with_aside .content_wrapper, .layout-boxed #Footer .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    @media only screen and (max-width: 767px){
        .section {
            background-attachment: scroll!important;
            height: auto!important;
        }
        .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
            margin: 0;
            width: 100%!important;
            clear: both;
        }
        .equal-height-wrap{
            .mcb-wrap {
                height: auto!important;
            }
            .mcb-wrap .mcb-wrap-inner {
                top: 0!important;
                -webkit-transform: none!important;
                transform: none!important;
            }
        }
        .column_attr .p2{
            width: 100%;
        }
        .section_wrapper .column {
            margin: 0 0 20px;
            height: auto!important;
        }
        .image_frame {
            margin-top: 0!important;
        }
        #section1 {
            padding-bottom: 1160px;
        }
    }
    @media only screen and (max-width: 480px){
        #section1 {
            padding-bottom: 950px;
        }
    }
    @media only screen and (max-width: 350px){
        #section1 {
            padding-bottom: 1050px;
        }
    }
    @media only screen and (max-width: 767px) and (min-width: 480px){
        h2 {
            font-size: 21px;
            line-height: 29px;
        }
    }
    @media only screen and (max-width: 479px){
        h2 {
            font-size: 17px;
            line-height: 23px;
        }
    }
}
@media only screen and (max-width: 961px){
    .type-582 {
        padding: 0px 60px 15px;
    }
}
@media only screen and (min-width: 1040px){
    .type-582 {
        padding: 0px 60px 15px;
    }
}
@media only screen  and (max-width: 1030px) and (min-width:961px){
    .type-582 {
        padding: 0px 0px 15px;
    }
}