.footer{
    padding: 0 60px 15px; 
    #Footer, #Footer .widget_recent_entries ul li a {
        color: #8284a6;
    }
    #Footer {
        background-color: #03084c;
    }
    #Footer {
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
    }
    .clearfix {
        zoom: 1;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }
    #Footer .widgets_wrapper {
        padding:50px 0 40px;
    }
    .section_wrapper, .container {
        max-width: 1220px;
        margin: 0 auto;
        position: relative;
    }
    #Footer .widgets_wrapper .column {
        margin-bottom: 0;
    }
    .one-fourth.column, .four.columns {
        width: 23%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }
    #Footer .widgets_wrapper .widget {
        padding: 15px 0;
        margin-bottom: 0;
    }
    .widget:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .widget {
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
    }
    .image_frame.no_border {
        border-width: 0;
    }
    .image_frame {
        border-color: #f8f8f8;
    }
    .image_frame, .wp-caption, .google-map, .icon_box .icon_wrapper, .content_slider .caroufredsel_wrapper, .author-box .avatar-wrapper, #comments .commentlist > li .photo, .edd_download_image {
        border-color: #f8f8f8;
    }
    .image_frame, .wp-caption {
        display: block;
        margin: 0;
        border-width: 8px;
        border-style: solid;
        max-width: 100%;
        line-height: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
        border-color: #e2e2e2;
    }
    .image_frame .image_wrapper {
        position: relative;
        overflow: hidden;
    }
    .image_frame .image_wrapper, .wp-caption img {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .image_frame .image_wrapper img:not(.ls-l) {
        position: relative;
        top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    img.scale-with-grid, #Content img {
        max-width: 100%;
        height: auto;
    }
    #line1{
        margin: 0 auto 20px;
    }
    hr.no_line {
        background: none;
        color: transparent;
    }
    hr, .hr_wide, .hr_zigzag, .hr_dots {
        margin: 0 auto 15px;
        clear: both;
    }
    hr {
        background-color: rgba(0,0,0,.08);
        color: rgba(0,0,0,.08);
    }
    .p1{
        margin-right: 5%;
        font-size: 12px;
    }
    p {
        margin: 0 0 15px;
    }
    hr {
        display: block;
        border: none;
        outline: none;
        height: 1px;
        width: 100%;
        margin: 0 auto 15px;
        clear: both;
    }
    #Footer h1, #Footer h1 a, #Footer h1 a:hover, #Footer h2, #Footer h2 a, #Footer h2 a:hover, #Footer h3, #Footer h3 a, #Footer h3 a:hover, #Footer h4, #Footer h4 a, #Footer h4 a:hover, #Footer h5, #Footer h5 a, #Footer h5 a:hover, #Footer h6, #Footer h6 a, #Footer h6 a:hover {
        color: #ffffff;
    }
    h4 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;
        letter-spacing: 0px;
    }
    h1, h2, h3, h4, .text-logo #logo {
        font-family: "Lato", Arial, Tahoma, sans-serif;
    }
    h4, h4 a, h4 a:hover, .style-simple .sliding_box .desc_wrapper h4 {
        color: #2f4bc3;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
    }
    .u1{
        line-height: 32px;
        padding: 0;
    }
    ul {
        list-style: none outside;
    }
    #Footer h1, #Footer h1 a, #Footer h1 a:hover, #Footer h2, #Footer h2 a, #Footer h2 a:hover, #Footer h3, #Footer h3 a, #Footer h3 a:hover, #Footer h4, #Footer h4 a, #Footer h4 a:hover, #Footer h5, #Footer h5 a, #Footer h5 a:hover, #Footer h6, #Footer h6 a, #Footer h6 a:hover {
        color: #ffffff;
    }
    h6 {
        font-size: 13px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: 0px;
    }
    h5, h6 {
        font-family: "Lato", Arial, Tahoma, sans-serif;
    }
    h6, h6 a, h6 a:hover, a.content_link .title {
        color: #141b26;
    }
    ol, ul {
        list-style: none;
    }
    i {
        font-style: italic;
    }
    #Footer a {
        color: #bfc1d2;
    }
    .icon-right-dir{
        color: #77acfb;
    }
    .span1{
        color: #bfc1d2;
    }
    .icon-right-dir:before {
        content: '\e914';
    }
    .footer-copy-center #Footer .footer_copy {
        text-align: center;
    }
    #Footer .footer_copy {
        border-top: 1px solid rgba(255,255,255,.1);
        text-align: center;
    }
    #Footer .footer_copy .one {
        margin-bottom: 20px;
        padding-top: 30px;
        min-height: 33px;
    }

    .one.column {
        width: 98%;
    }


    #Footer .footer_copy .copyright {
        float: none;
        margin: 0 0 10px;
    }

    .footer-copy-center #Footer .footer_copy .social {
        float: none;
        margin: 0;
    }

    #Footer .footer_copy .social {
        float: right;
        margin-right: 20px;
    }
    #Footer a:hover {
        color: #ff5a00;
    }

    @media only screen and (min-width: 1240px){
        .section_wrapper, .container {
            max-width: 1220px;
        }
    }
    @media only screen and (max-width: 1239px) and (min-width: 960px){
        .section_wrapper, .container, .with_aside .content_wrapper {
            max-width: 940px;
        }
    }
    @media only screen and (max-width: 959px) and (min-width: 768px){
        .section_wrapper, .container, .with_aside .content_wrapper {
            max-width: 708px;
        }
    }
    @media only screen and (min-width: 768px){
        .layout-boxed #Subheader .container, .layout-boxed:not(.with_aside) .section:not(.full-width), .layout-boxed.with_aside .content_wrapper, .layout-boxed #Footer .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    @media only screen and (max-width: 959px) and (min-width: 768px){
        h4 {
            font-size: 15px;
            line-height: 22px;
        }
    }

    @media only screen and (max-width: 767px){
        .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
            margin: 0;
            width: 100%!important;
            clear: both;
        }
    }
    @media only screen and (max-width: 767px){
        #Footer .footer_copy {
            text-align: center;
        }
    }
    @media only screen and (max-width: 767px){
        #Footer .footer_copy .copyright {
            float: none;
            margin: 0 0 10px;
        }
    }
    @media only screen and (max-width: 767px){
        #Footer .footer_copy .social {
            float: none;
            margin: 0;
        }
    }
    @media only screen and (max-width: 767px) and (min-width: 480px){
        h4 {
            font-size: 14px;
            line-height: 20px;
        }
    }
    @media only screen and (max-width: 479px){
        h4 {
            font-size: 13px;
            line-height: 19px;
        }
    }


}
@media only screen and (max-width: 1000px){
    .footer {
        padding: 0 0 15px;
    }
}
@media only screen and (max-width: 960px){
    .footer {
        padding: 0 106px 15px;
    }
}
@media only screen and (max-width: 767px){
    .footer {
        padding: 0 25px 15px;
    }
}
@media only screen and (max-width: 479px){
    .footer {
        padding: 0 20px 15px;
    }
}

