.rowsp{
    ul li{
        list-style-type: none;
    }
    .tab-content {
        margin-top: 20px;
    }
    .vertical ul.tabs {
        padding: 0;
        float: left;
        border-bottom: 0;
        border-right: 0;
    }
    ul.tabs {
        border-bottom-width: 1px;
        border-radius: 2px;
        overflow: visible;
    }
    ul.tabs{
        margin: 0;
        padding: 0;
    }
    ul.tabs{
        list-style: none;
        padding: 0 0 0 1em;
        margin: 0 0 1.618em;
        overflow: hidden;
        position: relative;
    }
    .vertical ul.tabs li.active {
        border-right: 0;
    }
    .vertical ul.tabs li {
        display: block;
        float: none;
        border-bottom: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
    }
    ul.tabs li {
        margin: 0;
        padding: 0;
    }
    ul.tabs li{
        display: inline-block;
        position: relative;
        z-index: 0;
    }
    ul.tabs li.active a {
        color: #b1690c;
    }
    ul.tabs li a {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: #8d8d8d;
        font-style: normal;
        font-weight: 400;
    }
    ul.tabs li a {
        display: block;
        padding: 18px;
        text-transform: uppercase;
        color: #656464;
    }
    ul.tabs li a{
        display: inline-block;
    }
    .vertical div.panel {
        float: right;
    }
    .panel h2 {
        font-size: 18px;
        color: #8c8c8c;
        font-weight: 600;
    }
    table.variations td.lblabel label{
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 32px;
        text-shadow: none;
        font-size: 12px;
    }
    table.variations td.vlvalue{
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact-form ul {
        margin: 0;
        list-style: none;
    }
    .row-fluid .span4 {
        width: 31.914893617021278%;
    }
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 2.127659574468085%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .content ul li, .content ol li {
        margin-bottom: 10px;
    }
    .contact-form li {
        position: relative;
    }
    .span4 {
        width: 30%;
    }
    .related.products {
        clear: both;
    }
    .related.products h2 {
        font-size: 18px;
        color: #8c8c8c;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 44px;
        padding-left: 55px;
        margin-bottom: 30px;
        margin-top: -100px;
        background: url('../images/sprite.png') no-repeat -75px -848px;
    }
    ul.products li.product .price {
        padding-bottom: 18px;
        margin-bottom: 0;
        margin-top: 0;
    }
    ul.products{
        padding: 0;
        list-style: none outside;
        clear: both
    }
    ul.products:after {
        content: "";
        display: block;
        clear: both
    }
    ul.products li.product a.thumb img.image-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    ul.products li.product a.thumb img {
        -webkit-box-shadow: 0 0 0 #000;
        -moz-box-shadow: 0 0 0 #000;
        box-shadow: 0 0 0 #000;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    ul.products li.product a.thumb {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    ul.products li.product.grid.add-hover:hover .product-meta-wrapper {
        visibility: visible;
    }
    ul.products li.product h3{
        padding: .5em 0;
        margin: 0;
        font-size: 1em;
    }
    ul.products li.product a{
        text-decoration: none
    }
    ul.products li.product a img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 0 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        /*-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
        transition: all ease-in-out .2s*/
    }
    ul.products li.product strong{
        display: block
    }
    ul.products li.product .price {
        color: #85ad74;
        display: block;
        font-weight: normal;
        margin-bottom: .5em
    }
    ul.products li.product .price del{
        font-size: .67em;
        color: rgba(145,145,145,0.5);
        margin: -2px 0 0 0;
        line-height: 0;
    }
    ul.products li.product .price ins{
        background: 0
    }
    ul.products li.product .price .from{
        font-size: .67em;
        margin: -2px 0 0 0;
        text-transform: uppercase;
        color: rgba(145,145,145,0.5)
    }
    ul.products li.first{
        clear: both
    }
    ul.products li.last{
        margin-right: 0
    }
    ul.products li.product { 
        position:relative;
        margin-bottom:30px;
    }
    ul.products li.product a img,  ul.products li.product a img:hover {
        margin-bottom:0; 
        -webkit-box-shadow:none;
        -moz-box-shadow:none; 
        box-shadow:none; 
    }
    ul.products li.product h3 { 
        font-size:14px; 
        color:#656464; 
        padding-bottom:5px; 
        text-align:left; 
        font-weight: 600; 
        max-width: 82%; 
        padding-top: 18px; 
    }
    ul.products li.product .price { 
        font-size:20px; 
        font-weight: 800; 
        color:#656464; 
        padding-bottom: 18px; 
        margin-bottom: 0; 
        margin-top: 0; }
    ul.products li.product h3,  ul.products li.product .price { 
        float:left; 
        clear:left; 
    }
    ul.products li.product .product-description { 
        display:none; }
    ul.products li.product.classic a.thumb img.image-hover { 
        box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        padding: 3px; width:100%; 
        box-shadow: 0 0 0 #000; 
    }
    ul.products li.product .button.added { 
        background-color:#a5a305 !important;
        box-shadow: 0 2px 0 #656e04 !important; 
    }
    ul.products li.product .grid-add-to-cart .button.added { 
        background-color:#859103 !important;
        box-shadow: 0 2px 0 #747e04 !important;
    }
    ul.products li.product .button.product_type_variable:before,
        ul.products li.product .button.product_type_grouped:before,
        ul.products li.product .button.product_type_external:before,
        ul.products li.product .button.out-of-stock:before,
        ul.products li.product .button.added:before { 
        display:none; 
    }
    ul.products li.product.grid .grid-add-to-cart a.button { 
        display:block;
    }
    ul.products li.product span.price del,  ul.products li.product span.price .from { 
        color:#929191; font-size:58%; 
    }
    ul.products li.product span.price ins {
        text-decoration:none; 
    }
    ul.products li.product.grid.with-hover .grid-add-to-cart a.button {
        background-color: #e89222;
    }

    ul.products li.product.grid .buttons-list-wrapper {
        display:inline; 
    }
    /* hover feature */
    ul.products li.product.grid.with-hover .product-wrapper {
        border: 1px solid #E6E6E6; 
        border-bottom-width: 0; 
        text-align: center; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
    }
    ul.products li.product.grid.with-hover:hover .product-meta { 
        border-bottom: 1px solid #E6E6E6;
        border-top: 0;
    }
    ul.products li.product.grid.with-hover .grid-add-to-cart { 
        position: relative; 
        right: 0px; 
        bottom: 15px; 
    }

    ul.products li.product.grid.with-hover .grid-add-to-cart a.button {
        background: #c56304 url('../images/sprite.png') no-repeat 5px -145px;
        display: block;
        padding: 0; 
        margin: 0; 
        width: 29px; 
        height: 29px; 
        text-indent: 100%; 
        overflow: hidden; 
        white-space: nowrap; 
        float: right; 
        box-shadow: 0 0; 
        margin-top: 10px;
    }
    ul.products li.product.grid.with-hover:hover .grid-add-to-cart { 
        display: none; 
    }
    ul.products li.product.grid.with-hover:hover a.button {
        text-align: center;
        display: inline-block; 
        float: none;
        margin: 0 auto; 
    }
    ul.products li.product.grid:hover h3,  ul.products li.product.grid:hover .price {
        text-align: center; 
        float: none; 
        max-width: 100%; 
    }
    ul.products li.product.grid  a.thumb:hover img.image-hover{
        display: block; 
        opacity: 1;
    }
    ul.products li.product.grid .product-wrapper,  ul.products li.product.grid.add-hover .product-meta-wrapper {
        padding:10px;
        margin:0px 0px -6px;
        -webkit-box-shadow:none; 
        -moz-box-shadow:none; 
        box-shadow:none;  
    }
    ul.products li.product.grid:hover .product-wrapper,  ul.products li.product.grid.add-hover .product-meta-wrapper {
        -webkit-box-shadow:1px 1px 6px rgba(0,0,0,0.33);
        -moz-box-shadow:1px 1px 6px rgba(0,0,0,0.33);
        //box-shadow:1px 1px 6px rgba(0,0,0,0.33);
    }
    /* show meta on hover */
    ul.products li.product.grid.add-hover:hover { 
        z-index:250;
    }
    ul.products li.product.grid.add-hover .product-wrapper,  ul.products li.product.grid.add-hover .product-meta-wrapper { 
        background:#fff; 
    }
    ul.products li.product.grid.add-hover .product-meta { 
        display:block; 
        position:absolute; 
        left:0px; 
        right:0px; 
        height:20px; 
        background:#fff;
        border-top: 1px solid #e6e6e6;
    }
    ul.products li.product.grid.add-hover .product-meta-wrapper { 
        padding:0 10px;
        border-top:0;
        visibility:hidden;
        overflow:hidden; 
        border: solid #E6E6E6; 
        border-width: 0 1px 1px; 
    }
    ul.products li.product.grid.add-hover .product-meta-wrapper:after { 
        content:"";
        position:absolute; 
        left:0; right:0;
        bottom:20px; 
        height:6px; 
        background:#fff;
        border: solid #E6E6E6; 
        border-width: 0 1px;
    }
    ul.products li.product.grid.add-hover .product-wrapper { 
        border-bottom:0; 
        margin-bottom:0; 
        padding-bottom:0;
    }
    /* transitions */
    ul.products li.product.grid.add-hover .product-meta-wrapper {
        -webkit-transition: all linear 0.1s;
        -moz-transition: all linear 0.1s;
        -o-transition: all linear 0.1s;
        transition: all linear 0.1s;
        -webkit-backface-visibility: hidden;  /* fixes webkit flickering after transitions*/
    }

    ul.products li.product span.added,  ul.products li.product span.out-of-stock {
        display: none;
        padding:0;
        line-height:35px;
        position:absolute;
        top: 0px;
        right: 0px;
        width: 72px;
        height: 77px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    ul.products li.product span.added        { 
        background: url('../images/added.png') no-repeat top right; 
        width:51px;
        height:51px;
        text-indent: 0;
        text-align: center; 
        font-size: 9px; 
        padding-top: 15px; 
        color: #ffffff;
    }
    ul.products li.product span.out-of-stock {
        background: url('../images/out-of-stock.png') no-repeat top right;
    }
    ul.products li.product .added_to_cart { 
        display:none;
    }
    #primary ul.products li.product a.out-of-stock,
    #primary  ul.products li.product a.out-of-stock{ 
        background-color: #8E0404; color: #FFFFFF;
    }

    /* list view */
    ul.products li.product.list { 
        float:none; 
        margin-bottom:30px; 
        padding:0 0 30px; 
        border-bottom: 1px solid #dad9d9; 
        position:relative; 
        clear:both; 
        width:auto; 
        overflow: hidden; 
    }
    ul.products li.product.list a.thumb { 
        display:block; 
        float:left; 
        position: absolute;
    }
    ul.products li.product.list img { 
        width:auto;
    }
    ul.products li.product.list h3,  ul.products li.product .price { 
        padding-left: 0;
    }
    ul.products li.product.list .price { 
        margin-top: 0;
        padding-bottom: 0; 
    }
    ul.products li.product.list .grid-add-to-cart { 
        display:none;
    }

    ul.products li.product.list span.added { 
        top:3px; 
        right:3px; 
    }
    ul.products li.product.list span.out-of-stock { 
        top:3px; 
        right:3px;
    }
    ul.products li.product.list .product-meta { 
        float:left; 
        width:100%; 
    }
    ul.products li.product.list .product-meta .product-meta-wrapper {
        padding:10px; 
        padding-left:0; 
    }
    ul.products li.product.list:after,  ul.products li.product.list .product-wrapper:after {
        clear: both; 
        content: "."; 
        display: block; 
        height: 0; 
        overflow: hidden; 
        visibility: hidden; 
    }
    ul.products li.product.list .price { 
        margin-bottom:0;
    }                              
    ul.products li.product.list .product-description.show-on-list { 
        display:block;
        float:left;
        padding-top:1px;
        width: 55%; 
    }
    ul.products li.product.list .product-description.show-on-list p { 
        font-size: 12px; 
        color: #656464;
    }

    ul.products li.product.list a.button { 
        float:none;
        clear:none; 
        margin-top:12px;
    }
    ul.products li.product.list .details { 
        display:none; 
    }
    ul.products li.product.list .star-rating { 
        float: none; 
        display: inline-block; 
        margin-bottom: 0; 
        margin-left: 0px; }

    ul.products li.product.list .buttons-list-wrapper {
        float: right; 
        width: 40%;
        text-align: center;
        margin-top: 30px; 
    }
    ul.products li.product.list .buttons-list-wrapper a.button, 
    ul.products li.product.list .buttons-list-wrapper div.acaction {
        display: inline-block; 
        float: none; 
    }
    ul.products li.product.grid.classic .product-wrapper { 
        padding:0; 
    }
    ul.products li.product.grid.classic .grid-add-to-cart {
        display: none; 
    }
    ul.products li.product.grid.classic .product-wrapper,  ul.products li.product.grid.classic:hover .product-wrapper,
        ul.products li.product.grid.classic img {  
        border:0;      
        -webkit-box-shadow:none; 
        -moz-box-shadow:none; 
        box-shadow:none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 3px;
    }
    /* style */
    ul.products li.product.grid.classic h3,  ul.products li.product.grid.classic span.price { float:none; clear:none; }
    ul.products li.product.grid.classic .product-shadow {
        background: url("../images/product-shadow.png") no-repeat scroll center top / 100% auto transparent;
        height: 23px;
        width: 100%;
        margin-top:-10px;
    }
    ul.products li.product.grid.classic a.thumb {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }           
    ul.products li.product.grid.classic.with-border a.thumb {
        border: 1px solid #dcd9d3;
    }              
    ul.products li.product.grid.classic.with-border a.thumb:hover {
        border-color:#f4c491;
    }                           

    ul.products li.product.grid.classic span.added,  ul.products li.product.grid.classic span.out-of-stock { 
        top:-8px;
        right:-8px;
    }
    ul.products li.product.grid.classic span.added {
        top:50px;
    }
    ul.products li.product .onsale {
        margin: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        width: auto;
    }
    ul.products li.product .onsale {
        top: 0;
        right: 0;
        left: auto;
    }
    ul.products li.product.grid.classic h3 { 
        float:left;
        max-width: 65%;
        padding:0; 
        text-align:left;
    }
    ul.products li.product.grid.classic span.price { 
        float:right; 
        margin:0; 
        padding-bottom: 0;
    }
    ul.products li.product.grid.classic a.button {
        display:block; 
        float:right; 
        clear:right; 
        margin-top:14px;
    }
    ul.products li.product.grid.classic .product-description.show-on-classic { 
        display:block; 
        clear:both; 
        padding-top:10px;
    }
    ul.products li.product.grid.classic .classic-rating {
        text-align: left; 
    }
    ul.products li.product.grid.classic .classic-rating .star-rating { 
        margin:0; 
        display:inline-block; 
    }
    a.button{
        margin-top: 15px;
        background-color: #e89222;
        background-image: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 0;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 800;
        display: inline-block;
        line-height: 18px;
        padding: 4px 8px 4px 8px;
        position: relative;
        -webkit-box-shadow: 0 2px 0 #cd6b02;
        -moz-box-shadow: 0 2px 0 #cd6b02;
        box-shadow: 0 2px 0 #cd6b02;
        text-shadow: none;
    }
    .product .product-actions .action div {
        display: inline;
    }
    .product .product-actions .action div {
        display: inline;
    }
    ul.products li.product a {
        text-decoration: none;
    }
    .product .product-actions a {
        font-size: 10px;
        color: #7a7979;
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
    }
    .product .product-actions { 
        clear:both; 
        margin-top:35px;
        border-top:3px solid #d5d4d4;
        margin-left: -10px;
        margin-right: -10px; 
    }
    .product .product-actions .action {
        box-sizing: border-box; 
        -moz-box-sizing: border-box;
        border-left: 2px solid #e6e6e6; 
        float: left; 
    }
    ul.products li.product.grid.with-hover .grid-add-to-cart a.button {
        background-color: #e89222;
    }
    .product .product-actions .action div {
        display: inline; 
    }
    .product .product-actions .action.first {
        border-left: 0; 
    }
    .product .product-actions.buttons_1 .action { 
        width: 100%; 
    }
    .product .product-actions.buttons_2 .action { 
        width: 50%; 
    }
    .product .product-actions.buttons_3 .action { 
        width: 33.33%;
    }
    .product .product-actions .action i { 
        display: inline-block;
        width: 18px;
        height: 16px; 
        margin-bottom: -7px;
        margin-right: 6px; 
        background: url('../images/sprite.png') no-repeat; 
    }
    .product .product-actions .action.compare i  { 
        background-position: 0px -488px; 
    }
    .product .product-actions .action.wishlist i { 
        background-position: 0px -507px; 
    }
    .product .product-actions .action.compare:hover i  {
        background-position: -143px -488px; 
    }
    .product .product-actions .action.wishlist:hover i {
        background-position: -143px -507px;
    }
    .product .product-actions a { 
        font-size: 10px; 
        color: #7a7979; 
        display: block; 
        padding: 10px 0; 
        text-transform: uppercase; 
    }
    .product .product-actions a:hover {
        color: #121212; 
    }
}