.type-505 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-505 .clear {
  clear: both;
}
.type-505 div {
  border: 0;
  font-size: 100%;
  margin: 5px 0 0 0;
  display: block;
}
.type-505 p {
  margin: 0 0 10px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border: 0;
  font-size: 100%;
  padding: 0;
}
.type-505 .smallm_title.bigger {
  font-size: 18px;
}
.type-505 .smallm_title.centered {
  text-align: center;
}
.type-505 .smallm_title {
  color: #CD2122;
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  font-weight: 700;
  border-bottom: 1px solid #bcbcbc;
  margin: 0 0 20px;
}
.type-505 .smallm_title span {
  padding-bottom: 9px;
  display: inline-block;
  border-bottom: 1px solid #bcbcbc;
  position: relative;
}
.type-505 .feature_box.style2 .box {
  min-height: 90px;
}
.type-505 .feature_box .box {
  margin-bottom: 15px;
}
.type-505 .feature_box.style2 span.icon {
  margin-right: 14px;
  display: inline-block;
  padding: 8px;
  background: #646464;
  float: left;
  border-radius: 50%;
}
.type-505 .feature_box.style2 span.icon img {
  vertical-align: middle;
}
.type-505 .feature_box .title {
  font-size: 14px;
  font-weight: 700;
  color: #CD2122;
  text-shadow: 1px 1px 0 white;
  vertical-align: middle;
}
.type-505 .feature_box.style2 p {
  margin-left: 50px;
}
.type-505 .feature_box .box .title + p {
  min-height: 60px;
}
.type-505 a {
  text-decoration: none;
}
