.type-592{
    .contact{
        .wpcf7-textarea{
            width: 94%;
        }
        .aq-block-title{    
            font-weight: bold;
                margin-top: 20px;
        }
        .sc_stats {
            margin: 60px 0;
            text-align: center;
            position: relative;
            z-index: 0;
            padding: 20px 10px;
            .fa {
                color: #34d298;
                font-size: 40px;
                padding-top: 25px;
            }
            .milestone-details {
                font-size: 18px;
            }
            .highlight {
                font-size: 48px;
                font-weight: 500;
                line-height: 1;
                margin: 30px 0 0;
                color: #818181;
            }
        }
        .sc_stats:after {
            border: 1px solid #dededb;
            border-radius: 5px;
            bottom: 0;
            content: "";
            left: 0;
            opacity: 0.85;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            margin: 10px;
            background: #f9f9f9;
        }
        input[type="submit"] {
            background: #34d298;
        }
        .btn, #searchsubmit, #submit, .wpcf7-submit, #content input.button, button, html input[type="button"], input[type="reset"], input[type="submit"] {
            padding: 10px 20px;
            background: #34D298;
            border: none;
            border-radius: 3px;
            text-shadow: none;
            color: #FFF;
            font-weight: 300;
            font-size: 18px;
        }
        select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, #respond textarea, #respond input[type="text"] {
            max-width: 100%;
            background-color: #f9f9f9;
            border: 1px solid #ededed;
            height: 50px;
            -webkit-appearance: none;
            border-radius: 3px;
            color: #78879E;
            margin: 0 0 20px;
            outline: 0 none;
            padding: 13px 4%;
            resize: none;
        }
        p {
            margin: 10px 0;
        }
        .sc-feature-box{
            .fa {
                color: #fff;
                font-size: 60px;
                padding-top: 15px;
            }
            .hi-icon {
                display: inline-block;
                cursor: pointer;
                margin: 15px 30px;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                text-align: center;
                position: relative;
                z-index: 1;
                color: #fff;
                background-color: #34d298;
            }
        }
    }
}