.type-565{
    
    @color_fff: #fff;
    @color_eee: #eee;
    
    .clearfix:before {
        content: "";
        display: table;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .content {
        background: @color_fff;
        position: relative;
        clear: both;
        .single .tags {
            margin: 70px auto 0 auto;
            p {
                color: #666;
                font: bold 12px 'arial', trebuchet ms;
            }
        }
        .main-side {
            float: left;
            position: relative;
            border:1px solid #ddd;
            .top_single_area {
                border: none;
                overflow: hidden;
                margin-bottom: 25px;
                display: table;
                width: 100%;
                h1 {
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 15px;
                    margin: 0 0 20px 0;
                }
                .post-meta {
                    overflow: hidden;
                    margin-bottom: 15px;

                }
                .cat_link_meta {
                    text-transform: uppercase;
                    font-style: normal;
                }
                .featured_single_left {
                    width: 135px;
                    height: 135px;
                    margin: 0 0 20px 0;
                    padding-right: 20px;
                    display: table-cell;
                    vertical-align: top;
                    figure {
                        width: 135px;
                        height: 135px;
                        max-width: 135px;
                        border: 1px solid @color_eee;
                        box-sizing: border-box;
                        padding: 5px;
                        vertical-align: middle;
                        text-align: center;
                        position: relative;
                        display: table-cell;
                        img {
                            width: auto;
                            max-height: 123px;
                        }
                        lazyimages {
                            transition: opacity .5s ease-in;
                        }
                    }
                }
                .single_top_main, .single_top_corner {
                    display: table-cell;
                    vertical-align: top;
                    .more-from-store-a {
                        margin: 0 5px;
                    }
                    .top_share { 
                        .post_share {
                            text-align: left;
                            margin: 0 0 12px 0;
                            overflow: hidden;
                            .social_icon { 
                                .fb {
                                    background-color: #39599F;
                                }
                                .tw {
                                    background-color: #6cf;
                                }
                                .pn {
                                    background-color: #ca212a;
                                }
                                .gp {
                                    background-color: #eb4026;
                                }
                            }
                            .row_social_inpost { 
                                span { 
                                    i {
                                        font-size: 13px;
                                    }
                                }
                                span.share-link-image {
                                    box-shadow: 0 1px 2px #E4E4E4;
                                    width: auto;
                                    min-width: 20px;
                                    height: 35px;
                                    line-height: 13px;
                                    float: left;
                                    margin: 0 6px 6px 0;
                                    font-size: 16px;
                                    padding: 5px 7px;
                                    color: @color_fff !important;
                                    cursor: pointer;
                                    display: inline-block;
                                    text-align: center;
                                    position: relative;
                                }
                            }
                        }
                    }
                    .brand_logo_small {
                        color: #666;
                        font-size: 12px;
                        line-height: 16px;
                        clear: both;
                        img {
                            max-width: 80px;
                            max-height: 40px;
                        }
                    }
                    .floatright {
                        float: right;
                    }
                }
            }
            .breadcrumb {
                margin-bottom: 15px;
                color: #111;
                font: 12px 'arial', trebuchet ms;
                a {
                    color: #111;
                }
            }
            .single_top_postproduct {
                clear: both;
                overflow: hidden;
                padding: 20px 0;
                border-top: 1px solid @color_eee;
                border-bottom: 1px solid @color_eee;
                margin-bottom: 30px;
                .left_st_postproduct {
                    float: left;
                    .post_thumbs_wrap {
                        float: left;
                        margin-right: 20px;
                    }
                    .post-meta {
                        float: left;
                        line-height: 32px;
                        font-size: 12px;
                        margin-bottom: 0;
                        span {
                            margin-right: 12px;
                        }
                    }
                    .dealScoreWrap { 
                        .thumbminus {
                            height: 32px;
                            width: 32px;
                            line-height: 32px;
                            margin-top:-8px;
                            height: 32px;
                            width: 32px;
                            line-height: 32px;
                        }
                        .thumbplus {
                            height: 32px;
                            width: 32px;
                            line-height: 32px;
                            margin-top:-8px;
                        }
                        .dealScore {
                            float: left;
                            margin-right: 10px;
                            margin-top: -4px;
                            .label {
                                display: inline-block;
                                float: left;
                                height: 32px;
                                text-align: center;
                                font-size: 14px;
                                background: #96CA4E;
                                padding: 0 13px;
                                line-height: 32px;
                                color: @color_fff;
                                font-weight: bold;
                                border-radius: 4px 0px 0px 4px;
                                margin-top: -4px;
                            }
                            .thumbscount {
                                margin: 0;
                                display: inline-block;
                                float: left;
                                height: 32px;
                                width: auto;
                                min-width: 50px;
                                text-align: center;
                                font-size: 18px;
                                background: #DAECC2;
                                padding: 0 5px;
                                color: #333 !important;
                                line-height: 32px;
                                border-radius: 0px 4px 4px 0px;
                                margin-top: -4px;
                            }
                        }
                    }
                }
                .right_st_postproduct {
                    float: right;
                    .single_price_count {
                        font-size: 21px;
                        font-weight: bold;
                        float: left;
                        margin-top: 4px;
                        max-width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        del {
                            font-size: 14px;
                            font-weight: normal;
                            color: #ccc;
                        }
                    }
                    .btn_block_part {
                        display: inline-block;
                        margin-left: 15px;
                        .btn_offer_block{
                            background: none #2caa17 !important;
                            box-shadow: 0 2px 2px #E7E7E7 !important;
                            color: @color_fff !important;
                            border-radius: 0 !important;
                            text-decoration: none !important;
                            border: none !important;
                            font: 700 15px/17px 'Roboto', trebuchet ms;
                            padding: 0.5em 1em 0.5em 1em;
                            text-transform: uppercase;
                            position: relative;
                            text-align: center;
                        }
                    }
                }
            }
            .wpsm_update {
                clear: both;
                background-color: #d9edf7;
                border: 1px solid #bce8f1;
                padding: 15px;
                margin-bottom: 20px;
                border-radius: 4px;
                line-height: 22px;
                li {
                    margin: 0 0 5px 0;
                }
                .label-info {
                    background-color: #5bc0de;
                    display: inline-block;
                    margin: 0 5px 0 0;
                    padding: 3px 6px;
                    font-size: 75%;
                    font-weight: 700;
                    color: @color_fff;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: .25em;
                    line-height: 14px;
                }
                ul {
                    margin: 20px 0 0 20px;
                    li {
                        list-style: disc;
                    }
                }
            }
            .wpsm_box {
                display: block;
                font-size: 15px;
                box-sizing: border-box;
            }
            .aligncenter, img.aligncenter {
                clear: both;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .author_detail_box {
                background-color: @color_fff;
                border: 1px solid #ddd;
                padding: 15px 0px;
                margin: 5px auto 40px auto;
                position: relative;
                min-height: 90px;
                .avatar {
                    width: 71px;
                    position: absolute;
                    left: 20px;
                    top: 15px;
                }
                div {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 20px 0 110px;
                    h4 {
                        margin: 0 0 8px 0;
                    }
                    .social_icon {
                        border-bottom: 1px solid #cecece;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                    }
                    p {
                        font: 14px/16px 'arial', trebuchet ms;
                        color: #111;
                        margin: 0 0 10px 0;
                    }
                }
                .rh_mycred-users-badges {
                    display: inline-block;
                    margin-right: 5px;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin: 0 5px 0 0;
                    }
                }
                .see_full_profile_btn{
                    float:right;
                    margin:0 10px 10px 10px;
                    color: #fa9e19;
                }
                .rh-user-rank-mc {
                    font: normal 12px/12px Arial;
                    color: @color_fff;
                    display: inline-block;
                    border-radius: 3px;
                    vertical-align: top;
                    padding: 3px 5px;
                    margin: 0 4px;
                }
            }
        }
    }
    .separate_sidebar_bg .content {
        margin: 20px auto;
        background-color: transparent;
        padding: 25;
    }
    .separate_sidebar_bg .main-side:not(.visual_page_builder) {
        box-sizing: border-box;
        background-color: @color_fff;
    }
    .colored_bg .main-side:not(.visual_page_builder) {
        border: 1px solid #ddd;
        padding: 25px;
        box-shadow: 0 2px 2px #ECECEC;
    }
    article {
        font: 16px/24px 'arial', trebuchet ms;
        color: #111;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        display: block;
        .post {
            margin-bottom: 15px;
            counter-reset: wpsmtop;
            word-wrap: break-word;
            a {
                text-decoration: none;          
                color: #111;
            }
            ul {
                margin: 0 0 15px 5px;
                li {
                    list-style: disc outside none;
                }
            }
            li {
                margin: 0 0 5px 15px;
            }
        }
    }
    div {
        margin: 8px;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        display: block;
    }
    a{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        outline: none !important;
        transition: all 0.4s ease 0s;
    }
    .span{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .share-link-image:hover{
        top:2px;
    }
    .btn_block_part .btn_offer_block:hover{
        background:none #2caa17 !important;
        color:@color_fff !important;
        opacity:0.8;
        box-shadow: none !important;
        border-color: transparent;
    }
    img {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        max-width: 100%;
        height: auto;
        vertical-align: top;
        border: 0;
    }
    h1 {
        font: 700 28px/38px 'Roboto', trebuchet ms, arial;
        color: #111;
        letter-spacing: -0.5px;
    }
    .hoticonfireclass:before {
        font-family: FontAwesome;
        content: "\f06d";
        margin-right: 8px;
        color: #CA212A;
    }
    .post-meta {
        font-size: 11px;
        line-height: 12px;
        font-style: italic;
        color: #999;
    }
    .post-meta span {
        display: inline-block;
        margin-right: 3px;
    }
    .post-meta span a, .post-meta a.admin {
        color: #111;
        text-decoration: none;
    }
    .admin_meta .admin img {
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
    }
    .post-meta span {
        display: inline-block;
        margin-right: 3px;
    }
    span.date_meta:before, span.cat_link_meta:before, span.comm_count_meta:before, span.postview_meta:before, span.admin_meta:before {
        font-size: 3px;
        line-height: 12px;
        vertical-align: middle;
        padding-right: 3px;
        content: "\f111";
        font-family: FontAwesome;
    }
    .post-meta span {
        display: inline-block;
        margin-right: 3px;
    }
    .store_post_meta_item {
        font-size: 12px;
        line-height: 14px;
    }
    .post-meta span a {
        color: #111;
        text-decoration: none;
    }
    .more-from-store-a a:before {
        font-family: FontAwesome;
        content: "\f292";
        margin-right: 2px;
        font-style: normal;
        color: #999;
    }
    .post_share {
        position: relative;
        clear: both;
    }
    i{
        margin: 8px;
        padding: 0;
        border: 0; 
        vertical-align: baseline;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .fa-facebook-f:before, .fa-facebook:before {
        content: "\f09a";
    }
    .row_social_inpost span.fb:after {
        content: "Facebook";
        font-size: 12px;
        text-decoration: none;
        margin-left: 8px;
    }
    .single_top_corner {
        display: table-cell;
        vertical-align: top;
    }
    .single_top_corner {
        padding-left: 20px;
    }
    thumbscount {
        font: 14px/29px Arial;
    }
    .table_cell_thumbs {
        overflow: hidden;
    }
    .thumbplus, .thumbminus {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #dcddde;
        border-radius: 4px;
        outline: none;
    }
    .thumbplus {
        color: #67a827;
        margin: 0 8px 0 0;
    }
    .thumbplus:hover {
        background-color: #67a827;
        border: 1px solid #67a827;
        color: @color_fff;
    }
    .thumbplus:before {
        font-family: FontAwesome;
        content: "\f087";
        line-height: 25px;
        display: inline-block;
    }
    .thumbminus {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #dcddde;
        border-radius: 4px;
        outline: none;
    }
    .thumbminus {
        color: #d10000;
    }
    .thumbminus:hover {
        background-color: #d10000;
        color: @color_fff;
        border: 1px solid #d10000;
    }
    .thumbminus:before {
        font-family: FontAwesome;
        content: "\f088";
        line-height: 25px;
        display: inline-block;
    }
    span.date_meta:before, span.cat_link_meta:before, span.comm_count_meta:before, span.postview_meta:before, span.admin_meta:before {
        line-height: 12px;
        vertical-align: middle;
        padding-right: 3px;
        font-family: FontAwesome;
    }
    span.postview_meta:before {
        content: "\f06e";
        font-size: 12px;
        font-style: normal;
    }
    article p {
        margin: 0 0 28px 0;
    }
    p{
        display: block;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    ul {
        list-style: none;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    element.style {
        color: #ff0000;
    }
    strong{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    p strong {
        font-weight: bold;
    }
    .wpsm_box.nonefloat_box {
        float: none;
    }
    .wpsm_box.info_type {
        border-bottom-style: solid;
        border-top-style: solid;
        border-width: 1px;
        color: #363636;
        min-height: 52px;
        padding: 15px 15px 15px 20px;
        margin: 0 0 25px 0;
        overflow: auto;
    }
    .wpsm_box.info_type {
        background-color: #F0FFDE;
        border-color: #ABE19A;
        i {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            text-decoration: inherit;
            -webkit-font-smoothing: antialiased;
            display: inline;
            width: auto;
            height: auto;
            line-height: normal;
            vertical-align: baseline;
            background-image: none;
            background-position: 0% 0%;
            background-repeat: repeat;
            margin-top: 0;
            font-size: 27px;
            float: left;
            margin: 0 14px 10px 0;
        }
    }
    .wpsm_box.info_type i:before {
        content: "\f0c6";
        color: #53A34C;
    }
    h5 {
        display: block;
        padding: 0;
        border: 0;  
        vertical-align: baseline;
        font: 700 16px/18px 'Roboto', trebuchet ms;
        color: #111;
        margin: 10px 0 15px 0;
    }
    .wpsm_box.warning_type {
        background-color: #FFF7F4;
        border-color: #F38867;
        color: #A61818;
    }
    .float-posts-nav {
        opacity: 1;
        transition: all .7s ease-in-out;
    }
    file_btn {
        float: right;
        margin: 0 10px 10px 10px;
    }
    h4 {
        display: block;
        vertical-align: baseline;
        padding: 0;
        border: 0;
        font: 700 18px/21px 'Roboto', trebuchet ms;
        color: #111;

    }
    h4 a{
        color: #111;
        text-decoration: none !important;
    }
    span.rh-user-rank-mc.rh-user-rank-259 {
        background-color: #FF6A00;
    }
    .comm_meta_cred {
        margin: 9px 0;
        font-size: 12px;
        line-height: 18px;
    }
    .fa-star-o:before {
        content: "\f006";
    }
    .wpsm_box.warning_type, .wpsm_box.error_type, .wpsm_box.download_type, .wpsm_box.note_type {
        border-bottom-style: solid;
        border-top-style: solid;
        border-width: 1px;
        min-height: 52px;
        padding: 15px 15px 15px 20px;
        margin: 0 0 25px 0;
        overflow: auto;
    }


    /*****Media screen*****/
    @media screen and (min-width: 1225px){
        .separate_sidebar_bg .main-side:not(.full_width){
            width: 840px;
        }
    }
    @media screen and (min-width: 1225px){
        .separate_sidebar_bg .content {
            box-shadow: none;
            width: 1200px;
        }
    }
    @media screen and (max-width: 767px){
        .separate_sidebar_bg{
            width: 100%;
        }
    }
    @media screen and (max-width: 700px){
        .single_top_main{
            display: block;
        }
        .single_top_corner{
            display: block;
            padding: 0;
        }
        .single_top_postproduct {
            border-top: none;
            padding: 0 0 20px 0;
        }
    }
    @media screen and (max-width: 700px){
        .featured_single_left{
            padding: 0;
            margin: 0 auto 30px auto;
        }
    }
    .see_full_profile_btn:hover{
        color:#000;
        text-decoration: none;
    }
}