.type_a_2_chitiet_1{
    .separate_sidebar_bg .content {
        margin: 20px auto;
        background-color: transparent;
        padding: 25;
    }
    .main-side {
        float: left;
        position: relative;
        border:1px solid #ddd;

    }
    .separate_sidebar_bg .main-side:not(.visual_page_builder) {
        box-sizing: border-box;
        background-color: #fff;
    }
    .colored_bg .main-side:not(.visual_page_builder) {
        border: 1px solid #ddd;
        padding: 25px;
        box-shadow: 0 2px 2px #ECECEC;
    }
    article {
        font: 16px/24px 'arial', trebuchet ms;
        color: #111;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        display: block;

    }
    .post {
        margin-bottom: 15px;
    }
    article.post {
        counter-reset: wpsmtop;
        word-wrap: break-word;
    }
    div {
        margin: 8px;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        display: block;
    }
    .breadcrumb {
        margin-bottom: 15px;
        color: #111;
        font: 12px 'arial', trebuchet ms;
    }
    a:-webkit-any-link {

        cursor: auto;
    }
    a{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        outline: none !important;
        transition: all 0.4s ease 0s;
    }
    .post a {
        text-decoration: none;
    }
    .breadcrumb a {
        color: #111;
    }
    .span{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .share-link-image:hover{
        top:2px;
    }
    .btn_block_part .btn_offer_block:hover{
        background:none #2caa17 !important;
        color:#fff !important;
        opacity:0.8;
        box-shadow: none !important;
        border-color: transparent;

    }
    .main-side .top_single_area {
        border: none;
        overflow: hidden;
        margin-bottom: 25px;
        display: table;
        width: 100%;
    }
    .featured_single_left {
        width: 135px;
        height: 135px;
        margin: 0 0 20px 0;
        padding-right: 20px;
        display: table-cell;
        vertical-align: top;
    }

    .featured_single_left figure {
        width: 135px;
        height: 135px;
        max-width: 135px;
        border: 1px solid #eee;
        box-sizing: border-box;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
        position: relative;
        display: table-cell;
    }
    img{
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        max-width: 100%;
        height: auto;
        vertical-align: top;
        border: 0;
    }
    img.lazyimages {
        transition: opacity .5s ease-in;
    }
    .featured_single_left figure img {
        width: auto;
        max-height: 123px;
    }
    .single_top_main, .single_top_corner {
        display: table-cell;
        vertical-align: top;
    }
    h1 {
        font: 700 28px/38px 'Roboto', trebuchet ms, arial;
        color: #111;
        letter-spacing: -0.5px;
    }
    .top_single_area h1 {
        margin: 0 0 20px 0;
    }
    .main-side .top_single_area h1 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .hoticonfireclass:before {
        font-family: FontAwesome;
        content: "\f06d";
        margin-right: 8px;
        color: #CA212A;
    }
    .post-meta {
        font-size: 11px;
        line-height: 12px;
        font-style: italic;
        color: #999;
    }
    .top_single_area .post-meta {
        overflow: hidden;
        margin-bottom: 15px;

    }
    .post-meta span {
        display: inline-block;
        margin-right: 3px;
    }
    .post-meta span a, .post-meta a.admin {
        color: #111;
        text-decoration: none;
    }
    .admin_meta .admin img {
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
    }
    .post-meta span {
        display: inline-block;
        margin-right: 3px;
    }
    span.date_meta:before, span.cat_link_meta:before, span.comm_count_meta:before, span.postview_meta:before, span.admin_meta:before {
        font-size: 3px;
        line-height: 12px;
        vertical-align: middle;
        padding-right: 3px;
        content: "\f111";
        font-family: FontAwesome;
    }
    .top_single_area .cat_link_meta {
        text-transform: uppercase;
        font-style: normal;
    }
    .more-from-store-a {
        margin: 0 5px;
    }
    .post-meta span {
        display: inline-block;
        margin-right: 3px;
    }
    .store_post_meta_item {
        font-size: 12px;
        line-height: 14px;
    }
    .post-meta span a {
        color: #111;
        text-decoration: none;
    }
    .more-from-store-a a:before {
        font-family: FontAwesome;
        content: "\f292";
        margin-right: 2px;
        font-style: normal;
        color: #999;
    }
    .post_share {
        position: relative;

        clear: both;
    }
    .top_share .post_share {
        text-align: left;
        margin: 0 0 12px 0;
        overflow: hidden;
    }
    .share-link-image {
        color: #fff !important;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        position: relative;

    }
    .social_icon .fb {
        background-color: #39599F;
    }
    .row_social_inpost span.share-link-image {
        box-shadow: 0 1px 2px #E4E4E4;
        width: auto;
        min-width: 20px;
        height: 35px;
        line-height: 13px;
        float: left;
        margin: 0 6px 6px 0;
        font-size: 16px;
        padding: 5px 7px;
    }
    i{
        margin: 8px;
        padding: 0;
        border: 0; 
        vertical-align: baseline;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .row_social_inpost span i {
        font-size: 13px;
    }
    .fa-facebook-f:before, .fa-facebook:before {
        content: "\f09a";
    }
    .row_social_inpost span.fb:after {
        content: "Facebook";
        font-size: 12px;
        text-decoration: none;
        margin-left: 8px;
    }
    .clearfix:before {
        content: "";
        display: table;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .single_top_corner {
        display: table-cell;
        vertical-align: top;
    }
    .single_top_corner {
        padding-left: 20px;
    }
    .floatright {
        float: right;
    }
    .brand_logo_small {
        color: #666;
        font-size: 12px;
        line-height: 16px;
    }
    .single_top_corner .brand_logo_small {
        clear: both;
    }
    .post a {
        text-decoration: none;
        color: #111;
    }
    single_top_corner .brand_logo_small img {
        max-width: 80px;
        max-height: 40px;
    }
    .single_top_postproduct {
        clear: both;
        overflow: hidden;
        padding: 20px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
    }
    .left_st_postproduct {
        float: left;
    }
    .left_st_postproduct .post_thumbs_wrap {
        float: left;
    }
    .left_st_postproduct .post_thumbs_wrap {
        margin-right: 20px;
    }
    .dealScore {
        float: left;
        margin-right: 10px;
        margin-top: -4px;
    }
    .dealScore .label {
        display: inline-block;
        float: left;
        height: 32px;
        text-align: center;
        font-size: 14px;
        background: #96CA4E;
        padding: 0 13px;
        line-height: 32px;
        color: #fff;
        font-weight: bold;
        border-radius: 4px 0px 0px 4px;
        margin-top: -4px;
    }
    thumbscount {
        font: 14px/29px Arial;
    }
    .dealScore .thumbscount {
        margin: 0;
        display: inline-block;
        float: left;
        height: 32px;
        width: auto;
        min-width: 50px;
        text-align: center;
        font-size: 18px;
        background: #DAECC2;
        padding: 0 5px;
        color: #333 !important;
        line-height: 32px;
        border-radius: 0px 4px 4px 0px;
        margin-top: -4px;
    }
    .table_cell_thumbs {
        overflow: hidden;
    }
    .thumbplus, .thumbminus {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #dcddde;
        border-radius: 4px;
        outline: none;
    }
    .thumbplus {
        color: #67a827;
        margin: 0 8px 0 0;
    }
    .dealScoreWrap .thumbplus {
        height: 32px;
        width: 32px;
        line-height: 32px;
        margin-top:-8px;
    }
    .thumbplus:hover {
        background-color: #67a827;
        border: 1px solid #67a827;
        color: #fff;
    }
    .thumbplus:before {
        font-family: FontAwesome;
        content: "\f087";
        line-height: 25px;
        display: inline-block;
    }
    .thumbminus {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #dcddde;
        border-radius: 4px;
        outline: none;
    }
    .thumbminus {
        color: #d10000;
    }
    dealScoreWrap .thumbminus {
        height: 32px;
        width: 32px;
        line-height: 32px;
    }
    .thumbminus:hover {
        background-color: #d10000;
        color: #fff;
        border: 1px solid #d10000;
    }
    .thumbminus:before {
        font-family: FontAwesome;
        content: "\f088";
        line-height: 25px;
        display: inline-block;
    }
    .left_st_postproduct .post-meta {
        float: left;
    }
    .left_st_postproduct .post-meta {
        line-height: 32px;
        font-size: 12px;
        margin-bottom: 0;
    }
    .left_st_postproduct .post-meta span {
        margin-right: 12px;
    }
    span.date_meta:before, span.cat_link_meta:before, span.comm_count_meta:before, span.postview_meta:before, span.admin_meta:before {
        line-height: 12px;
        vertical-align: middle;
        padding-right: 3px;
        font-family: FontAwesome;
    }
    span.postview_meta:before {
        content: "\f06e";
        font-size: 12px;
        font-style: normal;
    }
    .right_st_postproduct {
        float: right;
    }
    .single_price_count {
        font-size: 21px;
        font-weight: bold;
        float: left;
        margin-top: 4px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .single_price_count del {
        font-size: 14px;
        font-weight: normal;
        color: #ccc;
    }
    .btn_block_part {
        display: inline-block;
        margin-left: 15px;
    }
    .btn_block_part .btn_offer_block{
        background: none #2caa17 !important;
        box-shadow: 0 2px 2px #E7E7E7 !important;
        color: #fff !important;
        border-radius: 0 !important;
        text-decoration: none !important;
        border: none !important;
        font: 700 15px/17px 'Roboto', trebuchet ms;
        padding: 0.5em 1em 0.5em 1em;
        text-transform: uppercase;
        position: relative;
        text-align: center;

    }
    .wpsm_update .label-info {
        background-color: #5bc0de;
        display: inline-block;
        margin: 0 5px 0 0;
        padding: 3px 6px;
        font-size: 75%;
        font-weight: 700;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        line-height: 14px;
    }
    .wpsm_update {
        clear: both;
        background-color: #d9edf7;
        border: 1px solid #bce8f1;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 4px;
        line-height: 22px;
    }
    article p {
        margin: 0 0 28px 0;
    }
    p{
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    ul {
        list-style: none;
    }
    .wpsm_update ul {
        margin: 20px 0 0 20px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .wpsm_update li {
        margin: 0 0 5px 0;
    }
    .wpsm_update ul li {
        list-style: disc;
    }
    element.style {
        color: #ff0000;
    }
    strong{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    p strong {
        font-weight: bold;
    }
    .wpsm_box {
        display: block;

        font-size: 15px;

        box-sizing: border-box;
    }
    .wpsm_box.nonefloat_box {
        float: none;
    }
    .wpsm_box.info_type {
        border-bottom-style: solid;
        border-top-style: solid;
        border-width: 1px;
        color: #363636;
        min-height: 52px;
        padding: 15px 15px 15px 20px;
        margin: 0 0 25px 0;
        overflow: auto;
    }
    .wpsm_box.info_type {
        background-color: #F0FFDE;
        border-color: #ABE19A;
    }
    element.style {
        text-align: left;
        width: 100%;
    }
    .wpsm_box.info_type i {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        display: inline;
        width: auto;
        height: auto;
        line-height: normal;
        vertical-align: baseline;
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
        margin-top: 0;
        font-size: 27px;
        float: left;
        margin: 0 14px 10px 0;
    }
    .wpsm_box.info_type i:before {
        content: "\f0c6";
        color: #53A34C;
    }
    h5 {
        display: block;
        -webkit-margin-before: 1.67em;
        -webkit-margin-after: 1.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        padding: 0;
        border: 0;  
        vertical-align: baseline;
        font: 700 16px/18px 'Roboto', trebuchet ms;
        color: #111;
        margin: 10px 0 15px 0;
    }
    .post ul {
        margin: 0 0 15px 5px;
    }
    .post li {
        margin: 0 0 5px 15px;
    }
    .post ul li {
        list-style: disc outside none;
    }
    .aligncenter, img.aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .wpsm_box.warning_type {
        background-color: #FFF7F4;
        border-color: #F38867;
        color: #A61818;
    }
    .float-posts-nav {
        opacity: 1;
        transition: all .7s ease-in-out;
    }
    .single .tags {
        margin: 70px auto 0 auto;
    }
    .single .tags p {
        color: #666;
        font: bold 12px 'arial', trebuchet ms;
    }
    .author_detail_box {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px 0px;
        margin: 5px auto 40px auto;
        position: relative;
        min-height: 90px;
    }
    .author_detail_box .avatar {
        width: 71px;
        position: absolute;
        left: 20px;
        top: 15px;
    }
    .author_detail_box>div {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px 0 110px;
    }
    file_btn {
        float: right;
        margin: 0 10px 10px 10px;
    }
    h4 {
        display: block;
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        vertical-align: baseline;
        padding: 0;
        border: 0;
        font: 700 18px/21px 'Roboto', trebuchet ms;
        color: #111;

    }
    .author_detail_box div h4 {
        margin: 0 0 8px 0;
    }
    h4 a{
        color: #111;
        text-decoration: none !important;
    }
    .rh-user-rank-mc {
        font: normal 12px/12px Arial;
        color: #fff;
        display: inline-block;
        border-radius: 3px;
        vertical-align: top;
        padding: 3px 5px;
        margin: 0 4px;
    }
    span.rh-user-rank-mc.rh-user-rank-259 {
        background-color: #FF6A00;
    }
    .author_detail_box div .social_icon {
        border-bottom: 1px solid #cecece;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .comm_meta_cred {
        margin: 9px 0;
        font-size: 12px;
        line-height: 18px;
    }
    .author_detail_box .rh_mycred-users-badges {
        display: inline-block;
        margin-right: 5px;
    }
    .rh_mycred-users-badges img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 5px 0 0;
    }
    .fa-star-o:before {
        content: "\f006";
    }
    .author_detail_box div p {
        font: 14px/16px 'arial', trebuchet ms;
        color: #111;
        margin: 0 0 10px 0;
    }
    @media screen and (min-width: 1225px){
        .separate_sidebar_bg .main-side:not(.full_width){
            width: 840px;
        }
    }
    .social_icon .tw {
        background-color: #6cf;
    }
    .social_icon .pn {
        background-color: #ca212a;
    }
    .social_icon .gp {
        background-color: #eb4026;
    }
    .wpsm_box.warning_type, .wpsm_box.error_type, .wpsm_box.download_type, .wpsm_box.note_type {
        border-bottom-style: solid;
        border-top-style: solid;
        border-width: 1px;
        min-height: 52px;
        padding: 15px 15px 15px 20px;
        margin: 0 0 25px 0;
        overflow: auto;
    }
    .dealScoreWrap .thumbminus {
        height: 32px;
        width: 32px;
        line-height: 32px;
        margin-top:-8px;
    }
    .content {
        background: #fff;

        position: relative;
        clear: both;
        -webkit-box-sizing: border-box;
    }

    @media screen and (min-width: 1225px){
        .separate_sidebar_bg .content {
            box-shadow: none;
            width: 1200px;
        }
    }
    @media screen and (max-width: 767px){
        .separate_sidebar_bg{
            width: 100%;
        }
    }
    @media screen and (max-width: 700px){
        .single_top_main{
            display: block;
        }
        .single_top_corner{
            display: block;
            padding: 0;


        }
        .single_top_postproduct {
            border-top: none;
            padding: 0 0 20px 0;
        }

    }
    @media screen and (max-width: 700px){
        .featured_single_left{
            padding: 0;
            margin: 0 auto 30px auto;
        }
    }
    .see_full_profile_btn{
        float:right;
        margin:0 10px 10px 10px;
        color: #fa9e19;
    }
    .see_full_profile_btn:hover{
        color:#000;
        text-decoration: none;
    }
}