.mod_what_we_thing a:link {
  text-decoration: none;
  color: #dbdbdb;
}
.mod_what_we_thing a:visited {
  color: #dbdbdb;
  text-decoration: none;
}
.mod_what_we_thing .sectionTitle {
  border-bottom: 3px solid #3b3b3b;
  width: 155px;
  margin-bottom: -2px;
  margin-left: -15px;
}
.mod_what_we_thing .linerow {
  border-bottom: 3px solid #e7e7e7;
  margin: 0px;
}
.mod_what_we_thing a .lineconten:hover {
  background: #f7f7f7;
}
.mod_what_we_thing a .lineconten:hover .tieudeicon strong {
  color: #fd4326;
}
.mod_what_we_thing a .lineconten:hover .tieudeicon .icon-anh {
  background-color: #fd4326;
  color: #fff;
}
.mod_what_we_thing .icon-den {
  color: #fff;
  font-size: 16px;
  padding: 5px 8px;
  background: #3b3b3b;
  width: 25px;
  height: 25px;
  border-radius: 15px;
}
.mod_what_we_thing .tieudethink {
  height: 25px;
}
.mod_what_we_thing .tieudethink strong {
  color: #6b6b6b;
  font-size: 11px;
  text-transform: uppercase;
}
.mod_what_we_thing .lineconten {
  border-bottom: 1px solid #e9e9e9;
  padding-top: 15px;
  padding-bottom: 7px;
  margin: 0px;
}
.mod_what_we_thing .thoigian {
  float: left;
  width: 225px;
  padding-top: 5px;
  color: #d6d6d6;
}
.mod_what_we_thing strong {
  color: #7c7c7c;
}
.mod_what_we_thing .tieudeicon {
  font-size: 15px;
}
.mod_what_we_thing .icon-anh {
  color: #7c7c7c;
  background: #e9e9e9;
  padding: 8px;
  margin-right: 10px;
}
.mod_what_we_thing .conment {
  padding-top: 5px;
}
.mod_what_we_thing .media-1 {
  float: right;
}
.mod_what_we_thing .media-2 {
  float: right;
}
.mod_what_we_thing .media-1 p {
  float: right;
  padding-left: 10px;
}
.mod_what_we_thing .media-2 p {
  float: right;
  padding-left: 10px;
}
.mod_what_we_thing .mide {
  padding-top: 5px;
}
.mod_what_we_thing .binhluan {
  padding-top: 10px;
}
.mod_what_we_thing .loadmoreposts {
  border-bottom: 1px solid #e9e9e9;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
}
.mod_what_we_thing .loadmoreposts:hover span {
  border-bottom: 1px solid red;
  color: red;
}
.mod_what_we_thing .loadmoreposts:hover {
  border-bottom: 1px solid red;
  color: red;
}
.mod_what_we_thing .desc {
  margin-top: 18px;
}
.mod_what_we_thing .loadmore {
  padding-top: 15px;
  padding-bottom: 7px;
  margin-bottom: 15px;
  padding: 22px;
  height: 44px;
  text-align: center;
  padding-left: 50%;
}
.mod_what_we_thing span {
  font-size: 10px;
  font-weight: bold;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #999;
  position: relative;
  text-transform: uppercase;
  padding: 0 17px 17px;
  float: left;
  width: 150px;
  margin-left: -75px;
  height: 38px;
  background: no-repeat center 0 transparent;
}
.mod_what_we_thing .all {
  margin-right: -15px;
  float: right;
  margin-top: 18px;
}
.mod_what_we_thing .blocks {
  width: 130px;
  height: 30px;
  overflow: hidden;
}
.mod_what_we_thing #endfalse ul {
  height: 30px;
  border: 1px solid #E9E9E9;
  padding: 4px 7px;
  border-radius: 30px;
  background-color: #f7f7f7;
}
.mod_what_we_thing #endfalse ul li {
  display: inline-block;
  height: 0px;
  padding: 0px 3px;
}
.mod_what_we_thing #endfalse ul li a {
  height: 0px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 10px;
  font-weight: bold;
  color: #6B6B6B;
  text-decoration: none;
}
.mod_what_we_thing #endfalse ul:hover {
  background-color: #fd4326;
}
.mod_what_we_thing #endfalse ul:hover .active {
  color: #FFF;
  opacity: 1;
}
.mod_what_we_thing #endfalse ul:hover li a {
  color: #FFF;
  opacity: .7;
}
.mod_what_we_thing #endfalse ul li a:hover {
  color: #FFF;
  opacity: 1;
}
.mod_what_we_thing .showing {
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}
