.type-516 h2,
.type-516 h4 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.type-516 #header {
  height: 100px;
}
.type-516 #logo a,
.type-516 #header a#logo {
  line-height: 95px;
  height: 100px;
}
.type-516 header {
  position: absolute;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.type-516 .logo-container.hasInfoCard {
  position: relative;
}
.type-516 .logo-container {
  float: left;
}
.type-516 #logo {
  float: left;
  margin: 0;
}
.type-516 header.style2 #logo a {
  border-top: 3px solid #cd2122;
}
.type-516 header.style2 #logo a,
.type-516 header.style2 a#logo {
  background: rgba(0,0,0,0.3);
  padding: 0 25px;
  border-bottom: 2px solid #000;
  border-bottom: 2px solid rgba(0,0,0,0.7);
  border-top: 3px solid #CD2122;
  color: #eee;
  font-size: 14px;
  width: auto;
}
.type-516 h1#logo a,
.type-516 a#logo {
  padding: 0 25px;
  display: block;
  position: relative;
}
.type-516 a {
  color: #000;
  outline: none;
}
.type-516 .logo-container.hasInfoCard:before {
  content: url(../images/hoverme.png);
  width: 98px;
  height: 35px;
  right: 100%;
  margin-right: 20px;
  top: 35px;
  position: absolute;
}
.type-516 #header.cta_button .topnav {
  margin-top: 13px;
}
.type-516 header.style2 .topnav.navLeft {
  float: left;
}
.type-516 .topnav {
  float: right;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1;
}
.type-516 ul,
.type-516 ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.type-516 .topnav > li {
  float: left;
  margin-left: 25px;
  position: relative;
}
.type-516 li {
  line-height: 20px;
}
.type-516 .topnav > li > a,
.type-516 .topnav li .menu li a {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 24px;
  display: block;
  padding: 0;
  border-radius: 2px;
  opacity: .8;
  filter: alpha(opacity=80);
}
.type-516 .topnav li.drop .pPanel {
  position: absolute;
  left: 0;
  width: auto;
  min-width: 150px;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
  margin-left: -11px;
}
.type-516 .topnav li.drop .inner {
  margin: 4px;
  list-style: none;
  background: #f5f5f5;
  padding: 4px 0;
  margin-top: 5px;
  position: relative;
  border-radius: 2px;
}
.type-516 .icon-shopping-cart {
  background-position: -360px -120px;
}
.type-516 [class^="icon-"],
.type-516 [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.type-516 .icon-globe {
  background-position: -336px -144px;
}
.type-516 .icon-white {
  background-image: url(../images/glyphicons-halflings-white.png);
}
.type-516 .topnav li.drop li a {
  font-size: 10px;
  color: #222;
  padding: 0 5px 0 10px;
  display: block;
  text-transform: uppercase;
  margin-top: 1px;
}
.type-516 .topnav li.drop li a img {
  margin-right: 4px;
  line-height: 1;
  vertical-align: middle;
  margin-top: -1px;
}
.type-516 .topnav li.drop li.active a,
.type-516 .topnav li.drop li a:hover {
  background: rgba(0,0,0,0.1);
}
.type-516 #header.cta_button .topnav.navRight {
  margin-right: 60px;
}
.type-516 #open_sliding_panel span {
  display: none;
}
.type-516 .topnav > li > a > span {
  margin-right: 3px;
  margin-top: 0;
}
.type-516 .icon-remove-circle {
  background-position: -168px -96px;
}
.type-516 #header.cta_button #search {
  position: absolute;
  top: 10px;
  right: 400px;
  clear: none;
  float: none;
}
.type-516 #search {
  float: right;
  clear: right;
  position: relative;
}
.type-516 #header.cta_button #search .searchBtn {
  margin: 0;
}
.type-516 #search .searchBtn {
  margin: 10px 0 0 10px;
  padding: 8px;
  line-height: 1;
  display: inline-block;
  background: rgba(0,0,0,0.5);
  position: relative;
  z-index: 1;
}
.type-516 .icon-search {
  background-position: -48px 0;
}
.type-516 #ctabutton:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
.type-516 #ctabutton {
  background-color: #cd2122;
}
.type-516 #ctabutton {
  clear: right;
  float: right;
  position: relative;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #cd2122;
  padding: 10px 10px 5px;
  border-radius: 2px;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: -7px;
}
.type-516 #ctabutton strong {
  font-size: 17px;
  font-weight: 900;
  display: block;
  padding: 0;
}
.type-516 #ctabutton .trisvg path {
  fill: #cd2122;
}
.type-516 body {
  padding: 10px;
}
.type-516 .show-on-hover:hover > ul.dropdown-menu {
  display: block;
}
.type-516 .main_menu {
  float: right;
  margin: 25px 0;
}
.type-516 .btn-group a {
  text-decoration: none;
  margin: 11px;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}
.type-516 .btn-group a:hover {
  background-color: #CD2122;
  border-radius: 2px;
  padding: 5px;
}
.type-516 .dropdown-menu a {
  color: #CCC;
}
.type-516 .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.type-516 .dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.type-516 .dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
.type-516 .dropdown-submenu.pull-left {
  float: none;
}
.type-516 .dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.type-516 #page_header.dark-blue {
  background-color: #345370;
}
.type-516 #page_header {
  min-height: 300px;
  border-bottom: 6px solid #fff;
}
.type-516 #page_header {
  position: relative;
  top: 0;
  z-index: 0;
}
.type-516 #page_header:after,
.type-516 #slideshow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../images/glare-effect.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.type-516 #page_header:before {
  content: '';
  position: absolute;
  bottom: -26px;
  width: 100%;
  height: 20px;
  background: url(../images/shadow-down.png) no-repeat center top;
  opacity: .6;
}
.type-516 #page_header .bgback {
  background-image: url(../images/xbg3.jpg);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.type-516 #page_header .container {
  z-index: 1;
  position: relative;
  padding: 130px 0 0;
}
.type-516 .header-titles {
  text-align: right;
}
.type-516 .header-titles h2 {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  line-height: 1.3;
  margin-top: 20px;
}
.type-516 h2 {
  font-size: 31.5px;
}
.type-516 .header-titles h4 {
  color: #fff;
  background: rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 1.8;
  padding: 0 10px;
  margin: 0;
  font-weight: 500;
}
