.type-c-9{
    .selected li {
        text-align: center;
    }
    .product-title {
        color: #525252;
        font-size: 24px;
    }
    .product-price {
        margin-top: 15px;
        font-size: 24px;
        font-weight: 700;
        color: #758991;
    }
    .product-desc {
        margin-top: 15px;
        color: #000000;
    }
    .wishlist {
        margin-top: 20px;
    }
    label1 {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        margin-right: 20px;
    }
    .variations {
        margin-top: 20px;
    }
    .product-stock {
        color: #77a464;
        margin-top: 20px;
        font-size: 16px;
    }
    .spin {
        width: 115px;
        margin-top: 20px;
        float: left;
    }
    .btn-group {
        margin-top: 20px;
    }
    .btn-group {
        margin-left: 20px;
    }
    .article-slide .carousel-indicators {
        bottom: 0;
        left: 0;
        margin-left: 0px;
    }
    .article-slide .carousel-indicators li {
        border: medium none;
        border-radius: 0;
        float: left;
        height: 99px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 5px !important;
        margin-top: 0;
        width: 99px;
    }
    .article-slide .carousel-indicators img {
        border: 2px solid #FFFFFF;
        float: left;
        height: 99px;
        left: 0;
        width: 99px;
    }
    .article-slide .carousel-indicators .active img {
        border: 1px solid #000;
        opacity: 0.7;
    }
    .col-lg-12 {
        margin-top: 220px;
    }
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 236px;
        width: 20%;
        border-radius: 0;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .btn-select .btn-select-value {
        padding: 6px 12px;
        display: block;
        position: absolute;
        left: 0;
        right: 34px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
    }
    .btn-select .btn-select-arrow {
        float: right;
        line-height: 20px;
        padding: 6px 10px;
        top: 0;
    }
    .btn-select ul {
        display: none;
        background-color: white;
        color: black;
        clear: both;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: none !important;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 33px;
        z-index: 999;
    }
    .btn-select ul li {
        padding: 3px 6px;
        text-align: left;
    }
    .btn-select ul li:hover {
        background-color: #f4f4f4;
    }
    .btn-select ul li.selected {
        color: white;
    }
    .btn-select.btn-default:hover,
        .btn-select.btn-default:active,
        .btn-select.btn-default.active {
        border-color: #ccc;
    }
    .btn-select.btn-default ul li.selected {
        background-color: #ccc;
    }
    .btn-select.btn-default ul,
    .btn-select.btn-default .btn-select-value {
        background-color: white;
        border: #ccc 1px solid;
    }
    .btn-select.btn-default:hover,
        .btn-select.btn-default.active {
        background-color: #e6e6e6;
    }
    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
    .social-network a.icoRss:hover {
        background-color: #F56505;
    }
    .social-network a.icoFacebook:hover {
        background-color: #3B5998;
    }
    .social-network a.icoTwitter:hover {
        background-color: #33ccff;
    }
    .social-network a.icoGoogle:hover {
        background-color: #BD3518;
    }
    .social-network a.icoVimeo:hover {
        background-color: #0590B8;
    }
    .social-network a.icoRss:hover i,
        .social-network a.icoFacebook:hover i,
        .social-network a.icoTwitter:hover i,
        .social-network a.icoGoogle:hover i,
        .social-network a.icoVimeo:hover i {
        color: #fff;
    }
    a.socialIcon:hover,
        .socialHoverClass {
        color: #44BCDD;
    }
    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        background: #525252;
    }
    .social-circle li i {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }
    .social-circle li a:hover i,
        .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    .social-circle i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }
    .easyzoom--with-thumbnails{
        margin: 0;
    }
    /**
     * EasyZoom core styles
     */
    .easyzoom {
        position: relative;

        /* 'Shrink-wrap' the element */
        display: inline-block;
        *display: inline;
        *zoom: 1;
        border: 1px solid #000;
    }

    .easyzoom img {
        vertical-align: bottom;
    }

    .easyzoom.is-loading img {
        cursor: progress;
    }

    .easyzoom.is-ready img {
        cursor: crosshair;
    }

    .easyzoom.is-error  img {
        cursor: not-allowed;
    }

    .easyzoom-notice {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 150;
        width: 10em;
        margin: -1em 0 0 -5em;
        line-height: 2em;
        text-align: center;
        background: #FFF;
        box-shadow: 0 0 10px #888;
    }

    .easyzoom-flyout {
        position:absolute;
        z-index: 100;
        overflow: hidden;
        background: #FFF;
    }

    /**
     * EasyZoom layout variations
     */
    .easyzoom--overlay .easyzoom-flyout {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .easyzoom--adjacent .easyzoom-flyout {

    }
    .thumbnails {
        overflow: hidden;
        margin: 1em 0;
        padding: 0;
    }

    .thumbnails li {
        display: inline-block;
    }

    .thumbnails img {
        display: block;
        min-width: 100%;
        max-width: 100%;
    }
}
