.type-509{
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    .clear{
        clear: both;
    }
    div, span{
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    .row {
        margin-bottom: 35px;
    }
    /**************************Slide Show*****************************/

    h5 {
        font-size: 14px;
        margin: 10px 0;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
        .title {
            font-weight: 500;
            margin-top: 0;
            text-shadow: 1px 1px 0 #fff;
        }
    }
    /* carousel */
    .media-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
        .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: 0px;
            margin-right: -19px;
            li 
            {
                background: #c0c0c0;
            }
        }
        img
        {
            width: 250px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
    /* Previous button  */
    .col-md-1 { 
        .carousel-control.left {
            background-image: none;
            color: #000;  
            font-weight: bold;
        }
        .carousel-control.right 
        {
            background-image: none;
            color: #000;   
            font-weight: bold;
        }
    }
    /* End carousel */
    .circlehover:hover {
        color: #fff;
        transform: scale(1.1);
        box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
    }
    a:hover {
        text-decoration: none;
        outline: 0;
    }
    /**************************Key Word***********************/
    .keywordbox {
        border-top: 4px solid #ddd;
        position: relative;
        padding-top: 30px;
        font-size: 23px;
        font-style: italic;
        text-align: center;
        color: #8D8D8D;
    }
    .keywordbox:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -3px;
        border: 6px solid transparent;
        border-top-color: #ddd;
    }
}

