.team_footer body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
.team_footer #footers {
  padding: 16px 0 16px 15px;
  width: 766px;
  height: auto;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0;
}
.team_footer #footers {
  background: url(../images/sprite.png) no-repeat;
  background-position: 10px -525px;
  padding: 16px 0 16px 70px;
  height: auto;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0;
}
.team_footer .container:before,
.team_footer .container:after {
  display: table;
  line-height: 0;
  content: "";
}
.team_footer .container:after {
  clear: both;
}
.team_footer .container:before,
.team_footer .container:after {
  display: table;
  line-height: 0;
  content: "";
}
.team_footer #footer .recent-posts .recent-post {
  margin-top: 22px !important;
}
.team_footer .recent-post .hentry-post {
  border: none;
  padding: 0px 5px 10px 0px;
  margin: 0px 0px 10px 0px;
  line-height: 20px;
  position: relative;
}
.team_footer .recent-post .thumb-date {
  position: static;
  background: #e57001;
  padding: 0px;
  width: 52px;
  height: 55px;
  color: #ffffff;
  text-align: center;
  float: left;
}
.team_footer #footer .recent-post .text p.post-comments,
.team_footer .recent-post .text p.post-comments {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  color: #c26511;
  font-style: normal;
  font-weight: 400;
}
.team_footer .recent-post .hentry-post:last-child {
  margin-bottom: 0px;
}
.team_footer .recent-post .hentry-post {
  border: none;
  padding: 0px 5px 10px 0px;
  margin: 0px 0px 10px 0px;
  line-height: 20px;
}
.team_footer .section.blog .date,
.team_footer .recent-post .thumb-date {
  background-color: #e08401;
}
.team_footer .recent-post .thumb-date {
  background-color: #e08401;
  position: static;
  background: #e57001;
  padding: 0px;
  width: 52px;
  height: 55px;
  color: #ffffff;
  text-align: center;
  float: left;
}
.team_footer .recent-post .thumb-date .month {
  font-size: 14px;
  text-transform: uppercase;
}
.team_footer .recent-post .thumb-date span {
  display: block;
}
.team_footer .recent-post .thumb-date .day {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
}
.team_footer .recent-post .thumb-date span {
  display: block;
}
.team_footer .recent-post .hentry-post div.text {
  margin-left: 65px;
  min-height: 0px;
  position: relative;
}
.team_footer .recent-post .text {
  height: auto;
  margin-top: 2px;
  font-size: 11px;
  color: #909091;
}
.team_footer .portfolio-gallery-widget {
  position: relative;
}
.team_footer .portfolio-gallery-widget .work-thumb img {
  opacity: 0.5;
}
.team_footer .portfolio-gallery-widget .work-thumb:hover img {
  opacity: 1;
}
.team_footer ul {
  color: #656464;
  font-family: 'Open Sans', 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.team_footer .row {
  margin-left: -20px;
}
.team_footer #footer {
  background-color: #fbfbfb;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  margin-bottom: 0px;
  border-top: 2px solid #eeeeee;
  color: #656464;
}
.team_footer ul,
.team_footer ol {
  padding: 0;
}
.team_footer div#footer div.container div.row div.widget_nav_menu ul.menu li.menu-item.two-columns {
  float: left;
}
.team_footer div#footer div.container div.row div.widget_nav_menu ul.menu li.menu-item {
  width: 50% !important;
  padding-bottom: 2px;
}
.team_footer div#footer div.container div.row div.widget_nav_menu ul.menu li.menu-item a {
  background: none !important;
  border: 0px !important;
  padding: 0px;
}
.team_footer #footer .container a {
  color: #656464;
}
.team_footer #footer a {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.team_footer #footer .container a:hover {
  color: #e3910f;
}
.team_footer a,
.team_footer a:hover {
  text-decoration: none;
  outline: none !important;
}
.team_footer #footer .widget li {
  list-style: none;
  display: inline-block;
}
.team_footer li {
  display: list-item;
  line-height: 20px;
  text-align: -webkit-match-parent;
}
.team_footer .recent-post .thumb-date .month {
  font-size: 14px;
  text-transform: uppercase;
}
.team_footer .recent-post .thumb-date span {
  display: block;
}
.team_footer .recent-post .thumb-date {
  text-align: center;
  color: #ffffff;
}
.team_footer .recent-post .thumb-date .day {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
}
.team_footer .recent-post .thumb-date span {
  display: block;
}
.team_footer .recent-post .hentry-post div.text {
  margin-left: 65px;
  min-height: 0px;
  position: relative;
}
.team_footer .recent-post .text {
  height: auto;
  margin-top: 2px;
  font-size: 11px;
  color: #909091;
}
.team_footer #footer .socials-default {
  margin-bottom: 10px;
  margin-left: 1px;
}
.team_footer div.socials-default {
  width: 51px;
  height: 66px;
  float: left;
  margin: 0px 6px 4px;
}
.team_footer #footernewsletter #footernewslettersubmit:hover {
  box-shadow: 0 2px 0 #cd6b02;
  background-color: #e37a1c;
}
.team_footer #footernewslettersubmit:hover {
  background-color: #e37a1c;
}
.team_footer #footer .container a {
  color: #656464;
}
.team_footer a.socials-default {
  opacity: 0.5;
}
.team_footer a.socials-default:hover {
  opacity: 1;
}
.team_footer a.socials-default {
  width: 51px;
  height: 51px;
}
.team_footer a.socials-default,
.team_footer a.socials-default-small,
.team_footer a.fade-socials,
.team_footer a.fade-socials-small {
  display: inline-block;
  margin-right: 0px;
  text-align: left;
  text-indent: -9999px;
}
.team_footer a.socials-default {
  display: inline-block;
  margin-right: 0px;
  text-align: left;
  text-indent: -9999px;
  opacity: 0.5;
}
.team_footer a.socials-default {
  width: 51px;
  height: 51px;
}
.team_footer a.socials-default.facebook {
  background: url(../images/socials.png) 0px top no-repeat scroll transparent;
}
.team_footer a.socials-default.facebook:hover {
  background: url(../images/socials.png) no-repeat scroll 0 bottom transparent;
}
.team_footer a.socials-default.pinterest {
  background: url(../images/socials.png) -51px top no-repeat scroll transparent;
}
.team_footer a.socials-default.pinterest:hover {
  background: url(../images/socials.png) no-repeat scroll -51px bottom transparent;
}
.team_footer a.socials-default.instagram {
  background: url(../images/socials.png) -357px top no-repeat scroll transparent;
}
.team_footer a.socials-default.instagram:hover {
  background: url(../images/socials.png) no-repeat scroll -357px bottom transparent;
}
.team_footer a.socials-default.twitter {
  background: url(../images/socials.png) -102px top no-repeat scroll transparent;
}
.team_footer a.socials-default.twitter:hover {
  background: url(../images/socials.png) no-repeat scroll -102px bottom transparent;
}
.team_footer a.socials-default.google {
  background: url(../images/socials.png) -255px top no-repeat scroll transparent;
}
.team_footer a.socials-default.google:hover {
  background: url(../images/socials.png) no-repeat scroll -255px bottom transparent;
}
.team_footer #footer p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #656464;
  font-style: normal;
  font-weight: 400;
}
.team_footer p {
  margin: 0.8em 0 0.8em;
}
.team_footer strong {
  font-weight: bold;
}
.team_footer #footer + #copyright {
  margin-top: 0px;
  background-color: #fbfbfb;
}
.team_footer #copyright a,
.team_footer #copyright div a,
.team_footer #copyright div p a {
  color: #a09d9d;
}
.team_footer #copyright a:hover,
.team_footer #copyright div a:hover,
.team_footer #copyright div p a:hover {
  color: #cc884b;
}
.team_footer #copyright .container {
  border-top: 1px solid #aa9d82;
  border-color: #ebebeb;
  padding: 20px 0 20px 0;
}
.team_footer #copyrigh {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  color: #a09d9d;
  background-color: #fbfbfb;
}
.team_footer #copyright .centered {
  text-align: center;
}
.team_footer #copyright div p:last-child {
  margin-bottom: 0px;
}
.team_footer #copyright div p:first-child {
  margin-top: 0px;
}
.team_footer #copyright div p,
.team_footer #copyright p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #a09d9d;
  font-style: normal;
  font-weight: 400;
}
.team_footer #footer h3 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #c17836;
  font-style: normal;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 25px;
}
.team_footer h3 {
  line-height: 20px;
  text-rendering: optimizelegibility;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}
.team_footer #footer li {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #656464;
  font-style: normal;
  font-weight: 400;
}
.team_footer #footer {
  border-top: 2px solid #eeeeee;
  background-color: #fbfbfb;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}
.team_footer .portfolio-gallery-widget .work-thumb {
  display: block;
  float: left;
  padding-bottom: 14px;
  border: 1px solid #CFCFCF;
  padding: 3px;
  margin-bottom: 1em;
}
.team_footer #footer.newsletter-footer {
  margin-top: 80px;
}
.team_footer #footernewsletter #footernewslettersubmit {
  background-color: #e89222;
}
.team_footer #footernewsletter-container {
  margin-top: -10px;
  margin-bottom: 70px;
  padding-top: 0px;
  clear: both;
  position: relative;
}
.team_footer #footernewsletter #footernewslettersubmit {
  background: #e89222;
  border: 0;
  color: #FFFFFF;
  text-shadow: none;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 800;
  padding: 15px 30px;
}
.team_footer .group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.team_footer #headersearchsubmit,
.team_footer #footernewsletter {
  padding: 0;
  margin: 0;
  width: 134px;
}
.team_footer form {
  display: block;
}
.team_footer input,
.team_footer button,
.team_footer select,
.team_footer textarea {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.team_footer #footernewsletter .formborder {
  padding: 8px 8px 9px 8px;
}
.team_footer .formborder,
.team_footer #footernewsletter .formborder {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  bottom: -46px;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px 13px 10px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -467px;
}
