.type-524 .moduletable .moduletitle {
  line-height: 1.4;
  position: relative;
  font-size: 20px;
  color: #050505;
  font-weight: bold;
}
.type-524 .moduletable ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-524 .moduletable ul.menu li a {
  color: #595959;
  display: block;
  padding: 4px 0 4px 20px;
  position: relative;
  text-decoration: none;
}
.type-524 .moduletable ul.menu li a:hover {
  background: #DD0000;
  color: #ffffff;
}
.type-524 .moduletable ul.menu li a:after {
  content: '\203A';
  position: absolute;
  left: 7px;
  top: 6px;
  color: #DDD;
  line-height: 1;
}
