.type-banner{

    .col-md-4
    {float: left; }

    .row-3
    {
        padding-top: 30px;
    }
    .row-3 h4
    {
     padding-left: 14px;
     float: left;
         }
    .khoangcach
    {

        padding: 30px;
    }
    
     .carousel-control
            { 
                width: 2%;
                background-image:none;
                color:black ;

                &.left 
                {
                    margin-left:15px;
                }

                &.right 
                {
                    margin-right:15px;
                }
            }
    .i-left1
    {
        padding-right: 5px
    }

    .one-third {
        float: left;
        margin-right: 2%;
        width: 31.33%;
    }
    
    .li
    {
        
        list-style: none;
        
        
    }
    .carousel-inner .uiliti a 
    {padding: 0;
padding-left: 10px;
    }
     .carousel-inner .uiliti span
    {padding: 0;
     padding-left: 10px 
    }
    .carousel-inner a
    {
        color: #000000;
        text-decoration: none;
        padding-left: 65px;
    }
    .carousel-inner span
    {
         padding-left: 35px;
    }
    #banner0 {width:100%;height:92px;overflow:hidden}
    #banner0 {border:1px solid #d0cece}
    #banner0 i {color:#a1a1a1;font-size:28px;margin-top:19px; padding-left: 20px; float: left;}
    #banner0 h2{color:#000000;font-size:16px;line-height:16px}
    #banner0 h3{color:#666464;font-size:12px;line-height:12px}
    #banner0:hover {background: #464646;border:1px solid }
    #banner0:hover i {color:#f09d0c;font-size:42px;margin-top:26}
    #banner0:hover h2{color:#d0cece;font-size:10px;line-height:10px}
    #banner0:hover h3{color:#fff;font-size:17px;line-height:12px;}

    .hesperiden.tparrows:hover {
        background: rgba(0, 0, 0, 1);
    }
    .i-left11 i
    {padding: 0;}
    .hesperiden.tparrows {
        cursor: pointer;
        background: rgba(0,0,0,0.5);
        width: 40px;
        height: 40px;
        position: absolute;
        display: block;
        z-index: 100;
        border-radius: 50%;
    }
    .sc-banner {
        position: relative;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .check1 {
        float: left;
        padding-top: 150px;
        color: #000000;
    }
    .i-right12
    {
        float: right;
        padding-left: 350px;
        color: #000000;
    }
    .i-left12
    {

        color: #000000;
    }
    .tesa
    
    {
         padding-left: 14px;
         padding-top: 20px;}

    .sc-content
    {
        float: right;
        padding-right: 20px;
    }




    .i-left
    {float: left;
     padding-top: 80px;

    }
    .i-right
    {
        float: right;
        padding-top: 80px;
    }



    .flex-direction-nav a {

        top: 50%;
        height: 26px;
        -webkit-transition: none;
        opacity: 1;
    }
    .col-md-9
    {
        float: right;
    }
    .col-md-12 
    {
        padding: 0;
        margin: 0;
    }
    .row
    {padding: 0 auto;
     margin: 0 auto;}
    .slider ul li
    {
        border: 1px solid #dfdbdb;
        padding: 5px 15px;
        list-style: none;
        line-height: 20px;

        color: #666767;
    }
    .li
    {
        width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .slotholder
    {
        position: absolute; 
        top: 0px; left: 0px; 
        z-index: 1; 
        width: 100%; height: 100%; 
        visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .defaultimg
    {
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;

        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
    }
.abr
{
    float: left;
}
    .commnent p
    {list-style: none;}
    .revolution-slider
    {
        float: left;   
    }
    .row-9{

        padding-top: 50px;
    }
    .text
    {
        padding-left: 500px;
    }
    .text h2
    {
        margin: 0;
    }
    .commnent p
    {
        font-size: 12px;
        font-family: 'Muli', sans-serif;
        color: #585555;
        font-style: normal;
        font-weight: 400;
        margin-top: 5px;
        line-height: 20px;
    }
    .text h2 h5 p
    {    font-size: 22px;
         font-family: 'Muli', sans-serif;
         color: #030303;
         font-style: normal;
         margin: 0;
         font-weight: 400;}


    .sidebar .widget {
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .check
    {float: right;

    }
    .check
    .testimonial-widget li blockquote {
        background: none;
        padding: 0px;}
    .flex-viewport
    {
        overflow: hidden; position: relative;
    }
    .name-testimonial {
     
        font-size: 11px;
        font-family: 'Muli', sans-serif;
        color: #000000;
        font-style: normal;
        font-weight: 400;
    }
    .name-testimonial a 
    {
        text-decoration: none;
        outline: none !important;

        .label-testimonial {
            color: #858585;
            font-size: 11px;
        }
    }

    .slider ul li a 
    {text-decoration:  none;
     color: #000000;}
    .slider ul li a:hover
        { color: #000000; }

    .a2 img
    { float: none;}

    img
    {    float: right;}
    .testimonial-widget li .thumbnail {
        float: right;
        padding: 2px;
        width: 35px;
        height: 35px;
    }
    .slides
    {
        display: block;
        overflow: hidden;
        max-height: none; width: 1200%; transition-duration: 0s; transform: translate3d(-270px, 0px, 0px);
    }
    .testimonial-widget li .thumbnail {
        float: right;
        padding: 2px;
        width: 35px;
        height: 35px;
    }
    .clone
    {
        width: 270px; float: left; display: block;
    }

    .tp-loop-wrap{
        position:absolute;
    }
    .tp-mask-wrap
    {
        position: absolute; overflow: visible; height: auto; width: auto;
    }
    .slider .alignleft .slider.revolution-slider.alignleft {
        margin-right: 30px !important;
    }
    #w_2_1
    {
        margin-top: 0px; margin-bottom: 0px; height: 320px; perspective: 2500px; backface-visibility: hidden; transform-style: preserve-3d;
    }
    #w_2_1_wrapper
    {
        margin: 0px auto; background-color: rgb(233, 233, 233); padding: 0px; height: 320px; overflow: visible;
    }
    .col-md-9
    {
        height: auto;
    }
    .tp-bgimg
    {
        background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;
    }


   

                                        @media only screen and (min-width: 1201px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 868px;
                                                height: 431px;
                                            }
                                        }

                                        @media only screen and (min-width: 1025px) and (max-width: 1200px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 700px;
                                                height: 347px;
                                            }
                                        }

                                        @media only screen and (min-width: 769px) and (max-width: 1024px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 414px;
                                                height: 205px;
                                            }
                                        }

                                        @media only screen and (min-width: 500px) and (max-width: 768px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 310px;
                                                height: 153px;
                                            }
                                        }

                                        @media only screen and (min-width: 330px) and (max-width: 499px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 440px;
                                                height: 218px;
                                            }
                                        }

                                        @media only screen and (min-width: 0px) and (max-width: 329px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 280px;
                                                height: 139px;
                                            }
                                        }
    
    
  .rev_slider,
                                        .rev_slider_wrapper {
                                            width: 470px;
                                            height: 320px;
                                        }

                                        @media only screen and (min-width: 1170px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 470px;
                                                height: 320px;
                                            }
                                        }

                                        @media only screen and (min-width: 1024px) and (max-width: 1169px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 470px;
                                                height: 320px;
                                            }
                                        }

                                        @media only screen and (min-width: 481px) and (max-width: 1023px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 380px;
                                                height: 258px;
                                            }
                                        }

                                        @media only screen and (min-width: 321px) and (max-width: 480px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 440px;
                                                height: 299px;
                                            }
                                        }

                                        @media only screen and (min-width: 0px) and (max-width: 320px) {
                                            .rev_slider,
                                            .rev_slider_wrapper {
                                                width: 280px;
                                                height: 190px;
                                            }
                                        }
}
