.type-b-7{
    
    .showing{
        float: left;
        margin: .6em 0 1em;
        padding-left: 45px;
    }
    
    p {
        font-family: "Segoe UI", 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
        padding: 0;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    
    .woocommerce-ordering select {
        vertical-align: top;
        margin: .6em 0 1em;
    }

    .woocommerce-ordering{
        margin: .2em 0 1em;
        float: right;
    }

    form{
        padding-right:15px;
        display: block;
    }
    
    select {
        margin: 0 0 1.14286rem 0;
        background: #fafafa no-repeat;
        background-position-x: 97%;
        background-position-y: center;
        border: 1px solid #ccc;
        padding: 0.57143rem;
        font-size: 12px;
        border-radius: 0;
        text-transform: none;
        font-family: inherit;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        color: black;
        cursor: default;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        -webkit-writing-mode: horizontal-tb;
    }

    .onsale {
        top: 0;
        right: 0;
        left: auto;
        margin: -6px -6px 0 0;
        min-height: 60px;
        min-width: 60px;
        font-size: 16px;
        font-weight: 300;
        position: absolute;
        text-align: center;
        line-height: 59px;
        border-radius: 100em;
        background: #ffaa31;
        text-shadow: none;
        color: white;
        box-shadow: none;
    }
    
    h3
    {
        padding: .5em 0;
        margin: 0;
        font-size: 1.1em;
        font-weight: 400;
        font-family: inherit;
    }
    
    button
    {
        background: #1ba1e2;
        color: #fff;
        font-size: 13px;
        line-height: normal;
        padding: 10px 13px;
    }
    
    img
    {
        width: 195px;
        height: 280px;
    }

    .price 
    {
        color: #1ba1e2;
        font-size: 1.1em;
        display: block;
        font-weight: normal;
        padding-top: 8px;
        margin-bottom: .5em;

        del
        {
            font-size: .8em;
            color: #ccc;
        }
    }
    
    div {
        display: block;
    }
    
    .item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 1180px;
        text-align: center;
        padding-left: 25px;
    }
    
    .star{
        color: #1ba1e2;
        font-size: 1.1em;
        text-align: center;
    }
}