.type-540 .form-login {
  padding: 1em;
  width: 50%;
}
.type-540 .dropdown {
  position: relative;
  display: inline-block;
}
.type-540 .imlogo {
  margin-left: AUTO;
  MARGIN-RIGHT: AUTO;
  DISPLAY: block;
}
.type-540 #free {
  margin-top: 32px;
  font-size: 16px;
}
.type-540 #freelog {
  margin-top: 48px;
  font-size: 16px;
  text-align: center;
}
.type-540 a {
  color: #758991;
}
