.type-523{
    @color-red: #DD0000;
    .sidebartitle {
        color: #050505;
        line-height: 1.4;
        position: relative;
        font-size: 18px;
        font-weight: bold;
    }
    .vmmanufacturermod .vmmanufacturer {
        margin: 0 0 0 -20px;
        padding: 0;
        list-style: none;
        position: relative;
        li {
            float: left;
            margin: 0 0 20px 20px;
            a {
                display: block;
                width: 60px;
                position: relative;
                text-align: center;
            }
            a:hover {
                border: 2px solid @color-red;
            }
        }
        img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        .theHoverBorder {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-radius: 2px;
        }
    }
}