.type-c-3 .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.type-c-3 .hover13 figure:hover img {
  opacity: 1;
  -webkit-animation: flash 5.5s;
  animation: flash 5.5s;
}
.type-c-3 figure {
  margin: 0;
  padding: 15px;
}
.type-c-3 .hovereffect img {
  display: block;
  position: relative;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
