.type-532{
    @color-white: #ffffff;
    .summary {
        .product_meta {
            margin-top: 35px;
        }
        .woocommerce-price {
            line-height: 36px;
        }
        .compare {
            color: @color-white;
            background-color: #4F4F4F;
            padding: 10px 15px;
            text-transform: uppercase;
        }
        .quantity {
            width: 80px;
            position: relative;
            .minus{
                width: 25px;
                height: 25px;
                border: 1px solid #c7c0c7;
                font-size: 12px;
            }
            .plus{
                position: absolute;
                width: 25px;
                height: 25px;
                border: 1px solid #c7c0c7;
                font-size: 12px;
            }
        }
        .qty{
            width: 32px;
            height: 25px;
            text-align: center;
            top: 0;
            left: 24px;
        }
    }
    a{
        text-decoration: none;
        color: #868686;
    }
    a:hover,.single_add_to_cart_button.button.alt:hover,.compare:hover {
        color: #337ab7;
    }
    .woocommerce-add-to-cart {
        float: right;
        max-width: 45%;
    }
    .woocommerce-price-and-add {
        border-top: 1px solid #e7e6e6;
        border-bottom: 1px solid #e7e6e6;
        margin-top: 1em;
        height: 55px;
        del .amount {
            color: #868686;
            font-size: 16px;
        }
        .price{
            font-size: 18px;
            margin-bottom: .5em;
        }
    }
    button.single_add_to_cart_button.button.alt {
        margin: 10px auto;
        border: 0px;
        padding: 10px 15px 10px 35px;
        background: #4f4f4f;
        text-transform: uppercase;
        color: @color-white;
        font-size: 12px;
    }
    .row3 {
        width: 95%;
        margin: 0 auto;
        padding: 5px;
    }
    img{
        border: 1px solid #DFDCDC;
    }
}
