.type-548 .selected li {
  text-align: center;
}
.type-548 .product-title {
  color: #525252;
  font-size: 24px;
}
.type-548 .product-price {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #758991;
}
.type-548 .product-desc {
  margin-top: 15px;
  color: #000000;
}
.type-548 .wishlist {
  margin-top: 20px;
}
.type-548 label1 {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-right: 20px;
}
.type-548 .variations {
  margin-top: 20px;
}
.type-548 .product-stock {
  color: #77a464;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.type-548 .spin {
  width: 115px;
  margin-top: 20px;
  float: left;
}
.type-548 .btn-group {
  margin-top: 20px;
  margin-left: 20px;
}
.type-548 .article-slide .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 0px;
}
.type-548 .article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 99px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 99px;
}
.type-548 .article-slide .carousel-indicators img {
  border: 2px solid #FFFFFF;
  float: left;
  height: 99px;
  left: 0;
  width: 99px;
}
.type-548 .article-slide .carousel-indicators .img {
  border: 1px solid #000;
  opacity: 0.7;
}
.type-548 .col-lg-12 {
  margin-top: 220px;
}
.type-548 .btn-select {
  position: relative;
  padding: 0;
  min-width: 236px;
  width: 20%;
  border-radius: 0;
  margin-bottom: 20px;
  margin-left: 30px;
}
.type-548 .btn-select .btn-select-value {
  padding: 6px 12px;
  display: block;
  position: absolute;
  left: 0;
  right: 34px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
}
.type-548 .btn-select .btn-select-arrow {
  float: right;
  line-height: 20px;
  padding: 6px 10px;
  top: 0;
}
.type-548 .btn-select ul {
  display: none;
  background-color: white;
  color: black;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none !important;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 33px;
  z-index: 999;
}
.type-548 .btn-select ul li {
  padding: 3px 6px;
  text-align: left;
}
.type-548 .btn-select ul li .selected {
  color: white;
}
.type-548 .btn-select ul li:hover {
  background-color: #f4f4f4;
}
.type-548 .btn-select.btn-default:hover,
.type-548 .btn-select.btn-default:active,
.type-548 .btn-select.btn-default.active {
  border-color: #ccc;
}
.type-548 .btn-select.btn-default ul li.selected {
  background-color: #ccc;
}
.type-548 .btn-select.btn-default ul,
.type-548 .btn-select.btn-default .btn-select-value {
  background-color: white;
  border: #ccc 1px solid;
}
.type-548 .btn-select.btn-default:hover,
.type-548 .btn-select.btn-default.active {
  background-color: #e6e6e6;
}
.type-548 ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
.type-548 ul.social-network li {
  display: inline;
  margin: 0 5px;
}
.type-548 .social-network a.icoRss:hover {
  background-color: #F56505;
}
.type-548 .social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
.type-548 .social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.type-548 .social-network a.icoGoogle:hover {
  background-color: #BD3518;
}
.type-548 .social-network a.icoVimeo:hover {
  background-color: #0590B8;
}
.type-548 .social-network a.icoRss:hover i,
.type-548 .social-network a.icoFacebook:hover i,
.type-548 .social-network a.icoTwitter:hover i,
.type-548 .social-network a.icoGoogle:hover i,
.type-548 .social-network a.icoVimeo:hover i {
  color: #fff;
}
.type-548 a.socialIcon:hover,
.type-548 .socialHoverClass {
  color: #44BCDD;
}
.type-548 .social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #525252;
}
.type-548 .social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}
.type-548 .social-circle li a:hover i,
.type-548 .triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s;
}
.type-548 .social-circle i {
  color: #fff;
  transition: all 0.8s;
}
.type-548 .easyzoom--with-thumbnails {
  margin: 0;
}
.type-548 .easyzoom {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #000;
}
.type-548 .easyzoom img {
  vertical-align: bottom;
}
.type-548 .easyzoom.is-loading img {
  cursor: progress;
}
.type-548 .easyzoom.is-ready img {
  cursor: crosshair;
}
.type-548 .easyzoom.is-error  img {
  cursor: not-allowed;
}
.type-548 .easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px #888;
}
.type-548 .easyzoom-flyout {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background: #fff;
}
.type-548 .easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.type-548 .thumbnails {
  overflow: hidden;
  margin: 1em 0;
  padding: 0;
}
.type-548 .thumbnails li {
  display: inline-block;
}
.type-548 .thumbnails img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}
