.type-a-7 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-a-7 .clear {
  clear: both;
}
.type-a-7 div {
  border: 0;
  font-size: 100%;
  margin: 5px 0 0 0;
  display: block;
}
.type-a-7 .thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}
.type-a-7 .thumbnail img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.type-a-7 h3 {
  color: #cd2122;
  margin-top: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  text-rendering: optimizelegibility;
  border: 0;
  padding: 0;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}
.type-a-7 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  font-size: 100%;
  -ms-interpolation-mode: bicubic;
}
.type-a-7 p {
  margin: 0 0 10px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border: 0;
  font-size: 100%;
  padding: 0;
}
.type-a-7 .latest_posts.acc-style h3.m_title {
  position: absolute;
  top: 14px;
  z-index: 1;
  margin: 0;
}
.type-a-7 .latest_posts.acc-style .viewall {
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  color: #757575;
  z-index: 1;
}
.type-a-7 li {
  text-align: -webkit-match-parent;
  line-height: 20px;
}
.type-a-7 .btn-primary {
  color: #fff;
  background-color: #cd2122;
  border-color: #d22122;
  font-size: 10px;
  font-weight: bold;
}
