.type-514{
    display: block;	
    .container
    {
        margin-right: auto;
        margin-left: auto;
    }
    .clear{
        clear: both;
    }
    div{
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
    }
    .row {
        margin-bottom: 35px;
    }
    /**************************Slide Show*****************************/
    .partners_carousel h5.title {
        font-weight: 500;
        margin-top: 0;
        text-shadow: 1px 1px 0 #fff;
    }
    h5 {
        margin: 10px 0;
        font-size: 14px;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
    }

    /* carousel */
    .media-carousel 
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
    }
    /* Previous button  */
    .col-md-1 .carousel-control.left 
    {
        background-image: none;
        color: #000;  
        font-weight: bold;
    }
    /* Next button  */
    .col-md-1 .carousel-control.right 
    {
        background-image: none;
        color: #000;   
        font-weight: bold;
    }
    /* Changes the position of the indicators */
    .media-carousel .carousel-indicators 
    {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    /* Changes the colour of the indicators */
    .media-carousel li 
    {
        background: #c0c0c0;
    }
    .media-carousel.active 
    {
        background: #333333;
    }
    .media-carousel img
    {
        width: 250px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    /* End carousel */
    .circlehover[data-align="right"] {
        float: right;
    }
    .circlehover:hover {
        color: #fff;
        transform: scale(1.1);
        box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
    }
    a:hover {
        text-decoration: none;
        outline: 0;
    }

    /**************************Key Word***********************/
    .keywordbox {
        border-top: 4px solid #ddd;
        position: relative;
        padding-top: 30px;
        font-size: 23px;
        font-style: italic;
        text-align: center;
        color: #8D8D8D;
    }
    
}

