.type-514{	
    @color_Black: #000;
    .clear{
        clear: both;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    /**************************Slide Show*****************************/
    h5 {
        margin: 10px 0;
        font-size: 14px;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
    }
    /* carousel */
    .media-carousel 
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
        li 
        {
            background: #c0c0c0;
        }
        /* Changes the colour of the indicators */
        img
        {
            width: 250px;
            height: auto;
        }
    }
    /* Previous button  */

    .control {
        .carousel-control{
            .prev
            {
                background-image: none;
                color: @color_Black;  
                font-weight: bold;
                left: -12px;
            }
            .next
            {
                background-image: none;
                color: @color_Black;   
                font-weight: bold;
                right: -12px !important;
            }
            a:hover {
                text-decoration: none;
                outline: 0;
            }
        }

    }
    .keywordbox {
        border-top: 4px solid #ddd;
        position: relative;
        padding-top: 30px;
        font-size: 23px;
        font-style: italic;
        text-align: center;
        color: #8D8D8D;
    }

}

