.custom-25-chitiet .custom-25-chitiet1 h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 900;
  letter-spacing: 1px;
}
.custom-25-chitiet .custom-25-chitiet1 h2,
.custom-25-chitiet .custom-25-chitiet1 h2 a,
.custom-25-chitiet .custom-25-chitiet1 h2 a:hover {
  color: #ff5a00;
}
.custom-25-chitiet .custom-25-chitiet1 h1,
.custom-25-chitiet .custom-25-chitiet1 h2,
.custom-25-chitiet .custom-25-chitiet1 h3,
.custom-25-chitiet .custom-25-chitiet1 h4,
.custom-25-chitiet .custom-25-chitiet1 h5,
.custom-25-chitiet .custom-25-chitiet1 h6 {
  margin-bottom: 15px;
}
.custom-25-chitiet .custom-25-chitiet1 h1,
.custom-25-chitiet .custom-25-chitiet1 h2,
.custom-25-chitiet .custom-25-chitiet1 h3,
.custom-25-chitiet .custom-25-chitiet1 h4,
.custom-25-chitiet .custom-25-chitiet1 .text-logo #logo {
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.custom-25-chitiet .custom-25-chitiet1 p {
  margin: 0 0 15px;
}
.custom-25-chitiet .custom-25-chitiet1 .section {
  position: relative;
}
.custom-25-chitiet .custom-25-chitiet1 .section .section-decoration {
  width: 100%;
  position: absolute;
  left: 0;
  background-repeat: repeat-x;
  z-index: 1;
  background-image: url(../images/home_surveyor_decoration2.png);
  height: 5px;
}
.custom-25-chitiet .custom-25-chitiet1 .section .section-decoration.top {
  top: 0;
  background-position: center top;
}
.custom-25-chitiet .custom-25-chitiet1 #section1 {
  padding-top: 15px;
  padding-bottom: 530px;
  background-color: #ff5a00;
}
.custom-25-chitiet .custom-25-chitiet1 .section_wrapper,
.custom-25-chitiet .custom-25-chitiet1 .container {
  margin: 0 auto;
  position: relative;
}
.custom-25-chitiet .custom-25-chitiet1 .one-second.mcb-wrap {
  width: 50%;
}
.custom-25-chitiet .custom-25-chitiet1 .clearfix {
  zoom: 1;
}
.custom-25-chitiet .custom-25-chitiet1 .mcb-wrap {
  float: left;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .custom-25-chitiet1 .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.custom-25-chitiet .custom-25-chitiet1 .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
  position: relative;
  float: left;
  width: 100%;
}
.custom-25-chitiet .custom-25-chitiet1 .column-margin-10px.column {
  margin-bottom: 10px !important;
}
.custom-25-chitiet .custom-25-chitiet1 .one.column {
  width: 98%;
}
.custom-25-chitiet .custom-25-chitiet1 .column,
.custom-25-chitiet .custom-25-chitiet1 .columns {
  float: left;
  margin: 0 1% 40px;
}
.custom-25-chitiet .custom-25-chitiet1 .column-margin-20px.column {
  margin-bottom: 20px !important;
}
.custom-25-chitiet .custom-25-chitiet1 .column_button .button {
  margin: 0 !important;
  vertical-align: middle;
}
.custom-25-chitiet .custom-25-chitiet1 .button-flat a.button:not(.action_button),
.custom-25-chitiet .custom-25-chitiet1 .button-flat:not(.header-plain) a.button.action_button,
.custom-25-chitiet .custom-25-chitiet1 .button-flat a.tp-button,
.custom-25-chitiet .custom-25-chitiet1 .button-flat button,
.custom-25-chitiet .custom-25-chitiet1 .button-flat input[type="submit"],
.custom-25-chitiet .custom-25-chitiet1 .button-flat input[type="reset"],
.custom-25-chitiet .custom-25-chitiet1 .button-flat input[type="button"] {
  background-image: none;
  border-width: 0;
  border-style: solid;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 0;
  box-shadow: inset 0 0 0 0;
  -webkit-appearance: none;
}
.custom-25-chitiet .custom-25-chitiet1 a.button .button_label {
  padding: 11px 20px;
}
.custom-25-chitiet .custom-25-chitiet1 a.button .button_label {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  border: 1px solid #fff;
  background: #fff;
}
.custom-25-chitiet .custom-25-chitiet1 .clearfix:after {
  clear: both;
}
.custom-25-chitiet .custom-25-chitiet1 .equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner {
  top: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.custom-25-chitiet .custom-25-chitiet1 .column-margin-0px .column {
  margin-bottom: 0 !important;
}
.custom-25-chitiet .custom-25-chitiet1 .column_image {
  line-height: 0;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame.no_border {
  border-width: 0;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame {
  border-color: #f8f8f8;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame,
.custom-25-chitiet .custom-25-chitiet1 .wp-caption,
.custom-25-chitiet .custom-25-chitiet1 .google-map,
.custom-25-chitiet .custom-25-chitiet1 .icon_box .icon_wrapper,
.custom-25-chitiet .custom-25-chitiet1 .content_slider .caroufredsel_wrapper,
.custom-25-chitiet .custom-25-chitiet1 .author-box .avatar-wrapper,
.custom-25-chitiet .custom-25-chitiet1 #comments .commentlist > li .photo,
.custom-25-chitiet .custom-25-chitiet1 .edd_download_image {
  border-color: #f8f8f8;
}
.custom-25-chitiet .custom-25-chitiet1 .aligncenter {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame,
.custom-25-chitiet .custom-25-chitiet1 .wp-caption {
  display: block;
  margin: 0;
  border-width: 8px;
  border-style: solid;
  max-width: 100%;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper,
.custom-25-chitiet .custom-25-chitiet1 .wp-caption img,
.custom-25-chitiet .custom-25-chitiet1 .icon_box .icon_wrapper:before {
  border-color: #e2e2e2;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper {
  position: relative;
  overflow: hidden;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper,
.custom-25-chitiet .custom-25-chitiet1 .wp-caption img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .custom-25-chitiet1 img.scale-with-grid,
.custom-25-chitiet .custom-25-chitiet1 #Content img {
  max-width: 100%;
  height: auto;
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper img:not(.ls-l) {
  position: relative;
  top: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper img,
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper .mask:after,
.custom-25-chitiet .custom-25-chitiet1 .image_frame .image_wrapper .image_links {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.custom-25-chitiet .custom-25-chitiet1 .aligncenter img {
  display: inline;
}
.custom-25-chitiet .custom-25-chitiet1 .column_attr h2 {
  color: #fff;
}
.custom-25-chitiet .custom-25-chitiet1 .column_attr .p1 {
  color: #fff;
}
.custom-25-chitiet .custom-25-chitiet1 .column_attr .p2 {
  color: #fff;
  width: 50%;
}
.custom-25-chitiet .custom-25-chitiet1 #column2 {
  padding: 0 5% 0 0;
}
.custom-25-chitiet .custom-25-chitiet1 #button1 {
  background-color: #ffffff !important;
  color: #2f4bc3;
}
.custom-25-chitiet .custom-25-chitiet1 #wrap1 {
  padding: 60px 0px 20px 6%;
  height: 530px;
}
.custom-25-chitiet .custom-25-chitiet1 #wrap2 {
  padding: 0px 7%;
  height: 530px;
}
@media only screen and (min-width: 1240px) {
  .custom-25-chitiet .custom-25-chitiet1 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet1 .container {
    max-width: 1220px;
  }
}
@media only screen and (min-width: 768px) {
  .custom-25-chitiet .custom-25-chitiet1 a.button:after,
  .custom-25-chitiet .custom-25-chitiet1 a.tp-button:after,
  .custom-25-chitiet .custom-25-chitiet1 button:after,
  .custom-25-chitiet .custom-25-chitiet1 input[type="submit"]:after,
  .custom-25-chitiet .custom-25-chitiet1 input[type="reset"]:after,
  .custom-25-chitiet .custom-25-chitiet1 input[type="button"]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background: rgba(0,0,0,0.05);
  }
}
@media only screen and (min-width: 768px) {
  .custom-25-chitiet .custom-25-chitiet1 .button-flat a.button:after,
  .custom-25-chitiet .custom-25-chitiet1 .button-flat a.tp-button:after,
  .custom-25-chitiet .custom-25-chitiet1 .button-flat button:after,
  .custom-25-chitiet .custom-25-chitiet1 .button-flat input[type="submit"]:after,
  .custom-25-chitiet .custom-25-chitiet1 .button-flat input[type="reset"]:after,
  .custom-25-chitiet .custom-25-chitiet1 .button-flat input[type="button"]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background: rgba(0,0,0,0.07);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
@media only screen and (min-width: 768px) {
  .custom-25-chitiet .custom-25-chitiet1 .layout-boxed #Subheader .container,
  .custom-25-chitiet .custom-25-chitiet1 .layout-boxed:not(.with_aside) .section:not(.full-width),
  .custom-25-chitiet .custom-25-chitiet1 .layout-boxed.with_aside .content_wrapper,
  .custom-25-chitiet .custom-25-chitiet1 .layout-boxed #Footer .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .section {
    background-attachment: scroll !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .section_wrapper .mcb-wrap,
  .custom-25-chitiet .custom-25-chitiet1 .section_wrapper .column,
  .custom-25-chitiet .custom-25-chitiet1 .container .column,
  .custom-25-chitiet .custom-25-chitiet1 .sections_group,
  .custom-25-chitiet .custom-25-chitiet1 .four.columns {
    margin: 0;
    width: 100% !important;
    clear: both;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .column_attr .p2 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .equal-height-wrap .mcb-wrap {
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
    top: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .section_wrapper .column {
    margin: 0 0 20px;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 .image_frame {
    margin-top: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet1 #section1 {
    padding-bottom: 1160px;
  }
}
@media only screen and (max-width: 480px) {
  .custom-25-chitiet .custom-25-chitiet1 #section1 {
    padding-bottom: 950px;
  }
}
@media only screen and (max-width: 350px) {
  .custom-25-chitiet .custom-25-chitiet1 #section1 {
    padding-bottom: 1050px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .custom-25-chitiet .custom-25-chitiet1 h2 {
    font-size: 21px;
    line-height: 29px;
  }
}
@media only screen and (max-width: 479px) {
  .custom-25-chitiet .custom-25-chitiet1 h2 {
    font-size: 17px;
    line-height: 23px;
  }
}
.custom-25-chitiet .custom-25-chitiet2 a,
.custom-25-chitiet .custom-25-chitiet2 a:visited,
.custom-25-chitiet .custom-25-chitiet2 a:focus {
  text-decoration: none;
  outline: 0;
}
.custom-25-chitiet .custom-25-chitiet2 a {
  color: #ff5a00;
}
.custom-25-chitiet .custom-25-chitiet2 .section {
  position: relative;
}
.custom-25-chitiet .custom-25-chitiet2 #section2 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2f4bc3;
}
.custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
.custom-25-chitiet .custom-25-chitiet2 .container {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}
.custom-25-chitiet .custom-25-chitiet2 .one.mcb-wrap {
  width: 100%;
}
.custom-25-chitiet .custom-25-chitiet2 .clearfix {
  zoom: 1;
}
.custom-25-chitiet .custom-25-chitiet2 .mcb-wrap {
  float: left;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .custom-25-chitiet2 .section.no-margin .column,
.custom-25-chitiet .custom-25-chitiet2 .section.no-margin-v .column {
  margin-bottom: 0;
}
.custom-25-chitiet .custom-25-chitiet2 .no-margin-h .one-fifth.column {
  width: 20%;
}
.custom-25-chitiet .custom-25-chitiet2 .no-margin-h .column {
  margin-left: 0;
  margin-right: 0;
}
.custom-25-chitiet .custom-25-chitiet2 .one-fifth.column {
  width: 18%;
}
.custom-25-chitiet .custom-25-chitiet2 .column,
.custom-25-chitiet .custom-25-chitiet2 .columns {
  float: left;
  margin: 0 1% 40px;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color {
  background: #5373d2;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color_bg {
  background: #2f4bc3;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color,
.custom-25-chitiet .custom-25-chitiet2 .hover_color_bg {
  height: 100%;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color,
.custom-25-chitiet .custom-25-chitiet2 .hover_color a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color a:hover,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h1 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h2 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h3 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h4 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h5 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h6 a {
  color: #fff;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color {
  border-color: transparent;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color .hover_color_bg {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color .hover_color_bg {
  border: 2px solid transparent;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color,
.custom-25-chitiet .custom-25-chitiet2 .hover_color_bg {
  height: 100%;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color,
.custom-25-chitiet .custom-25-chitiet2 .hover_color a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color a:hover,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h1 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h2 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h3 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h4 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h5 a,
.custom-25-chitiet .custom-25-chitiet2 .hover_color h6 a {
  color: #fff;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color a {
  display: block;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color_wrapper {
  padding: 40px 30px;
}
.custom-25-chitiet .custom-25-chitiet2 .hover_color .hover_color_wrapper {
  text-decoration: none;
  padding: 40px 30px;
  text-align: center;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame.no_border {
  border-width: 0;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame,
.custom-25-chitiet .custom-25-chitiet2 .wp-caption {
  display: block;
  margin: 0;
  border-width: 8px;
  border-style: solid;
  max-width: 100%;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame {
  border-color: #f8f8f8;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper,
.custom-25-chitiet .custom-25-chitiet2 .wp-caption img,
.custom-25-chitiet .custom-25-chitiet2 .icon_box .icon_wrapper:before {
  border-color: #e2e2e2;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper {
  position: relative;
  overflow: hidden;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper,
.custom-25-chitiet .custom-25-chitiet2 .wp-caption img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .custom-25-chitiet2 img.scale-with-grid,
.custom-25-chitiet .custom-25-chitiet2 #Content img {
  max-width: 100%;
  height: auto;
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper img:not(.ls-l) {
  position: relative;
  top: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper img,
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper .mask:after,
.custom-25-chitiet .custom-25-chitiet2 .image_frame .image_wrapper .image_links {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@media only screen and (min-width: 1240px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container {
    max-width: 1220px;
  }
}
@media only screen and (max-width: 1239px) and (min-width: 960px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 940px;
  }
}
@media only screen and (max-width: 937px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 820px;
    margin: -15px 60px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 708px;
  }
}
@media only screen and (max-width: 1240px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 1080px;
  }
}
@media only screen and (max-width: 1018px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 1080px;
    margin: -15px 0px;
  }
}
@media only screen and (max-width: 952px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 1080px;
    margin: -15px 60px;
  }
}
@media only screen and (max-width: 479px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 303px;
    margin: -15px 60px;
  }
}
@media only screen and (max-width: 367px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet .custom-25-chitiet2 .container,
  .custom-25-chitiet .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 243px;
    margin: -15px 60px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .custom-25-chitiet .custom-25-chitiet2 .hover_color {
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet2 .section {
    background-attachment: scroll !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper .mcb-wrap,
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper .column,
  .custom-25-chitiet .custom-25-chitiet2 .container .column,
  .custom-25-chitiet .custom-25-chitiet2 .sections_group,
  .custom-25-chitiet .custom-25-chitiet2 .four.columns {
    margin: 0;
    width: 100% !important;
    clear: both;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet2 .section_wrapper .column {
    margin: 0 0 20px;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .custom-25-chitiet2 .image_frame {
    margin-top: 0 !important;
  }
}
.custom-25-chitiet .footer {
  padding: 0px 65px 0px;
}
.custom-25-chitiet .footer #Footer,
.custom-25-chitiet .footer #Footer .widget_recent_entries ul li a {
  color: #8284a6;
}
.custom-25-chitiet .footer #Footer {
  background-color: #03084c;
}
.custom-25-chitiet .footer #Footer {
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}
.custom-25-chitiet .footer .clearfix {
  zoom: 1;
}
.custom-25-chitiet .footer article,
.custom-25-chitiet .footer aside,
.custom-25-chitiet .footer details,
.custom-25-chitiet .footer figcaption,
.custom-25-chitiet .footer figure,
.custom-25-chitiet .footer footer,
.custom-25-chitiet .footer header,
.custom-25-chitiet .footer hgroup,
.custom-25-chitiet .footer menu,
.custom-25-chitiet .footer nav,
.custom-25-chitiet .footer section {
  display: block;
}
.custom-25-chitiet .footer #Footer .widgets_wrapper {
  padding: 50px 0 40px;
}
.custom-25-chitiet .footer .section_wrapper,
.custom-25-chitiet .footer .container {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}
.custom-25-chitiet .footer #Footer .widgets_wrapper .column {
  margin-bottom: 0;
}
.custom-25-chitiet .footer .one-fourth.column,
.custom-25-chitiet .footer .four.columns {
  width: 23%;
}
.custom-25-chitiet .footer .column,
.custom-25-chitiet .footer .columns {
  float: left;
  margin: 0 1% 40px;
}
.custom-25-chitiet .footer #Footer .widgets_wrapper .widget {
  padding: 15px 0;
  margin-bottom: 0;
}
.custom-25-chitiet .footer .widget:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.custom-25-chitiet .footer .widget {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.custom-25-chitiet .footer .image_frame.no_border {
  border-width: 0;
}
.custom-25-chitiet .footer .image_frame {
  border-color: #f8f8f8;
}
.custom-25-chitiet .footer .image_frame,
.custom-25-chitiet .footer .wp-caption,
.custom-25-chitiet .footer .google-map,
.custom-25-chitiet .footer .icon_box .icon_wrapper,
.custom-25-chitiet .footer .content_slider .caroufredsel_wrapper,
.custom-25-chitiet .footer .author-box .avatar-wrapper,
.custom-25-chitiet .footer #comments .commentlist > li .photo,
.custom-25-chitiet .footer .edd_download_image {
  border-color: #f8f8f8;
}
.custom-25-chitiet .footer .image_frame,
.custom-25-chitiet .footer .wp-caption {
  display: block;
  margin: 0;
  border-width: 8px;
  border-style: solid;
  max-width: 100%;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .footer .image_frame .image_wrapper,
.custom-25-chitiet .footer .wp-caption img,
.custom-25-chitiet .footer .icon_box .icon_wrapper:before {
  border-color: #e2e2e2;
}
.custom-25-chitiet .footer .image_frame .image_wrapper {
  position: relative;
  overflow: hidden;
}
.custom-25-chitiet .footer .image_frame .image_wrapper,
.custom-25-chitiet .footer .wp-caption img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet .footer .image_frame .image_wrapper img:not(.ls-l) {
  position: relative;
  top: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-25-chitiet .footer .image_frame .image_wrapper img,
.custom-25-chitiet .footer .image_frame .image_wrapper .mask:after,
.custom-25-chitiet .footer .image_frame .image_wrapper .image_links {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.custom-25-chitiet .footer img.scale-with-grid,
.custom-25-chitiet .footer #Content img {
  max-width: 100%;
  height: auto;
}
.custom-25-chitiet .footer #line1 {
  margin: 0 auto 20px;
}
.custom-25-chitiet .footer hr.no_line {
  background: none;
  color: transparent;
}
.custom-25-chitiet .footer hr,
.custom-25-chitiet .footer .hr_wide,
.custom-25-chitiet .footer .hr_zigzag,
.custom-25-chitiet .footer .hr_dots {
  margin: 0 auto 15px;
  clear: both;
}
.custom-25-chitiet .footer hr {
  background-color: rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.08);
}
.custom-25-chitiet .footer .p1 {
  margin-right: 5%;
  font-size: 12px;
}
.custom-25-chitiet .footer p {
  margin: 0 0 15px;
}
.custom-25-chitiet .footer hr {
  display: block;
  border: none;
  outline: none;
  height: 1px;
  width: 100%;
  margin: 0 auto 15px;
  clear: both;
}
.custom-25-chitiet .footer #Footer h1,
.custom-25-chitiet .footer #Footer h1 a,
.custom-25-chitiet .footer #Footer h1 a:hover,
.custom-25-chitiet .footer #Footer h2,
.custom-25-chitiet .footer #Footer h2 a,
.custom-25-chitiet .footer #Footer h2 a:hover,
.custom-25-chitiet .footer #Footer h3,
.custom-25-chitiet .footer #Footer h3 a,
.custom-25-chitiet .footer #Footer h3 a:hover,
.custom-25-chitiet .footer #Footer h4,
.custom-25-chitiet .footer #Footer h4 a,
.custom-25-chitiet .footer #Footer h4 a:hover,
.custom-25-chitiet .footer #Footer h5,
.custom-25-chitiet .footer #Footer h5 a,
.custom-25-chitiet .footer #Footer h5 a:hover,
.custom-25-chitiet .footer #Footer h6,
.custom-25-chitiet .footer #Footer h6 a,
.custom-25-chitiet .footer #Footer h6 a:hover {
  color: #ffffff;
}
.custom-25-chitiet .footer h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 0px;
}
.custom-25-chitiet .footer h1,
.custom-25-chitiet .footer h2,
.custom-25-chitiet .footer h3,
.custom-25-chitiet .footer h4,
.custom-25-chitiet .footer .text-logo #logo {
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.custom-25-chitiet .footer h4,
.custom-25-chitiet .footer h4 a,
.custom-25-chitiet .footer h4 a:hover,
.custom-25-chitiet .footer .style-simple .sliding_box .desc_wrapper h4 {
  color: #2f4bc3;
}
.custom-25-chitiet .footer h1,
.custom-25-chitiet .footer h2,
.custom-25-chitiet .footer h3,
.custom-25-chitiet .footer h4,
.custom-25-chitiet .footer h5,
.custom-25-chitiet .footer h6 {
  margin-bottom: 15px;
}
.custom-25-chitiet .footer .u1 {
  line-height: 32px;
  padding: 0;
}
.custom-25-chitiet .footer ul {
  list-style: none outside;
}
.custom-25-chitiet .footer #Footer h1,
.custom-25-chitiet .footer #Footer h1 a,
.custom-25-chitiet .footer #Footer h1 a:hover,
.custom-25-chitiet .footer #Footer h2,
.custom-25-chitiet .footer #Footer h2 a,
.custom-25-chitiet .footer #Footer h2 a:hover,
.custom-25-chitiet .footer #Footer h3,
.custom-25-chitiet .footer #Footer h3 a,
.custom-25-chitiet .footer #Footer h3 a:hover,
.custom-25-chitiet .footer #Footer h4,
.custom-25-chitiet .footer #Footer h4 a,
.custom-25-chitiet .footer #Footer h4 a:hover,
.custom-25-chitiet .footer #Footer h5,
.custom-25-chitiet .footer #Footer h5 a,
.custom-25-chitiet .footer #Footer h5 a:hover,
.custom-25-chitiet .footer #Footer h6,
.custom-25-chitiet .footer #Footer h6 a,
.custom-25-chitiet .footer #Footer h6 a:hover {
  color: #ffffff;
}
.custom-25-chitiet .footer h6 {
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0px;
}
.custom-25-chitiet .footer h5,
.custom-25-chitiet .footer h6 {
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.custom-25-chitiet .footer h6,
.custom-25-chitiet .footer h6 a,
.custom-25-chitiet .footer h6 a:hover,
.custom-25-chitiet .footer a.content_link .title {
  color: #141b26;
}
.custom-25-chitiet .footer ol,
.custom-25-chitiet .footer ul {
  list-style: none;
}
.custom-25-chitiet .footer i {
  font-style: italic;
}
.custom-25-chitiet .footer #Footer a {
  color: #bfc1d2;
}
.custom-25-chitiet .footer .icon-right-dir {
  color: #77acfb;
}
.custom-25-chitiet .footer .span1 {
  color: #bfc1d2;
}
.custom-25-chitiet .footer .icon-right-dir:before {
  content: '\e914';
}
.custom-25-chitiet .footer .footer-copy-center #Footer .footer_copy {
  text-align: center;
}
.custom-25-chitiet .footer #Footer .footer_copy {
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
}
.custom-25-chitiet .footer #Footer .footer_copy .one {
  margin-bottom: 20px;
  padding-top: 30px;
  min-height: 33px;
}
.custom-25-chitiet .footer .one.column {
  width: 98%;
}
.custom-25-chitiet .footer #Footer .footer_copy .copyright {
  float: none;
  margin: 0 0 10px;
}
.custom-25-chitiet .footer .footer-copy-center #Footer .footer_copy .social {
  float: none;
  margin: 0;
}
.custom-25-chitiet .footer #Footer .footer_copy .social {
  float: right;
  margin-right: 20px;
}
.custom-25-chitiet .footer #Footer a:hover {
  color: #ff5a00;
}
@media only screen and (min-width: 1240px) {
  .custom-25-chitiet .footer .section_wrapper,
  .custom-25-chitiet .footer .container {
    max-width: 1220px;
  }
}
@media only screen and (max-width: 1239px) and (min-width: 960px) {
  .custom-25-chitiet .footer .section_wrapper,
  .custom-25-chitiet .footer .container,
  .custom-25-chitiet .footer .with_aside .content_wrapper {
    max-width: 940px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .custom-25-chitiet .footer .section_wrapper,
  .custom-25-chitiet .footer .container,
  .custom-25-chitiet .footer .with_aside .content_wrapper {
    max-width: 708px;
  }
}
@media only screen and (min-width: 768px) {
  .custom-25-chitiet .footer .layout-boxed #Subheader .container,
  .custom-25-chitiet .footer .layout-boxed:not(.with_aside) .section:not(.full-width),
  .custom-25-chitiet .footer .layout-boxed.with_aside .content_wrapper,
  .custom-25-chitiet .footer .layout-boxed #Footer .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .custom-25-chitiet .footer h4 {
    font-size: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .footer .section_wrapper .mcb-wrap,
  .custom-25-chitiet .footer .section_wrapper .column,
  .custom-25-chitiet .footer .container .column,
  .custom-25-chitiet .footer .sections_group,
  .custom-25-chitiet .footer .four.columns {
    margin: 0;
    width: 100% !important;
    clear: both;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .footer #Footer .footer_copy {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .footer #Footer .footer_copy .copyright {
    float: none;
    margin: 0 0 10px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .footer #Footer .footer_copy .social {
    float: none;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .custom-25-chitiet .footer h4 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .custom-25-chitiet .footer h4 {
    font-size: 13px;
    line-height: 19px;
  }
}
@media only screen and (max-width: 961px) {
  .custom-25-chitiet .custom-25-chitiet1 {
    padding: 0px 60px 15px;
  }
}
@media only screen and (min-width: 1040px) {
  .custom-25-chitiet .custom-25-chitiet1 {
    padding: 0px 65px 0px;
  }
}
@media only screen and (max-width: 1030px) and (min-width: 961px) {
  .custom-25-chitiet .custom-25-chitiet1,
  .custom-25-chitiet .footer {
    padding: 0px 0px 15px;
  }
}
@media only screen and (min-width: 1040px) {
  .custom-25-chitiet .custom-25-chitiet2 {
    padding: 0px 65px 0px;
  }
}
@media only screen and (max-width: 1045px) {
  .custom-25-chitiet .footer {
    padding: 0 65px 15px;
  }
}
@media only screen and (min-width: 1240px) {
  .custom-25-chitiet .footer {
    padding: 0 65px 15px;
  }
}
@media only screen and (max-width: 960px) {
  .custom-25-chitiet .footer {
    padding: 0 60px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet .footer {
    padding: 0 60px 15px;
  }
}
@media only screen and (max-width: 479px) {
  .custom-25-chitiet .footer {
    padding: 0 60px 15px;
  }
}
