.type-c-2{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 15px;

    .mega-dropdown {
        position: static !important;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 98%;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #222;
        padding: 3px 5px;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }
    .mega-dropdown-menu .dropdown-header {
        font-size: 20px;
        color: #000000;
    }
    .tagcloud01 ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .tagcloud01 ul li {
        display: inline-block;
        margin: 0 .3em .3em 0;
        padding: 0;
    }
    .tagcloud01 ul li a {
        display: inline-block;
        max-width: 100px;
        height: 28px;
        line-height: 28px;
        padding: 0 1em;
        background-color: #ffffff;
        border: 1px solid #aaa;
        border-radius: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #333;
        font-size: 13px;
        text-decoration: none;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .tagcloud01 ul li a:hover {
        background-color: #3498db;
        border: 1px solid #3498db;
        color: #fff;
    }
    .navbar-inverse {
        background-color: #FFF;
        border-color: #FFF;
        margin-bottom: 0px;
    }
    .navbar-inverse .navbar-nav > .open > a:hover {
        color: #9e0a0a;
        background-color: #FFF;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #000;
        font-family: 'Lato';
        font-size: 16px;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #758991;
        background-color: #758991;
    }
    .nav > li > a {
        padding-left: 38px;
    }
    .navbar-inverse .navbar-nav > .open > a {
        color: #9e0a0a;
        background-color: #FFF;
    }
    .js-navbar-collapse{
        margin: 0;
    }
}