.type-599 .navbar-default {
  background-color: rgba(255,255,255,0);
  background: url(../images/bg-dot.png);
}
.type-599 .navbar-default .navbar-nav > li > a {
  color: #000;
}
.type-599 .navbar-default .navbar-nav > .active > a {
  background: none !important;
  background-image: none !important;
  color: #000;
}
.type-599 .navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
.type-599 .navbar {
  min-height: 77px;
  margin-bottom: 0px;
  transition: all 0.3s ease 0s;
}
.type-599 .navbar .container {
  z-index: 9999;
}
.type-599 .navbar .brand {
  font-size: 20px;
  text-transform: uppercase;
  color: #050F1E;
}
.type-599 .navbar .nav > li > a {
  border-bottom: none;
}
.type-599 .nav-container.container {
  background: none;
}
.type-599 .container {
  position: relative;
}
.type-599 button {
  text-shadow: none;
  color: #FFF;
  font-weight: 300;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.type-599 .brand {
  margin: 0 auto;
  padding: 2em 0 3em;
  text-align: center;
}
.type-599 .brand img {
  padding: 10px;
  border-radius: 3px;
  max-width: 100%;
  max-height: 120px;
  width: auto;
  float: left;
  position: relative;
}
.type-599 a {
  outline: 0 !important;
}
.type-599 .navbar-nav {
  float: right;
}
.type-599 li {
  line-height: 22px;
}
.type-599 .nav>li>a {
  margin-left: 3px;
}
.type-599 .dropdown-menu {
  border-radius: 0;
  box-shadow: 0 3px 8px rgba(17,17,17,0.2);
  list-style: none;
  margin: 2px 0 0;
  padding: 5px 0;
  text-align: left;
  background-color: #333333;
}
.type-599 .dropdown-menu li > a {
  padding: 10px 20px;
  margin: -5px 0;
}
.type-599 .dropdown-menu li a {
  background-color: #fff;
  color: #333;
}
.type-599 .dropdown-menu > .active > a {
  background: #fff;
  color: #333;
}
.type-599 .dropdown-menu>li>a {
  color: #ffffff;
  font-size: 14px;
}
.type-599 .dropdown-menu li a {
  background-color: #fff;
  color: #333;
}
.type-599 .dropdown-menu li a:hover {
  background-color: #34d298;
  color: #fff;
}
.type-599 body {
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
.type-599 .navbar .container {
  z-index: 9999;
}
.type-599 .sc-nav.shrink .navbar-toggle {
  padding: 8px 8px;
  margin: 8px 15px 8px 0;
  border: none;
  border-radius: 0;
  background: #333;
}
.type-599 button {
  padding: 10px 20px;
  background: #34D298;
  border: none;
  border-radius: 3px;
  text-shadow: none;
  color: #FFF;
  font-weight: 300;
  font-size: 18px;
  transition: all linear 0.15s;
}
.type-599 #menu-main-menu {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .type-599 .nav > li {
    display: inline-block;
  }
}
@media (max-width: 991px) and (min-width: 480px) {
  .type-599 .navbar .nav > li > a {
    padding: 10px 5px;
    line-height: 70px;
  }
}
