body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
a {
    text-decoration: none !important;
}
.background-footer{
    background: #212c43;
}
.color-footer{
    color: #8b98b2;
}
.mau-chu{
    color: #fff;
}


.type-580{
    
    @color_fff: #fff;
    @color_8b98b2: #8b98b2;
    
    .footer-wrapper{
        .background-footer;
        .color-footer;
        margin-top: 36px;
        .footer-widgets {
            padding-top: 64px;
            padding-bottom: 50px;
            .widget-news {
                .widget-title {
                    padding-bottom: 25px;
                    margin: 0;
                    margin-bottom: 10px;
                    font-size: 20px;
                    line-height: 24px;
                    .mau-chu;
                }
                .widget-news__text {
                    float: left;
                    margin-right: 5px;
                    margin-bottom: 24px;
                    font-size: 12px;
                    line-height: 15px;
                    .color-footer;
                }
            }
        }
    }
    .subscribe-form {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 350px;
        margin-top: 3px;
        margin-bottom: 20px;
    }
    .subscribe-input {
        height: 40px;
        padding: 0 37px 0 15px;
        font-size: 13px;
        background: #e5e5da;
        background: @color_fff;
        border: none;
    }

    .submit-button {
        position: absolute;
        top: 7px;
        right: 5px;
        padding: 0;
        background: transparent;
        border: 0;
    }
    .submit-button .icon-circle {
        color: #212c43;
        border-color: #212c43;
    }
    .icon-circle--thin {
        width: 26px;
        height: 26px;
        padding-top: 5px;
        font-size: 12px;
        line-height: 12px;
        border-width: 2px;
    }
    .icon-circle {
        display: inline-block;
        text-align: center;
        border: 2px solid @color_8b98b2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    input{
        width: 100%;
        padding: 9px 45px 10px 14px;
        font-size: 13px;
        background: #f3f5f7;
        border: 1px solid #e3e8ec;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-appearance: none;
    }
    .submit-button:hover .icon-circle {
        color: #7ccbfc;
        border-color: #7ccbfc;
    }
    .widget-contacts {
        clear: both;
        margin-bottom: 25px;
        font-size: 0;
        .mau-chu;
    }
    .widget-contacts__item {
        display: inline-block;
        height: 26px;
        margin-right: 20px;
        margin-bottom: 8px;
        font-size: 11px;
        .icon-circle {
            margin-right: 9px;
            width: 26px;
            height: 26px;
            padding-top: 5px;
            font-size: 12px;
            line-height: 12px;
            border-width: 2px;
        }
    }
    .footer-wrapper a:hover{
        color: @color_fff;
    }
    a {
        color: #7ccbfc;
        text-decoration: none;
    }
    .icon-circle--thin:hover {
        border-color: @color_8b98b2;
    }
    .fa {
        color: @color_8b98b2;
    }
    .icon-circle--thin {
        width: 26px;
        height: 26px;
        padding-top: 5px;
        font-size: 12px;
        line-height: 12px;
        border-width: 2px;
    }
    .twitter_update_list {
        margin: 0;
        list-style: none;
        padding-left: 0px;
        li {
            margin-bottom: 4px;
            padding-bottom: 9px;
            font-size: 12px;
            line-height: 15px;
            color: @color_8b98b2;
            .timesince {
                font-size: 11px;
                font-style: italic;
                color: #576d98;
            }
        }
    }
    .twitter-text {
        margin-bottom: 5px;
    }
    .widget-flickr {
        margin-top: 25px;
        .flickr {
            max-width: 285px;
        }
    }
    .flickr {
        padding-top: 4px;
        margin: 0 -5px 0 0;
        list-style: none;
        padding-left: 0px;
        li {
            float: left;
            width: 50px;
            margin: 0 5px 5px 0;
            border: 2px solid @color_8b98b2;
            overflow: hidden;
            a {
                position: relative;
            }
        }
        .flickr__hover {
            position: absolute;
            top: -15px;
            left: -2px;
            display: block;
            width: 50px;
            height: 50px;
            border: 0px solid rgba(229, 229, 218, 0.7);     
            transition: all 600ms ease-in-out;
            opacity: 0;
            filter: alpha(opacity=0);
            overflow: visible;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        border: 0 none;
        vertical-align: middle;
    }
    .flickr li a:hover .flickr__hover {
        border: 25px solid #e5e5da;
        opacity: 0.7;

    }
    /*footer secondary*/
    .footer-secondary {
        min-height: 60px;
        text-align: center;
        background: #1b253b;
    }
    .divider-circle {
        position: relative;
        padding-top: 2px;
        border-top: 1px solid #0d1629;
        border-bottom: 1px solid #0d1629;
    }
    .divider-circle:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        display: block;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        background: #0d1629;
        border: solid 3px #212c43;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .social {
        display: inline-block;
        margin-top: 27px;
        list-style: none;
        padding-left: 0px;
    }
    .social__item {
        float: left;
        height: 30px;
        margin-left: 10px;
    }
    .icon-circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-top: 6px;
        font-size: 12px;
        text-align: center;
        border: 3px solid @color_8b98b2;
        border-radius: 50%;
    }
    .copyright {
        padding-top: 9px;
        padding-bottom: 23px;
        color: @color_8b98b2;
    }
    small, .small {
        font-size: 12px;
    }
    .social a:hover {
        color: #7ccbfc;
    }
    .icon-circle:hover {
        border-color: #7ccbfc;
    }


    /*di dong */
    @media (min-width: 1200px){
        .container {
            padding-right: 0;
            padding-left: 0;
        }
        .widget-news .widget-news__text {
            float: left;
            width: 44%;
            padding-right: 5px;
            margin-right: 0;
        }
        .widget-news .subscribe-form {
            float: right;
            width: 56%;
            max-width: 310px;
        }
        .widget-flickr {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @media (min-width: 992px){
        .widget-news__text {
            margin-bottom: 12px;
        }
        .widget-contacts__item {
            margin-right: 25px;
        }
        .widget-flickr {
            padding-left: 13px;
            padding-right: 2px;
        }
    }
    @media (min-width: 768px){
        .subscribe-form {
            margin-bottom: 17px;
        }
        .widget-contacts {
            margin-top: 4px;
            margin-bottom: 0;
        }
        .widget-news .widget-news__text {
            margin-bottom: 12px;
        }
        .widget-flickr {
            margin-top: 0;
        }
        .social {
            float: right;
            margin: 11px 0 15px;
        }
        .social__item .fa-pinterest {
            font-size: 13px;
        }
        .social a {
            color: @color_8b98b2;
        }
        .copyright {
            float: left;
            padding-top: 15px;
            padding-bottom: 21px;
        }



    }
    @media (max-width: 991px) and (min-width: 768px){
        .widget-contacts__item {
            display: block;
        }
        .widget-contacts {
            margin-bottom: 60px;
        }
        .twitter_update_list {
            max-width: 275px;
        }

    }
}