 .mod_k{
  a {
    color: #6B6B6B;
}
  a {
    text-decoration: none;
}
  .pull-left {
    font-size: 12px;
}
  .header-top-line {
    border-bottom: 1px solid #e9e9e9;
    margin: 16px 0 0;
    height: 40px;
}
  #rb_phone_widget-3 {
    margin-left: 40px;
}
  #rb_email_widget-3{
    margin-left: -15px;
}
  .input-group{
    margin-right: -15px;
}
  .widget {
    float: left;
}
  .widget a:hover {
    color: #fd4326;
}
  .rbSocial.icons {
    margin-top: 0px;
}
  .rbSocial.icons li {
    margin-left: 12px;
    position: relative;
    cursor: pointer;
    text-align: center;
    height: 18px;
    display: inline;
}
  .rbSocial.icons a {
    font-size: 16px;
    color: #B6B6B6;
    position: relative;
    width: 100%;
    height: 18px;
}
  #text-3 {
    margin-right: 20px;
}
  #text-3 a:hover {
    color: #fd4326;
}
  .navbar-form {
    margin-top: -8px;
}
  #searchform {
    top: 0px;
    right: 0;
    width: auto;
    margin-right: 10px;
}
  #s {
    border: none;
    color: #ACACAC;
    height: 25px;
    border-left: 1px solid #E9E9E9;
    padding: 0 37px 0 15px;
    width: 180px;
    font: 12px Arial, sans-serif;
    background: transparent;
    float: right;
}
  #searchform .holder {
    position: absolute;
    right: 0;
    top: 0px;
    width: 28px;
    height: 28px;
}
  #searchsubmit {
    border-radius: 18px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 2;
}
  #searchform .iconsearch {
    color: #B6B6B6;
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 18px;
    background: #F7F7F7;
    border: 1px solid #E9E9E9;
    padding: 6px 0 0 2px;
}
  #searchform .iconsearch:hover {
    background: #fd4326;
    color: white;
}
  .form-control {
    border: none;
    box-shadow: none;
}
  .line-header-tottom1 {
    border-bottom: 3px solid #e9e9e9;
    margin: 0px;
}
  .logo {
    margin-left: -15px;
    padding: 23px 0px;
}
  .cart-widget {
    float: right;
    margin-right: -15px;
    height: 35px;
    border-left: 1px solid #E9E9E9;
    margin-top: 10px;
}
  .cart-widget p {
    line-height: 15px;
    margin: 4px 0 0 0;
    padding-left: 53px;
}
  .cart-contents span {
    display: block;
    font-weight: bold;
}
  .cart-contents:hover {
    color: #FD4326;
}
  .cart-contents:hover .card {
    background: #FD4326;
}
  .cart-contents .card {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: inherit;
    width: 28px;
    height: 28px;
    background: #3B3B3B;
    color: #FFF;
    padding-top: 5px;
    border-radius: 14px;
    font-size: 16px;
    margin: 5px 0 0 15px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  .navbar {
    margin-bottom: 0px;
}
  #menu {
    right: 0;
    border: none;
    height: auto;
}
  .dropdown-menu {
    padding: 0px;
}
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
@media (min-width: 768px) and (max-width: 979px){
      .logo{
        text-align: center;
        margin-bottom: -23px;
    }
      #menu ul {
    border: none;
    margin-top: 0px;
    width: 106%;
}
}
@media (max-width: 767px) {
      .navbar-header {
        background-color: #e9e9e9;
    }
      #menu-main-menu .dropdown .dropdown-menu .dropdown-submenu:hover  .dropdown-toggle1 {
        color: #FFF;
        background: #FD4326;
    }
      #menu ul li ul li a:hover {
        color: #FFF;
        background: #FD4326;
    }
      #menu-main-menu .dropdown:hover .dropdown-toggle {
        border: none;
        color: #fd4326;
    }
      #menu-main-menu .dropdown .selected {
        color: #3B3B3B;
        border: none;
    }
      #menu-main-menu .dropdown:hover .selected {
        color: #000;
        border: none;
    }
}
  #menu-main-menu {
    float: right;
}
@media (max-width: 767px) {
      #menu-main-menu .dropdown .dropdown-toggle {
        padding: 14px 0px;
    }
      #menu-main-menu {
        float: left;
        width: 100%;
    }
      .cart-widget {
        width: 100%;
        margin: auto;
        border: none;
        padding-left: 40%;
    }
      #searchform {
        width: 100%;
        padding-top: 0px;
    }
      #s {
        width: 110px;
    }
    .navbar-ex1-collapse{
        z-index: 9999;
        background-color: #e7e7e7;
        position: absolute;
        width: 100%;
        padding-left: 35px;
    }
}
  #menu li  ul  li  ul {
    top: 0px !important;
    left: 160px !important;
    width: 100%;
    box-shadow: 0 2px 13px rgba(100,100,100,0.1);
    display: none;
    margin: 0;
}
  #menu li ul li a {
    background: #3B3B3B;
    color: #999;
}
  #menu li  ul li a {
    padding: 11px 25px;
    height: 35px;
    color: #999;
    width: 100%;
    font: 10px Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    display: block;
}
  #menu li  ul li {
    border-bottom: 1px solid #EEE;
    border-color: #464646;
}
  #menu  ul  li  a {
    padding: 26px 19px;
    border-bottom: 3px solid transparent;
    top: 3px;
    color: #6B6B6B;
    font: 11px Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    display: block;
}
  #menu-main-menu .dropdown .dropdown-menu .dropdown-submenu:hover  .dropdown-toggle1 {
    color: #FFF;
    background: #FD4326;
}
  #menu ul li ul li a:hover {
    color: #FFF;
    background: #FD4326;
}
  #menu-main-menu .dropdown:hover .dropdown-toggle {
    border-color: #fd4326;
    color: #fd4326;
}
  #menu-main-menu .dropdown .selected {
    color: #3B3B3B;
    border-color: #3B3B3B;
}
  #menu-main-menu .dropdown:hover .selected {
    color: #3B3B3B;
    border-color: #3B3B3B;
}
  #menu  ul {
    border: none;
    margin-top: 3px;
}
  .navbar-default {
    background-color: #FFF;
}
  .carousel-indicators .active {
    background-color: #FFF;
}
  .carousel-indicators li:hover {
    background-color: #FFF;
}
  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 0px;
    background: rgba(255,255,255,0.3);
}
  .carousel-inner img {
    width: 100%;
    max-height: 460px;
}
  .carousel-control {
    width: 0;
}
  .carousel-control.left-moble,
  .carousel-control.right-mobile {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}
  .carousel-control.left-moble span {
    padding: 10px 15px;
}
  .carousel-control.right-mobile span {
    padding: 10px 15px;
}
  .carousel-control .iconleft,
  .carousel-control .iconright,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}
  .carousel-control .iconleft,
  .carousel-control .icon-prev {
    left: 30px;
}
  .carousel-control .iconright,
  .carousel-control .icon-next {
    right: 30px;
}
  .carousel-control.left-moble span,
  .carousel-control.right-mobile span {
    background: rgba(0,0,0,0.5);
}
  .carousel-control.left-moble span:hover,
  .carousel-control.right-mobile span:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    background: #fd4326;
}
  .header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}
  .header-text h2 {
    font-size: 40px;
}
  .header-text h2 span {
    background-color: #2980b9;
    padding: 10px;
}
  .header-text h3 span {
    background-color: #000;
    padding: 15px;
}
  .btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
  .btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}
  .btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
@media (max-width: 768px) {
      .carousel-control .iconright,
      .carousel-control .icon-next {
        margin-right: 15px;
        padding: 5px;
    }
      .carousel-control.left-moble span {
        padding: 5px;
    }
      .carousel-control.right-mobile span {
        padding: 5px;
    }
}
}
