.type_a_2_chitiet_1 .separate_sidebar_bg .content {
  margin: 20px auto;
  background-color: transparent;
  padding: 25;
}
.type_a_2_chitiet_1 .main-side {
  float: left;
  position: relative;
  border: 1px solid #ddd;
}
.type_a_2_chitiet_1 .separate_sidebar_bg .main-side:not(.visual_page_builder) {
  box-sizing: border-box;
  background-color: #fff;
}
.type_a_2_chitiet_1 .colored_bg .main-side:not(.visual_page_builder) {
  border: 1px solid #ddd;
  padding: 25px;
  box-shadow: 0 2px 2px #ECECEC;
}
.type_a_2_chitiet_1 article {
  font: 16px/24px 'arial', trebuchet ms;
  color: #111;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}
.type_a_2_chitiet_1 .post {
  margin-bottom: 15px;
}
.type_a_2_chitiet_1 article.post {
  counter-reset: wpsmtop;
  word-wrap: break-word;
}
.type_a_2_chitiet_1 div {
  margin: 8px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}
.type_a_2_chitiet_1 .breadcrumb {
  margin-bottom: 15px;
  color: #111;
  font: 12px 'arial', trebuchet ms;
}
.type_a_2_chitiet_1 a:-webkit-any-link {
  cursor: auto;
}
.type_a_2_chitiet_1 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none !important;
  transition: all 0.4s ease 0s;
}
.type_a_2_chitiet_1 .post a {
  text-decoration: none;
}
.type_a_2_chitiet_1 .breadcrumb a {
  color: #111;
}
.type_a_2_chitiet_1 .span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2_chitiet_1 .share-link-image:hover {
  top: 2px;
}
.type_a_2_chitiet_1 .btn_block_part .btn_offer_block:hover {
  background: none #2caa17 !important;
  color: #fff !important;
  opacity: 0.8;
  box-shadow: none !important;
  border-color: transparent;
}
.type_a_2_chitiet_1 .main-side .top_single_area {
  border: none;
  overflow: hidden;
  margin-bottom: 25px;
  display: table;
  width: 100%;
}
.type_a_2_chitiet_1 .featured_single_left {
  width: 135px;
  height: 135px;
  margin: 0 0 20px 0;
  padding-right: 20px;
  display: table-cell;
  vertical-align: top;
}
.type_a_2_chitiet_1 .featured_single_left figure {
  width: 135px;
  height: 135px;
  max-width: 135px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  display: table-cell;
}
.type_a_2_chitiet_1 img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0;
}
.type_a_2_chitiet_1 img.lazyimages {
  transition: opacity .5s ease-in;
}
.type_a_2_chitiet_1 .featured_single_left figure img {
  width: auto;
  max-height: 123px;
}
.type_a_2_chitiet_1 .single_top_main,
.type_a_2_chitiet_1 .single_top_corner {
  display: table-cell;
  vertical-align: top;
}
.type_a_2_chitiet_1 h1 {
  font: 700 28px/38px 'Roboto', trebuchet ms, arial;
  color: #111;
  letter-spacing: -0.5px;
}
.type_a_2_chitiet_1 .top_single_area h1 {
  margin: 0 0 20px 0;
}
.type_a_2_chitiet_1 .main-side .top_single_area h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.type_a_2_chitiet_1 .hoticonfireclass:before {
  font-family: FontAwesome;
  content: "\f06d";
  margin-right: 8px;
  color: #CA212A;
}
.type_a_2_chitiet_1 .post-meta {
  font-size: 11px;
  line-height: 12px;
  font-style: italic;
  color: #999;
}
.type_a_2_chitiet_1 .top_single_area .post-meta {
  overflow: hidden;
  margin-bottom: 15px;
}
.type_a_2_chitiet_1 .post-meta span {
  display: inline-block;
  margin-right: 3px;
}
.type_a_2_chitiet_1 .post-meta span a,
.type_a_2_chitiet_1 .post-meta a.admin {
  color: #111;
  text-decoration: none;
}
.type_a_2_chitiet_1 .admin_meta .admin img {
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 50%;
}
.type_a_2_chitiet_1 .post-meta span {
  display: inline-block;
  margin-right: 3px;
}
.type_a_2_chitiet_1 span.date_meta:before,
.type_a_2_chitiet_1 span.cat_link_meta:before,
.type_a_2_chitiet_1 span.comm_count_meta:before,
.type_a_2_chitiet_1 span.postview_meta:before,
.type_a_2_chitiet_1 span.admin_meta:before {
  font-size: 3px;
  line-height: 12px;
  vertical-align: middle;
  padding-right: 3px;
  content: "\f111";
  font-family: FontAwesome;
}
.type_a_2_chitiet_1 .top_single_area .cat_link_meta {
  text-transform: uppercase;
  font-style: normal;
}
.type_a_2_chitiet_1 .more-from-store-a {
  margin: 0 5px;
}
.type_a_2_chitiet_1 .post-meta span {
  display: inline-block;
  margin-right: 3px;
}
.type_a_2_chitiet_1 .store_post_meta_item {
  font-size: 12px;
  line-height: 14px;
}
.type_a_2_chitiet_1 .post-meta span a {
  color: #111;
  text-decoration: none;
}
.type_a_2_chitiet_1 .more-from-store-a a:before {
  font-family: FontAwesome;
  content: "\f292";
  margin-right: 2px;
  font-style: normal;
  color: #999;
}
.type_a_2_chitiet_1 .post_share {
  position: relative;
  clear: both;
}
.type_a_2_chitiet_1 .top_share .post_share {
  text-align: left;
  margin: 0 0 12px 0;
  overflow: hidden;
}
.type_a_2_chitiet_1 .share-link-image {
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
}
.type_a_2_chitiet_1 .social_icon .fb {
  background-color: #39599F;
}
.type_a_2_chitiet_1 .row_social_inpost span.share-link-image {
  box-shadow: 0 1px 2px #E4E4E4;
  width: auto;
  min-width: 20px;
  height: 35px;
  line-height: 13px;
  float: left;
  margin: 0 6px 6px 0;
  font-size: 16px;
  padding: 5px 7px;
}
.type_a_2_chitiet_1 i {
  margin: 8px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_2_chitiet_1 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type_a_2_chitiet_1 .row_social_inpost span i {
  font-size: 13px;
}
.type_a_2_chitiet_1 .fa-facebook-f:before,
.type_a_2_chitiet_1 .fa-facebook:before {
  content: "\f09a";
}
.type_a_2_chitiet_1 .row_social_inpost span.fb:after {
  content: "Facebook";
  font-size: 12px;
  text-decoration: none;
  margin-left: 8px;
}
.type_a_2_chitiet_1 .clearfix:before {
  content: "";
  display: table;
}
.type_a_2_chitiet_1 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.type_a_2_chitiet_1 .single_top_corner {
  display: table-cell;
  vertical-align: top;
}
.type_a_2_chitiet_1 .single_top_corner {
  padding-left: 20px;
}
.type_a_2_chitiet_1 .floatright {
  float: right;
}
.type_a_2_chitiet_1 .brand_logo_small {
  color: #666;
  font-size: 12px;
  line-height: 16px;
}
.type_a_2_chitiet_1 .single_top_corner .brand_logo_small {
  clear: both;
}
.type_a_2_chitiet_1 .post a {
  text-decoration: none;
  color: #111;
}
.type_a_2_chitiet_1 single_top_corner .brand_logo_small img {
  max-width: 80px;
  max-height: 40px;
}
.type_a_2_chitiet_1 .single_top_postproduct {
  clear: both;
  overflow: hidden;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.type_a_2_chitiet_1 .left_st_postproduct {
  float: left;
}
.type_a_2_chitiet_1 .left_st_postproduct .post_thumbs_wrap {
  float: left;
}
.type_a_2_chitiet_1 .left_st_postproduct .post_thumbs_wrap {
  margin-right: 20px;
}
.type_a_2_chitiet_1 .dealScore {
  float: left;
  margin-right: 10px;
  margin-top: -4px;
}
.type_a_2_chitiet_1 .dealScore .label {
  display: inline-block;
  float: left;
  height: 32px;
  text-align: center;
  font-size: 14px;
  background: #96CA4E;
  padding: 0 13px;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px 0px 0px 4px;
  margin-top: -4px;
}
.type_a_2_chitiet_1 thumbscount {
  font: 14px/29px Arial;
}
.type_a_2_chitiet_1 .dealScore .thumbscount {
  margin: 0;
  display: inline-block;
  float: left;
  height: 32px;
  width: auto;
  min-width: 50px;
  text-align: center;
  font-size: 18px;
  background: #DAECC2;
  padding: 0 5px;
  color: #333 !important;
  line-height: 32px;
  border-radius: 0px 4px 4px 0px;
  margin-top: -4px;
}
.type_a_2_chitiet_1 .table_cell_thumbs {
  overflow: hidden;
}
.type_a_2_chitiet_1 .thumbplus,
.type_a_2_chitiet_1 .thumbminus {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  font-size: 1em;
  border: 1px solid #dcddde;
  border-radius: 4px;
  outline: none;
}
.type_a_2_chitiet_1 .thumbplus {
  color: #67a827;
  margin: 0 8px 0 0;
}
.type_a_2_chitiet_1 .dealScoreWrap .thumbplus {
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-top: -8px;
}
.type_a_2_chitiet_1 .thumbplus:hover {
  background-color: #67a827;
  border: 1px solid #67a827;
  color: #fff;
}
.type_a_2_chitiet_1 .thumbplus:before {
  font-family: FontAwesome;
  content: "\f087";
  line-height: 25px;
  display: inline-block;
}
.type_a_2_chitiet_1 .thumbminus {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  font-size: 1em;
  border: 1px solid #dcddde;
  border-radius: 4px;
  outline: none;
}
.type_a_2_chitiet_1 .thumbminus {
  color: #d10000;
}
.type_a_2_chitiet_1 dealScoreWrap .thumbminus {
  height: 32px;
  width: 32px;
  line-height: 32px;
}
.type_a_2_chitiet_1 .thumbminus:hover {
  background-color: #d10000;
  color: #fff;
  border: 1px solid #d10000;
}
.type_a_2_chitiet_1 .thumbminus:before {
  font-family: FontAwesome;
  content: "\f088";
  line-height: 25px;
  display: inline-block;
}
.type_a_2_chitiet_1 .left_st_postproduct .post-meta {
  float: left;
}
.type_a_2_chitiet_1 .left_st_postproduct .post-meta {
  line-height: 32px;
  font-size: 12px;
  margin-bottom: 0;
}
.type_a_2_chitiet_1 .left_st_postproduct .post-meta span {
  margin-right: 12px;
}
.type_a_2_chitiet_1 span.date_meta:before,
.type_a_2_chitiet_1 span.cat_link_meta:before,
.type_a_2_chitiet_1 span.comm_count_meta:before,
.type_a_2_chitiet_1 span.postview_meta:before,
.type_a_2_chitiet_1 span.admin_meta:before {
  line-height: 12px;
  vertical-align: middle;
  padding-right: 3px;
  font-family: FontAwesome;
}
.type_a_2_chitiet_1 span.postview_meta:before {
  content: "\f06e";
  font-size: 12px;
  font-style: normal;
}
.type_a_2_chitiet_1 .right_st_postproduct {
  float: right;
}
.type_a_2_chitiet_1 .single_price_count {
  font-size: 21px;
  font-weight: bold;
  float: left;
  margin-top: 4px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.type_a_2_chitiet_1 .single_price_count del {
  font-size: 14px;
  font-weight: normal;
  color: #ccc;
}
.type_a_2_chitiet_1 .btn_block_part {
  display: inline-block;
  margin-left: 15px;
}
.type_a_2_chitiet_1 .btn_block_part .btn_offer_block {
  background: none #2caa17 !important;
  box-shadow: 0 2px 2px #E7E7E7 !important;
  color: #fff !important;
  border-radius: 0 !important;
  text-decoration: none !important;
  border: none !important;
  font: 700 15px/17px 'Roboto', trebuchet ms;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.type_a_2_chitiet_1 .wpsm_update .label-info {
  background-color: #5bc0de;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 3px 6px;
  font-size: 75%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  line-height: 14px;
}
.type_a_2_chitiet_1 .wpsm_update {
  clear: both;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 22px;
}
.type_a_2_chitiet_1 article p {
  margin: 0 0 28px 0;
}
.type_a_2_chitiet_1 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2_chitiet_1 ul {
  list-style: none;
}
.type_a_2_chitiet_1 .wpsm_update ul {
  margin: 20px 0 0 20px;
}
.type_a_2_chitiet_1 li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2_chitiet_1 .wpsm_update li {
  margin: 0 0 5px 0;
}
.type_a_2_chitiet_1 .wpsm_update ul li {
  list-style: disc;
}
.type_a_2_chitiet_1 element.style {
  color: #ff0000;
}
.type_a_2_chitiet_1 strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2_chitiet_1 p strong {
  font-weight: bold;
}
.type_a_2_chitiet_1 .wpsm_box {
  display: block;
  font-size: 15px;
  box-sizing: border-box;
}
.type_a_2_chitiet_1 .wpsm_box.nonefloat_box {
  float: none;
}
.type_a_2_chitiet_1 .wpsm_box.info_type {
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px;
  color: #363636;
  min-height: 52px;
  padding: 15px 15px 15px 20px;
  margin: 0 0 25px 0;
  overflow: auto;
}
.type_a_2_chitiet_1 .wpsm_box.info_type {
  background-color: #F0FFDE;
  border-color: #ABE19A;
}
.type_a_2_chitiet_1 element.style {
  text-align: left;
  width: 100%;
}
.type_a_2_chitiet_1 .wpsm_box.info_type i {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  font-size: 27px;
  float: left;
  margin: 0 14px 10px 0;
}
.type_a_2_chitiet_1 .wpsm_box.info_type i:before {
  content: "\f0c6";
  color: #53A34C;
}
.type_a_2_chitiet_1 h5 {
  display: block;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 700 16px/18px 'Roboto', trebuchet ms;
  color: #111;
  margin: 10px 0 15px 0;
}
.type_a_2_chitiet_1 .post ul {
  margin: 0 0 15px 5px;
}
.type_a_2_chitiet_1 .post li {
  margin: 0 0 5px 15px;
}
.type_a_2_chitiet_1 .post ul li {
  list-style: disc outside none;
}
.type_a_2_chitiet_1 .aligncenter,
.type_a_2_chitiet_1 img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.type_a_2_chitiet_1 .wpsm_box.warning_type {
  background-color: #FFF7F4;
  border-color: #F38867;
  color: #A61818;
}
.type_a_2_chitiet_1 .float-posts-nav {
  opacity: 1;
  transition: all .7s ease-in-out;
}
.type_a_2_chitiet_1 .single .tags {
  margin: 70px auto 0 auto;
}
.type_a_2_chitiet_1 .single .tags p {
  color: #666;
  font: bold 12px 'arial', trebuchet ms;
}
.type_a_2_chitiet_1 .author_detail_box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px 0px;
  margin: 5px auto 40px auto;
  position: relative;
  min-height: 90px;
}
.type_a_2_chitiet_1 .author_detail_box .avatar {
  width: 71px;
  position: absolute;
  left: 20px;
  top: 15px;
}
.type_a_2_chitiet_1 .author_detail_box>div {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 110px;
}
.type_a_2_chitiet_1 file_btn {
  float: right;
  margin: 0 10px 10px 10px;
}
.type_a_2_chitiet_1 h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  vertical-align: baseline;
  padding: 0;
  border: 0;
  font: 700 18px/21px 'Roboto', trebuchet ms;
  color: #111;
}
.type_a_2_chitiet_1 .author_detail_box div h4 {
  margin: 0 0 8px 0;
}
.type_a_2_chitiet_1 h4 a {
  color: #111;
  text-decoration: none !important;
}
.type_a_2_chitiet_1 .rh-user-rank-mc {
  font: normal 12px/12px Arial;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  vertical-align: top;
  padding: 3px 5px;
  margin: 0 4px;
}
.type_a_2_chitiet_1 span.rh-user-rank-mc.rh-user-rank-259 {
  background-color: #FF6A00;
}
.type_a_2_chitiet_1 .author_detail_box div .social_icon {
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.type_a_2_chitiet_1 .comm_meta_cred {
  margin: 9px 0;
  font-size: 12px;
  line-height: 18px;
}
.type_a_2_chitiet_1 .author_detail_box .rh_mycred-users-badges {
  display: inline-block;
  margin-right: 5px;
}
.type_a_2_chitiet_1 .rh_mycred-users-badges img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.type_a_2_chitiet_1 .fa-star-o:before {
  content: "\f006";
}
.type_a_2_chitiet_1 .author_detail_box div p {
  font: 14px/16px 'arial', trebuchet ms;
  color: #111;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 1225px) {
  .type_a_2_chitiet_1 .separate_sidebar_bg .main-side:not(.full_width) {
    width: 840px;
  }
}
.type_a_2_chitiet_1 .social_icon .tw {
  background-color: #6cf;
}
.type_a_2_chitiet_1 .social_icon .pn {
  background-color: #ca212a;
}
.type_a_2_chitiet_1 .social_icon .gp {
  background-color: #eb4026;
}
.type_a_2_chitiet_1 .wpsm_box.warning_type,
.type_a_2_chitiet_1 .wpsm_box.error_type,
.type_a_2_chitiet_1 .wpsm_box.download_type,
.type_a_2_chitiet_1 .wpsm_box.note_type {
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px;
  min-height: 52px;
  padding: 15px 15px 15px 20px;
  margin: 0 0 25px 0;
  overflow: auto;
}
.type_a_2_chitiet_1 .dealScoreWrap .thumbminus {
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-top: -8px;
}
.type_a_2_chitiet_1 .content {
  background: #fff;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
}
@media screen and (min-width: 1225px) {
  .type_a_2_chitiet_1 .separate_sidebar_bg .content {
    box-shadow: none;
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .type_a_2_chitiet_1 .separate_sidebar_bg {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .type_a_2_chitiet_1 .single_top_main {
    display: block;
  }
  .type_a_2_chitiet_1 .single_top_corner {
    display: block;
    padding: 0;
  }
  .type_a_2_chitiet_1 .single_top_postproduct {
    border-top: none;
    padding: 0 0 20px 0;
  }
}
@media screen and (max-width: 700px) {
  .type_a_2_chitiet_1 .featured_single_left {
    padding: 0;
    margin: 0 auto 30px auto;
  }
}
.type_a_2_chitiet_1 .see_full_profile_btn {
  float: right;
  margin: 0 10px 10px 10px;
  color: #fa9e19;
}
.type_a_2_chitiet_1 .see_full_profile_btn:hover {
  color: #000;
  text-decoration: none;
}
