.our-clients{
  .linerow {
    border-bottom: 3px solid #e7e7e7;
    margin: 0px;
}
  .sectionTitle {
    border-bottom: 3px solid #3b3b3b;
    width: 155px;
    margin-bottom: -2px;
    margin-left: -15px;
}
  .icon-den {
    color: #fff;
    font-size: 14px;
    padding: 5px 6px;
    background: #3b3b3b;
    width: 27px;
    height: 27px;
    border-radius: 15px;
}
  .tieudethink strong {
    color: #6b6b6b;
    font-size: 11px;
    text-transform: uppercase;
}
  .tieudethink {
    height: 25px;
}
  .wpb_wrapper{
    margin-bottom: 50px;
}

}