.type-525{
    //MENU
    margin: 0px 15px;
    .navbar-inverse {
        background-color: #fff;
        border-color: #dfdcdc #fff;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-inverse ul {
        list-style: none;
        margin: 0px;
        font-size: 12px;
        float: left;
        margin-left: -7px;
    }
    .navbar-inverse li.dropdown {
        position: static;
    }
    .navbar-inverse > ul li{
        padding: 10px 0;
    }
    .navbar-inverse > ul li a{
        border-color: #dfdcdc;
        padding: 0 35px 0 5px;
        display: block;
        letter-spacing: 1px;
        line-height: 22px;
        position: relative;
    }
    a, a:hover {
        text-decoration: none;
        outline: none !important;
    }
    a:active{
        color: #000;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: #9d9d9d;
        padding-left: 10px;
        padding-right: 40px;
    }
    .navbar-inverse .sf-sub-indicator {
        display: block;
        width: 8px;
        height: 5px;
        text-indent: -999em;
        background: url(../images/menu-arrow.png) bottom left;
        position: absolute;
        top: 23px;
        right: 23px;
    }
    .navbar-inverse .navbar-nav>a:hover {
        color: #3e1d1d;; background-color: transparent !important}

    .navbar-inverse .navbar-nav>a{
        background-color: transparent !important;
    }
    #nav-sidebar {
        border-left: 1px solid #d7d7d7;
        float: right;
        margin-right: -27px;
    }
    #nav-sidebar .phone-text {
        margin-top: 3px;
        padding: 10px;
        float: left;
    }
    #mega-menu>li{
        border-right: 1px solid #d7d7d7;
    }
    #nav-sidebar .widget.widget-first {
        padding-left: 30px;
    }
    #nav-sidebar .text-image {
        margin-top: 3px;
    }
    #nav-sidebar .widget {
        padding: 12px;
        float: left;
    }
    .fade-socials-small.facebook-small {
        background: url(../images/facebook.png) no-repeat scroll left bottom transparent;
    }
    .fade-socials-small.facebook-small:hover {
        background: url(../images/facebook.png) no-repeat scroll left 0 transparent;
        transition: all 0.2s ease-in-out;
    }
    div.fade-socials-small {
        width: 22px;
        height: 22px;
        float: left;
        padding: 0px;
        margin: 0 1px;
    }
    .textwidget {
        padding-top: 4px;
    }
    div.fade-socials-small.rss-small {
        background: url(../images/rss.png) no-repeat scroll left bottom transparent;

    }
    .fade-socials-small.rss-small:hover {
        background: url(../images/rss.png) no-repeat scroll left 0 transparent;
        transition: all 0.2s ease-in-out;
    }
    div.fade-socials-small.twitter-small {
        background: url(../images/twitter.png) no-repeat scroll left bottom transparent;
    }
    .fade-socials-small.twitter-small:hover {
        background: url(../images/twitter.png) no-repeat scroll left 0 transparent;
        transition: all 0.2s ease-in-out;
    }
    div.fade-socials-small.google-small {
        background: url(../images/google.png) no-repeat scroll left bottom transparent;
    }
    .fade-socials-small.google-small:hover {
        background: url(../images/google.png) no-repeat scroll left 0 transparent;
        transition: all 0.2s ease-in-out;
    }
    div.fade-socials-small.linkedin-small {
        background: url(../images/linkedin.png) no-repeat scroll left bottom transparent;
    }
    .fade-socials-small.linkedin-small:hover {
        background: url(../images/linkedin.png) no-repeat scroll left 0 transparent;
        transition: all 0.2s ease-in-out;
    }
    div.fade-socials-small.pinterest-small {
        background: url(../images/pinterest.png) no-repeat scroll left bottom transparent;
    }
    .fade-socials-small.pinterest-small:hover {
        background: url(../images/pinterest.png) no-repeat scroll left 0 transparent;
        transition: all 0.2s ease-in-out;
    }

    .dropdown-menu{
        margin-top: 13px;
        margin-left: -8px;
        position: absolute;
        font-size: 14px;
        left: auto;
        padding: 0 12px 0px 17px;
        min-width: 130px;
        background: #fff;
        border: 0px solid #dfdcdc;
        z-index: 10000;
        border-color: #dfdcdc;
    }
    select option {
        background: none;
        width: 100%;
    }
    #mega-menu #ko-boder{
        border-right: none;
    }
    .select-menu select {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
        background: none;
        padding: 8px 10px;
        margin: 0;
        line-height: 16px;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    i {
        margin-left: -20px;
        color: #9d9d9d;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
        text-decoration: none;
        background-color: #fff;
        color: #000 !important;
    }
    h6 {
        font-size: 12px;
        margin-left: -15px;
    }
    #mega-menu li>ul>li>a>i{
        margin-left: -48px;
    }
    #mega-menu li>ul>li{
        margin-top: 2px;
        margin-bottom: 3px;
        margin-top: 2px;
        margin-left: 2px;
    }
    #mega-menu li>ul{
        margin-bottom: 20px;
        text-align: left;
    }
    ul>a>img{
        padding-left: 0px;
    }
    #cuoi{
        margin-left: 2px;
        color: #b26706;
    }
    #cuoi1{
        margin-left: 7px;
    }
    #cuoi>p{
        margin-left: 22px;
        margin-top: -9px;
        color: #000;
    }
    select.select-menu {
        display: none;
        overflow: hidden;
        position: relative;
        width: 75%;
        margin: 20px auto 30px;
        background-color: #d8dbdb;
        border: 4px solid #DDC;
        padding: 8px 10px;    background: none;


        text-align: center;
    }


    //HEADER
    #logo {
        margin-top: 10px;
        float: left;
    }
    #logo-img{
        float: left;
    }
    #logo #logo-img + #tagline{
        line-height: 3.5em;
        margin-left: 15px;
    }
    #logo #tagline {
        font-size: 14px;
        font-family: 'Muli', sans-serif;
        color: #212223;
        font-style: normal;
        font-weight: 400;
        float: left;
    }
    h1, h2, h3, h4, h5, p, dl {
        margin: 0.8em 0 0.8em;
    }
    #header-sidebar .widget {
        margin-left: 14px;
        display: inline-block;
        vertical-align: top;
    }
    #header-sidebar {
        text-align: right;
    }
    .search_mini {
        position: relative;
    }
    a.cart_control.cart_control_empty {
        margin-top: 42px;
    }
    form {
        margin: 40px 0 20px;
    }
    #search_mini {
        background: url(../images/search_mini.png) no-repeat center right;
        background-color: #FFFFFF;
        margin: 0;
        border-radius: 0;
        padding: 15px 10px !important;
        border: 1px solid #eee;
        height: 0 !important;
    }
    .search_mini #submit {
        background: transparent;
        border: none;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        height: 30px;
    }

    #header-sidebar .widget_shopping_cart {
        position: relative;
        width: 60px;
    }
    #header-sidebar .widget_shopping_cart h2 {
        display: none;
    }
    h2, h2 a {
        font-size: 22px;
        font-family: 'Muli', sans-serif;
        color: #030303;
        font-style: normal;
        font-weight: 400;
    }
    #header-sidebar .widget_shopping_cart .cart_control {
        display: block;
        width: 60px;
        background: url(../images/widget_cart_control.png) center no-repeat;
        height: 28px;
        line-height: 9999em;
        overflow: hidden;
        border: 1px solid #474747;
        background-color: #484848;
        border-color: #474747;
    }
    .widget_shopping_cart:hover .cart_wrapper {
        display: block;
        top:70px;
    }
    .widget_shopping_cart .cart_wrapper{
        display: none;
    }
    #header-sidebar .widget_shopping_cart .cart_wrapper {
        background-color: #494949;
        text-align: left;
        position: absolute;
        width: 300px;
        right: 0px;
        z-index: 1000;
        padding: 20px 12px;
        color: #fff;
    }
    ul.product_list_widget {
        list-style-type: none;
    }
    ul.cart_list {
        list-style: none outside;
        padding: 0;
        margin: 0;
    }
    #header-sidebar .cart_wrapper .cart_list li.empty {
        font-size: 12px;
        font-family: 'Muli', sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
    }
    ul.cart_list li {
        padding: 4px 0;
        margin: 0;
        list-style: none;
    }
    ul.product_list_widget li {
        line-height: 20px;
        min-height: 60px;
    }
    .login_register {
        color: #8f9090 !important;
        padding: 0;
        height: 28px;
        right: 0;
        float: right;
        margin-right: 15px;
        line-height: 28px;
        position: absolute;
    }
    #header-sidebar .login_register ul li {
        float: left;
        list-style: none;
        height: 22px;
        margin-left: 20px;
    }
    #header-sidebar .login_register ul li a {
        padding: 5px 0px;
    }
    .login_register a {
        color: inherit;
        font-size: 11px;
    }


    .widget.woocommerce.widget_shopping_cart {
        margin-right: 14px;
    }
    .navbar-inverse .navbar-nav>.open>a:hover {
        color: #000;
        background-color: #fff;
    }
    a#logo-img>img {
        border: none;
    }
    .text-image>img {
        border: none;
    }
    .navbar-inverse .navbar-nav>.open>a{
        background-color: #fff;
    }
}

