.type-567 {
    @media (min-width: 992px){
        width: 100%;
    }
    div {
        display: block;
        font-size: 100%;
        font: inherit;
        margin: 5px;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    .related_articles{
        padding: 20px;
        border: 1px solid #cecece;
        margin: 35px auto 0 auto;
        box-shadow: 0 1px 1px #EDEDED;
        .related_title {
            font: 700 21px/21px 'Roboto', trebuchet ms;
            color: #111;
            margin-top: -20px;
            text-transform: uppercase;
            text-align: center;
            display: table;
            margin: -30px auto 20px;
            background: #fff;
            padding: 0 25px;
        }
    }
    ul {
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        display: block;
    }
    .related_articles ul {
        overflow: hidden;
        margin: 0;
    }
    li {
        display: list-item;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-align: -webkit-match-parent;
    }
    .related_articles ul li {
        width: 30%;
        float: left;
        text-align: center;
        margin: 0 1.75% 15px 1.75%;
    }
    a-webkit-any-link {
        margin: 0;
        vertical-align: baseline;
        cursor: auto;

        outline: none !important;
        transition: all 0.4s ease 0s;
    }
    .related_articles ul li>a {
        font: bold 16px/18px 'Roboto', trebuchet ms;
        color: #111;
        text-decoration: none;
    }
    .related_articles .rh_related_link_image {
        display: table;
        width: 100%;
        padding: 12px;
        border: 1px solid #eee;
        background-color: #fff;
        height: 176px;
        box-sizing: border-box;
        text-align: center;
    }
    figure {
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }
    .related_articles ul li figure {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 150px;
    }
    img {
        margin: 0;
        padding: 0;
        vertical-align: top;
        border: 0;
        font-size: 100%;
        font: inherit;
        transition: opacity .5s ease-in;
        max-width: 100%;
        vertical-align: top;
        border: 0;
    }
    .related_articles ul li img {
        height: auto;
        max-width: 100%;
    }
    .title_comments {
        font-weight: bold;
        color: #000;
        padding: 25px;
        font-size: 18px;
    }
    ol {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }    
    .commbox {
        background: none repeat scroll 0 0 #FFF;
        border: 1px solid #ddd;
        box-shadow: 0 1px 1px #ededed;
        height: auto;
        max-width: 100%;
        position: relative;
    }
    .comment-reply-link {
        font-size: 12px;
        float: right;
        color: #ccc;
    }
    h3 {

        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        border: 0;
        vertical-align: baseline;
        text-decoration: none !important;
    }
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin-left: 10px;
        border: 0;
        vertical-align: baseline;
    }
    .rh-user-rank-mc {
        font: normal 12px/12px Arial;
        background-color: #66B22C;
        color: #fff;
        display: inline-block;
        border-radius: 3px;
        vertical-align: top;
        padding: 3px 5px;
        margin: 0 4px;
    } 
    .clearfix:before, .clearfix:after {
        content: "";
        display: table;

    }
    .commentlist {
        margin: 0 0 30px 0;
        list-style: none;
        clear: both;
        list-style: none;
        li {
            margin: 0 0 25px 0;
        }
        .rh-user-rank-mc {
            font-size: 11px;
            padding: 2px 5px;
        }
        .comment-author{
            position: relative;
            padding: 15px 20px;
            border-bottom: 1px solid #EDEDED;
            .fn {
                font: 700 15px/15px 'Roboto', trebuchet ms;
                text-transform: uppercase;
                display: block;
            }
            img {
                float: left;
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
        }
    }
    a:hover{
        color:#000;
        text-decoration:none;
    }
    .commentlist .comment-author span.time {
        font: normal 12px Arial;
        display: block;
        color: #999;
        text-decoration: none;
        margin: 6px 0 0 0;
    }
}