.type-16{
    /***************************Header***************************/
    .type-16-header{
        /*********Top Bar********/
        .top-bar {
            padding: 5px 0;
            font-size: 13px;
            background-color: #232323;
            color: #ffffff;
        }
        .top-bar .top-bar-left {
            float: left;
        }
        .top-bar ul {
            margin-bottom: 0;
        }
        .list-inline {
            padding-left: 0;
            margin-left: -5px;
            list-style: none;
        }
        .top-bar ul li {
            margin-right: 20px;
        }
        .list-inline>li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }
        .top-bar ul a {
            display: block;
            text-decoration: none;
            color: #ffffff;
        }
        .top-bar .icon-user img {
            margin-top: -3px;
            margin-right: 5px;
        }
        .top-bar ul a span.colored {
            color: #89c144;
            margin-left: 5px;
        }
        .top-bar .top-bar-right {
            float: right;
        }
        .top-bar .top-bar-right > ul > li {
            padding: 0;
            margin: 0;
            position: relative;
        }
        .top-bar .top-bar-right > ul > li + li {
            padding: 0 0 0 10px;
            margin: 0 0 0 9px;
        }
        .top-bar .top-bar-right > ul > li + li:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 1px;
            height: 8px;
            background-color: #ffffff;
        }
        .top-bar ul .dropdown-toggle .fa {
            margin: 0 0 0 5px;
        }
        .top-bar .dropdown.currency .dropdown-menu {
            min-width: 80px;
        }
        .top-bar ul .dropdown-menu li {
            margin-right: 0;
        }
        .top-bar ul .dropdown-menu a {
            color: #232323;
            padding: 3px 10px;
        }
        /***********Header All***********/
        .sticky-wrapper:not(.is-sticky) {
            height: auto !important;
        }
        /****Header Fixed****/
        .wide .sticky-wrapper .header {
            width: 100% !important;
        }
        .sticky-wrapper .header {
            z-index: 20;
        }
        .header {
            border-bottom: solid 3px #89c144;
        }
        /****Header Wrapper****/
        .header .header-wrapper {
            padding: 30px 0;
            background-color: #ffffff;
            position: relative;
        }
        .header .header-wrapper > .container {
            position: relative;
            min-height: 40px;
        }
        /***Logo***/
        .logo {
            padding-top: 5px;
            margin: 0 auto;
            max-width: 255px;
            height: auto;
        }
        .logo img {
            max-width: 100%;
        }
        /***Search***/
        .header .header-search {
            position: absolute;
            top: 0;
            left: 15px;
            width: 270px;
            max-width: 100%;
        }
        .header .header-search .form-control {
            width: 100%;
            height: 40px;
            line-height: 40px;
        }
        .form-control {
            box-shadow: none;
            height: 40px;
            border-radius: 0;
            border: 3px solid #e9e9e9;
            color: #737475;
        }
        .header .header-search button {
            position: absolute;
            right: 3px;
            top: 3px;
            background-color: #ffffff;
            border: none;
            padding: 2px 8px;
            line-height: 30px;
            font-size: 16px;
            color: #232323;
        }
        .header .header-search button:before {
            content: '';
            position: absolute;
            top: 0;
            left: -34px;
            width: 34px;
            height: 34px;
        }
        /***Cart***/
        .header .header-cart {
            position: absolute;
            top: 0;
            right: 15px;
        }
        .cart-wrapper {
            margin-left: 30px;
        }
        .cart-wrapper .btn {
            height: 40px;
        }
        .btn-theme-transparent {
            background-color: rgba(0, 0, 0, 0);
            border-color: #e9e9e9;
            border-width: 3px;
            color: #232323;
        }
        .btn {
            box-shadow: none;
            border-radius: 0;
        }
        /********Mega Menu********/
        .navbar-default .navbar-nav>li>a {
            color: #000;
            font-weight: bold;
        }
    }


    /*********************************Content**********************************/
    .type-16-content {       
        .page-section {
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        /****All Brand....****/
        .message-box {
            background-color: gray;
            padding: 15px;
            position: relative;
            text-align: center;
            color: #ffffff;
        }
        .message-box:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url(../images/overlay-banner.png) repeat center center;
        }
        .message-box .message-box-inner {
            border: solid 1px #ffffff;
            padding: 20px 15px;
            position: relative;
            z-index: 1;
        }
        .message-box h2 {
            font-size: 15px;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0;
            color: #ffffff;
            float: left;
        }
        .message-box span {
            font-size: 15px;
            font-weight: 900;
            text-transform: uppercase;
            background-color: #fff;
            padding: 5px;
            color: #000;
            border: 2px #fff solid;          
        }
        /****Fashion Winter****/
        .thumbnail {
            margin: 0 auto;
            border-radius: 0;
            background-color: transparent;
            position: relative;
        }
        .thumbnail .media {
            overflow: hidden;
            position: relative;
        }
        .thumbnail .media-link {
            padding: 0;
            display: block;
            position: relative;
            overflow: hidden;
        }
        .thumbnail-banner .media-link .img-bg {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-position: 50% 50%;
            transform: scale(1);
        }
        .thumbnail.thumbnail-banner .media .caption {
            height: 100%;
        }
        .thumbnail.thumbnail-banner .caption-wrapper {
            padding: 15px;
        }
        .thumbnail.thumbnail-banner .caption {
            padding: 0;
        }
        .div-table, div-cell {
            height: 100% !important;
            display: table !important;
        }
        .caption-wrapper {
            width: 100%;
        }
        .thumbnail.thumbnail-banner .caption-inner {
            border: solid 1px #ffffff;
            padding: 15px;
        }
        .div-cell {
            display: table-cell !important;
            vertical-align: middle !important;
            float: none !important;
        }
        .thumbnail.thumbnail-banner .caption-title, .thumbnail.thumbnail-banner .caption-sub-title {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.1;
            text-transform: uppercase;
            margin: 0 0 1px 0;
            color: #232323;
        }
        .thumbnail.thumbnail-banner .caption-title span, .thumbnail.thumbnail-banner .caption-sub-title span {
            display: inline-block;
            padding: 8px 12px;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .thumbnail.thumbnail-banner .btn-theme {
            border-color: #232323;
            background-color: #232323;
        }
        .thumbnail.thumbnail-banner .btn {
            margin-top: 10px;
        }
        .btn-theme-sm {
            font-size: 14px;
            padding: 7px 20px;
        }
        .btn-theme {
            color: #ffffff;
            border-width: 3px;
            line-height: 1;
            text-transform: uppercase;
        }
    }
}