  .mod_footer{
  
  .container-bacrow {
    background: #3B3B3B;
    color: #999;
    padding: 50px 0;
    padding-bottom: 30;
}
  h5 {
    color: #DBDBDB;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #6B6B6B;
    padding: 0 25px 10px 0;
    margin-bottom: -1px;
    display: inline-block;
}
  .title {
    border-bottom: 1px solid #464646;
    margin-bottom: 20px;
}
  .content {
    padding-top: 6px;
    width: 220px;
    color: #999;
    font: 12px/18px Arial, sans-serif;
}
  .caption a {
    text-decoration: none;
    color: #999;
    padding: 5px;
    font: 12px/18px Arial, sans-serif;
}
  .caption a:hover {
    color: #FFF;
}
  .entries {
    border-top: 1px solid #464646;
    padding: 6px 0;
    padding-left: 1px;
    font-size: 13px;
}
  .comments {
    border-top: 1px solid #464646;
    padding: 6px 0;
    padding-left: 1px;
    font-size: 13px;
}
  .wordpress {
    border-top: 1px solid #464646;
    padding: 6px 0;
    padding-left: 1px;
    font-size: 13px;
}
  .login {
    padding: 6px 0;
    padding-left: 1px;
    font-size: 13px;
}
  .icon:hover {
    color: #FFF;
}
  .images-list {
    margin-top: 22px;
    margin-left: -5px;
}
  .images-list img {
    width: 50px;
    opacity: .7;
}
  .images-list img:hover {
    opacity: 1;
}
  .images {
    padding-top: 5px;
}
  .contact {
    color: #999;
}
  h1 {
    font-size: 13px;
}
  .address {
    height: 48px;
    border-bottom: 1px solid #464646;
}
  .phone {
    border-bottom: 1px solid #464646;
}
  .email {
    border-bottom: 1px solid #464646;
}
  .caption {
    display: inline-block;
    color: #6B6B6B;
    width: 100%;
}
  .icon {
    font-size: 16px;
}
  h2 {
    font-size: 11px;
}
  .footer2 {
    padding: 16px 0 14px;
    background: #333;
}
  .homeicon {
    line-height: 17px;
}
  .address {
    padding: 0px 0 10px 0px;
}
  .phone {
    padding: 10px 0 10px 0px;
}
  .email {
    padding: 10px 0 10px 0px;
}
  .flag {
    padding: 10px 0 10px 0px;
}
  .container-bottom {
    padding: 16px 0 14px;
    background: #333;
}
  .menu-footer {
    float: left;
    padding-right: 35px;
}
  .menu-footer a {
    color: #777;
    font-size: 11px;
}
  .menu-footer a:hover {
    text-decoration: none;
    color: #999;
}
  .note {
    border-left: 1px solid #777;
    padding-left: 10px;
}
  .rbSocial.icons li {
    margin-left: 12px;
    position: relative;
    cursor: pointer;
    text-align: center;
    height: 18px;
    display: inline;
}
  .rbSocial.icons a {
    font-size: 16px;
    color: #777;
    position: relative;
    width: 100%;
    height: 18px;
}
  #text-3 {
    float: right;
}

}