.type-523 .sidebartitle {
  color: #050505;
  line-height: 1.4;
  position: relative;
  font-size: 18px;
  font-weight: bold;
}
.type-523 .vmmanufacturermod .vmmanufacturer {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
  position: relative;
}
.type-523 .vmmanufacturermod .vmmanufacturer li {
  float: left;
  margin: 0 0 20px 20px;
}
.type-523 .vmmanufacturermod .vmmanufacturer li a {
  display: block;
  width: 60px;
  position: relative;
  text-align: center;
}
.type-523 .vmmanufacturermod .vmmanufacturer li a:hover {
  border: 2px solid #DD0000;
}
.type-523 .vmmanufacturermod .vmmanufacturer img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.type-523 .vmmanufacturermod .vmmanufacturer .theHoverBorder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 2px;
}
