.type-529{
    footer{
        border-top: 1px solid #dfdcdc;
        padding-top: 30px;
        padding-bottom: 0px;
    }
    //Footer-Chitiet
    .footer-chitiet{
        a{
            color: #b77a2b;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
            outline: none !important;
        }
        li {
            font-size: 12px;  
            color: #666767;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            list-style-type: none;
        }
        ul {
            color: #666767;
            font-size: 12px;
            font-weight: normal;
            line-height: 20px;
            list-style-type: none;
        }
        del {
            font-size: 12px;
        }
        img{
            border: 1px solid #DFDCDC;
        }
        .recent-post {
            margin-top: 15px;
        }
        .recent-post .text h3 a:hover{
            color: #9A6614;
        }
        img#sale-manhphuc {
            width: 55px;
            height: 55px;
            padding: 3px;
        }
        span.product-title {
            color: #575858;
        }
        span.product-title:hover {
            color: #000;
        }
        ul.product_list_widget li del{
            display: block;
            float: left;
            margin-right: 5px;
        }
        ul.product_list_widget {
            padding-left: 0px;
            padding-top: 15px;
        }
        .widget_nav_menu li.cols-2{
            float: left;
            width: 50%;
        }
        ul#menu-footer {
            padding-left: 0px;
            margin-top: 15px;
        }
        ul#menu-footer>li>a {
            color: #575858;
        }
        ul#menu-footer>li>a:hover {
            color: #000;
        }  
    }
}