.type-a-23 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-a-23 div,
.type-a-23 h4,
.type-a-23 p,
.type-a-23 form,
.type-a-23 span {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.type-a-23 .row {
  margin-bottom: 35px;
}
.type-a-23 .row:before,
.type-a-23 .row:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-a-23 .row:after {
  clear: both;
}
.type-a-23 h4 {
  margin: 10px 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
.type-a-23 .col-md-3 {
  float: right;
}
.type-a-23 .moduletable {
  margin-bottom: 30px;
}
.type-a-23 .moduletitle {
  color: #050505;
  line-height: 1.4;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  font-size: 18px;
}
.type-a-23 .moduletitle:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #f9f9f9;
}
.type-a-23 .moduletitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 25px;
  height: 0;
  border-bottom: 1px solid #CBCBCB;
}
.type-a-23 p {
  margin: 0 0 10px;
}
.type-a-23 form {
  margin: 0 0 20px;
}
.type-a-23 .input-append,
.type-a-23 .input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}
.type-a-23 .input-prepend.input-append .add-on:first-child,
.type-a-23 .input-prepend.input-append .btn:last-child {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
}
.type-a-23 .input-append .add-on {
  margin-left: -1px;
}
.type-a-23 .input-append .add-on,
.type-a-23 .input-prepend .add-on,
.type-a-23 .input-append .btn,
.type-a-23 .input-prepend .btn {
  vertical-align: top;
}
.type-a-23 .input-append .add-on,
.type-a-23 .input-prepend .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.type-a-23 .input-prepend.input-append select {
  border-radius: 0;
}
.type-a-23 .vmcurrency select {
  font-size: 11px;
}
.type-a-23 .input-append select,
.type-a-23 .input-prepend select {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}
.type-a-23 .input-medium {
  width: 150px;
}
.type-a-23 select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 4px 6px;
  color: #555555;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  font-style: inherit;
}
.type-a-23 option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
.type-a-23 .btn {
  font-size: 12px;
}
