@media only screen and (max-width: 961px){
    .type-583 {
        padding: 0px 60px 15px;
    }
}
@media only screen and (min-width: 1040px){
    .type-583 {
        padding: 0px 60px 15px;
    }
}
@media only screen  and (max-width: 1030px) and (min-width:961px){
    .type-583 {
        padding: 0px 0px 15px;
    }
} 
.type-583{
    a, a:visited, a:focus {
        text-decoration: none;
        outline: 0;
    }
    a {
        color: #ff5a00;
    }
    .section {
        position: relative;
    }
    #section2{
        padding-top:0px;
        padding-bottom:0px;
        background-color:#2f4bc3;
    }
    /*    .section.full-width > .section_wrapper {
            max-width: 100% !important;
        }*/
    .section_wrapper, .container {
        max-width: 1220px;
        margin: 0 auto;
        position: relative;
    }
    .one.mcb-wrap {
        width: 100%;
    }
    .clearfix {
        zoom: 1;
    }
    .mcb-wrap {
        float: left;
        position: relative;
        z-index: 1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .section.no-margin .column, .section.no-margin-v .column {
        margin-bottom: 0;
    }
    .no-margin-h {
        .one-fifth.column {
            width: 20%;
        }
        .column {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .one-fifth.column {
        width: 18%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px; 
    }
    .hover_color{
        background:#5373d2;
        border-color: transparent;
        .hover_color_bg {
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            border: 2px solid transparent;
        }
        a {
            display: block;
        }
    }
    .hover_color_bg{
        background:#2f4bc3;
    }
    .hover_color, .hover_color_bg {
        height: 100%;
    }
    .hover_color, .hover_color a, .hover_color a:hover, .hover_color h1 a, .hover_color h2 a, .hover_color h3 a, .hover_color h4 a, .hover_color h5 a, .hover_color h6 a {
        color: #fff;
    }
    .hover_color_wrapper{
        padding:40px 30px;
    }
    .hover_color .hover_color_wrapper {
        text-decoration: none;
        padding: 40px 30px;
        text-align: center;
    }
    .image_frame.no_border {
        border-width: 0;
    }
    .image_frame, .wp-caption {
        display: block;
        margin: 0;
        border-width: 8px;
        border-style: solid;
        max-width: 100%;
        line-height: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .image_frame {
        border-color: #f8f8f8;
        .image_wrapper {
            position: relative;
            overflow: hidden;
            img:not(.ls-l) {
                position: relative;
                top: 0;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
    .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
        border-color: #e2e2e2;
    }
    .image_frame .image_wrapper, .wp-caption img {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    img.scale-with-grid, #Content img {
        max-width: 100%;
        height: auto;
    }
    .image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    @media only screen and (min-width: 1240px){
        .section_wrapper, .container {
            max-width: 1220px;
        }
    }
    @media only screen and (max-width: 1239px) and (min-width: 960px){
        .section_wrapper, .container, .with_aside .content_wrapper {
            max-width: 940px;
        }
    }
    @media only screen and (max-width: 959px) and (min-width: 768px){
        .section_wrapper, .container, .with_aside .content_wrapper {
            max-width: 708px;
        }
    }

    @media only screen and (max-width: 959px) and (min-width: 768px){
        .hover_color {
            word-wrap: break-word;
        }
    }
    @media only screen and (max-width: 767px){
        .section {
            background-attachment: scroll!important;
            height: auto!important;
        }
    }
    @media only screen and (max-width: 767px){
        .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
            margin: 0;
            width: 100%!important;
            clear: both;
        }
    }
    @media only screen and (max-width: 767px){
        .section_wrapper .column {
            margin: 0 0 20px;
            height: auto!important;
        }
    }
    @media only screen and (max-width: 767px){
        .image_frame {
            margin-top: 0!important;
        }
    }

}

