.custom-25-chitiet{
    .custom-25-chitiet1{
        h2 {
            font-size: 28px;
            line-height: 38px;
            font-weight: 900;
            letter-spacing: 1px;
        }
        h2, h2 a, h2 a:hover {
            color: #ff5a00;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 15px;
        }
        h1, h2, h3, h4, .text-logo #logo {
            font-family: "Lato", Arial, Tahoma, sans-serif;
        }
        p {
            margin: 0 0 15px;
        }
        .section {
            position: relative;
            .section-decoration {
                width: 100%;
                position: absolute;
                left: 0;
                background-repeat: repeat-x;
                z-index: 1;
                background-image: url(../images/home_surveyor_decoration2.png);
                height:5px

            }
            .section-decoration.top {
                top: 0;
                background-position: center top;
            }
        }
        #section1{
            padding-top:15px;
            padding-bottom:530px;
            background-color:#ff5a00;
        }

        .section_wrapper, .container {
            // max-width: 1220px;
            margin: 0 auto;
            position: relative;
        }
        .one-second.mcb-wrap {
            width: 50%;
        }
        .clearfix {
            zoom: 1;
        }
        .mcb-wrap {
            float: left;
            position: relative;
            z-index: 1;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
            position: relative;
            float: left;
            width: 100%;
        }
        .column-margin-10px.column {
            margin-bottom: 10px !important;
        }
        .one.column {
            width: 98%;
        }
        .column, .columns {
            float: left;
            margin: 0 1% 40px;
        }
        .column-margin-20px.column {
            margin-bottom: 20px !important;
        }
        .column_button .button {
            margin: 0!important;
            vertical-align: middle;
        }
        .button-flat a.button:not(.action_button), .button-flat:not(.header-plain) a.button.action_button, .button-flat a.tp-button, .button-flat button, .button-flat input[type="submit"], .button-flat input[type="reset"], .button-flat input[type="button"] {
            background-image: none;
            border-width: 0;
            border-style: solid;
            -webkit-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 0;
            box-shadow: inset 0 0 0 0;
            -webkit-appearance: none;
        }
        a.button .button_label {
            padding: 11px 20px;
        }
        a.button .button_label {
            display: block;
            float: left;
            position: relative;
            z-index: 2;
            border: 1px solid #fff;
            background: #fff;
        }
        .clearfix:after {
            clear: both;
        }
        .equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner {
            top: 100%;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        .column-margin-0px .column {
            margin-bottom: 0 !important;
        }
        .column_image {
            line-height: 0;
        }
        .image_frame.no_border {
            border-width: 0;
        }
        .image_frame {
            border-color: #f8f8f8;
        }
        .image_frame, .wp-caption, .google-map, .icon_box .icon_wrapper, .content_slider .caroufredsel_wrapper, .author-box .avatar-wrapper, #comments .commentlist > li .photo, .edd_download_image {
            border-color: #f8f8f8;
        }
        .aligncenter {
            text-align: center;
            margin: 0 auto;
            display: block;
        }
        .image_frame, .wp-caption {
            display: block;
            margin: 0;
            border-width: 8px;
            border-style: solid;
            max-width: 100%;
            line-height: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
            border-color: #e2e2e2;
        }
        .image_frame .image_wrapper {
            position: relative;
            overflow: hidden;
        }
        .image_frame .image_wrapper, .wp-caption img {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        img.scale-with-grid, #Content img {
            max-width: 100%;
            height: auto;
        }
        .image_frame .image_wrapper img:not(.ls-l) {
            position: relative;
            top: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        .aligncenter img {
            display: inline;
        }
        .column_attr{
            h2{
                color: #fff;
            }
            .p1{
                color: #fff;
            }
            .p2{
                color: #fff;
                width: 50%;
            }
        }
        #column2{
            padding:0 5% 0 0;
        }
        #button1{
            background-color:#ffffff !important;
            color:#2f4bc3;
        }
        #wrap1{
            padding: 60px 0px 20px 6%;
            height: 530px;
        }
        #wrap2{
            padding: 0px 7%; 
            height: 530px;
        }
        @media only screen and (min-width: 1240px){
            .section_wrapper, .container {
                max-width: 1220px;
            }
        }
        @media only screen and (min-width: 768px){
            a.button:after, a.tp-button:after, button:after, input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 0;
                z-index: 1;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                transition: all .3s;
                background: rgba(0,0,0,.05);
            }
        }

        @media only screen and (min-width: 768px){
            .button-flat a.button:after, .button-flat a.tp-button:after, .button-flat button:after, .button-flat input[type="submit"]:after, .button-flat input[type="reset"]:after, .button-flat input[type="button"]:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                transition: all .3s;
                background: rgba(0,0,0,.07);
                filter: alpha(opacity=0);
                opacity: 0;
            }
        }


        @media only screen and (min-width: 768px){
            .layout-boxed #Subheader .container, .layout-boxed:not(.with_aside) .section:not(.full-width), .layout-boxed.with_aside .content_wrapper, .layout-boxed #Footer .container {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        @media only screen and (max-width: 767px){
            .section {
                background-attachment: scroll!important;
                height: auto!important;
            }
        }
        @media only screen and (max-width: 767px){
            .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
                margin: 0;
                width: 100%!important;
                clear: both;
            }
        }
        @media only screen and (max-width: 767px){
            .column_attr .p2{
                width: 100%;
            }
        }
        @media only screen and (max-width: 767px){
            .equal-height-wrap .mcb-wrap {
                height: auto!important;
            }
        }
        @media only screen and (max-width: 767px){
            .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
                top: 0!important;
                -webkit-transform: none!important;
                transform: none!important;
            }
        }
        @media only screen and (max-width: 767px){
            .section_wrapper .column {
                margin: 0 0 20px;
                height: auto!important;
            }
        }
        @media only screen and (max-width: 767px){
            .image_frame {
                margin-top: 0!important;
            }
        }
        @media only screen and (max-width: 767px){
            #section1 {
                padding-bottom: 1160px;
            }
        }

        @media only screen and (max-width: 480px){
            #section1 {
                padding-bottom: 950px;
            }
        }
        @media only screen and (max-width: 350px){
            #section1 {
                padding-bottom: 1050px;
            }
        }
        @media only screen and (max-width: 767px) and (min-width: 480px){
            h2 {
                font-size: 21px;
                line-height: 29px;
            }
        }
        @media only screen and (max-width: 479px){
            h2 {
                font-size: 17px;
                line-height: 23px;
            }
        }
    }

    .custom-25-chitiet2{
        a, a:visited, a:focus {
            text-decoration: none;
            outline: 0;
        }
        a {
            color: #ff5a00;
        }
        .section {
            position: relative;
        }
        #section2{
            padding-top:0px;
            padding-bottom:0px;
            background-color:#2f4bc3;
        }
        /*    .section.full-width > .section_wrapper {
                max-width: 100% !important;
            }*/
        .section_wrapper, .container {
            max-width: 1220px;
            margin: 0 auto;
            position: relative;
        }
        .one.mcb-wrap {
            width: 100%;
        }
        .clearfix {
            zoom: 1;
        }
        .mcb-wrap {
            float: left;
            position: relative;
            z-index: 1;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .section.no-margin .column, .section.no-margin-v .column {
            margin-bottom: 0;
        }
        .no-margin-h .one-fifth.column {
            width: 20%;
        }
        .no-margin-h .column {
            margin-left: 0;
            margin-right: 0;
        }
        .one-fifth.column {
            width: 18%;
        }
        .column, .columns {
            float: left;
            margin: 0 1% 40px; 
        }
        .hover_color{
            background:#5373d2;
        }
        .hover_color_bg{
            background:#2f4bc3;
        }
        .hover_color, .hover_color_bg {
            height: 100%;
        }
        .hover_color, .hover_color a, .hover_color a:hover, .hover_color h1 a, .hover_color h2 a, .hover_color h3 a, .hover_color h4 a, .hover_color h5 a, .hover_color h6 a {
            color: #fff;
        }
        .hover_color {
            border-color: transparent;
        }
        .hover_color .hover_color_bg {
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .hover_color .hover_color_bg {
            border: 2px solid transparent;
        }
        .hover_color, .hover_color_bg {
            height: 100%;
        }
        .hover_color, .hover_color a, .hover_color a:hover, .hover_color h1 a, .hover_color h2 a, .hover_color h3 a, .hover_color h4 a, .hover_color h5 a, .hover_color h6 a {
            color: #fff;
        }
        .hover_color a {
            display: block;
        }
        .hover_color_wrapper{
            padding:40px 30px;
        }
        .hover_color .hover_color_wrapper {
            text-decoration: none;
            padding: 40px 30px;
            text-align: center;
        }
        .image_frame.no_border {
            border-width: 0;
        }
        .image_frame, .wp-caption {
            display: block;
            margin: 0;
            border-width: 8px;
            border-style: solid;
            max-width: 100%;
            line-height: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .image_frame {
            border-color: #f8f8f8;
            // background-color: white;
        }
        .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
            border-color: #e2e2e2;
        }
        .image_frame .image_wrapper {
            position: relative;
            overflow: hidden;
        }
        .image_frame .image_wrapper, .wp-caption img {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        img.scale-with-grid, #Content img {
            max-width: 100%;
            height: auto;
        }
        .image_frame .image_wrapper img:not(.ls-l) {
            position: relative;
            top: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        @media only screen and (min-width: 1240px){
            .section_wrapper, .container {
                max-width: 1220px;
            }
        }
        @media only screen and (max-width: 1239px) and (min-width: 960px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 940px;
            }
        }
        @media only screen and (max-width: 937px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 820px;
                margin: -15px 60px;
            }
        }
        @media only screen and (max-width: 959px) and (min-width: 768px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 708px;
            }
        }
        @media only screen and (max-width: 1240px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 1080px;
            }
        }
        @media only screen and (max-width: 1018px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 1080px;
                margin: -15px 0px;
            }
        }
        @media only screen and (max-width: 952px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 1080px;
                margin: -15px 60px;
            }
        }
        @media only screen and (max-width: 479px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 303px;
                margin: -15px 60px;
            }
        }
        @media only screen and (max-width: 367px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 243px;
                margin: -15px 60px;
            }
        }

        @media only screen and (max-width: 959px) and (min-width: 768px){
            .hover_color {
                word-wrap: break-word;
            }
        }
        @media only screen and (max-width: 767px){
            .section {
                background-attachment: scroll!important;
                height: auto!important;
            }
        }
        @media only screen and (max-width: 767px){
            .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
                margin: 0;
                width: 100%!important;
                clear: both;
            }
        }
        @media only screen and (max-width: 767px){
            .section_wrapper .column {
                margin: 0 0 20px;
                height: auto!important;
            }
        }
        @media only screen and (max-width: 767px){
            .image_frame {
                margin-top: 0!important;
            }
        }

    }
    .footer{
        padding: 0px 65px 0px;
        #Footer, #Footer .widget_recent_entries ul li a {
            color: #8284a6;
        }
        #Footer {
            background-color: #03084c;
        }
        #Footer {
            background-position: center top;
            background-repeat: no-repeat;
            position: relative;
        }
        .clearfix {
            zoom: 1;
        }
        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }
        #Footer .widgets_wrapper {
            padding:50px 0 40px;
        }
        .section_wrapper, .container {
            max-width: 1220px;
            margin: 0 auto;
            position: relative;
        }
        #Footer .widgets_wrapper .column {
            margin-bottom: 0;
        }
        .one-fourth.column, .four.columns {
            width: 23%;
        }
        .column, .columns {
            float: left;
            margin: 0 1% 40px;
        }
        #Footer .widgets_wrapper .widget {
            padding: 15px 0;
            margin-bottom: 0;
        }
        .widget:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .widget {
            padding-bottom: 30px;
            margin-bottom: 30px;
            position: relative;
        }
        .image_frame.no_border {
            border-width: 0;
        }
        .image_frame {
            border-color: #f8f8f8;
        }
        .image_frame, .wp-caption, .google-map, .icon_box .icon_wrapper, .content_slider .caroufredsel_wrapper, .author-box .avatar-wrapper, #comments .commentlist > li .photo, .edd_download_image {
            border-color: #f8f8f8;
        }
        .image_frame, .wp-caption {
            display: block;
            margin: 0;
            border-width: 8px;
            border-style: solid;
            max-width: 100%;
            line-height: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
            border-color: #e2e2e2;
        }
        .image_frame .image_wrapper {
            position: relative;
            overflow: hidden;
        }
        .image_frame .image_wrapper, .wp-caption img {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .image_frame .image_wrapper img:not(.ls-l) {
            position: relative;
            top: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        img.scale-with-grid, #Content img {
            max-width: 100%;
            height: auto;
        }
        #line1{
            margin: 0 auto 20px;
        }
        hr.no_line {
            background: none;
            color: transparent;
        }
        hr, .hr_wide, .hr_zigzag, .hr_dots {
            margin: 0 auto 15px;
            clear: both;
        }
        hr {
            background-color: rgba(0,0,0,.08);
            color: rgba(0,0,0,.08);
        }
        .p1{
            margin-right: 5%;
            font-size: 12px;
        }
        p {
            margin: 0 0 15px;
        }
        hr {
            display: block;
            border: none;
            outline: none;
            height: 1px;
            width: 100%;
            margin: 0 auto 15px;
            clear: both;
        }
        #Footer h1, #Footer h1 a, #Footer h1 a:hover, #Footer h2, #Footer h2 a, #Footer h2 a:hover, #Footer h3, #Footer h3 a, #Footer h3 a:hover, #Footer h4, #Footer h4 a, #Footer h4 a:hover, #Footer h5, #Footer h5 a, #Footer h5 a:hover, #Footer h6, #Footer h6 a, #Footer h6 a:hover {
            color: #ffffff;
        }
        h4 {
            font-size: 18px;
            line-height: 26px;
            font-weight: 900;
            letter-spacing: 0px;
        }
        h1, h2, h3, h4, .text-logo #logo {
            font-family: "Lato", Arial, Tahoma, sans-serif;
        }
        h4, h4 a, h4 a:hover, .style-simple .sliding_box .desc_wrapper h4 {
            color: #2f4bc3;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 15px;
        }
        .u1{
            line-height: 32px;
            padding: 0;
        }
        ul {
            list-style: none outside;
        }
        #Footer h1, #Footer h1 a, #Footer h1 a:hover, #Footer h2, #Footer h2 a, #Footer h2 a:hover, #Footer h3, #Footer h3 a, #Footer h3 a:hover, #Footer h4, #Footer h4 a, #Footer h4 a:hover, #Footer h5, #Footer h5 a, #Footer h5 a:hover, #Footer h6, #Footer h6 a, #Footer h6 a:hover {
            color: #ffffff;
        }
        h6 {
            font-size: 13px;
            line-height: 22px;
            font-weight: 700;
            letter-spacing: 0px;
        }
        h5, h6 {
            font-family: "Lato", Arial, Tahoma, sans-serif;
        }
        h6, h6 a, h6 a:hover, a.content_link .title {
            color: #141b26;
        }
        ol, ul {
            list-style: none;
        }
        i {
            font-style: italic;
        }
        #Footer a {
            color: #bfc1d2;
        }
        .icon-right-dir{
            color: #77acfb;
        }
        .span1{
            color: #bfc1d2;
        }
        .icon-right-dir:before {
            content: '\e914';
        }
        .footer-copy-center #Footer .footer_copy {
            text-align: center;
        }
        #Footer .footer_copy {
            border-top: 1px solid rgba(255,255,255,.1);
            text-align: center;
        }
        #Footer .footer_copy .one {
            margin-bottom: 20px;
            padding-top: 30px;
            min-height: 33px;
        }

        .one.column {
            width: 98%;
        }


        #Footer .footer_copy .copyright {
            float: none;
            margin: 0 0 10px;
        }

        .footer-copy-center #Footer .footer_copy .social {
            float: none;
            margin: 0;
        }

        #Footer .footer_copy .social {
            float: right;
            margin-right: 20px;
        }
        #Footer a:hover {
            color: #ff5a00;
        }

        @media only screen and (min-width: 1240px){
            .section_wrapper, .container {
                max-width: 1220px;
            }
        }
        @media only screen and (max-width: 1239px) and (min-width: 960px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 940px;
            }
        }

        @media only screen and (max-width: 959px) and (min-width: 768px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 708px;
            }
        }
        @media only screen and (min-width: 768px){
            .layout-boxed #Subheader .container, .layout-boxed:not(.with_aside) .section:not(.full-width), .layout-boxed.with_aside .content_wrapper, .layout-boxed #Footer .container {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        @media only screen and (max-width: 959px) and (min-width: 768px){
            h4 {
                font-size: 15px;
                line-height: 22px;
            }
        }

        @media only screen and (max-width: 767px){
            .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
                margin: 0;
                width: 100%!important;
                clear: both;
            }
        }
        @media only screen and (max-width: 767px){
            #Footer .footer_copy {
                text-align: center;
            }
        }
        @media only screen and (max-width: 767px){
            #Footer .footer_copy .copyright {
                float: none;
                margin: 0 0 10px;
            }
        }
        @media only screen and (max-width: 767px){
            #Footer .footer_copy .social {
                float: none;
                margin: 0;
            }
        }
        @media only screen and (max-width: 767px) and (min-width: 480px){
            h4 {
                font-size: 14px;
                line-height: 20px;
            }
        }
        @media only screen and (max-width: 479px){
            h4 {
                font-size: 13px;
                line-height: 19px;
            }
        }


    }

    @media only screen and (max-width: 961px){
        .custom-25-chitiet1 {
            padding: 0px 60px 15px;
        }
    }
    @media only screen and (min-width: 1040px){
        .custom-25-chitiet1 {
            padding: 0px 65px 0px;
        }
    }
    @media only screen  and (max-width: 1030px) and (min-width:961px){
        .custom-25-chitiet1 ,.footer{
            padding: 0px 0px 15px;
        }
    }

    /*    @media only screen and (max-width: 1240px){
            .custom-25-chitiet2 .section_wrapper,.custom-25-chitiet2 .container,.custom-25-chitiet2 .with_aside .content_wrapper {
                max-width: 1088px;
            }
        }*/

    @media only screen and (min-width: 1040px){
        .custom-25-chitiet2 {
            padding: 0px 65px 0px;
        }
    }
     
    @media only screen and (max-width: 1045px){
        .footer {           
            padding: 0 65px 15px; 
        }
    }
   
    @media only screen and (min-width: 1240px){
        .footer {           
            padding: 0 65px 15px; 
        }
    }
    @media only screen and (max-width: 960px){
        .footer {

            padding: 0 60px 15px;
        }
    }
    @media only screen and (max-width: 767px){
        .footer {
            padding: 0 60px 15px;
        }
    }
    @media only screen and (max-width: 479px){
        .footer {
            padding: 0 60px 15px;
        }
    }

}

