body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
.clear {
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.type-universe-p-36 .universe {
  height: 200px;
  margin-top: 60px;
  margin-bottom: 4px;
  background: url(../images/univers-bg.jpg) repeat-x center 0;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 5px rgba(232,232,221,0.5);
  -moz-box-shadow: 0 0 0 5px rgba(232,232,221,0.5);
  box-shadow: 0 0 0 5px rgba(232,232,221,0.5);
}
.type-universe-p-36 .pattern-light-wrapper {
  display: block;
  width: inherit;
  height: inherit;
  background-image: url(../images/pattern-grid-light.png);
  background-repeat: repeat;
}
.type-universe-p-36 .section-title.section-title--light {
  font-size: 20px;
  line-height: 36px;
  color: #fff;
}
.type-universe-p-36 .universe .section-title {
  position: relative;
  z-index: 100;
  margin-top: 60px;
}
.type-universe-p-36 .section-title {
  margin-top: 54px;
  margin-bottom: 41px;
  font-size: 30px;
  line-height: 34px;
}
.type-universe-p-36 .section-title.section-title--light .text-highlight {
  font-size: 43px;
  color: #fff;
}
.type-universe-p-36 .section-title .text-highlight {
  display: block;
  font-size: 50px;
  text-transform: uppercase;
}
.type-universe-p-36 .circle-buttons-holder {
  margin-top: 35px;
  font-size: 0;
}
.type-universe-p-36 .circle-button-wrapper.circle-button--smaller-wraper:first-child {
  margin-left: 10px;
}
.type-universe-p-36 .circle-button-wrapper.circle-button--smaller-wraper {
  position: relative;
  z-index: 100;
  float: none;
  width: 130px;
  height: 130px;
  margin-top: 0;
  margin-left: 32px;
}
.type-universe-p-36 .circle-button-wrapper {
  display: inline-block;
  width: 156px;
  height: 156px;
  margin-top: 28px;
}
.type-universe-p-36 .circle-button-wrapper.circle-button--smaller-wraper .circle-button--smaller {
  background: rgba(229,229,218,0.55);
}
.type-universe-p-36 .circle-button {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 3px solid #e8e8dd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(232,232,221,0.2);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  overflow: hidden;
}
.type-universe-p-36 .circle-button-wrapper.circle-button--smaller-wraper .circle-button__title {
  margin-top: 45px;
  font-size: 22px;
}
.type-universe-p-36 .circle-button__title {
  position: absolute;
  right: 0%;
  left: 0%;
  margin-top: 45px;
  font-size: 20px;
  line-height: 30px;
  color: #162a43;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.type-universe-p-36 .circle-button-second {
  display: block;
  width: inherit;
  height: inherit;
  background: #212c43;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
}
.type-universe-p-36 .circle-button-second .circle-button__title {
  color: #e8e8dd;
  text-shadow: 0 1px 0 #000;
}
.type-universe-p-36 .circle-button:hover {
  box-shadow: 0 0 0 0px rgba(232,232,221,0.2);
}
.type-universe-p-36 .circle-button:hover > .circle-button__title {
  display: none;
}
.type-universe-p-36 .circle-button:hover .circle-button-second {
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.type-universe-p-36 .universe .decorative-lines {
  top: -92px;
  z-index: 1;
}
.type-universe-p-36 .decorative-lines {
  position: relative;
}
.type-universe-p-36 .universe .decorative-lines:before,
.type-universe-p-36 .universe .decorative-lines:after {
  border-color: rgba(232,232,221,0.2);
}
.type-universe-p-36 .decorative-lines:before {
  top: 3px;
}
.type-universe-p-36 .decorative-lines:after {
  top: 12px;
}
.type-universe-p-36 .decorative-lines:before,
.type-universe-p-36 .decorative-lines:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  height: 12px;
  width: 100%;
  border-top: 2px solid rgba(124,203,252,0.2);
  border-bottom: 2px solid rgba(124,203,252,0.2);
}
@media (min-width: 1200px) {
  .type-universe-p-36 .universe {
    background: url(../images/univers-circles.png), url(../images/univers-bg.jpg);
    background-repeat: repeat-x;
    background-position: center 0;
    background-size: cover;
  }
  .type-universe-p-36 .circle-button-wrapper.circle-button--smaller-wraper {
    margin-left: 125px;
  }
}
@media (min-width: 992px) {
  .type-universe-p-36 .universe .section-title {
    margin-top: 46px;
  }
  .type-universe-p-36 .section-title.section-title--light {
    font-size: 30px;
    line-height: 45px;
  }
  .type-universe-p-36 .section-title.section-title--light .text-highlight {
    font-size: 70px;
  }
}
@media (min-width: 768px) {
  .type-universe-p-36 .section-title {
    margin-top: 49px;
    margin-bottom: 47px;
    font-size: 30px;
    line-height: 43px;
  }
  .type-universe-p-36 .section-title .text-highlight {
    font-size: 80px;
  }
  .type-universe-p-36 .circle-button-wrapper {
    float: right;
    width: 180px;
    height: 180px;
    margin-top: 81px;
  }
  .type-universe-p-36 .circle-button__title {
    margin-top: 52px;
    font-size: 30px;
    line-height: 40px;
  }
}
