.type-519 h4 {
  margin: 10px 0;
  font-weight: bold;
}
.type-519 .moduletable {
  margin-bottom: 30px;
}
.type-519 .moduletitle {
  color: #050505;
  line-height: 1.4;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  font-size: 18px;
}
