.type-23-f-main{
    //Footer
    .type-f-footer{
        border-color: #dfdcdc;
        margin-bottom: 10px;
        margin-top: 20px;
        padding-top: 5px;
        .row{
            margin-bottom: -12px;
        }
        @media (max-width: 480px){
            .right{
                float: left;
                margin-left: -12px;
            }
        }
        .img-footer{
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            margin: 0;
            padding: 0;
            font-weight: inherit;
            font-style: inherit;
            font-size: 100%;
            font-family: inherit;
        }
        .credit_card {
            margin-bottom: -13px;
            width: 32px;
            height: 32px;
            background: url(../images/creditcard.png) no-repeat;
            display: inline-block;
            margin-left: 1px;
        }
        .credit_card.amex:hover {
            background-position: -32px 0px;
        }
        .credit_card.amex {
            background-position: -32px -32px;
        }
        .credit_card.bank:hover{
            background-position: -224px 0px;
        }
        .credit_card.bank{
            background-position: -224px -32px;
        }
        .credit_card.cash:hover {
            background-position: -256px 0px;
        }
        .credit_card.cash {
            background-position: -256px -32px;
        }
        .credit_card.googleckout:hover {
            background-position: -736px 0px;
        }
        .credit_card.googleckout {
            background-position: -736px -32px;
        }

        .credit_card.mastercard:hover {
            background-position: -864px 0px;
        }
        .credit_card.mastercard {
            background-position: -864px -32px;
        }
        .credit_card.paypal:hover {
            background-position: -960px 0px;
        }
        .credit_card.paypal {
            background-position: -960px -32px;
        }
        .credit_card.visa:hover {
            background-position: -1056px 0px;
        }
        .credit_card.visa {
            background-position: -1056px -32px;
        }

        .left {
            text-align: left;
            margin-left: -15px;
        }
        a:hover{
            color: black;
        }
        a{
            color: #959494;
            font-size: 12px;
            font-family: 'Muli', sans-serif;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
            outline: none !important;
        }
        strong:hover {
            color: black;
        }
        strong {
            font-weight: bold;
            padding-right: 3px;
        }
        p{
            color: #959494;
            font-size: 12px;
            font-family: 'Muli', sans-serif;
            font-style: normal;
            margin: 0.8em 0 0.8em;
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
        .right {
            text-align: right;
            margin-right: -15px;
        }
        .fotter{
            border-top: 1px solid #DFDCDC;
            margin: 0px 15px;
        }
    }
    //Footer-Chitiet
    .footer-chitiet{
        .recent-post {
            margin-top: 15px;
        }
        .border-manhphuc {
            border-top: 1px solid #dfdcdc;
            padding-top: 30px;
            padding-bottom: 0px;
        }
        .recent-post .text h3 a {
            color: #000;
            font-size: 12px;
            line-height: 23px;
            margin: 0px;
        }
        .recent-post .text h3 a:hover{
            color: #9A6614;
        }
        img#sale-manhphuc {
            width: 55px;
            height: 55px;
            padding: 3px;
            box-shadow: none;
        }
        span.product-title {
            color: #575858;
        }
        span.product-title:hover {
            color: #000;
        }
        ul.product_list_widget li del{
            display: block;
            float: left;
            margin-right: 5px;
        }
        ul.product_list_widget {
            padding-left: 0px;
            padding-top: 15px;
        }
        .widget_nav_menu li.cols-2{
            clear: none;
            float: left;
            margin-left: 0px !important;
            width: 50%;
        }
        ul#menu-footer {
            padding-left: 0px;
            margin-top: 15px;
        }
        div#nav_menu-2{
            padding-left: 0px;
        }
        ul#menu-footer>li>a {
            color: #575858;
        }
        ul#menu-footer>li>a:hover {
            color: #000;
        }
        #footer .widget ul {
            margin-left: 0px;
        }
        #footer .footer-widgets-area.with-sidebar-right{
            float: left;
        }
        #footer li {
            font-size: 13px;
            font-family: 'Muli',sans-serif;
            color: #585555;
            font-style: normal;
            font-weight: 400;
        }
    }
}
