.type-546{
    article {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .widget {
        margin-bottom: 40px;
        margin-top: 0;
        .section-big-wrapper {
            padding-bottom: 27px;
            h3 {
                font-weight: 500;
                line-height: 1.1;
            }
            h3.section-big {
                color: #758991;
                border-bottom: 1px solid #758991;
                font-size: 24px;
            }
        }
    }

    a {
        color: #758991;
        text-decoration: none;
    }
    .widget_sp_image {
        text-align: center;
    }
    .nav {
        display: block;
    }
    .nav-stacked {
        float: none;
    }
    .menu {
        display: block;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        border: 1px solid #ddd;
        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid \9;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            .count {
                float: right;
                padding: 7px 5px 0 0;
            }
        }
    }
}