.type-c-7{
    li ul.collapse {
        visibility: visible;
    }
    h3 {
        font-weight: 500;
        line-height: 1.1;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    h3.section-big {
        color: #758991;
        border-bottom: 1px solid #758991;
        font-size: 24px;
    }
    .section-big {
        font-size: 24px;
        color: #C1C2C4;
    }
    .section-big-wrapper {
        padding-bottom: 27px;
    }
    article {
        margin-bottom: 40px;
        margin-top: 0;
    }
    article.widget {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .count {
        float: right;
        padding: 7px 5px 0 0;
    }
    a {
        color: #758991;
        text-decoration: none;
    }
    .widget.widget_sp_image {
        text-align: center;
    }
    .nav {
        display: block;
    }
    .nav-stacked {
        float: none;
    }
    .menu {
        display: block;
    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        border: 1px solid #ddd;
    }
}