.type-538{
    .title{
        font-size: 20px;
        margin-top: 10px;
    }
    @color-yellow: #cd6b02;
    @color-white: #ffffff;
    /*--------------SERVICE----------------- */
    .survice {
        margin: 15px;
        padding-bottom: 22px;
        position: relative;
        text-align: center;
        .service{
            margin: 0 auto;
            padding-top: 0px;
            float: left;
            .image-wrapper {
                position: relative;
                text-align: center;
                margin: 26px auto 41px;
            }
            .read-more a.btn_readmore{
                opacity: 0;
                visibility: visible;
            }
        }
        .service:hover {
            border: 1px solid #ffd4a0;
            border-top-width: 14px;
            position: absolute;
            text-align: center;
            z-index: -1;
            transition: all ease-in-out 0.2s;
            .read-more{
                margin-top: 0;
            }
            .read-more a.btn_readmore{
                padding: 10px;
                opacity: 1;
                color: @color-white;
                border: 1px solid @color-yellow;
                background: @color-yellow;
                border-radius: 5px;
                margin-top: 20px;
            }
            a.btn_readmore:hover{
                background: #FFBF00;
                text-decoration: none;
                position: absolute;
            }
        }
    }
    @media only screen and (min-width: 400px) {
        .col-sm-6{ width: 50%};
    }
    @media only screen and (min-width: 768px) {
        .col-sm-6{width:33.33333333%};
    }
    @media only screen and (min-width: 992px) {
        .col-sm-6{width:25%};
    }
}