.type-512 #scrollContent {
  height: 186px;
  overflow: auto;
  position: relative;
}
.type-512 .thumbnail {
  position: relative;
}
.type-512 .caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
}
.type-512 .nav li a {
  font-size: 18px;
  color: #8c8c8c;
  position: relative;
}
.type-512 .nav {
  padding-left: 0;
  margin-bottom: 15px;
  list-style: none;
}
.type-512 .nav-tabs {
  border-bottom: 3px solid #d5d5d5;
  padding-bottom: 15px;
}
.type-512 .nav li a {
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.type-512 .nav > li > a:hover,
.type-512 .nav > li > a:focus {
  text-decoration: none;
}
.type-512 .nav > li > a {
  display: block;
}
.type-512 .nav-tabs>li.active>a,
.type-512 .nav-tabs>li.active>a:focus,
.type-512 .nav-tabs>li.active>a:hover {
  cursor: default;
  background-color: #ffffff;
  border-bottom-color: transparent;
}
.type-512 .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
.type-512 .carousel-control {
  margin-top: 90px;
}
.type-512 .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
.type-512 .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-left: -50px;
}
.type-512 h3 {
  font-size: 18px;
  line-height: 1.3;
  margin: 0 0 10px;
  font-weight: bold;
}
.type-512 h3 a:hover {
  color: #cd2122;
}
.type-512 a {
  color: #000000;
  text-decoration: none;
  outline: none;
  border: 0;
  margin: 0;
}
.type-512 p {
  font-size: 12px;
  font-style: italic;
}
.type-512 .price {
  color: #565656;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.type-512 #controls {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -12px;
  height: 100%;
  width: 40px;
}
.type-512 #controls a {
  font-size: 90px;
  color: #939393;
}
.type-512 #controls a:hover {
  color: #eee;
}
