.type-512 .summary a {
  color: #fcb962;
}
.type-512 .summary a:hover {
  text-decoration: none;
  color: #e89222;
}
.type-512 .summary .acaction:hover {
  background-color: #fcb962;
}
.type-512 .summary p.price {
  font-size: 18px;
  color: #5c5c5b;
  font-style: normal;
  font-weight: 400;
  padding: 0 8px 0 51px;
  margin: 0;
  position: relative;
  background: #ede9e9;
  line-height: 38px;
  height: 38px;
  display: inline-block;
}
.type-512 .summary p.price:before {
  position: absolute;
  left: 0;
  content: "";
  width: 38px;
  height: 100%;
  display: block;
  background: #e89222 url('../images/sprite.png') no-repeat 7px -760px;
  border-right: 5px solid #fff;
}
.type-512 .summary .product_meta {
  padding-top: 25px;
}
.type-512 .description {
  margin-top: 40px;
  margin-bottom: 20px;
}
.type-512 .description p {
  color: #5c5c5b;
}
.type-512 .qty {
  width: 40px;
  height: 30px;
  text-align: center;
}
.type-512 input.qtyplus {
  width: 25px;
  height: 30px;
}
.type-512 input.qtyminus {
  width: 25px;
  height: 30px;
}
.type-512 .button {
  background-color: #fcb962;
  border-radius: 2px;
  border: 0;
  color: #FFFFFF;
  padding: 9px 6px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  line-height: 18px;
  position: relative;
  text-shadow: none;
  margin-top: 20px;
}
.type-512 .button:hover {
  background-color: #e89222;
  color: #f4f1ec;
}
.type-512 div.images {
  position: relative;
}
.type-512 div.images #main_img {
  width: 100%;
}
.type-512 div.images #main_img img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  transition: all ease-in-out .2s;
}
.type-512 div.images .thumbnails {
  padding-top: 6px;
  margin: 0;
  width: auto;
  position: relative;
}
.type-512 .product-actions.buttons_2 .acaction {
  width: 50%;
  border: 1px solid #ded9d9;
}
.type-512 .summary .product-actions {
  padding-top: 20px;
}
.type-512 .summary .product-actions .acaction {
  text-align: center;
  border-width: 1px;
  border-color: #dad9d9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
}
.type-512 .summary .product-actions .acaction a {
  font-size: 13px;
  vertical-align: top;
  line-height: 28px;
  padding: 10px 12px 10px;
  font-size: 10px;
  color: #7a7979;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
}
.type-512 .summary .product-actions .acaction i {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-bottom: -7px;
  margin-right: 6px;
  background: url('../images/sprite.png') no-repeat;
}
.type-512 .summary .product-actions .acaction.compare i {
  width: 34px;
  height: 26px;
  background-position: -32px -847px;
}
.type-512 .summary .product-actions .acaction.wishlist i {
  width: 28px;
  height: 26px;
  background-position: 0 -847px;
}
.type-512 .socials-box {
  border: 1px solid #dad9d9;
  clear: both;
  margin-bottom: 50px;
  margin-top: 30px;
  border-bottom: 3px solid #f0f0f0;
}
.type-512 .socials-box a.social {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 26px 0 26px 79px;
  font-size: 13px;
  color: #5c5c5b;
  line-height: 1.41em;
  box-sizing: border-box;
}
.type-512 .socials-box a.social i {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 54px;
  height: 54px;
  background: url("../images/socials-fade.png") no-repeat;
}
.type-512 .socials-box a.social.facebook i {
  background-position: 0px top;
}
.type-512 .socials-box a.social.facebook:hover i {
  background-position: 0 bottom;
}
.type-512 .socials-box a.social.pinterest i {
  background-position: -54px top;
}
.type-512 .socials-box a.social.pinterest:hover i {
  background-position: -54px bottom;
}
.type-512 .socials-box a.social.twitter i {
  background-position: -108px top;
}
.type-512 .socials-box a.social.twitter:hover i {
  background-position: -108px bottom;
}
.type-512 .socials-box a.social.email i {
  background-position: -216px top;
}
.type-512 .socials-box a.social.email:hover i {
  background-position: -216px bottom;
}
.type-512 .socials-box a.social span {
  font-weight: bold;
  color: #5c5c5b;
}
