.type_a_3 div {
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_3 .vc_col-sm-4 {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
}
.type_a_3 .vc_row.vc_rehub_container>.vc_col-sm-4 {
  width: 336px;
  float: right;
  padding: 0;
}
.type_a_3 .vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  width: 100%;
}
.type_a_3 .vc_row.vc_rehub_container .vc_column_container>.vc_column-inner {
  padding: 0;
}
.type_a_3 .sidebar {
  width: 336px;
  float: right;
  border: none;
}
.type_a_3 .sidebar .widget {
  clear: both;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 0 35px 0;
}
.type_a_3 .widget .title,
.type_a_3 .widget h2 {
  font: 700 18px/20px 'Roboto', trebuchet ms;
  color: #111;
  margin: 0 0 15px 0;
}
.type_a_3 .re_filter_panel {
  position: relative;
  z-index: 1000;
  margin: 0 0 25px 0;
}
.type_a_3 .tabsajax .re_filter_panel {
  background: linear-gradient(to bottom,#fff 1px,#f9f9f9 1px,#F5F5F5);
  border-radius: 0px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7), 0 1px 2px rgba(0,0,0,0.08);
  margin-bottom: 8px;
}
.type_a_3 .content.no_shadow .re_filter_panel {
  background-color: #fff;
}
.type_a_3 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  padding: 3px;
}
.type_a_3 .re_filter_panel ul.re_filter_ul {
  margin: 0;
  padding: 0;
}
.type_a_3 .sidebar .widget p {
  color: #fff;
  margin-bottom: 10px;
  line-height: 18px;
  font: bold 10px/16px Arial;
  text-align: center;
}
.type_a_3 .sidebar .widget p:hover {
  color: #fff;
  margin-bottom: 10px;
  line-height: 18px;
  font: bold 10px/16px Arial;
  text-align: center;
}
.type_a_3 .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  padding: 10px;
  color: #fff;
}
.type_a_3 .nav-tabs>li>a:hover {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  color: #fff;
  background: #000;
}
.type_a_3 .nav-tabs>li.active>a {
  color: #fff;
  cursor: default;
  background-color: #000;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font: bold 14px/16px Arial;
}
.type_a_3 .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: black;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.type_a_3 li {
  text-align: -webkit-match-parent;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_3 .re_filter_panel ul.re_filter_ul li {
  display: inline-block;
  margin: 0;
  margin-left: -3px;
}
.type_a_3 .tabsajax .re_filter_panel ul.re_filter_ul li {
  float: left;
}
.type_a_3 .rh_col_tabs_3 .re_filter_panel ul.re_filter_ul li {
  width: 33.33%;
}
.type_a_3 span {
  margin: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_3 span.active.re_filtersort_btn {
  background: #000000 !important;
  color: #fff !important;
}
.type_a_3 .re_filter_panel ul.re_filter_ul li span {
  cursor: pointer;
  transition: all .3s ease;
  font: bold 14px/16px Arial;
}
.type_a_3 .tabsajax .re_filter_panel ul.re_filter_ul li span {
  display: block;
  text-align: center;
  padding: 7px 0;
  border-right: 1px solid #ccc;
}
.type_a_3 .sidebar .wpsm_recent_posts_list .item-small-news {
  border-bottom: 1px solid #E4E4E4;
  padding: 10px 0;
  background: radial-gradient(ellipse at top,rgba(255,255,255,0.75),rgba(255,255,255,0) 75%);
}
.type_a_3 h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 700 21px/25px 'Roboto', trebuchet ms;
  color: #111;
}
.type_a_3 .wpsm_recent_posts_list h3 {
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 10px 0;
}
.type_a_3 .temperatur {
  color: #CA212A;
  font-weight: bold;
  padding: 3px 3px 0 0;
  display: inline-block;
  white-space: nowrap;
}
.type_a_3 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: all 0.4s ease 0s;
  outline: none !important;
  color: #fa9e19;
}
.type_a_3 a:hover {
  color: #000;
}
.type_a_3 h3 a {
  color: #111;
  text-decoration: none !important;
}
.type_a_3 .simple_price_count {
  font-weight: normal;
  color: green;
  margin-left: 8px;
}
.type_a_3 .post-meta {
  font-size: 11px;
  line-height: 12px;
  font-style: italic;
  color: #999;
}
.type_a_3 .tabsajax .post-meta {
  margin: 0;
}
.type_a_3 .post-meta span {
  display: inline-block;
  margin-right: 3px;
}
.type_a_3 i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_3 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type_a_3 .def_btn {
  display: inline-block;
  color: #444;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ebebeb;
  background: linear-gradient(to bottom,#fff 1px,#f9f9f9 1px,#ebebeb);
  border: 1px solid #b9bbbd;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7), 0 1px 2px rgba(0,0,0,0.08);
  transition: all 0.4s ease 0s;
  outline: none;
  font: 700 14px/16px 'Roboto', trebuchet ms;
  text-decoration: none;
  -webkit-appearance: none;
  text-shadow: 0 1px 1px #fff;
}
.type_a_3 .tabsajax .re_ajax_pagination_btn.def_btn {
  line-height: 18px;
  font-size: 13px;
  padding: 6px 30px;
}
.type_a_3 .sidebar
    .widget {
  clear: both;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 0 35px 0;
}
.type_a_3 .sidebar .widget.widget_text {
  overflow: visible;
}
.type_a_3 .nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  margin-left: -3px;
}
.type_a_3 .rehub_chimp {
  position: relative;
  margin: 30px auto;
  background-color: #F5F5F5;
  padding: 20px;
  border: 4px solid #E6E6E6;
}
.type_a_3 .rehub_chimp.centered_form {
  text-align: center;
}
.type_a_3 .rehub_chimp h3 {
  text-transform: uppercase;
  font-size: 23px;
  margin: 10px 0 20px 0;
}
.type_a_3 .rehub_chimp #mc_embed_signup {
  width: 500px;
  position: relative;
  vertical-align: middle;
  margin: 0;
  background-color: transparent;
  padding: 0;
  max-width: 100%;
}
.type_a_3 .rehub_chimp.centered_form #mc_embed_signup {
  margin: 5px auto;
}
.type_a_3 form {
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_3 .rehub_chimp #mc_embed_signup form {
  padding: 0;
}
.type_a_3 input {
  -webkit-writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
}
.type_a_3 input[type="email"] {
  color: #444;
  background: none #fff;
  transition: border-color 0.4s ease;
  line-height: 18px;
  font: normal 15px/18px Arial;
  -webkit-appearance: none;
}
.type_a_3 .rehub_chimp #mc_embed_signup input.email {
  border: 1px solid #d9d9d9;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  padding: 12px 10px;
}
.type_a_3 input[type="text"] {
  box-sizing: border-box;
  outline: 0;
  padding: 9px 10px;
  color: #444;
  background: none #fff;
  border-radius: 0;
  transition: border-color 0.4s ease;
  border: 1px solid #ccc;
  line-height: 18px;
  font: normal 15px/18px Arial;
  -webkit-appearance: none;
}
.type_a_3 .rehub_chimp .clear {
  height: auto;
}
.type_a_3 input[type="submit"],
.type_a_3 input[type="button"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease 0s;
  outline: none;
  font: 700 14px/16px 'Roboto', trebuchet ms;
  text-decoration: none;
  -webkit-appearance: none;
}
.type_a_3 .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {
  right: 0;
  top: 0;
  height: 40px;
  border: none;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  text-shadow: none;
  font-weight: bold;
  color: #fff !important;
  cursor: pointer;
  box-shadow: none;
  padding: 12px 10px;
}
.type_a_3 .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {
  background: #fa9e19;
}
.type_a_3 .sidebar .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {
  position: static;
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
}
.type_a_3 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_3 .rehub_chimp p {
  margin: 15px auto;
}
.type_a_3 .sidebar .widget {
  clear: both;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 0 35px 0;
}
.type_a_3 .widget .title,
.type_a_3 .widget h2 {
  font: 700 18px/20px 'Roboto', trebuchet ms;
  color: #111;
  margin: 0 0 15px 0;
}
.type_a_3 .rehub_chimp:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fa9e19;
  content: "\f0e0";
  font-size: 20px;
  color: #fff;
  margin: -20px 0 0 -20px;
  font-family: FontAwesome;
}
.type_a_3 .widget.buddypress div.item-options {
  margin: 0 0 1em;
  padding: 1em 0;
}
.type_a_3 #groups-list-options {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 0;
}
.type_a_3 #groups-list {
  list-style-type: none;
  padding: 0;
}
.type_a_3 .widget.buddypress #groups-list {
  margin-left: 0;
  padding-left: 0;
}
.type_a_3 #groups-list-options a {
  font-weight: 700;
}
.type_a_3 #groups-list-options .selected {
  color: #5b4141;
}
.type_a_3 img {
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  border: 0;
}
.type_a_3 .widget img {
  max-width: 100%;
}
.type_a_3 .widget.buddypress ul.item-list img.avatar {
  display: block;
  float: none;
  width: 25px;
  height: 25px;
  margin: 0;
  overflow: hidden;
}
.type_a_3 .widget.buddypress #groups-list li {
  list-style-type: none;
  clear: both;
}
.type_a_3 .widget.buddypress div.item {
  margin: 0 0 1em;
}
.type_a_3 .widget.buddypress .item-avatar {
  float: left;
  margin: 0 9px 9px 0;
  padding: 3px;
  background: rgba(0,0,0,0.1);
}
.type_a_3 .widget.tabsajax .title:before {
  font-family: FontAwesome;
  content: "\f0e7";
  color: #fa9e19;
  margin-right: 8px;
}
.type_a_3 .gradus_icon:before {
  font-family: FontAwesome;
  content: "\f004";
  margin: 0 3px;
  font-size: 85%;
}
.type_a_3 .simple_price_count del {
  color: #ccc;
  font-size: 80%;
}
@media screen and (max-width: 480px) {
  .type_a_3 .re_filter_panel-1 {
    width: 100%;
    overflow: hidden;
    float: none;
    box-sizing: border-box;
  }
  .type_a_3 .re {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_3 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_3 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_3 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_3 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_3 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mod .col_wrap_three .col_item {
    width: 100%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_3 #home1 {
    width: 100%;
  }
  .type_a_3 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_3 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_3 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_3 #text-3 {
    width: 100%;
    padding-right: 900px;
    font-size: 11px;
  }
  .type_a_3 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_3 .footer1 footer#theme_footer .left {
    width: 25%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  .type_a_3 .re_filter_panel-1 {
    width: 100%;
    overflow: hidden;
    float: none;
    box-sizing: border-box;
  }
  .type_a_3 .re {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_3 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_3 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_3 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_3 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_3 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mod .col_wrap_three .col_item {
    width: 47%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_3 #home1 {
    width: 100%;
  }
  .type_a_3 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_3 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_3 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_3 #text-3 {
    width: 100%;
    padding-right: 586px;
    font-size: 11px;
  }
  .type_a_3 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_3 .footer1 footer#theme_footer .left {
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .widget_search form.search-form input[type="text"] {
    width: 100%;
    clear: both;
  }
  .type_a_3 form.search-form input[type="text"] {
    padding: 20px 0;
    padding-left: 0px;
    padding-right: 355px;
  }
}
@media screen and (min-width: 701px) and (max-width: 999px) {
  .type_a_3 .re_filter_panel-1 {
    width: 70%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
  }
  .type_a_3 .re {
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_3 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_3 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_3 .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
    padding: 0px 14px;
    height: 40px;
  }
  .type_a_3 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_3 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_3 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mod .col_wrap_three .col_item {
    width: 47%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_3 #home1 {
    width: 100%;
  }
  .type_a_3 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_3 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_3 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_3 #text-3 {
    width: 100%;
    padding-right: 400px;
    font-size: 11px;
  }
  .type_a_3 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_3 .footer1 footer#theme_footer .left {
    width: 63%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .widget_search form.search-form input[type="text"] {
    width: 100%;
    clear: both;
  }
  .type_a_3 form.search-form input[type="text"] {
    padding: 20px 0;
    padding-left: 0px;
    padding-right: 530px;
  }
}
