.type-559 .item0 h1 {
  font-size: 15px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 10px;
}
.type-559 .item0 h1:hover {
  color: red;
}
.type-559 .item:hover {
  color: red;
}
.type-559 .item h2 {
  font-size: 30px;
}
.type-559 .item h3 {
  font-size: 14px;
  margin-bottom: opx;
}
.type-559 .container1 {
  width: 150px;
  margin: auto;
}
.type-559 .prec {
  top: 5px;
  position: relative;
  font-size: 15px;
  text-align: center;
}
.type-559 .circle {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #E6F4F7;
}
.type-559 .active-border {
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: #39b4cc;
  background-image: linear-gradient(91deg,transparent 50%,#A2ECFB 50%), linear-gradient(90deg,#A2ECFB 50%,transparent 50%);
  top: 20px;
  left: 20px;
}
.type-559 .border {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #39b4cc;
}
