.type-566 {
    .type-566-sidebar{
        background-color: #f2f2f2 ;
    }
    .sidebar {
        .widget {
            margin-bottom: 35px;
            clear: both;
            overflow: hidden;
        }

    }
    .wpsm_recent_posts_list {
        .item-small-news {
            border-bottom: 1px solid #E4E4E4;
            padding: 10px 0;
            background: radial-gradient(ellipse at top, rgba(255,255,255,0.75), rgba(255,255,255,0) 75%);
        }
        h3 {
            font-size: 15px;
            line-height: 19px;
            margin: 0 0 10px 0;
        }
    }
    .tabsajax .re_filter_panel {
        margin-bottom: 8px;
        background-color: #ebebeb; 
        background: linear-gradient(to bottom, #fff 1px, #f9f9f9 1px, #ebebeb);
        border: 1px solid #b9bbbd;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.08);      
    }
    span.re_filtersort_btn:hover{
        background: #000000 !important;
        color: #fff !important;
    }
    .re_filter_panel {
        position: relative;
        z-index: 1000;
        margin: 0 0 25px 0;
        user-select: none;
    }
    .tabsajax .re_filter_panel ul.re_filter_ul {
        overflow: hidden;
    }
    .re_filter_panel ul.re_filter_ul {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    .rh_col_tabs_3 .re_filter_panel ul.re_filter_ul li {
        width: 33.33%;
    }
    .tabsajax .re_filter_panel ul.re_filter_ul li {
        float: left;
        span {
            display: block;
            text-align: center;
            padding: 7px 0;
            border-right: 1px solid #ccc;
        }
    }
    .re_filter_panel ul.re_filter_ul li {
        display: inline-block;
        margin: 0;
        span {
            cursor: pointer;
            padding: 12px 16px;
            display: inline-block;
            transition: all .3s ease;
            font-weight: bold;
            font-size: 15px;
            line-height: 16px;
        }
    }
    span.active.re_filtersort_btn{
        background: #000000 !important;
        color: #fff !important;
    }
    .tabsajax .re_filter_panel ul.re_filter_ul li:last-child span {
        border: none;
    }
    h3 {
        font: 700 21px/25px 'Roboto', trebuchet ms;
        color: #111;
    }
    a{
        color: #111;
        text-decoration: none;
        transition: all 0.4s ease 0s;
    }
    .temperatur {
        color: #CA212A;
        font-weight: bold;
        padding: 3px 3px 0 0;
        display: inline-block;
        white-space: nowrap;
    }
    .gradus_icon:before {
        font-family: FontAwesome;
        content: "\f004";
        margin: 0 3px;
        font-size: 85%;
    }
    .wpsm_recent_posts_list h3 a {
        text-decoration: none;
    }
    .simple_price_count {
        font-weight: normal;
        color: green;
        margin-left: 8px;
        del {
            color: #ccc;
            font-size: 80%;
        }
    }
    .tabsajax .post-meta {
        margin: 0;
    }
    .post-meta {
        margin-bottom: 12px;
        font-size: 11px;
        line-height: 12px;
        font-style: italic;
        color: #999;
        span {
            display: inline-block;
            margin-right: 8px;
        }
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .fa-commenting:before {
        content: "\f27a";
    }
}

