.type-547{
    p{
        margin-top: 10px;
    }
    label{
        font-weight: 100;
    }
    .button{
        margin-top: 10px;
    }
    .widget {
        margin-bottom: 40px;
        margin-top: 0;
        .section-big-wrapper {
            padding-bottom: 30px;
            .section-big {
                font-size: 24px;
                color: #758991;
                padding-bottom: 4px;
                margin: 4px 0 -1px 0;
                display: inline-block;
            }
        }
    }

    article {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .sidebar{
        float: right;
        padding-left: 0;
        padding-right: 40px;
        padding-top: 20px;
    }
}