.type-c-8{
    .section-big{
        width: 100%;
    }
    p{
        margin-top: 10px;
    }
    label{
        font-weight: 100;
    }
    .button{
        margin-top: 10px;
    }
    /*ket thuc*/
    img {
        margin-left: AUTO;
        MARGIN-RIGHT: AUTO;
        DISPLAY: block;
    }
    article.widget {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .selectric .label {
        font-size: 14px;
        font-weight: 100;
    }
    .section-big-wrapper {
        padding-bottom: 30px;
    }
    .section-big {
        font-size: 24px;
        color: #758991;
        padding-bottom: 4px;
        margin: 4px 0 -1px 0;
        display: inline-block;
    }
    h3,.h3 {
        font-size: 24px;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }
    .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
        background: none #525252 repeat scroll 0 0;
        box-shadow: none;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        border-radius: 1em;
    }
    article {
        margin-bottom: 40px;
        margin-top: 0;
    }
    div {
        display: block;
    }
    aside {
        display: block;
    }
    #right1-sidebar.sidebar,
    #right2-sidebar.sidebar {
        float: right;
        padding-left: 0;
        padding-right: 40px;
        padding-top: 20px;
    }
}