.type-574{ 
    /*Left*/
    .benefits {
        overflow: hidden;
    }

    h2 {
        font-family: inherit;
        font-weight: 500;
        color: inherit;
    }
    .section-title {
        margin-top: 54px;
        margin-bottom: 41px;
        font-size: 30px;
        line-height: 34px;
        .text-highlight {
            font-size: 80px;
            display: block;
            font-size: 50px;
            text-transform: uppercase;
        }
    }
    .text-highlight {
        color: #7ccbfc;
    }
    .list-arrow--hover-efect{
       display: block;
    }
    .list-arrow {
        margin-top: -8px;
        font-size: 14px;
        line-height: 24px;
        list-style: none;
        .list__item {
            position: relative;
            padding: 0px 5px 15px 20px;

        }
        .list__item .icon-circle {
            position: absolute;
            top: 0px;
            left: -30px;
            color: #7ccbfc;
            border-color: #7ccbfc;
        }
    }
    .icon-circle--thin {
        width: 26px;
        height: 26px;
        padding-top: 5px;
        font-size: 12px;
        line-height: 12px;
        border-width: 2px;
    }
    .icon-circle {
        display: inline-block;
        padding-top: 4px;
        font-size: 12px;
        text-align: center;
        border: 3px solid #8b98b2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    /*End left*/
    /*Right*/
    .roundabout-moveable-item{
        display: block;
    }
    .roundabout-in-focus{
        display: block;
    }
    .roundabout-holder{
        display: block;
    }
    .roundabout-controls{
        display: block;
    }
    .roundabout-wrapper {
        max-height: 510px;
        margin-bottom: 51px;
    }
    .roundabout {
        height: 510px;
        margin-top: 55px;
        list-style: none;
        roundabout-holder{
            padding: 0px;
            position: relative;
        }
    }
    .roundabout-slide {
        width: 268px;
        height: 510px;
        cursor: url(../images/draghand.cur), w-resize;
    }
    img {
        max-width: 100%;
        height: auto;
        border: 0 none;
        vertical-align: middle;
    }
    a {
        color: #7ccbfc;
        text-decoration: none;
    }
    /*End Right*/
    
}