body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

body {

    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}

.clear {
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}



.type-benefits-p-27{ 

    /*Left*/
    .benefits {
        overflow: hidden;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .col-xs-12 {
        width: 100%;
        float: left;
    }
    .col-xs-12 .col-md-7{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-title {
        margin-top: 54px;
        margin-bottom: 41px;
        font-size: 30px;
        line-height: 34px;
    }
    h2 {
        margin-top: 48px;
        margin-bottom: 17px;
        font-size: 26px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    .section-title .text-highlight {
        display: block;
        font-size: 50px;
        text-transform: uppercase;
    }
    .text-highlight {
        color: #7ccbfc;
    }
    .list-arrow {
        margin-top: -8px;
        font-size: 14px;
        line-height: 24px;
        list-style: none;
    }
    .list-arrow .list__item {
        position: relative;
        padding: 0px 5px 15px 20px;

    }
    .list-arrow .list__item .icon-circle {
        position: absolute;
        top: 0px;
        left: -30px;
        color: #7ccbfc;
        border-color: #7ccbfc;
    }
    .icon-circle--thin {
        width: 26px;
        height: 26px;
        padding-top: 5px;
        font-size: 12px;
        line-height: 12px;
        border-width: 2px;
    }
    .icon-circle {
        display: inline-block;

        padding-top: 4px;
        font-size: 12px;
        text-align: center;
        border: 3px solid #8b98b2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    strong {
        font-weight: bold;
    }
    /*End left*/
    /*Right*/
    .list-arrow--hover-efect{}
    .roundabout-moveable-item{}
    .roundabout-in-focus{}
    .roundabout-controls{}
    .roundabout-wrapper {
        max-height: 510px;
        margin-bottom: 51px;
    }
    .roundabout roundabout-holder{
        padding: 0px;
        position: relative;
    }
    .roundabout {
        height: 510px;
        margin-top: 55px;
        list-style: none;
    }
    .roundabout-slide {
        width: 268px;
        height: 510px;
        cursor: url(../images/draghand.cur), w-resize;
    }
    img {
        max-width: 100%;
        height: auto;
        border: 0 none;
        vertical-align: middle;
    }
    a {
        color: #7ccbfc;
        text-decoration: none;
    }
    /*End Right*/
    @media (min-width: 768px){
        .container {
            width: 750px;
        }
        .section-title {
            margin-top: 49px;
            margin-bottom: 47px;
            font-size: 30px;
            line-height: 43px;
        }
        .section-title .text-highlight {
            font-size: 80px;
        }

    }
    @media (min-width: 992px){
        .container {
            width: 970px;
        }
        .col-md-7 {
            width: 58.333333333333336%;
        }
        .col-md-7 {
            float: left;
        }

    }
    @media (min-width: 1200px){
        .container {
            padding-right: 0;
            padding-left: 0;
        }
        .container {
            width: 1170px;
        }

    }
}