.type_569{
    .sidebar {
        border: none;
        /*BEGIN MAILCHIMP SIGNUP FORM*/
        .rehub_chimp {
            position: relative;
            margin: 20px auto;
            background-color: #F5F5F5;
            padding: 20px;
            border: 4px solid #E6E6E6;
            text-align: center;
            #mc_embed_signup input.email {
                border: 1px solid #d9d9d9;
                width: 100%;
                outline: none;
                box-sizing: border-box;
                border-radius: 5px;
                font-weight: normal;
                font-size: 15px;
                padding: 12px 10px;
            }
            #mc_embed_signup input#mc-embedded-subscribe {
                height:40px;
                border: none;
                font-size: 16px;
                text-shadow: none;
                font-weight: bold;
                color: #fff;
                background: #fa9e19;
                position: static;
                margin: 10px auto;
                width: 100%;
                border-radius: 5px;
            }
            h4 {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .rehub_chimp:before {
            position: absolute;
            top: 0;
            left: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            background: #fa9e19;
            content: "\f0e0";
            font-size: 20px;
            color: #fff;
            margin: -20px 0 0 -20px;
            font-family: FontAwesome;
        }
        /*BEGIN TAB CONTENT*/
        .tab_pill{
            .title{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .nav{
                padding-bottom: 10px;
                .list-inline{
                    margin-left: 0;
                    li{
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
                .bp-separator{
                    color: #000;
                }
                a {
                    font-weight: bold;
                    color: #fa9e19;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                }
                a:hover{
                    color: #000;
                }
                a:focus{
                    color: #000;
                }
                .active a{
                    color: #000;
                }
            }
            .tab-content{
                ul {
                    display: block;
                    border: 0;
                    font: inherit;
                    vertical-align: baseline;
                    list-style: none;
                    padding:3px;
                    li {
                        float: left;
                        width: 100%;
                        list-style: none;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        vertical-align: baseline;
                        a{
                            color: #000;
                            text-decoration: none;
                        }
                        a:hover{
                            color: #fa9e19;
                        }
                        .item-avatar {
                            float: left;
                            margin: 0 9px 9px 0;
                        }
                        .item h5{
                            color: #bbb;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}