.type-571{
    .container{
        width: 100%;
    }
    .col-md-3,.col-md-6{
        margin: 0;
        padding: 0;
    }

    /*----------------------Header----------------------------*/


    #main_header{
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 9000;
        .logo-section {
            margin: 0 auto;
            padding: 20px 0;
            overflow: visible;
            padding-top: 5px;
            padding-bottom: 0;
            .margin-header-top{
                margin: 0 30px;
                .logo{ 
                    img {
                        text-align: center;
                    }
                }
                #re_menu_near_logo {
                    padding: 0;
                    margin: 20px 0px 0 0px;
                    box-sizing: border-box;
                    overflow: hidden;
                    li {
                        float: left;
                        font-size: 16px;
                        margin: 0 5px;
                        line-height: 34px;
                        font-family: Roboto,Arial;
                        font-weight: bold;
                        a {
                            color: #111;
                        }
                        i {
                            margin: 0 6px 0 0;
                        }
                    }
                }
                .fa {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                }
                .search-box{
                    display: inline-block;
                    margin-top:20px;
                    .col-md-4 {
                        padding: 0;
                        margin: 0;
                        span,a  {
                            width:  95%;
                        }
                        .head_search {
                            margin-right: 0px;
                            text-align: center;
                            .search-form {
                                [type="submit"] {
                                    background: none transparent;
                                    border: none;
                                    cursor: pointer;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    padding: 0 12px;
                                    line-height: 34px;
                                    height: 34px;
                                    vertical-align: middle;
                                }
                                padding: 0;
                                border: none;
                                background-color: #fff;
                                position: relative;
                                display: inline-block;
                                margin: 0;
                                width: 100%;
                                input[type="text"] {
                                    border: 1px solid #ddd;
                                    height: 34px;
                                    background-color: #fff;
                                    padding: 2px 37px 2px 7px;
                                    transition: all 0.4s ease;
                                    outline: 0;
                                    width: 100%;
                                }
                                i {
                                    color: #aaa;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    a{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
        outline: none !important;
        transition: all 0.4s ease 0s;
        color: #fa9e19;
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
    }

    .floatright {
        float: right;
    }
    .wpsm-button {
        font-family: Arial,sans-serif;
        cursor: pointer;
        display: inline-block;  
        text-decoration: none !important;
        transition: all 0.4s ease 0s; 
        color: #fff !important;
        font-weight: bold !important;   
        text-align: center;
        white-space: normal;
        text-shadow: 0 1px 0 rgba(0,0,0,0.25);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        position: relative;
        font-style: normal;
        background: #aaa;
        box-sizing: border-box;
    }
    .wpsm-button.white {
        border: 1px solid #ccc;
        background-color: #fff;
        color: #111 !important;
        text-shadow: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    .wpsm-button.medium {
        padding: 8px 16px;
        line-height: 15px !important;
        font-size: 15px;
        i.fa {
            padding-right: 8px;
        }
    }
    .wpsm-button.orange {
        background: #fa9e19;
        border: 1px solid #FB6909;
        .fa-plus:before {
            content: "\f067";
        }
    }
    input{
        -webkit-writing-mode: horizontal-tb;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        -webkit-rtl-ordering: logical;
        -webkit-user-select: text;
        cursor: auto;
    }

    input[type="text"] {
        box-sizing: border-box;
        outline: 0;
        padding: 9px 10px;
        color: #444;
        background: none #fff;
        border-radius: 0;
        transition: border-color 0.4s ease;
        border: 1px solid #ccc;
        line-height: 18px;
        font: normal 15px/18px Arial;
        -webkit-appearance: none;
    }
    button {
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
        color: buttontext;
        align-items: flex-start;
        text-align: center;  
        box-sizing: border-box;
        padding: 1px 6px;
        text-rendering: auto;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
}



