

.type_a_logo{

    .container{
        width: 100%;

    }
    .col-md-3,.col-md-6
    {
        margin: 0;
        padding: 0;
    }

    .logo img {
        text-align: center;
    }
    body{
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
    }
    a,p,li {
        color: #6c7b84;

    }

    .style-M2{

        margin-top: 30px;
        .container{
            padding-left: 0;
            padding-right: 0;
        }
        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }



        /* MEGAMENU STYLE
        -------------------------------------------------- */
        .megamenu .nav,
        .megamenu .collapse,
        .megamenu .dropup,
        .megamenu .dropdown {
            position: static;
            margin-left: -10px;
        }
        .megamenu .container {
            position: relative;
        }
        .megamenu .dropdown-menu {
            left: auto;
        }
        .megamenu .megamenu-content {
            padding: 15px;
        }
        .megamenu .megamenu-content h3{
            margin-top: 0;
            color: #428bca;
            font-size: 18px;
        }
        .megamenu .dropdown.megamenu-fw .dropdown-menu {
            left: 0;
            right: 0;
        }

        .navbar > .container .navbar-brand{
            padding-right:  105px;
            padding-left:  30px;

        }
        .navbar-default {
            background: #2961ae;
            margin-top: -31px;

        }

        .navbar-header span {
            color: #ffffff;

        }
        .navbar-header span:hover {
            color: #ffffff;

        }
        .container > .navbar-header {
            margin-right: 30px;
            margin-left: 30px;    

        }
        .navbar-default .navbar-nav > .open > a,
        .navbar-default .navbar-nav > .open > a:focus,
            .navbar-default .navbar-nav > .open > a:hover {

            background-color: #374046;
        }

        .navbar-right{
            background: #2961ae;

        }
        .navbar-right  li a {
            color: #F5F4F4;
        }
        .navbar-right  span{
            color: #F5F4F4;
            width: 30px;
            font-size: 17px;

        }

        .navbar-right  span:hover{

        }
        .dropdown-menu{

            background: #F5F4F4;
        }
        .dropdown-menu li{
            padding: 5px;
        } 
        .dropdown-menu li a:hover{
            color: #4BAE4F;
        } 
        .megamenu .megamenu-content h3{
            color: #374046;
        }
        .dropdown-menu ul{
            margin-top: 20px;
            font-size: 14px;
            text-align: left;
            list-style: none; 
            margin-left: -45px;
        }   
        .dropdown-menu ul li a {
            color: #6c7b84;
            text-decoration: none;
        }
        .dropdown-menu ul li a:hover {
            color: #4BAE4F;
        }


        .dropdown-menu-mega li {
            padding: 5px;
            text-align: center;

        }
        .dropdown-menu-mega ul li a{
            color: #4BAE4F;
            font-size: 16px;

        }
        .dropdown-menu-mega ul li a:hover{
            color: #6c7b84;
        }


        .thumbnail{
            background: #F5F4F4;
            border: 0;

        }
        .thumbnail .caption {
            display: table-caption;
            text-align: center;
            width: 100%;

        }
        .thumbnail .caption h3{
            font-weight: bold;
        }
        .btn-success {
            border-radius:  0;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);

        }

        .btn-success:hover {
            background: #374046;
        }
        .thumbnail .caption a:hover{

            text-decoration: none;

        }

        .thumbnail .caption input a{
            color: white;
        }
        .thumbnail img:hover{

            opacity: 0.8;   
        }

        .navbar-nav>li>a{
            padding-top: 15px;
            padding-bottom: 15px;
            border-right: 1px solid rgba(255,255,255,0.15);
            text-transform: uppercase;
            padding: 8px 16px 12px 16px;
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
            border-top: 4px solid transparent;
            font: 700 15px/19px 'Roboto', trebuchet ms;
        } 


        .navbar-right li a:hover {
            background: #2961ae;
            border-top: 3px solid #fa9e19;
            margin-top: -4px;
        }

        .navbar-right{
            border-top: 4px solid transparent;
        }
        .dropdown-menu li {
            padding: 1px;
        }
        .dropdown-menu li a:hover {
            color: black;
        }
        .last-sub-menu{
            margin-bottom: -10px;
            border-bottom: 3px #fa9e19 solid;
        }
        .dropdown a:hover{
            border-top: 3px #fa9e19 solid;
        }
        .dropdown{
            padding-left: 10px;
        }

        .dropdown-menu li a{
            border-top: 0;
        }
    }

    /* MEGAMENU STYLE
        -------------------------------------------------- */


    .header{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        display: block;
    }

    #main_header{
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 9000;
    }



    header .logo-section {
        margin: 0 auto;
        padding: 20px 0;
        overflow: visible;
        padding-top: 5px;
        padding-bottom: 0;
    }



    a:-webkit-any-link {
        cursor: auto;
    }

    a{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
        outline: none !important;
        transition: all 0.4s ease 0s;
        color: #fa9e19;
    }
    img{
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: top;
        border: 0;
    }




    #re_menu_near_logo {


        padding: 0;
        margin: 20px 0px 0 0px;
        box-sizing: border-box;
        overflow: hidden;


    }

    ul {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    li{
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .fa-plus:before {
        content: "\f067";
    }

    #re_menu_near_logo li {
        float: left;
        font-size: 16px;
        margin: 0 5px;
        line-height: 34px;
        font-family: Roboto,Arial;
        font-weight: bold;
    }

    #re_menu_near_logo li a {
        color: #111;
    }

    i{
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;

    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;  
    }

    #re_menu_near_logo li i {
        margin: 0 6px 0 0;
    }

    span{
        font: inherit;
        vertical-align: baseline;
    }

    .floatright {
        float: right;
    }


    .wpsm-button {
        font-family: Arial,sans-serif;
        cursor: pointer;
        display: inline-block;  
        text-decoration: none !important;
        transition: all 0.4s ease 0s; 
        color: #fff !important;
        font-weight: bold !important;   
        text-align: center;
        white-space: normal;
        text-shadow: 0 1px 0 rgba(0,0,0,0.25);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        position: relative;
        font-style: normal;
        background: #aaa;
        box-sizing: border-box;
    }


    .wpsm-button.white {
        border: 1px solid #ccc;
        background-color: #fff;
        color: #111 !important;
        text-shadow: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

    .wpsm-button.medium {
        padding: 8px 16px;
        line-height: 15px !important;
        font-size: 15px;
    }



    .wpsm-button.orange {
        background: #fa9e19;
        border: 1px solid #FB6909;
    }

    .wpsm-button.medium i.fa {
        padding-right: 8px;
    }
    .margin-header-top{
        margin: 0 30px;
    }
    .head_search {
        margin-right: 0px;
        text-align: center;
    }
    .search-box .col-md-4 span,a  {

        width:  95%;
    }


    .search-box .col-md-4 {
        padding: 0;
        margin: 0;
    }
    .search-box{
        display: inline-block;
        margin-top:20px;
    }

    form{
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    form.search-form {
        padding: 0;
        border: none;
        background-color: #fff;
        position: relative;
        display: inline-block;
        margin: 0;
    }

    .head_search .search-form {
        width: 100%;
    }

    input{
        -webkit-writing-mode: horizontal-tb;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        -webkit-rtl-ordering: logical;
        -webkit-user-select: text;
        cursor: auto;
    }

    input[type="text"] {
        box-sizing: border-box;
        outline: 0;
        padding: 9px 10px;
        color: #444;
        background: none #fff;
        border-radius: 0;
        transition: border-color 0.4s ease;
        border: 1px solid #ccc;
        line-height: 18px;
        font: normal 15px/18px Arial;
        -webkit-appearance: none;
    }

    form.search-form input[type="text"] {
        border: 1px solid #ddd;
        height: 34px;
        background-color: #fff;
        padding: 2px 37px 2px 7px;
        transition: all 0.4s ease;
        outline: 0;
    }

    .head_search form.search-form input[type="text"] {
        width: 100%;
    }


    form.search-form * {
        -webkit-box-sizing: border-box;
    }

    button {
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
        -webkit-writing-mode: horizontal-tb;
        -webkit-appearance: button;
        color: buttontext;
        align-items: flex-start;
        text-align: center;  
        box-sizing: border-box;
        padding: 1px 6px;
        text-rendering: auto;
    }

    form.search-form [type="submit"] {
        background: none transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 12px;
        line-height: 34px;
        height: 34px;
        vertical-align: middle;
    }

    form.search-form i {
        color: #aaa;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .main-nav {
        border-bottom: none !important;

    }

    .main-nav.dark_style {
        max-height: 70px;

    }



    /* Removes the default 20px margin and creates some padding space for the indicators and controls */
    .slideshow-1{
        body{padding-top:20px;
        }

        .carousel {
            margin-bottom: 0;
            padding: 0 40px 30px 40px;
        }
        /* The controlsy */
        .carousel-control {
            left: -12px;
            height: 40px;
            width: 40px;
            background: none repeat scroll 0 0 #222222;
            border: 4px solid #FFFFFF;
            border-radius: 23px 23px 23px 23px;
            margin-top: 90px;
        }
        .carousel-control.right {
            right: -12px;
        }
        /* The indicators */
        .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: -10px;
            margin-right: -19px;
        }
        /* The colour of the indicators */
        .carousel-indicators li {
            background: #cecece;
        }
        .carousel-indicators .active {
            background: #428bca;
        }
    }
}


