.type-532 .summary .product_meta {
  margin-top: 35px;
}
.type-532 .summary .woocommerce-price {
  line-height: 36px;
}
.type-532 .summary .compare {
  color: #ffffff;
  background-color: #4F4F4F;
  padding: 10px 15px;
  text-transform: uppercase;
}
.type-532 .summary .quantity {
  width: 80px;
  position: relative;
}
.type-532 .summary .quantity .minus {
  width: 25px;
  height: 25px;
  border: 1px solid #c7c0c7;
  font-size: 12px;
}
.type-532 .summary .quantity .plus {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #c7c0c7;
  font-size: 12px;
}
.type-532 .summary .qty {
  width: 32px;
  height: 25px;
  text-align: center;
  top: 0;
  left: 24px;
}
.type-532 a {
  text-decoration: none;
  color: #868686;
}
.type-532 a:hover,
.type-532 .single_add_to_cart_button.button.alt:hover,
.type-532 .compare:hover {
  color: #337ab7;
}
.type-532 .woocommerce-add-to-cart {
  float: right;
  max-width: 45%;
}
.type-532 .woocommerce-price-and-add {
  border-top: 1px solid #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  margin-top: 1em;
  height: 55px;
}
.type-532 .woocommerce-price-and-add del .amount {
  color: #868686;
  font-size: 16px;
}
.type-532 .woocommerce-price-and-add .price {
  font-size: 18px;
  margin-bottom: .5em;
}
.type-532 button.single_add_to_cart_button.button.alt {
  margin: 10px auto;
  border: 0px;
  padding: 10px 15px 10px 35px;
  background: #4f4f4f;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
}
.type-532 .row3 {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}
.type-532 img {
  border: 1px solid #DFDCDC;
}
