.hdear .navbar-collapse {
  padding: 0;
}
.hdear .navbar-inverse .navbar-nav .activemenu {
  border-top: 5px solid #e6e6e6;
}
.hdear .navbar-inverse .navbar-nav .dropdown {
  border: 5px solid #fff;
}
.hdear .navbar-inverse .navbar-nav .dropdown:hover {
  border-top: 5px solid #e6e6e6;
}
.hdear .navbar-inverse .navbar-nav>li>a:hover {
  color: #e89222;
  background: white;
  box-shadow: none !important;
}
.hdear .dropdown-menu>li>a:focus,
.hdear .dropdown-menu>li>a:hover {
  color: #e89222;
  text-decoration: none;
  background-color: #fff;
}
.hdear .mega-dropdown-menu > li > ul > li > a:hover {
  color: #e89222;
}
.hdear form input[type="text"],
.hdear form textarea {
  border: 1px solid #CFCFCF;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.hdear #header .header-below {
  clear: both;
  background: #f6f4f4;
  border-bottom: 7px solid #e8e8e8;
}
.hdear .slider.fixed-image img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.hdear #headersearchform #headersearchsubmit:hover {
  background-color: #e37a1c;
}
.hdear #logo {
  padding: 0;
  margin-bottom: 13px;
  float: left;
}
.hdear #logo-img {
  padding-top: 35px;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}
.hdear #header-right-content {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #656464;
  font-style: normal;
  font-weight: 400;
}
.hdear #header-right-content,
.hdear #header-right-content > * + *,
.hdear #nav ul > li,
.hdear .header_skin2 {
  border-color: #f2f2f2;
  border-right-color: #f2f2f2;
}
.hdear #header-right-content {
  background: #fff;
  border-width: 2px 1px 1px 2px;
  padding: 0;
  float: right;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 20px;
}
.hdear .register {
  width: 250px;
}
.hdear .register form ul li {
  line-height: 22px;
  padding: 0;
  margin: 0;
}
.hdear .register form ul li:hover {
  color: #bc8c27;
}
.hdear .register a.create_account {
  display: block;
  margin-top: 50px;
  margin-left: 20px;
  color: #bc8c27;
}
.hdear .register a.create_account:hover {
  color: #bc8c27;
  text-decoration: none;
}
.hdear .form-group {
  margin: 20px;
}
.hdear .form-group input[type="text"],
.hdear .form-group input[type="password"] {
  box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DAD9D9;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 0 6px #E5E5E5 inset;
  font-size: 13px;
  font-weight: normal;
  height: 38px;
  margin-left: 0;
  padding: 0 10px;
  width: 100%;
}
.hdear .form-group a.lost_password {
  font-size: 11px;
  margin-top: 7px;
  display: block;
  text-shadow: none;
  color: #9d9d9d;
}
.hdear .form-group a.lost_password:hover {
  color: #bc8c27;
  text-decoration: none;
}
.hdear .form-group input.button {
  box-shadow: 0 2px 0 #cd6b02;
  color: #FFFFFF;
  background-color: #e89222;
  margin-top: -20px;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 12px;
  text-shadow: none;
  border-radius: 2px;
  border: 0;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  padding: 4px 8px 4px 8px;
  position: relative;
}
.hdear #headersearchform-container {
  clear: both;
  position: relative;
  padding-top: 35px;
}
.hdear #headersearchform .formborder {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  bottom: -46px;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px 13px 10px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -467px;
}
.hdear #headers {
  padding: 16px 0 16px 15px;
  width: 766px;
  height: auto;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0;
  float: left;
}
.hdear #headersearchform #headersearchsubmit {
  text-indent: -9999px;
  background: #e89222 url(../images/search-form-submit.png) center center no-repeat;
  border: 0;
  text-shadow: none;
}
.hdear #headersearchform input.button {
  border-radius: 3px;
  font-size: 10px;
  font-weight: normal;
  line-height: normal;
  margin-left: 9px;
  padding: 20px 0 20px 0;
  position: relative;
  vertical-align: top;
}
.hdear #headersearchsubmit {
  margin: 0;
}
.hdear #headersearchsubmit {
  padding: 0;
  margin: 0;
  width: 134px;
}
.hdear .slogan {
  padding-bottom: 20px;
  padding-top: 40px;
}
.hdear #header .slogan h2 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #5c5c5b;
  font-style: normal;
  font-weight: 400;
}
.hdear .header_with_search .slogan h2.nopadding {
  padding-top: 0px !important;
}
.hdear .slogan h2 {
  margin-bottom: 0px;
  margin-top: 0;
  letter-spacing: -0.9px;
  text-align: center;
}
.hdear .nav>li {
  border-right: 1px solid #e6e6e6 !important;
}
.hdear .navbar-inverse .navbar-nav>li:hover {
  background-color: #fff;
}
.hdear .navbar-inverse .navbar-nav>.open>a:hover,
.hdear .navbar-inverse .navbar-nav>.open>a,
.hdear .navbar-inverse .navbar-nav>.open>a:focus {
  color: #e89222;
  background-color: #fff;
}
.hdear .navbar-inverse {
  background: #fff !important;
  background-color: #fff !important;
  border: 1px solid #e6e6e6 !important;
}
.hdear span.cart-items-number {
  background-color: #e1820a;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  padding: 1px 7px;
  background: #e1820a;
  border-radius: 3px;
  margin-left: 8px;
}
.hdear .mega-dropdown {
  position: static !important;
}
.hdear .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.hdear .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.hdear .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.hdear .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.hdear .mega-dropdown-menu > li ul > li > a:hover,
.hdear .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.hdear .mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #e89222;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.hdear .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}
.hdear .left.carousel-control {
  right: 30px;
  left: inherit;
}
.hdear .carousel-control .glyphicon-chevron-left,
.hdear .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
