.type-c-11{
    .col-item {
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        background: #FFF;
    }
    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }
    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }
    .price-text-color {
        color: #219FD1;
    }
    .col-item .separator {
        border-top: 1px solid #E1E1E1;
    }
    .clear-left {
        clear: left;
    }
    .col-item .separator p {
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }
    .col-item .separator p i {
        margin-right: 5px;
    }
    .col-item .btn-add {
        width: 50%;
        float: left;
    }
    .col-item .btn-add {
        border-right: 1px solid #E1E1E1;
    }
    .col-item .btn-details {
        width: 50%;
        float: left;
        padding-left: 10px;
    }
    .controls {
        margin-top: 20px;
    }
    [data-slide="prev"] {
        margin-right: 10px;
    }
    .panel .panel-body {
        position: relative;
        padding: 0 !important;
        overflow: hidden;
        height: auto;
    }
    .panel .panel-body a img {
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    .panel .panel-body a.zoom:hover img {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6);
        -moz-transform: scale(1.6);
    }
    .panel {
        margin-bottom: 0px;
        border: 0px solid transparent;
    }
    .clear{
        clear: both;
    }
}