.type_585 .navbar-wrapper {
  left: 0;
  right: 0;
  position: absolute;
  background-color: #06121b;
  width: 100%;
}
.type_585 .navbar-wrapper .megamenu .web {
  background-color: #262c30;
  color: #fff;
}
.type_585 .navbar-wrapper .megamenu .dropdown {
  position: static;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu {
  position: absolute;
  float: left;
  margin-top: -4px;
  font-size: 14px;
  background-color: #262c30;
  border: 1px solid #262c30;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu .custom-title {
  margin-top: 15px;
  border-left: 1px solid #363b3f;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu .custom-title ul li {
  width: 100%;
  line-height: 33px;
  list-style: none;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu .custom-title ul li a {
  text-decoration: none;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu .custom-title ul li a span {
  padding-left: 10px;
  color: #abafb1;
  transition: all 1s ease;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu .custom-title ul li a .p1 {
  font-weight: bold;
  color: white;
}
.type_585 .navbar-wrapper .megamenu .dropdown .dropdown-menu .custom-title ul li a span:hover {
  color: white;
}
.type_585 .navbar-wrapper .megamenu .dropdown:hover .dropdown-menu {
  display: block;
  width: 100%;
}
.type_585 .navbar-wrapper #logo {
  margin-right: 150px;
  float: left;
}
.type_585 .menurespon {
  width: 100%;
  background: #06121B;
  display: none;
  position: absolute;
  z-index: -1;
}
.type_585 .menurespon a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: #abafb1;
}
.type_585 .menurespon a:hover {
  color: #fff;
}
.type_585 .megamenu>ul >li {
  float: left;
  list-style: none;
  border-left: 1px solid #343c43;
  line-height: 70px;
  cursor: pointer;
  text-align: center;
  width: 90px;
  margin-top: -15px;
}
.type_585 .megamenu>ul >li >a {
  text-decoration: none;
  color: #abafb1;
  font-size: 16px;
}
.type_585 .megamenu>ul >li:hover {
  transition: all 1s ease;
}
.type_585 .megamenu>ul >li:hover a {
  color: white;
}
.type_585 .megamenu>ul .iconmenu {
  display: none;
}
.type_585 .megamenu>ul .iconmenu a {
  color: #0095eb;
}
.type_585 .megamenu>ul .btn-buy {
  text-align: center;
  float: left;
  background: #ff3232;
  background: linear-gradient(to right,#008ee0 50%,#0095eb 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease;
  height: 70px;
}
.type_585 .megamenu>ul .btn-buy a {
  color: white;
}
.type_585 .megamenu>ul .btn-buy:hover {
  background-position: left bottom;
}
@media (max-width: 768px) {
  .type_585 .megamenu ul li {
    display: none;
  }
  .type_585 .navbar-wrapper {
    padding-bottom: 15px;
  }
  .type_585 .megamenu ul li.iconmenu {
    display: block;
    position: absolute;
    right: 5px;
    border: none;
    width: 50%;
  }
}
