.type-529 footer {
  border-top: 1px solid #dfdcdc;
  padding-top: 30px;
  padding-bottom: 0px;
}
.type-529 .footer-chitiet a {
  color: #b77a2b;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  outline: none !important;
}
.type-529 .footer-chitiet li {
  font-size: 12px;
  color: #666767;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
}
.type-529 .footer-chitiet ul {
  color: #666767;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  list-style-type: none;
}
.type-529 .footer-chitiet .woocommerce-price {
  float: left;
  margin-top: 13px;
}
.type-529 .footer-chitiet del {
  font-size: 12px;
}
.type-529 .footer-chitiet .woocommerce-price p {
  line-height: 36px;
}
.type-529 .footer-chitiet .price {
  color: #736d6d;
  display: block;
  font-size: 18px;
  margin-bottom: .5em;
}
.type-529 .footer-chitiet img {
  border: 1px solid #DFDCDC;
}
.type-529 .footer-chitiet .recent-post {
  margin-top: 15px;
}
.type-529 .footer-chitiet .recent-post .text h3 a:hover {
  color: #9A6614;
}
.type-529 .footer-chitiet img#sale-manhphuc {
  width: 55px;
  height: 55px;
  padding: 3px;
}
.type-529 .footer-chitiet span.product-title {
  color: #575858;
}
.type-529 .footer-chitiet span.product-title:hover {
  color: #000;
}
.type-529 .footer-chitiet ul.product_list_widget li del {
  display: block;
  float: left;
  margin-right: 5px;
}
.type-529 .footer-chitiet ul.product_list_widget {
  padding-left: 0px;
  padding-top: 15px;
}
.type-529 .footer-chitiet .widget_nav_menu li.cols-2 {
  float: left;
  width: 50%;
}
.type-529 .footer-chitiet ul#menu-footer {
  padding-left: 0px;
  margin-top: 15px;
}
.type-529 .footer-chitiet ul#menu-footer>li>a {
  color: #575858;
}
.type-529 .footer-chitiet ul#menu-footer>li>a:hover {
  color: #000;
}
