.custom-25-chitiet2 a,
.custom-25-chitiet2 a:visited,
.custom-25-chitiet2 a:focus {
  text-decoration: none;
  outline: 0;
}
.custom-25-chitiet2 a {
  color: #ff5a00;
}
.custom-25-chitiet2 .section {
  position: relative;
}
.custom-25-chitiet2 #section2 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2f4bc3;
}
.custom-25-chitiet2 .section_wrapper,
.custom-25-chitiet2 .container {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}
.custom-25-chitiet2 .one.mcb-wrap {
  width: 100%;
}
.custom-25-chitiet2 .clearfix {
  zoom: 1;
}
.custom-25-chitiet2 .mcb-wrap {
  float: left;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet2 .section.no-margin .column,
.custom-25-chitiet2 .section.no-margin-v .column {
  margin-bottom: 0;
}
.custom-25-chitiet2 .no-margin-h .one-fifth.column {
  width: 20%;
}
.custom-25-chitiet2 .no-margin-h .column {
  margin-left: 0;
  margin-right: 0;
}
.custom-25-chitiet2 .one-fifth.column {
  width: 18%;
}
.custom-25-chitiet2 .column,
.custom-25-chitiet2 .columns {
  float: left;
  margin: 0 1% 40px;
}
.custom-25-chitiet2 .hover_color {
  background: #5373d2;
}
.custom-25-chitiet2 .hover_color_bg {
  background: #2f4bc3;
}
.custom-25-chitiet2 .hover_color,
.custom-25-chitiet2 .hover_color_bg {
  height: 100%;
}
.custom-25-chitiet2 .hover_color,
.custom-25-chitiet2 .hover_color a,
.custom-25-chitiet2 .hover_color a:hover,
.custom-25-chitiet2 .hover_color h1 a,
.custom-25-chitiet2 .hover_color h2 a,
.custom-25-chitiet2 .hover_color h3 a,
.custom-25-chitiet2 .hover_color h4 a,
.custom-25-chitiet2 .hover_color h5 a,
.custom-25-chitiet2 .hover_color h6 a {
  color: #fff;
}
.custom-25-chitiet2 .hover_color {
  border-color: transparent;
}
.custom-25-chitiet2 .hover_color .hover_color_bg {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.custom-25-chitiet2 .hover_color .hover_color_bg {
  border: 2px solid transparent;
}
.custom-25-chitiet2 .hover_color,
.custom-25-chitiet2 .hover_color_bg {
  height: 100%;
}
.custom-25-chitiet2 .hover_color,
.custom-25-chitiet2 .hover_color a,
.custom-25-chitiet2 .hover_color a:hover,
.custom-25-chitiet2 .hover_color h1 a,
.custom-25-chitiet2 .hover_color h2 a,
.custom-25-chitiet2 .hover_color h3 a,
.custom-25-chitiet2 .hover_color h4 a,
.custom-25-chitiet2 .hover_color h5 a,
.custom-25-chitiet2 .hover_color h6 a {
  color: #fff;
}
.custom-25-chitiet2 .hover_color a {
  display: block;
}
.custom-25-chitiet2 .hover_color_wrapper {
  padding: 40px 30px;
}
.custom-25-chitiet2 .hover_color .hover_color_wrapper {
  text-decoration: none;
  padding: 40px 30px;
  text-align: center;
}
.custom-25-chitiet2 .image_frame.no_border {
  border-width: 0;
}
.custom-25-chitiet2 .image_frame,
.custom-25-chitiet2 .wp-caption {
  display: block;
  margin: 0;
  border-width: 8px;
  border-style: solid;
  max-width: 100%;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet2 .image_frame {
  border-color: #f8f8f8;
}
.custom-25-chitiet2 .image_frame .image_wrapper,
.custom-25-chitiet2 .wp-caption img,
.custom-25-chitiet2 .icon_box .icon_wrapper:before {
  border-color: #e2e2e2;
}
.custom-25-chitiet2 .image_frame .image_wrapper {
  position: relative;
  overflow: hidden;
}
.custom-25-chitiet2 .image_frame .image_wrapper,
.custom-25-chitiet2 .wp-caption img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-25-chitiet2 img.scale-with-grid,
.custom-25-chitiet2 #Content img {
  max-width: 100%;
  height: auto;
}
.custom-25-chitiet2 .image_frame .image_wrapper img:not(.ls-l) {
  position: relative;
  top: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-25-chitiet2 .image_frame .image_wrapper img,
.custom-25-chitiet2 .image_frame .image_wrapper .mask:after,
.custom-25-chitiet2 .image_frame .image_wrapper .image_links {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@media only screen and (min-width: 1240px) {
  .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet2 .container {
    max-width: 1220px;
  }
}
@media only screen and (max-width: 1239px) and (min-width: 960px) {
  .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet2 .container,
  .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 940px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .custom-25-chitiet2 .section_wrapper,
  .custom-25-chitiet2 .container,
  .custom-25-chitiet2 .with_aside .content_wrapper {
    max-width: 708px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .custom-25-chitiet2 .hover_color {
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet2 .section {
    background-attachment: scroll !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet2 .section_wrapper .mcb-wrap,
  .custom-25-chitiet2 .section_wrapper .column,
  .custom-25-chitiet2 .container .column,
  .custom-25-chitiet2 .sections_group,
  .custom-25-chitiet2 .four.columns {
    margin: 0;
    width: 100% !important;
    clear: both;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet2 .section_wrapper .column {
    margin: 0 0 20px;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .custom-25-chitiet2 .image_frame {
    margin-top: 0 !important;
  }
}
