.type-507 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-507 .bghelper {
  margin-left: 30px;
  margin-right: 20px;
}
.type-507 .row {
  margin-bottom: 35px;
}
.type-507 [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.type-507 .gray-area {
  background: #ebebeb;
  padding: 30px 0 0;
  margin-bottom: 30px;
}
.type-507 .m_title {
  margin-top: 0;
  color: #CD2122;
  text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}
.type-507 h4,
.type-507 h6 {
  font-size: 17.5px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.type-507 .hoverBorder {
  position: relative;
  display: inline-block;
}
.type-507 .hoverBorderWrapper {
  position: relative;
  display: block;
}
.type-507 .hoverBorderWrapper :hover {
  border: 5px solid red;
}
.type-507 .alignright {
  float: right;
  margin: 5px 0 15px 15px;
}
.type-507 .theHoverBorder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 3px rgba(255,255,255,0.15) inset;
}
.type-507 .acc-group.default-style {
  margin-bottom: 3px;
}
.type-507 .acc-group.default-style button {
  background: none;
  border: 0;
  padding: 4px 10px;
  color: #cd2122;
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
}
.type-507 .acc-group.default-style button :hover {
  background: #ddd;
}
.type-507 .acc-group.default-style button:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background: url(../images/acc-arr1.png) no-repeat center top;
}
.type-507 .acc-group.default-style .collapsed {
  color: #505050;
}
.type-507 .acc-group.default-style .collapsed :after {
  background-position: center bottom;
}
.type-507 .acc-group.default-style .collapsed:after {
  background-position: center bottom;
}
.type-507 .acc-group.default-style .content {
  padding: 10px;
}
.type-507 button {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  cursor: pointer;
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
.type-507 .collapse {
  position: relative;
  overflow: hidden;
  transition: height 0.35s ease;
}
.type-507 .testimonial_box[data-size=full] {
  width: 100%;
}
.type-507 .testimonial_box {
  padding: 0 10px;
  margin: 15px 0;
  box-sizing: border-box;
  position: relative;
}
.type-507 .testimonial_box .details h6 {
  font-size: 10px;
  font-weight: normal;
  margin: 10px 0 0;
  line-height: 1.4;
}
.type-507 .testimonial_box[data-align=left] .details {
  float: left;
  margin-right: 10px;
  width: 90px;
}
.type-507 .testimonial_box[data-align=left] blockquote {
  margin-left: 90px;
}
.type-507 .testimonial_box[data-theme=light] blockquote {
  background: #ddd;
  color: #343434;
}
.type-507 .testimonial_box blockquote {
  margin: 0;
  padding: 15px;
  border: 0;
  font-size: 12px;
  font-style: italic;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
.type-507 blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
.type-507 q:before,
.type-507 q:after,
.type-507 blockquote:before,
.type-507 blockquote:after {
  content: "";
}
.type-507 .testimonial_box[data-theme=light][data-align=left] blockquote:after {
  border-right-color: #ddd;
  left: -14px;
  top: 50%;
}
.type-507 .testimonial_box blockquote:after {
  content: '';
  position: absolute;
  border-width: 7px;
  border-style: solid;
  border-color: transparent;
}
.type-507 .testimonial_box[data-align=top] .details {
  float: none;
  margin-left: 10px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.type-507 .testimonial_box[data-align=top] .details img {
  position: absolute;
  top: -20px;
  right: -5px;
}
.type-507 .testimonial_box[data-align=top] blockquote {
  margin-top: 14px;
  clear: both;
  background: #707070;
  color: #f5f5f5;
}
