.type-515{
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    .clear{
        clear: both;
    }
    .bghelper{
        display: block;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
    }
    .row:before, .row:after {
        display: table-row;
        line-height: 0;
        content: "";
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 20px;
    }
    h3{
        font-size: 24.5px;
    }
    .span3 {
        width: 270px;
    }
    .gray-area {
        background: #ebebeb;
        padding: 30px 0 30px;
    }
    h3, h4, h5 {
        margin: 10px 0;
        font-family: inherit;
        font-weight: bold;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
    }
    .shop-feature {
        background: #969696;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        :hover {
            background: red;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .shop-feature > img, .shop-feature a > img {
        float: left;
        margin: 0 20px 0 0;
    }
    .shop-feature > h4, .shop-feature a > h4 {
        line-height: 1;
        margin: 0 0 7px;
        font-size: 18px;
        font-weight: 900;
    }
    .shop-feature > h5, .shop-feature a > h5 {
        line-height: 1;
        margin: 0;
        font-weight: 700;
    }
    h5 {
        font-size: 14px;
    }
}