.type-a-3 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-a-3 .clear {
  clear: both;
}
.type-a-3 div {
  border: 0;
  font-size: 100%;
  margin: 5px 0 0 0;
  display: block;
}
.type-a-3 .col-sm-4 .col-md-4 {
  width: 40%;
}
.type-a-3 .modulecontent > .row {
  margin-bottom: 0;
}
.type-a-3 .services_box .box {
  margin-bottom: 15px;
}
.type-a-3 .fixclear {
  zoom: 1;
}
.type-a-3 .fixclear:before {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.type-a-3 .fixclear:after {
  clear: both;
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.type-a-3 .services_box .icon {
  transition: all 0.2s ease-out;
  float: left;
  width: 80px;
  line-height: 76px;
  background: #646464;
  text-align: center;
  margin-right: 20px;
  vertical-align: middle;
  border-radius: 50%;
  height: 80px;
}
.type-a-3 .services_box .title {
  font-size: 14px;
  font-weight: 700;
  color: #CD2122;
  text-shadow: 1px 1px 0 white;
  vertical-align: middle;
}
.type-a-3 h4 {
  margin: 10px 0;
  line-height: 20px;
  text-rendering: optimizelegibility;
  border: 0;
  padding: 0;
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-a-3 .services_box ul {
  float: left;
}
.type-a-3 ul.list-style1 {
  margin-left: 15px;
}
.type-a-3 ul {
  border: 0;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  padding: 0;
  margin: 0 0 10px 25px;
}
