.type-558 .pageTitle {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  margin: 20px 0 45px;
  position: relative;
}
.type-558 .pageTitle h1,
.type-558 .pageTitle h2 {
  font-size: 20px;
  color: #3b3b3b;
  font-weight: 0;
  line-height: 26px;
  font-weight: normal;
  float: left;
  margin: 0;
}
.type-558 .pageTitle a {
  font-style: italic;
  color: #ACACAC;
  float: right;
  margin-top: 2px;
}
.type-558 .pageTitle a:hover {
  color: #fd4326;
  text-decoration: none;
}
.type-558 .item {
  margin-top: -20px;
}
.type-558 .item h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #3b3b3b;
}
.type-558 .line-tottom {
  margin-top: 30px;
  margin-bottom: 40px;
}
.type-558 .videos {
  margin-left: -6px;
  margin-bottom: 30px;
}
.type-558 .thumb {
  margin: 0 auto;
}
.type-558 .mejs-overlay-button,
.type-558 .mejs-overlay-loading {
  display: none;
}
.type-558 .header {
  border-bottom: 1px solid #f2f2f2;
  margin-left: 0px;
  margin-right: 0px;
}
.type-558 .header h1 {
  font-size: 25px;
}
.type-558 .header h2 {
  font-size: 12px;
  color: #f2f2f2;
}
.type-558 .header h2:hover {
  color: red;
}
.type-558 .leftheader h2,
.type-558 .leftheader h1 {
  border: 1px solid #e9e9e9;
  margin: 20px 15px;
  padding: 14px 20px;
  font-size: 14px;
}
.type-558 .leftheader h2:hover,
.type-558 .leftheader h1:hover {
  border: 4px solid #e9e9e9;
}
.type-558 .word {
  border: 1px solid #e9e9e9;
  margin: 20px 15px;
  padding: 14px 20px;
}
.type-558 .word:hover {
  border: 4px solid #e9e9e9;
}
.type-558 .word .share {
  font-size: 18px;
  margin-bottom: 30px;
}
.type-558 .supportnow {
  background: #000;
}
.type-558 .supportnow p {
  height: 30px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 5px;
  margin-top: 0px;
}
.type-558 .supportnow p:hover {
  background: red;
  text-decoration: none;
}
.type-558 a:hover {
  text-decoration: none;
}
.type-558 .miniF {
  background: #F7F7F7;
  border: 1px solid #e9e9e9;
  padding: 15px 20px;
  position: relative;
}
.type-558 .circles.full .pieFront {
  position: absolute;
  top: 0;
  left: 0;
}
.type-558 p,
.type-558 ul,
.type-558 ol {
  margin: 12px 0;
}
.type-558 .learn-more-button {
  display: none;
}
.type-558 .clearing {
  clear: both;
}
.type-558 .progress-wrapper {
  position: relative;
  top: 5px;
}
.type-558 .miniF .product-name a {
  color: #3b3b3b;
}
.type-558 .progress-percentage p {
  margin-top: -8px !important;
}
.type-558 .circles.full {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
}
.type-558 .circles.full .pieBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  border-radius: 56px;
  background: #e9e9e9;
}
.type-558 .circles.full .pieFront {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  border-radius: 50%;
}
.type-558 .helper {
  font-size: 10px;
  color: #6B6B6B;
  font-weight: normal;
  display: block;
}
.type-558 .helper .h1 {
  position: absolute;
  top: 35px;
  left: 75px;
}
.type-558 .progress-percentage {
  font-size: 38px;
  color: #fd4326;
  font-weight: bold;
  float: left;
  margin: 16px 0 32px;
  padding-left: 72px;
  letter-spacing: -1px;
  margin-bottom: 42px;
}
.type-558 .progress-percentage p {
  margin-top: -8px !important;
}
.type-558 .progress-bar {
  float: left;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.type-558 .product-name a {
  font-size: 18px;
}
.type-558 .c-holder c1 {
  border-bottom: 1px solid #000;
}
.type-558 html[xmlns] .clearfix,
.type-558 .row-fluid {
  display: block;
}
.type-558 .wrap1 {
  clear: left;
  border-top: 1px solid #e9e9e9;
  font-size: 18px;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 10px;
}
.type-558 .wrap1 .c1 {
  padding-right: 12px;
  border-right: 1px solid #e9e9e9;
  width: 45%;
}
.type-558 .wrap1 .c2 {
  width: 55%;
}
