.type-557 .caption {
  text-align: center;
  width: 100%;
  padding: 19px 0 14px;
  border-bottom: 1px solid #E9E9E9;
  height: 71px;
}
.type-557 .title {
  font-weight: bold;
  font-size: 14px;
  color: #6B6B6B;
  margin-bottom: -1px;
  text-transform: none;
  margin: 0;
}
.type-557 .images:hover {
  margin-top: -20px;
}
.type-557 .img {
  opacity: .8;
}
.type-557 a:hover .caption {
  text-align: center;
  padding: 29px 0 24px;
  border-color: #FD4326;
  background-color: #F7F7F7;
  height: 91px;
}
.type-557 a:hover .images .img {
  opacity: 1;
  text-decoration: none;
}
.type-557 a:hover .caption .title {
  color: #FD4326;
}
.type-557 a:hover {
  text-decoration: none;
}
.type-557 a,
.type-557 .caption,
.type-557 .title,
.type-557 img,
.type-557 .images {
  -webkit-transition: all 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  -moz-transition: all 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  -o-transition: all 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  transition: all 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  -webkit-transition-timing-function: cubic-bezier(0.165,0.840,0.440,1.000);
  -moz-transition-timing-function: cubic-bezier(0.165,0.840,0.440,1.000);
  -o-transition-timing-function: cubic-bezier(0.165,0.840,0.440,1.000);
  transition-timing-function: cubic-bezier(0.165,0.840,0.440,1.000);
}
.type-557 .all {
  margin-right: -30px;
  float: right;
  margin-top: 0px;
}
.type-557 .blocks {
  width: 130px;
  height: 30px;
  overflow: hidden;
}
.type-557 #endfalse-list ul {
  height: 30px;
  border: 1px solid #E9E9E9;
  padding: 4px 7px;
  border-radius: 30px;
  background-color: #f7f7f7;
}
.type-557 #endfalse-list ul li {
  display: inline-block;
  height: 0px;
  padding: 0px 3px;
}
.type-557 #endfalse-list ul li a {
  height: 0px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 10px;
  font-weight: bold;
  color: #6B6B6B;
  text-decoration: none;
}
.type-557 #endfalse-list ul:hover {
  background-color: #fd4326;
}
.type-557 #endfalse-list ul:hover .active {
  color: #FFF;
  opacity: 1;
}
.type-557 #endfalse-list ul:hover li a {
  color: #FFF;
  opacity: .7;
}
.type-557 #endfalse-list ul li a:hover {
  color: #FFF;
  opacity: 1;
}
.type-557 .showing {
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}
.type-557 .what-we {
  font-size: 20px;
  color: #3B3B3B;
  line-height: 26px;
  font-weight: normal;
  margin-left: -15px;
  padding-bottom: 25px;
}
.type-557 li {
  list-style: none;
}
.type-557 .header {
  border-bottom: 1px solid #E9E9E9;
  margin: 25px 0 50px;
}
.type-557 .images {
  padding-bottom: 70px;
}
