.type-c-4 #footer {
  background: #525252;
  padding-top: 30px;
  margin-top: 60px;
  clear: both;
  color: #FFF;
  display: block;
}
.type-c-4 #footer .widgettitle {
  margin: 0px;
  padding: 15px 0px 15px;
  border-bottom: medium none;
}
.type-c-4 #footer h4 {
  color: #FFF;
}
.type-c-4 #footer ul {
  list-style: disc;
}
.type-c-4 #footer li a {
  color: #DDD;
  list-style: outside none none;
}
.type-c-4 #sub-floor {
  color: #FFF;
  background: #525252;
  padding: 10px 0px;
}
.type-c-4 .tagcloud01 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-c-4 .tagcloud01 ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.type-c-4 .tagcloud01 ul li a {
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #525252;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.type-c-4 .tagcloud01 ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}
.type-c-4 .info {
  margin-left: -40px;
}
.type-c-4 a:hover {
  color: #de543e;
}
.type-c-4 a {
  color: #bdbdbd;
}
