.type-c-7 li ul.collapse {
  visibility: visible;
}
.type-c-7 h3 {
  font-weight: 500;
  line-height: 1.1;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-c-7 h3.section-big {
  color: #758991;
  border-bottom: 1px solid #758991;
  font-size: 24px;
}
.type-c-7 .section-big {
  font-size: 24px;
  color: #C1C2C4;
}
.type-c-7 .section-big-wrapper {
  padding-bottom: 27px;
}
.type-c-7 article {
  margin-bottom: 40px;
  margin-top: 0;
}
.type-c-7 article.widget {
  margin-bottom: 40px;
  margin-top: 0;
}
.type-c-7 .count {
  float: right;
  padding: 7px 5px 0 0;
}
.type-c-7 a {
  color: #758991;
  text-decoration: none;
}
.type-c-7 .widget.widget_sp_image {
  text-align: center;
}
.type-c-7 .nav {
  display: block;
}
.type-c-7 .nav-stacked {
  float: none;
}
.type-c-7 .menu {
  display: block;
}
.type-c-7 .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.type-c-7 .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}
