.type_a_2{

    div {

        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .content {  
        background: #fff;
        padding: 30px 35px;   
        clear: both;
        -webkit-box-sizing: border-box;
        margin-top: 34px;
    }
    .separate_sidebar_bg .content {
        box-shadow: none;
        margin: 20px auto;
        background-color: transparent;
        padding: 0;
    }

    @media screen and (min-width: 1225px){
        .separate_sidebar_bg .content {
            box-shadow: none;
            width: 1200px;
        }
    }
    .clearfix {
    }
    .clearfix:before{
        content: "";
        display: table;
    }
    .main-side {  
        position: relative;   
        -webkit-box-sizing: border-box;   
    }
    .main-side.full_width {
        float: none;
        width: 100%;
    }
    .vc_row {
        box-sizing: border-box !important;
    }
    .vc_row.vc_rehub_container {
        margin: 0 0 35px 0;
    }
    vc_col-sm-8{
        position: relative;
        min-height: 1px;
    }
    .vc_row.vc_rehub_container>.vc_col-sm-8 {
        float: left;
    }
    .separate_sidebar_bg .content .vc_row.vc_rehub_container > .vc_col-sm-8{
        box-sizing: border-box;
    }
    .content.no_shadow .vc_row.vc_rehub_container>.vc_col-sm-8 {
        background-color: transparent !important;
        padding: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    @media screen and (min-width: 1225px){
        .separate_sidebar_bg .content .vc_row.vc_rehub_container > .vc_col-sm-8{
            width: 840px;
        }
    }
    .vc_column_container>.vc_column-inner {
        box-sizing: border-box;

        width: 100%;
    }
    .vc_row.vc_rehub_container .vc_column_container>.vc_column-inner {
        padding: 0;
    }
    .vc_column-inner::before {
        content: " ";
        display: table;
    }

    .span{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .re_filter_panel {
        position: relative;
        z-index: 1000;
        margin: 0 0 25px 0;
        background: #FFFFFF;
        margin-right: 2px;

    }
    .menu-last-right{
        padding-top: 10px;
        float: right;

    }
    .dropdown{

    }

    .btn-primary {
        background: transparent;
        border-radius: 0;
        margin-right: 20px;
        color: #000;
        font-weight: bold;
        margin-left: -40px;
        padding-left: 14px;
    }
    .nav-tabs>li>a{
        padding: 0 10px;
        margin: 0;

    }

    .content.no_shadow {
        background-color: #F5F5F5;
    }
    ul{

        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;  
        margin-left: -40px;
    }

    .nav-tabs .dropdown-menu {
        margin-top: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #fff;
        border-color: #fff;
    }
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        float: left;
        margin-left: -40px;
    }
    .re_filter_panel ul.re_filter_ul {
        margin: 0;
        padding: 0;

    }
    .dropdown-menu multi-level{
        border-bottom: 0px;
    }
    li {
        text-align: -webkit-match-parent;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .re_filter_panel ul.re_filter_ul li {
        display: inline-block;
        margin: 0;
    }
    span.active.re_filtersort_btn{
        background: #000000 !important;
        color: #fff !important;
    }
    .re_filter_panel ul.re_filter_ul li span {
        cursor: pointer;
        padding: 12px 16px;
        display: inline-block;
        transition: all .3s ease;
        font: bold 14px/16px Arial;
    }
    .re_filter_panel .re_tax_dropdown {
        position: absolute;
        top: 17px;
        right: 1px;
        margin: -2px;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    .re_filter_panel .re_tax_dropdown li.label {
        display: block;
        padding: 12px 20px;
        margin: 0;
        font: bold 14px/16px Arial;
        background: #EEE;
        cursor: pointer;
    }
    .re_filter_panel .re_tax_dropdown li.label {
        color: #111;

        cursor: pointer;
    }
    .re_filter_panel .re_tax_dropdown li.label:after {
        float: right;
        content: "+";
        margin-left: 5px;
        transition: transform .3s ease-in-out;
    }
    .re_filter_panel .re_tax_dropdown li.rh_drop_item {
        display: block;
        margin: 0;
        height: 0;
    }
    .re_filter_panel .re_tax_dropdown li.rh_drop_item span {
        display: block;
        padding: 12px 20px;
        background-color: #FFF;
        opacity: 0;
        transform: translate3d(100%,0,0);
        transition: opacity 0.3s, transform 0.3s;
        font: normal 14px/16px Arial;
        color: #111;
    }

    .re_filter_panel li a p:hover {
        color: white;
    }
    .nav-tabs>li>a {
        margin-right: 2;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 0px 0px 0 0;
    }
    .nav-tabs>li.active>a:hover {
        color: white;
        cursor: default;
        background-color: black;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        font: bold 14px/16px Arial;
    }
    .nav-tabs>li>a:hover {
        color: white;
        cursor: default;
        background-color: black;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        font: bold 14px/16px Arial;
    }
    .col_wrap_three {
        margin: 0 -1.5% 20px;
        overflow: hidden;
    }
    .rh-flex-eq-height {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .post_eq_grid {
        padding-top: 5px;
    }
    article {   
        vertical-align: baseline;
        display: block;
        font: 16px/24px 'arial', trebuchet ms;
        color: #111;

    }
    button.alreadyhot {
        cursor: not-allowed;
        opacity: 0.75;
    }
    .offer_grid {
        background-color: #fff;
    }
    .col_item {
        position: relative;
    }
    .eq_grid .col_item {
        box-sizing: border-box;
        border: 1px solid #cecece;
        padding: 15px;
    }
    .offer_act_enabled.col_item {
        padding-bottom: 50px;
    }
    .offer_grid_com.offer_grid {
        text-align: inherit;
    }
    .col_wrap_three .col_item {
        width: 30.33%;
        margin: 0 1.5% 25px;
        float: left;
    }
    .col_wrap_three .col_item:nth-child(3n+1) {
        clear: both;
    }
    .post_eq_grid .info_in_dealgrid {
        margin-bottom: 7px;
    }
    figure {
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        display: block;

    }
    .offer_grid figure {
        white-space: nowrap;
        position: relative;
        text-align: center;
        margin: 0 auto 15px auto;
        overflow: hidden;
        height: 261px;
        vertical-align: middle;
    }
    .grid_onsale {
        padding: 5px 7px;
        font: bold 12px/15px Arial;
        position: absolute;
        text-align: center;

        right: 26px;
        z-index: 1;
        margin: 0;
        background: #77b21d;
        color: #fff;
    }

    .offer_grid .offer_thumb:before, .offer_grid figure:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
    a:-webkit-any-link {
        cursor: auto;
    }
    a{   
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
        outline: none !important;
        transition: all 0.4s ease 0s;
        color: #000;

    }
    img{
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        height: auto;
        border: 0;
        max-width: 100%;
        height: auto;
        vertical-align: top;
        border: 0;
    }
    .vendor_for_grid .admin img {
        border-radius: 50%;
        margin-right:8px; 
    }
    img.lazyimages {
        transition: opacity .5s ease-in;
    }
    .offer_grid figure img {
        max-width: 100%;
        width: auto;
        max-height: 210px;
        vertical-align: middle;
        display: inline-block;

    }
    .price_row_grid {
        overflow: hidden;
        margin: 0 0 10px 0;
    }

    .floatleft {
        float: left;
    }
    .offer_grid .priced_block {
        text-align: center;
    }
    .post_eq_grid .priced_block {
        margin: 0;
    }
    .offer_grid .priced_block {
        text-align: center;
    }
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-ebkit-margin-end: 0px;
        border: 0;
        font-size: 100%;

        -webkit-margin-start: 0px;

        vertical-align: baseline;

        font: bold 14px/16px Arial;

    }
    .offer_grid p {
        float: none;
    }
    .offer_grid .priced_block p {
        margin: 0;
        padding: 0;
    }
    .price_count {
        display: block;
        background: #111;
    }
    .offer_grid .price_count {
        background-color: transparent;
        color: #c00;
        font: bold 16px Arial;
        padding: 0;
        text-align: left;
    }
    ins{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .priced_block .price_count ins {
        text-decoration: none;
        margin-left: 6px;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .floatright {
        float: right;
    }
    h3 {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        font: 700 21px/25px 'Roboto', trebuchet ms;
        color: #111;
    }
    .offer_grid h3 {
        text-transform: none;
        font-size: 15px;
        line-height: 18px;
        height: 54px;
        margin: 0 0 5px 0;
        overflow: hidden;
        position: relative;
        font-weight: normal;
        text-align: left;
        margin-left: 6px;
    }
    .hoticonfireclass:before {
        font-family: FontAwesome;
        content: "\f06d";
        margin-right: 8px;
        color: #CA212A;
    }
    h3 a {

        text-decoration: none !important;
    }
    .offer_grid_com .meta_for_grid {
        overflow: hidden;
        line-height: 18px;
    }
    .offer_grid .cat_link_meta a {
        color: #555;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 11px;
        margin-left: 6px;

    }
    .offer_grid_com .store_for_grid {
        text-align: left;
        line-height: 12px;
        margin-left: 6px;

    }
    .store_post_meta_item {
        font-size: 12px;
        line-height: 14px;
    }
    .store_post_meta_item a {
        color: #555;
        text-decoration: none;
    }
    .date_for_grid {
        color: #999;
    }
    .offer_grid .date_ago {
        display: block;
        text-align: center;
        font-size: 11px;
    }
    .offer_grid .date_ago {
        text-align: center;
        margin-right: 8px;

    }

    i{
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .date_for_grid i {
        margin: 0 3px;
    }
    .fa-clock-o:before {
        content: "\f017";
    }
    .re_actions_for_grid {
        height: 38px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-left: 1px solid #fff;
        z-index: 2;
    }
    .re_actions_for_grid .btn_act_for_grid {
        background-color: #f4f3f3;
        height: 38px;
        float: left;
        line-height: 38px;
        color: #656d78;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        display: block;
        padding: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        position: relative;
        font-size: 14px;
    }
    .re_actions_for_grid.two_col_btn_for_grid .btn_act_for_grid {
        width: 50%;
    }
    .re_actions_for_grid .btn_act_for_grid {
        color: #656d78;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
    }
    .table_cell_thumbs {
        overflow: hidden;
    }
    .btn_act_for_grid:hover .table_cell_thumbs {
        display: inline;
    }
    .thumbplus{
        width: 27px;
        height: 27px;
        line-height: 27px;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #dcddde;
        border-radius: 4px;
        outline: none;

        color: #67a827;
        margin: 0 8px 0 0;

    }
    .btn_act_for_grid .thumbplus {
        margin-bottom: 3px;
    }
    .thumbplus:hover {
        background-color: #67a827;
        border: 1px solid #67a827;
        color: #fff;
    }
    .thumbplus:before {
        font-family: FontAwesome;
        content: "\f087";
        line-height: 25px;
        display: inline-block;
    }
    .thumbminus {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        width: 27px;
        height: 27px;
        line-height: 27px;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #dcddde;
        border-radius: 4px;
        outline: none;
        color: #d10000;
    }
    .thumbminus:before {
        font-family: FontAwesome;
        content: "\f088";
        line-height: 25px;
        display: inline-block;
    }
    .btn_act_for_grid .thumbminus {
        margin-bottom: 3px;
    }
    
    
    button{
        -webkit-writing-mode: horizontal-tb;
    }
    user agent stylesheet
    button {
        -webkit-appearance: button;
    }
    button {
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;   
        font: 13.3333px Arial;
        align-items: flex-start;
        text-align: center;
        box-sizing: border-box;
    }

    .btn_act_for_grid .thumbplus {
        margin-bottom: 3px;
    }
    .dropdown-menu li.rh_drop_item a{
        display: block;
        padding: 12px 20px;
        background-color: #FFF;
        border-bottom: 1px solid #EDEDED;
        /* opacity: 0; */
        /* -webkit-transform: translate3d(100%,0,0); */
        /* transform: translate3d(100%,0,0); */
        /* -webkit-transition: opacity 0.3s, -webkit-transform 0.3s; */
        transition: opacity 0.3s, transform 0.3s;
        font: normal 14px/16px Arial;
        color: #111;

    }

    .btn_act_for_grid .thumbscount:before {
        font-family: FontAwesome;
        content: "\f087";
        line-height: 38px;
        display: inline-block;
        margin-right: 8px;
    }

    .thumbminus {
        display: inline-block;
        cursor: pointer;
        width: 27px;
        height: 27px;
        line-height: 27px;
        padding: 0;
        vertical-align: middle;
        font-size: 1em;
        border-radius: 4px;
        outline: none;
        color: #d10000;

    }
    .btn_act_for_grid .thumbminus {
        margin-bottom: 3px;
    }
    .thumbminus:hover {
        background-color: #d10000;
        color: #fff;
        border: 1px solid #d10000;
    }
    .thumbminus:before {
        font-family: FontAwesome;
        content: "\f088";
        line-height: 25px;
        display: inline-block;
    }

    .table_cell_thumbs {
        overflow: hidden;
    }
    .btn_act_for_grid .table_cell_thumbs {
        display: none;
    }
    .thumbscount {
        font: 14px/29px Arial;
        display: inline-block;
        color: #67a827;
    }
    .re_actions_for_grid .thumbscount {
        float: none;
        margin: 0;
        line-height: 38px;
        font-size: inherit;
    }
    .btn_act_for_grid .thumbscount:before {
        font-family: FontAwesome;
        content: "\f087";
        line-height: 38px;
        display: inline-block;
        margin-right: 8px;
    }
    .priced_block .price_count del {
        opacity: 0.7;
    }
    .offer_grid .price_count del {
        display: block;
        font-size: 12px;
        color: #c1c1c1;
        vertical-align: top;
        font-weight: normal;
        text-align: left;
        margin-left: 6px;
    }
    .re-ribbon-badge {
        -webkit-font-smoothing: antialiased;
        position: absolute;
        top: -5px;
        overflow: hidden;
        width: 100px;
        height: 100px;
        z-index: 999;
        pointer-events: none;
    }
    .re-ribbon-badge.left-badge {
        right: auto;
        left: -8px;
        text-align: left;
    }
    .re-ribbon-badge span {
        font: bold 10px/28px Arial;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        width: 125px;
        display: block;
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 21px;
    }
    .re-ribbon-badge.left-badge span {
        transform: rotate(-45deg);
        right: 0;
    }
    .re-ribbon-badge.badge_4 span {
        background: #D50000;
    }
    .re-ribbon-badge span::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 100%;
        z-index: -1;
        border-left: 3px solid #333;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #333;
    }
    .re-ribbon-badge span::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #333;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #333;
    }
    .re_actions_for_grid .comm_number_for_grid:before {
        font-family: FontAwesome;
        content: "\f27a";
        margin-right: 5px;
    }
    .re-ribbon-badge.badge_3 span {
        background: #F39200;
    }

    .nav-tabs>li.active>a {
        color: #fcf8e3;
        cursor: default;
        background-color: #080808;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        font: bold 14px/16px Arial;
    }
    @media screen and (max-width: 480px){
        .menu-last-right{
            padding-top: 10px;
            float: right;

        }
        .dropdown{

        }

        .btn-primary {
            background: transparent;
            border-radius: 0;
            margin-right: 20px;
            color: #000;
            font-weight: bold;
            margin-left: -40px;
            padding-left: 14px;
        }
        re_filter_panel-1{
            width: 100%;
            overflow: hidden;
            float: none;
            box-sizing: border-box;
        }
        .re{
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            float: right;
        }
        .mod .re .re_tax_dropdown {
            position: static;
        }
        .navbar-header {
            display: block;
            background: #000;
        }

        .navbar-inverse .navbar-brand {
            font-weight: bold;
            color: #fff;
            margin-left: 10px;
            margin-top: 10px;
        }
        .navbar-inverse .navbar-nav>.active>a
        {
            display: none;
        }
        .mod{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .content{
            width:100%;
            margin-left:0;
            overflow:hidden;
            box-sizing:border-box;
        }
        .slidebar-1{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot .sidebar {
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot .widget.buddypress #groups-list {	
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mod .col_wrap_three .col_item {
            width: 100%;
            margin: 0 1.5% 25px;
            float: left;
        }
        #home1{
            width:100%;
        }
        .rehub_chimp #mc_embed_signup input.email {
            text-align: center;
        }
        .mosthot .widget img{
            display: block;
            float: none;
            width: 25px;
            height: 25px;
            margin: 0;
            overflow: hidden;
        }
        .footer1 .footer-bottom.dark_style{
            height:auto;
        }	
        #text-3{
            width:100%;
            padding-right: 900px;
            font-size:11px;	
        }
        .footer1 .footer-bottom .footer_widget {
            width: 100%;
            float: none;
            display: block;
        }
        .footer1 footer#theme_footer .left {
            width: 25%;
            text-align:center;
            overflow:hidden;
            box-sizing: border-box;
        }
    }
    @media screen and (min-width:481px) and (max-width: 700px){
        .re_filter_panel-1{
            width: 100%;
            overflow: hidden;
            float: none;
            box-sizing: border-box;
        }
        .menu-last-right{
            padding-top: 10px;
            float: right;

        }
        .dropdown{

        }

        .btn-primary {
            background: transparent;
            border-radius: 0;
            margin-right: 20px;
            color: #000;
            font-weight: bold;
            margin-left: -40px;
            padding-left: 14px;
        }
        .re{
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            float: right;
        }
        .mod .re .re_tax_dropdown {
            position: static;
        }
        .navbar-header {
            display: block;
            background: #000;
        }
        .navbar-inverse .navbar-brand {
            font-weight: bold;
            color: #fff;
            margin-left: 10px;
            margin-top: 10px;
        }
        .navbar-inverse .navbar-nav>.active>a
        {
            display: none;
        }
        .mod{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .content{
            width:100%;
            margin-left:0;
            overflow:hidden;
            box-sizing:border-box;

        }
        .slidebar-1{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot .sidebar {
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot .widget.buddypress #groups-list {	
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mod .col_wrap_three .col_item {
            width: 47%;
            margin: 0 1.5% 25px;
            float: left;
        }
        #home1{
            width:100%;
        }
        .rehub_chimp #mc_embed_signup input.email {
            text-align: center;
        }
        .mosthot .widget img{
            display: block;
            float: none;
            width: 25px;
            height: 25px;
            margin: 0;
            overflow: hidden;
        }
        .footer1 .footer-bottom.dark_style{
            height:auto;
        }	
        #text-3{
            width:100%;
            padding-right: 586px;
            font-size:11px;	
        }
        .footer1 .footer-bottom .footer_widget {
            width: 100%;
            float: none;
            display: block;
        }
        .footer1 footer#theme_footer .left {
            text-align:center;
            overflow:hidden;
            box-sizing: border-box;
        }
        .widget_search form.search-form input[type="text"] {
            width: 100%;
            clear: both;
        }
        form.search-form input[type="text"] {
            padding: 20px 0;
            padding-left: 0px;	
            padding-right: 355px;
        }
    }
    @media screen and (min-width: 701px ) and (max-width: 999px) {
        .re_filter_panel-1{
            width: 70%;
            overflow: hidden;
            float: left;
            box-sizing: border-box;
        }
        .re{
            width: 30%;
            overflow: hidden;
            box-sizing: border-box;
            float: right;
        }
        .menu-last-right{
            padding-top: 10px;
            float: right;

        }
        .dropdown{

        }

        .btn-primary {
            background: transparent;
            border-radius: 0;
            margin-right: 20px;
            color: #000;
            font-weight: bold;
            margin-left: -40px;
            padding-left: 14px;
        }
        .mod .re .re_tax_dropdown {
            position: static;
        }
        .navbar-header {
            display: block;
            background: #000;
        }
        .navbar>.container-fluid .navbar-brand {
            margin-left: 0;
            padding: 0px 14px;
            height: 40px;

        }
        .navbar-inverse .navbar-brand {
            font-weight: bold;
            color: #fff;
            margin-left: 10px;
            margin-top: 10px;
        }
        .navbar-inverse .navbar-nav>.active>a
        {
            display: none;
        }
        .mod{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .content{
            width:100%;
            margin-left:0;
            overflow:hidden;
            box-sizing:border-box;

        }
        .slidebar-1{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot{
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot .sidebar {
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mosthot .widget.buddypress #groups-list {	
            width:100%;
            overflow:hidden;
            box-sizing:border-box;
        }
        .mod .col_wrap_three .col_item {
            width: 47%;
            margin: 0 1.5% 25px;
            float: left;
        }
        #home1{
            width:100%;
        }
        .rehub_chimp #mc_embed_signup input.email {
            text-align: center;
        }
        .mosthot .widget img{
            display: block;
            float: none;
            width: 25px;
            height: 25px;
            margin: 0;
            overflow: hidden;
        }
        .footer1 .footer-bottom.dark_style{
            height:auto;
        }	
        #text-3{
            width:100%;
            padding-right: 400px;
            font-size:11px;	
        }
        .footer1 .footer-bottom .footer_widget {
            width: 100%;
            float: none;
            display: block;
        }
        .footer1 footer#theme_footer .left {
            width:63%;
            text-align:center;
            overflow:hidden;
            box-sizing: border-box;
        }
        .widget_search form.search-form input[type="text"] {
            width: 100%;
            clear: both;
        }
        form.search-form input[type="text"] {
            padding: 20px 0;
            padding-left: 0px;	
            padding-right: 530px;
        }
    }


}