.type-6 .main-title {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.type-6 .main-title .title {
  color: #2f2f2f;
  font-family: script;
  font-size: 4em;
  font-weight: bold;
  padding: 0;
  line-height: 1.4;
}
.type-6 .main-title .sub_title {
  color: #d69c56;
  font-weight: 500;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
}
.type-6 .main-title .description {
  color: #636363;
  font-size: 14px;
  font-weight: 500;
}
.type-6 .main-title .sub_title:before {
  content: '';
  width: 100px;
  position: relative;
  display: inline-block;
  height: 1px;
  background-color: #d69c56;
  margin-right: 10px;
  vertical-align: middle;
  top: -1px;
}
.type-6 .slick-slide {
  height: auto;
}
.type-6 .slz-carousel-wrapper {
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.type-6 .slz-carousel-wrapper .carousel-overflow {
  position: relative;
  overflow: hidden;
}
.type-6 .slz-carousel-wrapper .slick-dotted.slick-slider {
  margin-bottom: 40px;
}
.type-6 .slz-carousel-wrapper .item {
  padding-right: 15px;
  padding-left: 15px;
}
.type-6 .slz-block-team-05 {
  position: relative;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 0px;
}
.type-6 .slz-block-team-05 .team-wrapper {
  text-align: center;
}
.type-6 .slz-block-team-05 .team-image {
  position: relative;
  overflow: hidden;
}
.type-6 .slz-block-team-05 .team-image img {
  position: absolute;
  height: 100%;
  width: auto;
  max-width: initial;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.type-6 .slz-block-team-05 .team-content {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: white;
  padding: 0 10px;
  margin-top: 20px;
}
.type-6 .slz-block-team-05 .team-content .title {
  font-size: 17px;
  font-weight: 700;
  color: #2f2f2f;
  text-transform: uppercase;
}
.type-6 .slz-block-team-05 .team-content .team-position {
  font-size: 14px;
  position: relative;
  text-transform: capitalize;
}
.type-6 .slz-block-team-05 .team-wrapper::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 60px;
  left: 0px;
  bottom: 20px;
  border: 3px solid #a7753a;
}
.type-6 .slz-block-team-05 .team-image::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.type-6 .slz-block-team-05 .team-content::before {
  position: absolute;
  content: '';
}
.type-6 .slz-block-team-05 .team-content a.title:hover {
  color: #a7753a;
  text-decoration: none;
}
.type-6 .slz-carousel-wrapper .slick-dots {
  padding: 0;
  margin: 0;
  bottom: -35px;
  z-index: 1;
}
.type-6 .slick-dots li {
  width: 10px;
  height: 10px;
}
.type-6 .slz-carousel-wrapper .slick-dots li button {
  padding: 0;
}
.type-6 .slick-dots li button {
  width: 10px;
  height: 10px;
}
.type-6 .slick-dots li.slick-active button:before {
  color: #a7753a;
  background-color: #a7753a;
  opacity: 1;
}
.type-6 .slz-carousel-wrapper .slick-dots li button:before {
  font-size: 12px;
  transition: all 0.3s ease;
}
.type-6 .slick-dots li button:before {
  content: '';
  background-color: #a7753a;
}
.type-6 .slick-dots li button:before {
  width: 10px;
  height: 10px;
  line-height: 10px;
}
