.type-34{
    @background-color: #fff;
    /*********************/
    .navbar-collapse{
        padding: 0;
    }
    .navbar-inverse .navbar-nav .activemenu{
        border-top: 5px solid #e6e6e6;
    }
    .navbar-inverse .navbar-nav .dropdown{
        border: 5px solid #fff;
    }
    .navbar-inverse .navbar-nav .dropdown:hover{
        border-top: 5px solid #e6e6e6;
    }
    .navbar-inverse .navbar-nav>li>a:hover{
        color:#e89222;
        background: white;
        box-shadow: none !important;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        color: #e89222;
        text-decoration: none;
        background-color: @background-color;
    }
    .mega-dropdown-menu > li > ul > li > a:hover{
        color: #e89222;
    }
    form input[type="text"], form textarea{
        border: 1px solid #CFCFCF;
        transition: border linear 0.2s, box-shadow linear 0.2s;
    }
    #header .header-below {
        clear: both;
        background: #f6f4f4;
        border-bottom: 7px solid #e8e8e8;
    }
    .slider.fixed-image img{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    #headersearchform #headersearchsubmit:hover{
        background-color: #e37a1c;
    }
    #logo {
        padding: 0;
        margin-bottom: 13px;
        float: left;
    }
    #logo-img{
        padding-top: 35px;
        display: inline-block;
        margin: 0;
        max-width: 100%;
    }
    #header-right-content{
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        color: #656464;
        font-style: normal;
        font-weight: 400;       
    }
    #header-right-content {
        background: #fff;
        border-width: 2px 1px 1px 2px;
        padding: 0;
        float: right;
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 20px;       
    }
    /*********************/
    .register{
        width: 250px;
        form{
            ul li{
                line-height: 22px;
                padding: 0;
                margin: 0;
                &:hover{
                    color: #bc8c27;
                }
            }
        }
        a.create_account {
            display: block;
            margin-top: 50px;
            margin-left: 20px;
            color: #bc8c27;
        }
        a.create_account:hover{
            color: #bc8c27;
            text-decoration: none;
        }
    }
    .form-group{
        margin: 20px;
        input[type="text"],input[type="password"]{
            box-sizing: border-box;
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #DAD9D9;
            border-radius: 3px 3px 3px 3px;
            box-shadow: 1px 0 6px #E5E5E5 inset;
            font-size: 13px;
            font-weight: normal;
            height: 38px;
            margin-left: 0;
            padding: 0 10px;
            width: 100%;
        }
        a.lost_password {
            font-size: 11px;
            margin-top: 7px;
            display: block;
            text-shadow: none;
            color: #9d9d9d;
        }
        a.lost_password:hover{
            color: #bc8c27;
            text-decoration: none;
        }
        input.button {
            box-shadow: 0 2px 0 #cd6b02;
            color: #FFFFFF;
            background-color: #e89222;
            margin-top: -20px;
            float: right;
            padding-left: 30px;
            padding-right: 30px;
            height: 30px;
            line-height: 25px;
            font-size: 12px;
            text-shadow: none;
            border-radius: 2px;
            border: 0;
            text-transform: uppercase;
            font-weight: 800;
            display: inline-block;
            padding: 4px 8px 4px 8px;
            position: relative;
        }
    }
    /*************SEARCH PRODUCT HERE****************/
    #headersearchform-container {
        clear: both;
        position: relative;
        padding-top: 35px;
    }
    #headersearchform .formborder{
        background-color: @background-color;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        bottom: -46px;
        clear: both;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 10px 13px 10px;
        position: absolute;
        left: 50%;
        margin: 0 0 0 -467px;
    }
    #headers {
        padding: 16px 0 16px 15px;
        width: 766px;
        height: auto;
        font-size: 16px;
        line-height: normal;
        margin-bottom: 0;
        float: left;
    }
    #headersearchform #headersearchsubmit {
        text-indent: -9999px;
        background: #e89222 url(../images/search-form-submit.png) center center no-repeat;
        border: 0;
        text-shadow: none;
    }
    #headersearchform input.button {
        border-radius: 3px;
        font-size: 10px;
        font-weight: normal;
        line-height: normal;
        margin-left: 9px;
        padding: 20px 0 20px 0;
        position: relative;
        vertical-align: top;
    }
    #headersearchsubmit {
        margin: 0;        
    }
    #headersearchsubmit{
        padding: 0;
        margin: 0;
        width: 134px;
    }
    /*****************END SEARCH PRODUCT HERE************/

    /******************SLOGAN ***************************/

    .slogan {
        padding-bottom: 20px;
        padding-top: 40px;
    }
    #header .slogan h2 {
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        color: #5c5c5b;
        font-style: normal;
        font-weight: 400;
    }
    .header_with_search .slogan h2.nopadding {
        padding-top: 0px !important;
    }
    .slogan h2 {
        margin-bottom: 0px;
        margin-top: 0;
        letter-spacing: -0.9px;
        text-align: center;
    }
    /***********************END SLOGON**********************/
    .nav>li{
        border-right: 1px solid #e6e6e6 !important;
    }  
    .navbar-inverse .navbar-nav>li:hover{
        background-color: @background-color;
    }
    .navbar-inverse .navbar-nav > a:hover,
        .navbar-inverse .navbar-nav > .open > a,
        .navbar-inverse .navbar-nav > .open > a:focus{
        color:#e89222;
        background-color: @background-color;
    }
    .navbar-inverse{
        background: #fff !important;
        background-color: @background-color; 
        border: 1px solid #e6e6e6 !important;
    }
    span.cart-items-number {
        background-color: #e1820a;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 700;
        padding: 1px 7px;
        background: #e1820a;
        border-radius: 3px;
        margin-left: 8px;
    }
    .mega-dropdown {
        position: static !important;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #222;
        padding: 3px 5px;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }
    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #e89222;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }
}