.type-584{
    padding: 0 60px;
    /*footer */
    #Footer {
        background-color: #03084c;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        .widgets_wrapper {
            padding:50px 0 40px;
            .column {
                margin-bottom: 0;
            }
            .img-responsive{
                margin-bottom: 5px;
            }
            .u1{
                line-height: 32px;
                padding: 0;
                list-style: none outside;
                li .fa-caret-right{
                    color: #77acfb;
                    margin-right: 5px;
                }
            }
        }
        /*copyright */
        .footer_copy {
            border-top: 1px solid rgba(255,255,255,.1);
            text-align: center;
            .one {
                margin-bottom: 20px;
                padding-top: 20px;
            }
        }
        a {
            color: #bfc1d2;
            text-decoration: none;
        }
        a:hover {
            color: #ff5a00;
        }
        .p1{
            color: #8284a6;
            font-size: 14px;
        }
        .title {
            font-size: 18px;
            line-height: 26px;
            font-weight: 900;
            letter-spacing: 0px;
            color: #fff;
        }
        .timin{
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            letter-spacing: 0px;
            color: #fff;
        }
    }
}

