.type-23-f-main #firstLink {
  display: block;
}
.type-23-f-main #secondLink {
  display: block;
}
.type-23-f-main #thirdLink {
  display: block;
}
.type-23-f-main .panel {
  border-bottom-color: none;
}
.type-23-f-main img.lazy-loaded {
  width: 100%;
  border: none;
}
.type-23-f-main .yit_toggle_menu ul.menu ul li a {
  color: #666767;
  display: block;
  font-family: 'Muli', 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
}
.type-23-f-main .yit_toggle_menu ul.menu li.dropdown ul {
  margin-top: 8px;
  margin-bottom: 8px;
}
.type-23-f-main .yit_toggle_menu ul.menu>li>a {
  border-bottom: 1px solid #e6e4e4;
  color: #010101;
  display: block;
  font-size: 14px;
  margin-top: 3px;
  padding-bottom: 4px;
}
.type-23-f-main .yit_toggle_menu ul.menu>li>a {
  color: #010101;
}
.type-23-f-main .yit_toggle_menu ul.menu li.dropdown>a {
  margin-bottom: 8px;
}
.type-23-f-main .yit_toggle_menu ul.menu li.dropdown>a {
  background: url(../images/icon-plus.jpg) no-repeat left 5px;
  line-height: 25px;
  padding-left: 20px;
}
.type-23-f-main .yit_toggle_menu ul.menu li.dropdown.opened>a {
  background-image: url(../images/icon-minus.jpg);
  padding-top: 0px;
}
.type-23-f-main .sidebar li {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: #585555;
  font-style: normal;
  font-weight: 400;
}
.type-23-f-main .sidebar ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
.type-23-f-main .sidebar div {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: #585555;
  font-style: normal;
  font-weight: 400;
}
.type-23-f-main .sidebar .widget {
  margin-bottom: 30px;
  margin-right: 15px;
}
.type-23-f-main .sidebar .widget:first-child {
  margin-top: 0px;
}
.type-23-f-main .sidebar-right .sidebar {
  float: left;
  margin-left: 15px;
}
