body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

body {

    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}

.clear {
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}



.type-back-top-p-36{
    #back-to-top {
        position: fixed;
        bottom: 5px;
        left: 5%;
        z-index: 1000;
        width: 50px;
        height: 50px;
        transform: translatez(0);
    }
    #back-to-top a {
        display: block;
        height: 50px;
        background: url(../images/arrow.svg) rgba(0, 0, 0, 0.6) center center;
}
    
    #back-to-top a:hover {
        background: url(../images/arrow.svg) rgba(124, 203, 252, 0.6) center center;
    }
    /*di dong*/
    @media (min-width: 768px){
        #back-to-top {
            right: 5%;
            bottom: 55px;
            left: auto;
        }
    }


}