.type-518{
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid:before, .row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row-fluid :first-child {
        margin-left: 0;
    }
    .row-fluid  {
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
    }
    div{
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    article{
        display: block;
    }  
    p {
        margin: 10px 0;
        color: inherit;
        text-rendering: optimizelegibility;
        border: 0;
        padding: 0;
    }
    .clearfix {
    }
    .product-page .ask-a-question > span {
        margin-top: 3px;
    }
    .product-page .tabbable {
        margin: 35px 0;
    }
    .tabs_style4 > ul.nav {
        margin-bottom: 0;
    } 
    .nav {
        margin-bottom: 20px;
        margin-left: 0;
        list-style: none;
    }
    .tabs_style4 > ul.nav > li {
        float: left;
        margin-bottom: -1px;
    }
    li {
        line-height: 20px;
    }
    ul{
        padding: 0;
        margin: 0 0 10px 25px;
    }
    .tabs_style4 > ul.nav > li > a {
        padding: 8px 20px;
        line-height: 18px;
        color: #343434;
    }
    .nav > li > a {
        display: block;
    }
    .tabs_style4 > ul.nav > li.active > a {
        background: #fff;
        border: 1px solid #ececec;
        border-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .product-page .tabbable .tab-content {
        padding: 0;
    }
    .tab-content {
        overflow: auto;
    }
    .tabs_style4 .tab-content {
        display: table;
        width: 100%;
        padding: 10px 15px 15px;
        border: 1px solid #ececec;
        background: #fff;
    }
    .product-page .tabbable .tab-content .tab-pane {
        display: block;
        height: 0;
        overflow: hidden;
        padding: 0 15px;
    }
    .product-page .tabbable .tab-content .tab-pane.active {
        display: block;
        height: auto;
        padding: 10px 15px 15px;
    }
    .customer-reviews {
        margin: 25px 0 0;
    }
    .customer-reviews, .ask-a-question-view .form-field {
        margin: 25px 0 0;
    }
    .product-neighbours {
        color: #777;
        margin: 0 0 15px;
    }
    .product-neighbours a.next-page {
        line-height: 20px;
        float: right;
    }
    .icon-chevron-right {
        background-position: -456px -72px;
    }
}


