.type-531 .title {
  font-size: 20px;
}
.type-531 .carousel-inner>.item {
  display: block;
}
.type-531 a {
  color: #b77a2b;
  font-size: 12px;
  text-decoration: none;
}
.type-531 a:hover {
  color: #736d6d;
}
.type-531 .ie-content-metro {
  top: 0;
  width: 161px;
  height: 210px;
  background: #ffffff;
  opacity: 0;
  position: absolute;
  border: 1px #ddd solid;
}
.type-531 .ie-content-metro .ie-text {
  position: relative;
  top: 50%;
}
.type-531 .ie-content-metro:hover {
  opacity: .9;
  transition: all 0.4s ease-in-out;
}
.type-531 .ie-content-metro:hover .ie-text {
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.type-531 h3 {
  font-weight: bold;
  margin: 0;
  font-size: 15px;
}
.type-531 del {
  font-size: 10px;
}
.type-531 .price {
  color: #736d6d;
  font-size: 18px;
}
.type-531 img {
  border: 1px solid #DFDCDC;
}
