@media (min-width: 1200px) {
  .type-23-f-main .col-md-10 {
    width: 970px;
  }
  .type-23-f-main .span2 {
    width: 170px;
  }
}
.type-23-f-main .sidebar .widget:first-child {
  margin-top: 0px;
}
.type-23-f-main .sidebar div {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: #585555;
  font-style: normal;
  font-weight: 400;
}
.type-23-f-main .sidebar ul,
.type-23-f-main .sidebar ol {
  list-style: none;
  margin-left: 0px;
}
@media (min-width: 992px) {
  .type-23-f-main .col-md-4.col-xs-4.small-pic {
    width: 25.333333%;
  }
}
.type-23-f-main img.img-responsive:hover {
  border: 1px solid #BBB;
}
.type-23-f-main .yith-wcwl-add-to-wishlist {
  margin-top: 10px;
}
.type-23-f-main .yith-wcwl-add-button a.add_to_wishlist {
  margin: 0px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
}
.type-23-f-main a {
  color: #b77a2b;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  outline: none !important;
}
.type-23-f-main .yith-wcwl-add-to-wishlist .ajax-loading {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  display: inline !important;
  margin-left: 5px;
  vertical-align: middle;
  visibility: hidden;
  width: 16px !important;
  height: 16px !important;
}
.type-23-f-main .single-product .summary.entry-summary a.compare.button {
  margin-right: 10px;
}
.type-23-f-main .single-product .summary.entry-summary a.compare.button {
  margin-right: 10px;
}
.type-23-f-main .woocommerce-add-to-cart {
  float: right;
  max-width: 45%;
}
.type-23-f-main div.product .woocommerce-price-and-add .button {
  margin-top: 15px;
}
.type-23-f-main .status-publish .button,
.type-23-f-main .product .summary .single_add_to_cart_button,
.type-23-f-main .cart .button,
.type-23-f-main .compare {
  color: #FFF;
  background-color: #4F4F4F;
}
.type-23-f-main a.compare.button {
  padding: 10px 15px;
  text-transform: uppercase;
}
.type-23-f-main .col-md-10.woocommerce-tabs {
  margin-top: 25px;
}
.type-23-f-main .tab-content {
  margin: 20px 0px 0em;
}
.type-23-f-main #tab-info form {
  margin-left: 0;
}
.type-23-f-main form.contact-form {
  border: none;
  -webkit-box-shadow: none;
  padding: 0px;
}
.type-23-f-main .content .contact-form fieldset {
  padding: 0;
}
.type-23-f-main fieldset {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-23-f-main fieldset>ul {
  padding-left: 0px;
}
.type-23-f-main input#yit_bot {
  display: none;
}
.type-23-f-main .text-field {
  margin-bottom: 20px;
}
.type-23-f-main li {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: #666767;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
}
.type-23-f-main contact-form-contact-form
    #yit_bot {
  display: none !important;
}
.type-23-f-main span.mainlabel {
  color: #AAA;
  margin-left: 4px;
  font-weight: 400;
}
.type-23-f-main a.compare.button:hover {
  color: #fff;
}
.type-23-f-main div#ask-info-wrapper {
  border: 1px solid #efefef;
  padding: 20px 20px 80px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 6px 6px #f7f7f7;
  -webkit-box-shadow: 6px 6px #f7f7f7;
  -moz-box-shadow: 6px 6px #f7f7f7;
}
.type-23-f-main .content .contact-form li.text-field input {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}
.type-23-f-main .content .contact-form li input {
  padding: 6px 10px;
}
.type-23-f-main .content .contact-form li input {
  font-family: 'Muli', 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
}
.type-23-f-main li [class^="icon-"],
.type-23-f-main li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
.type-23-f-main [class^="icon-"],
.type-23-f-main [class*=" icon-"] {
  background-image: none;
}
.type-23-f-main .icon-user {
  background-position: -168px 0;
}
.type-23-f-main [class^="icon-"],
.type-23-f-main [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.type-23-f-main .input-prepend .add-on {
  position: absolute;
  top: 33px;
  background: transparent;
  border: 0px;
  z-index: 10;
  right: 10%;
  margin-right: -1px;
}
.type-23-f-main .contact-form input[type=text] {
  max-width: 98%;
  margin-bottom: 13px;
}
.type-23-f-main ul {
  color: #666767;
  font-family: 'Muli', 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  list-style-type: none;
}
.type-23-f-main .nmp {
  margin-top: 20px !important;
  float: left;
}
.type-23-f-main a.compare.button:hover {
  background-color: #868686;
}
.type-23-f-main a:hover {
  color: #005580;
  text-decoration: underline;
}
.type-23-f-main .row.pro-row.row3 {
  margin-top: 30px;
}
.type-23-f-main .summary .product_meta {
  margin-top: 45px;
  padding: 5px 0;
}
.type-23-f-main .summary .product_meta {
  clear: both;
}
.type-23-f-main button.single_add_to_cart_button.button.alt {
  margin: 10px auto;
  box-shadow: none;
  border: 0px;
  border-radius: 0px;
  padding: 10px 15px 10px 35px;
  text-shadow: none;
  background: #4f4f4f url(../images/br_cart.png) 7px no-repeat;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: normal;
}
.type-23-f-main button.single_add_to_cart_button.button.alt:hover {
  background: #868686 url(../images/br_cart.png) 7px no-repeat !important;
}
@media (min-width: 1200px) {
  .type-23-f-main input {
    margin-left: 0;
  }
}
.type-23-f-main .woocommerce-price-and-add {
  border-top: 1px solid #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  margin-top: 1em;
  clear: left;
  width: 100%;
  height: 60px;
  min-height: 60px;
  position: relative;
}
.type-23-f-main .woocommerce-price {
  float: left;
  margin-top: 12px;
}
.type-23-f-main div.product p.price del {
  font-size: 0.67em;
  color: rgba(145,145,145,0.5);
}
.type-23-f-main del {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: line-through;
}
.type-23-f-main .summary div:first-child p {
  margin-top: 0;
  margin-bottom: 10px;
}
.type-23-f-main div.product p.price {
  line-height: 36px;
}
.type-23-f-main .quantity .plus {
  bottom: 0;
  right: 0;
}
.type-23-f-main .summary .woocommerce-price p {
  line-height: 36px;
}
.type-23-f-main .summary .price .amount {
  font-weight: bold;
}
.type-23-f-main .woocommerce-price-and-add del .amount {
  color: rgba(145,145,145,0.5);
  font-size: 16px;
}
.type-23-f-main .woocommerce-price-and-add .price-label {
  color: #666767;
  font-family: Muli;
  font-size: 18px;
  float: left;
  margin-right: 8px;
}
.type-23-f-main div.product p.price ins {
  background: inherit;
}
.type-23-f-main .summary .price ins {
  text-decoration: none;
}
.type-23-f-main .quantity.buttons_added .plus {
  display: block;
}
.type-23-f-main .quantity .plus {
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  vertical-align: text-top;
  width: 25px;
  height: 25px;
  overflow: visible;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
  border: 1px solid #c7c0c7;
  background: #dbdada;
}
.type-23-f-main .quantity input.qty {
  width: 32px;
  height: 25px;
  margin: 0 !important;
  padding: 0;
  text-align: center;
  border: 1px solid #c7c0c7 !important;
  position: absolute;
  top: 0;
  left: 24px;
}
.type-23-f-main .buttons_added {
  background: transparent;
}
.type-23-f-main .quantity {
  width: 80px;
  height: 25px;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.type-23-f-main .quantity.buttons_added .minus {
  display: block;
}
.type-23-f-main .quantity .minus {
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  vertical-align: text-top;
  width: 25px;
  height: 25px;
  overflow: visible;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
  border: 1px solid #c7c0c7;
  background: #dbdada;
}
.type-23-f-main input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
.type-23-f-main .summary form.cart {
  padding: 5px 0 0 0;
  margin-bottom: 0 !important;
  border: none;
  box-shadow: none;
  width: 100%;
}
.type-23-f-main form {
  margin: 0 0 20px;
}
.type-23-f-main form {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-23-f-main div.product form.cart div.quantity {
  float: left;
  margin: 0 4px 10px 0;
}
.type-23-f-main div.product form.cart {
  position: relative;
}
.type-23-f-main .hide {
  display: block !important;
}
.type-23-f-main h2 {
  font-size: 21px;
  font-family: 'Muli', sans-serif;
  color: #030303;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}
.type-23-f-main div.product div.summary {
  float: right;
}
.type-23-f-main .single-product .sidebar-right .span10 div.summary {
  width: 48.6597938144%;
}
.type-23-f-main .sidebar-right .content {
  float: left;
}
.type-23-f-main .content .contact-form li.submit-button input.sendmail:hover {
  background: #fff;
}
.type-23-f-main .contact-form li.submit-button input.sendmail.alignright {
  float: right;
}
.type-23-f-main .woocommerce-tabs #tab-reviews #reviews #comments {
  float: left;
  padding-right: 34px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 50%;
}
.type-23-f-main .woocommerce-tabs #review_form_wrapper {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px;
  margin-top: 0;
  width: 60%;
  float: right;
}
.type-23-f-main div#reviews {
  float: left;
  width: 100%;
}
.type-23-f-main #review_form #respond #submit {
  height: 35px;
  width: 120px;
  float: right;
}
.type-23-f-main form {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border: 1px solid #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 6px 6px #f7f7f7;
  -moz-box-shadow: 6px 6px #f7f7f7;
}
.type-23-f-main #review_form #respond label {
  display: inline;
  position: static;
}
.type-23-f-main #review_form #respond p {
  margin: 0 0 10px;
}
.type-23-f-main .row.row3 {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}
.type-23-f-main #review_form #respond .form-submit input {
  left: auto;
}
.type-23-f-main #respond input#submit:hover {
  background-color: #868686;
}
.type-23-f-main #respond input#submit {
  color: #fff;
  background-color: #4f4f4f;
  padding: 0px 10px;
  font-size: 11px;
  text-transform: uppercase;
  border: 0;
}
@media (min-width: 1200px) {
  .type-23-f-main #respond #submit {
    margin-right: 0%;
  }
}
.type-23-f-main .content .contact-form li.submit-button input {
  border: 1px solid #cfcfcf !important;
  font-family: 'Muli', 'Verdana', 'Arial', sans-serif;
  text-transform: uppercase !important;
}
@media (min-width: 1200px) {
  .type-23-f-main .col-md-10 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .type-23-f-main [class*="span"] {
    float: left;
    min-height: 1px;
  }
}
.type-23-f-main .type-23-f-slider div#reviews {
  float: left;
  width: 100%;
}
.type-23-f-main div#comments {
  float: left;
  width: 40%;
  padding-left: 15px;
}
.type-23-f-main textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
}
.type-23-f-main #page-meta {
  margin-bottom: 20px;
  margin-left: 15px;
}
.type-23-f-main #page-meta h1 {
  font-size: 16px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e7e6e6;
  margin: 0;
  padding: 5px 0;
}
.type-23-f-main h1 {
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  color: #030303;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}
.type-23-f-main p#yit-breadcrumb {
  font-size: 10px;
  clear: both;
}
.type-23-f-main p {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: #666767;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0.8em 0 0.8em;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type-23-f-main #yit-breadcrumb a {
  font-size: 10px;
  font-family: 'Muli', sans-serif;
  color: #8f9090;
  font-style: normal;
  font-weight: 400;
}
.type-23-f-main .carousel-inner>.item {
  display: block;
}
@media (max-width: 480px) {
  .type-23-f-main span.onsale {
    right: 145px !important;
    top: -1px;
  }
}
.type-23-f-main .container {
  background-color: #ffffff;
  padding-bottom: 20px;
}
.type-23-f-main .col-margin {
  margin-bottom: 50px;
}
.type-23-f-main .onsale {
  left: auto;
}
.type-23-f-main span.onsale {
  background-color: #c16604;
  color: #ffffff;
  min-height: 32px;
  padding: 4px 10px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  margin: 0;
  background: #c16604;
  z-index: 10;
  right: 20px;
  top: -1px;
}
.type-23-f-main .ie-content-metro a {
  display: inline-block;
  padding: 0 0 0 35px;
  height: 35px;
  background: rgba(45,42,42,0.69) no-repeat 10px center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 35px;
  text-transform: none;
  border: 0;
  position: relative;
  top: 50%;
  color: #fff;
  float: none;
  margin: 0;
}
.type-23-f-main .ie-content-metro a.details {
  background-image: url('../images/icon-details.png');
  background-position: 6px center;
  width: 0;
  top: 60px;
  left: 30%;
}
.type-23-f-main .ie-content-metro a:hover {
  background-color: black;
}
.type-23-f-main a:hover {
  text-decoration: none;
  outline: none !important;
}
.type-23-f-main .ie-content-metro a.add_to_cart_button {
  background-image: url('../images/icon-cart-add.png');
  background-position: 6px center;
  width: 0;
  top: 60px;
  left: 30%;
}
.type-23-f-main .ie-content-metro a:hover {
  background-color: rgba(0,0,0,0.69);
}
.type-23-f-main .ie-content-metro {
  top: 0;
  width: 161px;
  height: 210px;
  color: #fff;
  background: #Fff;
  opacity: 0;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  border: 1px #ddd solid;
}
.type-23-f-main .ie-content-metro .ie-text {
  opacity: 0;
  position: relative;
  top: 50%;
  z-index: 9999;
}
.type-23-f-main .ie-content-metro:hover {
  opacity: .9;
  transition: all 0.4s ease-in-out;
}
.type-23-f-main .ie-content-metro:hover .ie-text {
  opacity: 1;
  color: #000;
  text-align: center;
  box-shadow: #000000 0em 0em 0em;
  transition: all 0.5s ease-in-out;
}
.type-23-f-main h3 {
  font-family: 'Muli', sans-serif;
  color: #030303;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 1em;
}
.type-23-f-main del {
  font-size: 10px;
}
.type-23-f-main span {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-23-f-main .price {
  color: #736d6d;
  display: block;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: .5em;
}
@media all and (min-width: 768px) {
  .type-23-f-main .carousel-showsixmoveone rousel-inner > .active {
    left: 0;
  }
}
@media all and (min-width: 768px) and (transform-3d),all and (min-width: 768px) and (-webkit-transform-3d) {
  .type-23-f-main .carousel-showsixmoveone rousel-inner > .item.active {
    transform: translate3d(0,0,0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .type-23-f-main .carousel-showsixmoveone rousel-inner > .active {
    left: 0;
  }
}
@media all and (min-width: 992px) and (transform-3d),all and (min-width: 992px) and (-webkit-transform-3d) {
  .type-23-f-main .carousel-showsixmoveone rousel-inner > .item.active {
    transform: translate3d(0,0,0);
    left: 0;
  }
}
.type-23-f-main .container {
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  .type-23-f-main .slider-row h4 {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.type-23-f-main .slider-row h4 {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 0px;
}
.type-23-f-main h4 {
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  color: #696464;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizelegibility;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-23-f-main img {
  border: 1px solid #DFDCDC;
}
.type-23-f-main .type-f-footer {
  border-color: #dfdcdc;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-top: 5px;
}
.type-23-f-main .type-f-footer .row {
  margin-bottom: -12px;
}
@media (max-width: 480px) {
  .type-23-f-main .type-f-footer .right {
    float: left;
    margin-left: -12px;
  }
}
.type-23-f-main .type-f-footer .img-footer {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
.type-23-f-main .type-f-footer .credit_card {
  margin-bottom: -13px;
  width: 32px;
  height: 32px;
  background: url(../images/creditcard.png) no-repeat;
  display: inline-block;
  margin-left: 1px;
}
.type-23-f-main .type-f-footer .credit_card.amex:hover {
  background-position: -32px 0px;
}
.type-23-f-main .type-f-footer .credit_card.amex {
  background-position: -32px -32px;
}
.type-23-f-main .type-f-footer .credit_card.bank:hover {
  background-position: -224px 0px;
}
.type-23-f-main .type-f-footer .credit_card.bank {
  background-position: -224px -32px;
}
.type-23-f-main .type-f-footer .credit_card.cash:hover {
  background-position: -256px 0px;
}
.type-23-f-main .type-f-footer .credit_card.cash {
  background-position: -256px -32px;
}
.type-23-f-main .type-f-footer .credit_card.googleckout:hover {
  background-position: -736px 0px;
}
.type-23-f-main .type-f-footer .credit_card.googleckout {
  background-position: -736px -32px;
}
.type-23-f-main .type-f-footer .credit_card.mastercard:hover {
  background-position: -864px 0px;
}
.type-23-f-main .type-f-footer .credit_card.mastercard {
  background-position: -864px -32px;
}
.type-23-f-main .type-f-footer .credit_card.paypal:hover {
  background-position: -960px 0px;
}
.type-23-f-main .type-f-footer .credit_card.paypal {
  background-position: -960px -32px;
}
.type-23-f-main .type-f-footer .credit_card.visa:hover {
  background-position: -1056px 0px;
}
.type-23-f-main .type-f-footer .credit_card.visa {
  background-position: -1056px -32px;
}
.type-23-f-main .type-f-footer .left {
  text-align: left;
  margin-left: -15px;
}
.type-23-f-main .type-f-footer a:hover {
  color: black;
}
.type-23-f-main .type-f-footer a {
  color: #959494;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  outline: none !important;
}
.type-23-f-main .type-f-footer strong:hover {
  color: black;
}
.type-23-f-main .type-f-footer strong {
  font-weight: bold;
  padding-right: 3px;
}
.type-23-f-main .type-f-footer p {
  color: #959494;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  margin: 0.8em 0 0.8em;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-23-f-main .type-f-footer .right {
  text-align: right;
  margin-right: -15px;
}
.type-23-f-main .type-f-footer .fotter {
  border-top: 1px solid #DFDCDC;
  margin: 0px 15px;
}
.type-23-f-main .footer-chitiet .recent-post {
  margin-top: 15px;
}
.type-23-f-main .footer-chitiet .border-manhphuc {
  border-top: 1px solid #dfdcdc;
  padding-top: 30px;
  padding-bottom: 0px;
}
.type-23-f-main .footer-chitiet .recent-post .text h3 a {
  color: #000;
  font-size: 12px;
  line-height: 23px;
  margin: 0px;
}
.type-23-f-main .footer-chitiet .recent-post .text h3 a:hover {
  color: #9A6614;
}
.type-23-f-main .footer-chitiet img#sale-manhphuc {
  width: 55px;
  height: 55px;
  padding: 3px;
  box-shadow: none;
}
.type-23-f-main .footer-chitiet span.product-title {
  color: #575858;
}
.type-23-f-main .footer-chitiet span.product-title:hover {
  color: #000;
}
.type-23-f-main .footer-chitiet ul.product_list_widget li del {
  display: block;
  float: left;
  margin-right: 5px;
}
.type-23-f-main .footer-chitiet ul.product_list_widget {
  padding-left: 0px;
  padding-top: 15px;
}
.type-23-f-main .footer-chitiet .widget_nav_menu li.cols-2 {
  clear: none;
  float: left;
  margin-left: 0px !important;
  width: 50%;
}
.type-23-f-main .footer-chitiet ul#menu-footer {
  padding-left: 0px;
  margin-top: 15px;
}
.type-23-f-main .footer-chitiet div#nav_menu-2 {
  padding-left: 0px;
}
.type-23-f-main .footer-chitiet ul#menu-footer>li>a {
  color: #575858;
}
.type-23-f-main .footer-chitiet ul#menu-footer>li>a:hover {
  color: #000;
}
.type-23-f-main .footer-chitiet #footer .widget ul {
  margin-left: 0px;
}
.type-23-f-main .footer-chitiet #footer .footer-widgets-area.with-sidebar-right {
  float: left;
}
.type-23-f-main .footer-chitiet #footer li {
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #585555;
  font-style: normal;
  font-weight: 400;
}
