.type-520{
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        margin-bottom: 35px;
    }
    h4 {
        margin: 10px 0;
        font-weight: bold;
        text-rendering: optimizelegibility;
    }
    .col-md-3 {
        float: right;
    }
    .moduletable {
        margin-bottom: 30px;
    }
    .moduletitle {
        color: #050505;
        line-height: 1.4;
        margin-bottom: 15px;
        padding-bottom: 20px;
        position: relative;
        font-size: 18px;
    }
    input {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin: 0;
        vertical-align: middle;
        font-style: inherit;
    }
}