.type-597{
    .sc-parallax {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        padding-bottom: 0px;
        padding-top: 50px;
        padding-bottom: 40px;
        position: relative;
        z-index: 1;
    }
    .containerCentered {
        -moz-box-sizing: content-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1170px;
        text-align: center;
        position: relative;
    }
    .sc-parallax h3 {
        color: #fff;
    }
    h3 {
        font-size: 2.6em;
    }
    .sc-parallax .sc-mask {
        bottom: 0;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        background: #2C3E50;
        z-index: -1;
    }
    .sc-parallax .container{
        background: none;
    }
    .container {
        z-index: 1;
        position: relative;
    }
    .testimonials.flexslider {
        margin: 20px 0;
        position: relative;
        width: 100%;
    }
    .flexslider .slides {
        zoom: 1;
    }
    .testimonials ul {
        margin: 0!important;
    }
    ul {
        list-style: none;
    }
    .testimonials ul li.testimonial {
        border: 0 !important;
        list-style-type: none;
        text-align: center;
    }
    li {
        line-height: 22px;
    }
    .sc-parallax li.testimonial:before {
        color: #fff;
    }
    li.testimonial:before {
        font-family: 'fontawesome';
        content: ' \f10D ';
        position: absolute;
        font-size: 3.4em;
        left: 48%;
        top: -30px;
        display: block;
        opacity: 0.3;
    }
    .slides:after {
        content: "\0020";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    .testimonial-body, .testimonial-body p {
        margin: 0;
        font-size: 18px;
    }
    .testimonial-body {
        position: relative;
        line-height: 24px;
    }
    .sc-parallax p {
        color: #fff;
    }
    .testimonial-body, .testimonial-author {
        padding: 20px;
    }
    a {
        color: #34d298;
        outline: 0!important;
    }
    .sc-parallax .testimonial-author span.company {
        color: #fff;
    }
    .testimonial-author span.company {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
    }
    .flexslider.testimonials .flex-control-nav {
        margin-top: 0px;
    }
    .flex-control-nav {
        width: 100%;
        position: absolute;
        text-align: center;
        z-index: 10;
        margin-left: 0;
    }
    .testimonials ul.flex-direction-nav {
        bottom: 15%;
        float: right;
        position: absolute;
        text-align: right;
        width: 100%;
    }
    .flex-direction-nav {
        .flex-disabled {
            opacity: 0!important;
            filter: alpha(opacity=0);
            cursor: default;
        }
        .flex-prev {
            left: -50px;
            right: -50px;
            text-align: right;
        }
        a {
            display: block;
            width: 40px;
            height: 40px;
            margin: -20px 0 0;
            position: absolute;
            top: 50%;
            z-index: 10;
            color: #fff;
            transition: all .3s ease;
            &:before {
                font-family: "pe-icon-7-stroke";
                font-size: 40px;
                display: inline-block;
                content: '\e687';
            }
        }
    }
}