.type_a_4 input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
}
.type_a_4 a:-webkit-any-link {
  cursor: auto;
}
.type_a_4 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: all 0.4s ease 0s;
  outline: none !important;
}
.type_a_4 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_4 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  margin-left: -11px;
}
.type_a_4 li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.type_a_4 .footer-bottom.dark_style {
  background-color: #000;
}
.type_a_4 .footer-bottom .container,
.type_a_4 .footer-bottom.block_foot {
  margin: 0 auto;
  display: table;
}
.type_a_4 .footer-bottom .footer_widget {
  width: 33%;
  display: table-cell;
  padding: 25px 30px 20px 30px;
  font: 13px 'arial', trebuchet ms;
  line-height: 18px;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.type_a_4 .footer-bottom.dark_style .footer_widget {
  border-right: 1px solid #1c1c1c;
  color: #ccc;
}
.type_a_4 .widget:last-child {
  border-bottom: none;
}
.type_a_4 .widget .title {
  font: 700 18px/20px 'Roboto', trebuchet ms;
  margin: 0 0 15px 0;
}
.type_a_4 .footer-bottom .footer_widget .title {
  margin-bottom: 22px;
}
.type_a_4 .footer-bottom.dark_style .footer_widget .title {
  color: #fff;
}
.type_a_4 .footer-bottom .footer_widget p {
  margin-bottom: 22px;
}
.type_a_4 .widget:last-child {
  border-bottom: none;
}
.type_a_4 .footer-bottom .widget {
  margin-bottom: 25px;
}
.type_a_4 .footer-bottom .footer_widget .widget_nav_menu ul li {
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 12px;
  position: relative;
}
.type_a_4 .footer-bottom .container .footer_widget a {
  text-decoration: none;
}
.type_a_4 .footer-bottom.dark_style .container .footer_widget a {
  color: #fff;
}
.type_a_4 .footer-bottom .footer_widget.last {
  border: 0px !important;
}
.type_a_4 footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
.type_a_4 footer#theme_footer {
  padding: 30px 0;
}
.type_a_4 footer#theme_footer.dark_style {
  background: none #222;
  border-top: 1px solid #4e4e4e;
}
.type_a_4 footer#theme_footer .left {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.type_a_4 footer#theme_footer div.f_text {
  font: 13px 'arial', trebuchet ms;
}
.type_a_4 footer#theme_footer.dark_style div.f_text {
  color: #fff;
}
.type_a_4 footer#theme_footer .right {
  width: 50%;
  float: right;
  text-align: right;
  box-sizing: border-box;
}
@media only screen and (max-width: 479px) {
  .type_a_4 footer#theme_footer.dark_style div.f_text {
    padding-left: 0px;
  }
}
