.type-c-1{
    .form-login {
        padding: 1em;
        width: 50%;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .imlogo {
        margin-left: AUTO;
        MARGIN-RIGHT: AUTO;
        DISPLAY: block;
    }
    #free {
        margin-top: 32px;
        font-size: 16px;
    }
    #freelog {
        margin-top: 48px;
        font-size: 16px;
        text-align: center;
    }
    a {
        color: #758991;
    }
}