.type-578 .client-says {
  padding-bottom: 24px;
}
.type-578 .client-says .divider-circle--light {
  margin-top: 59px;
  border-top: 1px solid #e3e8ec;
  border-bottom: 1px solid #e3e8ec;
}
.type-578 .client-says .divider-circle {
  position: relative;
  padding-top: 2px;
  border-top: 1px solid #0d1629;
  border-bottom: 1px solid #0d1629;
}
.type-578 .client-says .section-title {
  margin-bottom: 30px;
}
.type-578 .client-says .client-says__item {
  position: relative;
  padding-bottom: 22px;
  overflow: hidden;
}
.type-578 .client-says .client-says__item:after {
  content: "\201C";
  position: absolute;
  right: 0;
  bottom: -91px;
  display: none;
  font-size: 100px;
  color: #e8e8dd;
}
.type-578 .client-says .author__message {
  position: relative;
  padding-top: 12px;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
}
.type-578 .section-title {
  margin-top: 54px;
  margin-bottom: 41px;
  font-size: 30px;
  line-height: 34px;
}
.type-578 .section-title .text-highlight {
  display: block;
  font-size: 50px;
  text-transform: uppercase;
}
.type-578 .text-highlight {
  color: #7ccbfc;
}
.type-578 .visible-xs {
  display: none !important;
}
.type-578 .swiper-controls {
  position: relative;
  top: -75px;
  float: right;
  margin-bottom: -40px;
  font-size: 0;
}
.type-578 .swiper-controls .prev-arrow {
  margin-right: 14px;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 4px solid #e8e8dd;
  border-radius: 50%;
}
.type-578 .swiper-controls .next-arrow {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 4px solid #e8e8dd;
  border-radius: 50%;
}
.type-578 .swiper-controls .prev-arrow:before {
  left: 7px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e8e8dd transparent transparent;
}
.type-578 .swiper-controls .next-arrow:before {
  right: 7px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e8e8dd;
}
.type-578 .swiper-controls .prev-arrow:before,
.type-578 .swiper-controls .next-arrow:before {
  content: "";
  position: absolute;
  top: 4px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}
.type-578 .swiper-controls .prev-arrow:hover,
.type-578 .swiper-controls .next-arrow:hover {
  border-color: #7ccbfc;
}
.type-578 .swiper-controls .prev-arrow:hover:before {
  border-color: transparent #7ccbfc transparent transparent;
}
.type-578 .swiper-controls .next-arrow:hover:before {
  border-color: transparent transparent transparent #7ccbfc;
}
.type-578 .swiper-controls .prev-arrow:before {
  left: 7px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e8e8dd transparent transparent;
}
.type-578 .swiper-controls .next-arrow:before {
  right: 7px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e8e8dd;
}
.type-578 .swiper-controls .prev-arrow:before,
.type-578 .swiper-controls .next-arrow:before {
  content: "";
  position: absolute;
  top: 4px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}
.type-578 .swiper-controls .prev-arrow:hover,
.type-578 .swiper-controls .next-arrow:hover {
  border-color: #7ccbfc;
}
.type-578 .swiper-controls .prev-arrow:hover:before {
  border-color: transparent #7ccbfc transparent transparent;
}
.type-578 .swiper-controls .next-arrow:hover:before {
  border-color: transparent transparent transparent #7ccbfc;
}
.type-578 .swiper-slide-duplicate .swiper-slide-visible .swiper-slide-active {
  width: 1170px;
  height: 438px;
}
.type-578 .qoutation-slider--higher {
  max-height: 465px;
}
.type-578 .qoutation-slider {
  margin-top: 9px;
  max-height: 360px;
}
.type-578 .qoutation-slider .swiper-slide {
  padding-left: 2px;
}
.type-578 .swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.type-578 .swiper-wrapper {
  position: relative;
  transition-property: transform, left, top;
  box-sizing: content-box;
}
.type-578 .swiper-slide {
  float: left;
}
.type-578 .author__photo {
  width: 160px;
}
.type-578 .triangled-box {
  position: relative;
  min-height: 170px;
  padding: 26px 25px 9px;
  text-align: center;
  background: #e5e5da;
  border: 5px solid #f2f2ec;
}
.type-578 .triangled-box:before {
  bottom: -15px;
  border-color: #f2f2ec transparent transparent transparent;
}
.type-578 .triangled-box:before,
.type-578 .triangled-box:after {
  content: "";
  position: absolute;
  right: 50%;
  display: block;
  width: 20px;
  height: 10px;
  margin-right: -10px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
}
.type-578 .triangled-box:after {
  bottom: -10px;
  border-color: #e5e5da transparent transparent transparent;
}
.type-578 img {
  max-width: 100%;
  height: auto;
  border: 0 none;
  vertical-align: middle;
}
.type-578 .author__name {
  margin-top: 8px;
  font-size: 12px;
}
@media (min-width: 480px) {
  .type-578 .qoutation-slider--higher {
    max-height: 191px;
  }
  .type-578 .client-says .client-says__item {
    padding-bottom: 3px;
  }
  .type-578 .client-says .author__message {
    margin-left: 199px;
  }
  .type-578 .triangled-box {
    float: left;
  }
  .type-578 .triangled-box:before {
    right: -15px;
    border-color: transparent transparent transparent #f2f2ec;
  }
  .type-578 .triangled-box:before,
  .type-578 .triangled-box:after {
    top: 70px;
    width: 10px;
    height: 20px;
    margin-right: 0;
    border-width: 10px 0 10px 10px;
  }
  .type-578 .triangled-box:after {
    right: -10px;
    border-color: transparent transparent transparent #e5e5da;
  }
}
@media (min-width: 768px) {
  .type-578 .section-title {
    margin-top: 49px;
    margin-bottom: 47px;
    font-size: 30px;
    line-height: 43px;
  }
  .type-578 .section-title .text-highlight {
    font-size: 70px;
  }
  .type-578 .qoutation-slider-controls {
    top: -65px;
  }
  .type-578 .qoutation-slider--higher {
    max-height: 180px;
  }
  .type-578 .client-says .client-says__item:after {
    display: block;
  }
}
@media (min-width: 992px) {
  .type-578 .client-says .author__message {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .type-578 .container {
    padding-right: 0;
    padding-left: 0;
  }
  .type-578 .client-says .author__message {
    padding-top: 42px;
  }
}
@media (max-width: 767px) {
  .type-578 .qoutation-slider-controls {
    margin-bottom: 5px;
  }
  .type-578 .swiper-controls {
    top: -10px;
    float: none;
    margin-bottom: 20px;
  }
  .type-578 .swiper-wrapper {
    max-height: 438px;
  }
}
