.type-c-8 .section-big {
  width: 100%;
}
.type-c-8 p {
  margin-top: 10px;
}
.type-c-8 label {
  font-weight: 100;
}
.type-c-8 .button {
  margin-top: 10px;
}
.type-c-8 img {
  margin-left: AUTO;
  MARGIN-RIGHT: AUTO;
  DISPLAY: block;
}
.type-c-8 article.widget {
  margin-bottom: 40px;
  margin-top: 0;
}
.type-c-8 .selectric .label {
  font-size: 14px;
  font-weight: 100;
}
.type-c-8 .section-big-wrapper {
  padding-bottom: 30px;
}
.type-c-8 .section-big {
  font-size: 24px;
  color: #758991;
  padding-bottom: 4px;
  margin: 4px 0 -1px 0;
  display: inline-block;
}
.type-c-8 h3,
.type-c-8 .h3 {
  font-size: 24px;
}
.type-c-8 h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-c-8 .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.type-c-8 .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background: none #525252 repeat scroll 0 0;
  box-shadow: none;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
}
.type-c-8 article {
  margin-bottom: 40px;
  margin-top: 0;
}
.type-c-8 div {
  display: block;
}
.type-c-8 aside {
  display: block;
}
.type-c-8 #right1-sidebar.sidebar,
.type-c-8 #right2-sidebar.sidebar {
  float: right;
  padding-left: 0;
  padding-right: 40px;
  padding-top: 20px;
}
