.type-501 a.btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 7%;
}
.type-501 .tittle {
  color: #cd2122;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}
.type-501 .btn-warning {
  background-color: #cd2122;
  border-color: #cd2122;
}
