.type-501 .thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}
.type-501 .thumbnail > h4 {
  padding: 7px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-501 .thumbnail h4 {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.6em;
  padding-left: 15px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 4px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.type-501 .thumbnail h4 > span {
  margin-right: 10px;
}
.type-501 .thumbnail img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.type-501 .thumbnail a.btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.type-501 h3 {
  color: #cd2122;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}
.type-501 .btn-warning {
  background-color: #cd2122;
  border-color: #cd2122;
}
